@import "../../vars/var";
.product-section{
margin: 12rem 0rem;
    .address{
        font-style: normal;
        font-weight: bold;
        //font-size: 30px;
        font-size: calc(10px + 1.4vw);
        //line-height: 35px;
        color: #000000;
        font-family: 'Arvo', serif;
        font-family: 'Bree Serif', serif;

        font-family: 'Comfortaa', cursive;

        font-family: 'Encode Sans', sans-serif;

        font-family: 'Oxygen', sans-serif;

        font-family: 'Patrick Hand', cursive;

        font-family: 'Patua One', cursive;

        font-family: 'Saira Condensed', sans-serif;
        font-family: 'Bodoni Moda', serif;
    }

    .content{
        font-style: normal;
        font-weight: normal;
        font-family: 'Arvo', serif;

        font-family: 'Bree Serif', serif;

        font-family: 'Comfortaa', cursive;

        font-family: 'Encode Sans', sans-serif;

        font-family: 'Oxygen', sans-serif;

        font-family: 'Patrick Hand', cursive;

        font-family: 'Patua One', cursive;

        font-family: 'Saira Condensed', sans-serif;

        font-size: calc(8px + 1vw);
        line-height: calc(12px + 1vw);
        color: rgba(0, 0, 0, 0.63);
    }
    .btn-s-qtn{
        margin-right: 1.5rem;
        .disable{
            pointer-events: none;
            //background: #b7b5b5;
            background: #dbdbdb;
        }
    }
    .btn-s-qtn > * + *  {
        margin-left: 0.5rem;

    }
    .qtn{
        margin-top: 0.2rem;
        font-size: calc(9px + 0.8vw);
        color: black;

    }
    .btn-qtn{
        background: #EFEFEF;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        //color: #FE2E17;
        color: #000;
        font-size: calc(7px + 0.4vw);
        max-height: 43px;
        &:hover{
            @include transition-500ms;
            transform: translateY(-3px);
            color: #fff;
            background-color: $mainBackGroundColor;
        }

    }
    .added-item-cart{
        display: flex;
        justify-content: center;
        min-width: 150px;
        padding: 0.7rem 1.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: calc(7px + 0.8vw);
        line-height: calc(10px + 1vw);
        border-radius: 5px;
        //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
        background: $mainBackGroundColor;
        border: 2px solid $mainBackGroundColor;
        color: white;
        //box-sizing: border-box;
        //border-radius: 12px;

        margin: 0.9rem 0.1rem;
        svg{
            margin-right: 0.75rem;
        }
    }
    .btn-basket{
        //background: $mainBackGroundColor;
        background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
        border-radius: 5px;
        padding: 0.7rem 1.5rem;
        font-weight: normal;
        font-size: calc(10px + 0.8vw);
        line-height: calc(20px + 0.4vw);
        //width: 30%;
        min-width: 145px;
        color: $btnColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-family: 'Arvo', serif;

        font-family: 'Bree Serif', serif;


        font-family: 'Comfortaa', cursive;

        font-family: 'Encode Sans', sans-serif;

        font-family: 'Oxygen', sans-serif;

        font-family: 'Patrick Hand', cursive;

        font-family: 'Patua One', cursive;

        font-family: 'Saira Condensed', sans-serif;
        font-family: 'Bodoni Moda', serif;
        font-family: 'Carter One', cursive;


        @include transition-700ms;
        &:hover{
            transform: translateY(-3px);
            //background: $btnHoverBackgroundColor;
        }
    }
    .parent{
        width: 100%;
        .left-side{
            box-sizing: border-box;
            padding-right:  1rem;
            .owl-carousel .item {
                z-index: 100 !important;
            }

            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
                background: #F96332 !important;
            }

            .owl-theme .owl-dots span {
                width: 3vw !important;
                height: 0.8vh !important;
            }
            width: 49%;
            min-width: 310px;
            .img-container{
                width: 30%;
                min-width: 300px;
                margin: 1rem  0rem;
                .img{
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .selected-image{
                //border: 5px  #ffc107 dotted ;
                border: 3px #ffc107 solid;
                border-radius: 10px;
            }
            .small-imgs > * + *  {
                //margin-left: 1.2rem;
            }
            .small-img{
                //margin: 1rem  1.2rem;
                //width: 10vw;
                //height: 10vw;
                //min-width: 90px;
                //min-height: 90px;
                width: calc(50px + 5vw);
                max-width: 150px;
                margin: 0.3rem;
            }
            .link img{

                object-fit: contain;
                width: 100%;
                height: 100%;
                border-radius: 5px;

            }
        }

        .right-side{
            width: 49%;
            min-width: 310px;
            .weight{
                margin-top: -0.3rem;
                margin-bottom: 0.7rem;
                p{
                    margin-bottom: 0rem!important;
                    font-size: calc(9px + 0.5vw);
                    color: #40484E;
                    margin-left: 0.3rem;
                    margin-right: 0.3rem;
                    font-family: 'Arvo', serif;

                    font-family: 'Bree Serif', serif;

                    font-family: 'Comfortaa', cursive;

                    font-family: 'Encode Sans', sans-serif;

                    font-family: 'Oxygen', sans-serif;

                    font-family: 'Patrick Hand', cursive;

                    font-family: 'Patua One', cursive;

                    font-family: 'Saira Condensed', sans-serif;
                }
            }
            .btn-favourite-container{
                margin: 0rem 1rem;

            }

            //.sizes > * + * {
            //    margin-left: 1.2rem;
            //}
            .btn-size{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: #F2F2F2;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 0.5rem;
                width: calc(85px + 4vw);
                height: calc(85px + 4vw);
                margin-right: 2.6rem;
                margin-bottom: 4rem;
                .size-name{
                    font-family: 'Saira Condensed', sans-serif;
                    font-family: 'Bodoni Moda', serif;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    color: black;
                    font-size: calc(10px + 0.9vw);
                    font-weight: bolder;
                }
                .size-weight{

                    font-family: 'Patua One', cursive;
                    font-family: 'Saira Condensed', sans-serif;
                    margin-bottom: 0px;
                    font-size: calc(8px + 0.75vw);
                    font-weight: bolder;
                    color: #40484E;
                }
                .size-price{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //inset: 0 0 0 0;
                    font-size: calc(8px + 0.75vw);
                    font-weight: bolder;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Saira Condensed', sans-serif;

                    //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    background: #F2F2F2;
                    border: 1px solid rgba(0, 0, 0, 0.06);
                    color: black;
                    //width: 80%;
                    //height: 75%;
                    width: calc(65px + 3vw);
                    height: calc(60px + 3vw);
                    border-radius: 50%;
                    bottom: calc(-5px - 0.4vw);
                    right: calc(-15px - 0.7vw);
                    transform: translate(25%, 50%);
                    padding: 0.5rem;
                    @include transition-500ms;
                    //padding: 1.9rem 1.3rem;
                }

                @include transition-500ms;
                &:hover{
                    //background: #d9d8d8;
                    //transform: translateY(-3px);
                    ////background-color: #ffc107;
                    //background: $mainBackGroundColor;
                    background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    border: 1px solid white;

                    p{
                        color: $btnColor;
                    }
                    //border: 1px solid #fff;
                    .size-price{
                        background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                        color: $btnColor!important;
                        border: 1px solid white;

                        //background: $mainBackGroundColor;
                        //transform: translateY(25px);
                    }
                }
            }
            .active{
                //background-color: $btnHoverBackgroundColor;
                //color: $btnColor;
                //border: 1px solid #fff;
                background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                border: 1px solid white;

                p{
                    color: $btnColor!important;
                }
                .size-price{
                    background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    color: $btnColor!important;
                    border: 1px solid white;

                }
            }





        }
    }

    .Additional-Item{
        margin: 2rem 0rem;
        .food-addition{
            .btn-s-qtn{
                margin-bottom: 1rem;
                margin-top: 1.5rem;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 23%;
            max-width: calc(110px + 13vw);
            min-width: calc(95px + 11vw);
            background: #FFFFFF;
            box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            margin: 0.7rem 0.5rem;
            padding: 0.5rem 1rem;

            .img{
                max-width: 90px;
              margin-right: 4rem;
                img{
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .detail{
                margin-left: 3rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: #F2F2F2;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 0.5rem;
                width: calc(55px + 6vw);
                height: calc(55px + 6vw);
                margin-bottom: 1rem;
                margin-top: -1.2rem;
                .content{
                    //margin: 0.5rem 0rem!important;
                    margin: 0px;
                    margin-top: 0.5rem;
                }
                .address{
                    margin: 0rem!important;
                }
                .addition-price{

                    margin: 0rem!important;
                    //inset: 0 0 0 0;
                    //font-size: calc(8px + 0.75vw);
                    font-size: calc(10px + 1vw);
                    font-weight: bolder;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Saira Condensed', sans-serif;

                    //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    background: #F2F2F2;
                    border: 1px solid rgba(0, 0, 0, 0.06);
                    color: black;

                }
            }
        }

        //.table th, .table td {
        //    min-width: 140px;
        //    font-style: normal;
        //    font-weight: normal;
        //    //font-size: 18px;
        //    font-size: calc(10px + 0.5vw);
        //    line-height: 21px;
        //    color: #000000;
        //}
        //.table td {
        //    .img{
        //        max-width: 90px;
        //        img{
        //            width: 100%;
        //            object-fit: cover;
        //            border-radius: 5px;
        //        }
        //    }
        //}
        //.table{
        //    .btn-add-basket{
        //        font-style: normal;
        //        font-weight: normal;
        //        font-size: calc(10px + 0.5vw);
        //        line-height: 21px;
        //        color: #00CE15;
        //        background: #d9f7dc7d;
        //        padding: 0.5rem 1rem;
        //        border-radius: 5px;
        //        @include transition-500ms;
        //        &:hover{
        //            background : #00CE15;
        //            color : #fff;
        //            transform: translateY(-3px);
        //            //padding: 0.3rem!important;
        //        }
        //    }
        //    .active{
        //        background : #00CE15!important;
        //        color : #fff!important;
        //    }
        //    .btn-delete{
        //        background: #EDF9F6;
        //        border-radius: 5px;
        //        font-style: normal;
        //        font-weight: normal;
        //        font-size: calc(10px + 0.5vw);
        //        line-height: 21px;
        //        color: #585D5C;
        //        padding: 0.3rem!important;
        //        @include transition-500ms;
        //        &:hover{
        //            background: #fa4936;
        //            color : #fff;
        //            transform: translateY(-3px);
        //        }
        //    }
        //    .price{
        //        color: #FE2E17!important;
        //    }
        //    .table-address{
        //        margin: 0.5rem 0rem;
        //        font-style: normal;
        //        font-weight: normal;
        //        //font-size: 18px;
        //        font-size: calc(10px + 0.5vw);
        //        line-height: 21px;
        //        color: #000000;
        //    }
        //    thead{
        //        border-bottom: 1px solid #E3E3E3;
        //    }
        //}
    }

    .Related-Item{
      margin: 2rem 0rem;
        .related-item-banners{
            width: 95%;
        }
        .slider{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .img-next{
                width: 4%;
                max-width: 50px;
                min-width: 33px;
                position: absolute;
                top: 35%;
                left: -6%;
                transform: translateY(-50%);
                img{
                    width: 100%;
                    object-fit: cover;
                }
               }
            .img-prev{
                width: 4%;
                max-width: 50px;
                min-width: 33px;
                position: absolute;
                top: 35%;
                right: -6%;
                transform: translateY(-50%);
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .am-next,.am-prev{
            z-index: 10;
            &:hover{
                background-color: white!important;
            }
        }

    }

}


@media  (max-width: 650px) {
    .product-section{
        margin: 10rem 0rem;
    }

}
@media  (max-width: 500px) {
    .Related-Item{
        .slider{
            display: flex;
            flex-direction: row;
            justify-content: center!important;
            align-items: center!important;
        }
        .img-next{

            left: -17%!important;
        }
        .img-prev{

            right: -17%!important;
        }
        .related-item-banners{
            max-width: 250px;
        }

    }

}

@media (min-width: 501px) and (max-width: 1000px)  {
    .Related-Item{
        .slider{
            display: flex;
            flex-direction: row;
            justify-content: center!important;
            align-items: center!important;
        }
        .img-next{

            left: -26%!important;
        }
        .img-prev{

            right: -26%!important;
        }
        .related-item-banners{
            max-width: 315px;
        }

    }

}

@media (max-width: 900px){
    .product-section{
        .left-side{
            //max-height: auto !important;
            margin-bottom: 3rem;
        }
    }
}
