@import "../mixin";
@media  (max-width: 379px) {
   .service-providers-section{
       //.cover{
       //    .content{
       //        width: 60%;
       //        height: 60%;
       //        top: 1rem;
       //        left: 8rem;
       //        transform: translate(-100px,-18px);
       //
       //
       //        .btn-sell-on-delivaz{
       //
       //            max-width: 170px;
       //            min-width: 100px;
       //            width: 37%;
       //            height: 45px;
       //            font-size: calc(10px + 0.5vw);
       //            line-height: calc(10px + 0.5vw);
       //            background: #FAC24F;
       //            padding: 0.8rem 0.5rem;
       //
       //        }
       //        .address{
       //            font-size: calc(12px + 1.2vw);
       //            line-height: calc(20px + 2vw);
       //        }
       //
       //        .text{
       //            font-size: calc(7px + 0.6vw);
       //            line-height: calc(6px + 1vw);
       //        }
       //    }
       //}
   }

}

@media (min-width: 380px)and (max-width: 480px) {


}

@media (min-width: 481px) and (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 675px) {


}
@media (min-width: 677px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 851px) {

}

@media (min-width: 852px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width:1100px) {


}

@media (min-width: 1101px) and (max-width: 1230px) {

}

@media (min-width: 1531px) and (max-width: 1800px) {


}

@media (min-width: 1801px) and (max-width: 2000px) {

}


@media (min-width: 320px) and (max-width: 450px) {
    .service-providers-section{
        .service-provider-parent{
            //margin: 0.7rem auto!important;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around!important;

            .service-provider{
                width: 80%!important;
            }
            //align-items: center!important;
        }


    }
}

@media (min-width: 451px) and (max-width: 576px) {
    .service-providers-section{
        .service-provider-parent{
            //margin: 0.7rem auto!important;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around!important;

            .service-provider{
                width: 60%!important;
            }
            //align-items: center!important;
        }


    }
}
@media (min-width: 577px) and (max-width: 990px) {
    .service-provider{
        width: 29%!important;
    }
}

@media (min-width: 901px) {
    .service-providers-section{
        .service-provider-parent{
            .parent > * + *  {
                margin-left: 2.5rem;
            }
        }

    }

    .sell-on-delivaz-section{
        .cover{
            .content{
                .text{
                    width: 36ch;
                }
            }
        }

    }
}
@media  (max-width: 900px) {
    .service-providers-section{
        .parent{
            flex-direction: column!important;
            .filters{
                width: 100%;
            }
            .service-providers{
                width: 100%;
                justify-content: center!important;
                align-items: center!important;
            }
        }

        .price-qtn{
            flex-direction: column!important;
            .btn-s-qtn{
                justify-content: start!important;
                margin: 0.5rem 0rem;
            }

        }
        .filters{
            //transform: scale(0);
            //visibility:hidden;
            opacity:0;
            //transition:visibility 0.3s linear,opacity 0.3s linear;
            display: none;
            //position: relative;
            //opacity: 0;
            //width: 0px;
            //height: 0px;
        }
        .mobil-version{
            display: block!important;

           .open-icon, .close-icon{
                display: none;
            }
        }

//.city-banners-section{
//    margin-top: 0px!important;
//}

    }
    .register-service-provider-section{
        .register-service-provider{
            .image-section{
                flex-direction: column!important;
                align-content: center;
            }
            .info{
                flex-direction: column;
                align-content: center;
                .owner-name, .user-input{
                    width: 80%!important;
                    margin: 0.5rem 2rem!important;
                }
            }

        }
    }
}

@media  (max-width: 1225px) {
    .service-providers-section{


    }

    .sell-on-delivaz-section{
        .cover{
            .content{
                top: 3rem;
                left: 9rem;
                //top: 5rem;
                //left: 10rem;
                //.text{
                //    width: 36ch;
                //}
            }
        }

    }
}

@media (max-width: 400px)  {
    //.service-providers-section{
    //    .info-section{
    //        .avatar{
    //            top: 0px!important;
    //            height: auto;
    //        }
    //    }
    //}
}

@media (min-width: 401px) and (max-width: 900px) {
    //.service-providers-section{
    //    .info-section{
    //        .avatar{
    //            top: -2rem!important;
    //            height: auto;
    //            //width: 100%!important;
    //
    //        }
    //    }
    //}
}

@media (min-width: 1550px)  {
    //.service-providers-section{
    //    .info-section{
    //        //max-height: 120px;
    //        height: calc(70px + 7vw);
    //        .container-child{
    //            height: calc(70px + 7vw);
    //
    //        }
    //    }
    //}
}
