.show-on-mobil{
    //transform: scale(1)!important;
    //visibility:visible!important;
    //opacity:1!important;
    display: block!important;
    //transition: all ease-in 400ms!important;
}
.transition-700ms {
    -webkit-transition: all ease-in-out  700ms!important;
    -moz-transition: all ease-in-out   700ms!important;
    -ms-transition: all ease-in-out  700ms!important;
    -o-transition: all ease-in-out   700ms!important;
    transition:  all ease-in-out  700ms!important;
}
.service-providers-section{
    .active-working{
        //display: inline;
        width:calc(8px + 0.5vw);
        height: calc(8px + 0.5vw);
        border-radius: 50%;
        background: #26C80C;
        margin-top: 0.5rem;


    }

    .handel-empty-banner{
        position: relative;
        width: 100%;
        //background: whitesmoke;
        height: calc(30px + 3vw);
    }

    .info-section{
        //max-height: 120px;
        //height: calc(70px + 5vw);
        //.container-child{
        //    height: calc(70px + 5vw);
        //
        //}
        .close{
            font-style: normal;
            font-weight: normal;
            //font-size: 24px;
            //line-height: 28px;
            font-size: calc(8px + 0.8vw);
            line-height: calc(12px + 1.7vw);
            color: red;

            //color: #FF7667;
        }

       h2, p{
            margin-bottom: 0px !important;
        }
        //.left-side{
        //    width: 25%;
        //    min-width: 130px;
        //}
        .info{
            display: flex;
            flex-direction: column;
            justify-content: start;

            .address{
                //font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                //font-size: 55px;
                //line-height: 64px;
                font-size: calc(17px + 1.7vw);
                line-height: calc(20px + 1vw);
                color: #000000;
            }
            .working{
                font-style: normal;
                font-weight: bold;
                //font-size: 22px;
                //line-height: 26px;
                font-size: calc(8px + 0.8vw);
                line-height: calc(20px + 1vw);

                color: #26C80C;
            }
            .text1{
                font-style: normal;
                font-weight: bold;
                //font-size: 22px;
                //line-height: 26px;
                font-size: calc(8px + 0.8vw);
                line-height: calc(20px + 1vw);
                color: #FAC24F;

            }

        }
        .avatar{
            //width: 25%;
            width: calc(85px + 10vw);
            height: calc(70px + 7vw);
            //position: absolute;
            //top: -6.5rem;
            //top: calc(-20px - 5.5vw);
            z-index: 10;
            //left: 0px;
            //height: 150%;
            //width: calc(75px + 10vw);
            //height: calc(60px + 6vw);
            //z-index: 10;
            margin-top: -1.23rem;
            //object-fit: contain;
            padding: 0.4rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 20px;
            }
        }
    }

    .parent{
        width: 100%;

        .filters{
            @include transition-400ms;
            width: 22%;
            margin: 0.8rem 0rem;
            //max-height: calc(200px + 25vw);
            //.list::-webkit-scrollbar-track
            //{
            //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            //    background-color: #F5F5F5;
            //}
            //
            //.list::-webkit-scrollbar
            //{
            //    width: 10px;
            //    background-color: #F5F5F5;
            //}
            //
            //.list::-webkit-scrollbar-thumb
            //{
            //    background-color: #F90;
            //    background-image: -webkit-linear-gradient(90deg,
            //        rgba(255, 255, 255, .2) 25%,
            //        transparent 25%,
            //        transparent 50%,
            //        rgba(255, 255, 255, .2) 50%,
            //        rgba(255, 255, 255, .2) 75%,
            //        transparent 75%,
            //        transparent)
            //}

            .list{

                .collapsing {
                  @include transition-700ms;

                }

                .active{
                    //background:#FF7020!important; ;
                    //color: white!important;
                    //color: #FF7020!important;
                    background: $mainBackGroundColor!important;
                    color: white!important;


                    //.btn-filter{
                       .fa-angle-double-up{
                           display: inline-block!important;
                           color: white!important;
                       }
                       .fa-angle-double-down{
                           display: none!important;
                       }
                   //}
                }
                //box-sizing: border-box;
                width: 100%;
                border: 1px solid #C4C4C4;
                //border-radius: 30px;
                //max-height: calc(200px + 25vw);
                //max-height: calc(200px + 25vw);
                //padding: 0px 10px;
                //height:20vw ;
                //overflow: hidden;
                //overflow-y: scroll;
                //scrollbar-color: #f19409;
                //scroll-snap-type: y mandatory;
                box-shadow: 9px 10px 17px -5px rgba(197,191,191,0.79);
                -webkit-box-shadow: 9px 10px 17px -5px rgba(197,191,191,0.79);
                -moz-box-shadow: 9px 10px 17px -5px rgba(197,191,191,0.79);

                //box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.06);
                //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                //margin: auto;
                max-width: 230px;
                min-width: 200px;
                padding: 0rem 0rem;


                .btn-filter{
                    font-style: normal;
                    font-weight: 600;
                    //font-size: 18px;
                    //line-height: 22px;
                    //font-size: calc(8px + 0.7vw);
                    font-size: calc(8px + 0.5vw);

                    line-height: calc(12px + 1.5vw);

                    /* identical to box height */

                    //color: #FF7020;
                    color:rgb(0,0,0,0.75);

                    //border-radius: 30px;
                    margin:0rem 0.2rem;
                    padding: 0.5rem 0.2rem;
                    width: 100%;
                    border-radius: 0px;
                    border-bottom: 1px solid rgb(0,0,0,0.15);
                    .badge{
                        pointer-events: none;
                        background-color: #fac24f!important;
                    }
                    .fa-angle-double-up{
                        display: none;
                    }
                    .fa-angle-double-down{
                        display: inline-block;
                    }

                    .fas{
                        //background-color: #fac24f!important;
                        color: #fac24f;
                        pointer-events: none;
                    }
                    &:hover{
                        @include transition-500ms;
                        //transform: translateY(-3px);
                        background:$btnHoverBackgroundColor ;
                        color: white;
                    }
                }
                .btn-service-provider{
                    font-style: normal;
                    font-weight: normal;
                    //font-size: 18px;
                    //line-height: 22px;
                    font-size: calc(7px + 0.4vw);
                    line-height: calc(12px + 1.5vw);
                    /* identical to box height */

                    color: #000000;
                    border-radius: 30px;
                    //width: 100%;
                    display: block;
                    &:hover{
                        @include transition-500ms;
                        transform: translateY(-3px);
                        background:#fac24f ;
                        color: white;
                        margin: 0.2rem 0.2rem;
                    }
                }


            }
        }
        .service-providers{
            //margin: 15px 0px;
            margin-bottom: 30px;
            width: 76%;


            .mobil-version{

                display: none;
                width: 10vw;
                min-width: 60px;
                .btn-menu-filter{
                    //display: none;
                    text-transform: uppercase;
                    width: 100%;
                    height: 50px;
                    font-size: calc(20px + 1vw)!important;

                    background: #FAC24F;
                    border-radius: 12px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
                    border: 1px #fac24f solid;
                    margin: 1rem 1rem;
                    i{
                        color: white;
                    }
                }
            }

            .address{
                font-style: normal;
                font-weight: 600;
                //font-size: 30px;
                //line-height: 41px;
                font-size: calc(12px + 1.2vw);
                //line-height: calc(20px + 2.5vw);
                /* identical to box height */
                margin: 0.5rem 0.5rem;

                color: #000000;
            }
            .service-provider{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 31%;
                min-width: 150px;
                background: #FFFFFF;
                box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.06);
                border-radius: 25px;
                margin: 0.7rem 0.5rem;

                .img{
                    width: 100%;
                    img{
                        @include transition-500ms;
                        width: 100%;
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;
                        &:hover{
                            transform: scale(1.08);
                        }

                    }
                }
                .open{
                    font-style: normal;
                    font-weight: normal;
                    font-size: calc(8px + 0.8vw);
                    line-height: calc(12px + 1.7vw);

                    color: #00E741;
                }
                .close{
                    font-style: normal;
                    font-weight: normal;
                    //font-size: 24px;
                    //line-height: 28px;
                    font-size: calc(8px + 0.8vw);
                    line-height: calc(12px + 1.7vw);

                    color: #FF7667;
                }
                .content{
                    margin: 0px 10px;
                }
                .state{
                    margin: 0px 10px;
                }
                .name{
                    font-style: normal;
                    font-weight: 500;
                    //font-size: 24px;
                    //line-height: 28px;
                    font-size: calc(8px + 0.8vw);
                    line-height: calc(12px + 1.7vw);

                    color: #000000;
                }
                .content-item{
                    //font-family: Poppins;
                    font-style: normal;
                    font-weight: 100;
                    //font-size: 12px;
                    //line-height: 180%;
                    font-size: calc(6px + 0.5vw);
                    line-height: calc(10px + 0.4vw);

                    /* or 22px */

                    color: #000000;
                }
                .added-item-cart{
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    font-style: normal;
                    font-weight: normal;
                    font-size: calc(7px + 0.8vw);
                    line-height: calc(10px + 1vw);
                    border-radius: 0px 0px 24px 24px;
                    //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    background: $mainBackGroundColor;
                    border: 2px solid $mainBackGroundColor;
                    color: white;
                    //box-sizing: border-box;
                    //border-radius: 12px;
                    padding: 0.7rem 0.3rem;
                    margin: 0.9rem 0.1rem;
                    svg{
                        margin-right: 0.75rem;
                    }
                }
                .btn-add-cart{
                    width: 90%;
                    font-style: normal;
                    font-weight: normal;
                    //font-size: 18px;
                    //line-height: 22px;
                    font-size: calc(7px + 0.8vw);
                    line-height: calc(10px + 1vw);
                    /* identical to box height */
                    border-radius: 0px 0px 24px 24px;
                    //color: #FE2E17;
                    //border: 2px solid #FE2E17;
                    //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
                    //color: white;
                    background: white;
                    color: $mainBackGroundColor;
                    border: 2px solid $mainBackGroundColor;
                    //box-sizing: border-box;
                    //border-radius: 12px;
                     padding: 0.7rem 0.3rem;
                    margin: 0.9rem 0.1rem;

                    &:hover{
                        @include transition-500ms;
                        transform: translateY(-3px);
                        color: #fff;
                        background-color: $mainBackGroundColor;
                    }
                }
                .btn-s-qtn{
                    .disable{
                        pointer-events: none;
                        //background: #b7b5b5;
                        background: #dbdbdb;
                    }
                }
                .btn-s-qtn > * + *  {
                    margin-left: 0.5rem;

                }
                .qtn{
                    margin-top: 0.2rem;
                    font-size: calc(9px + 0.8vw);
                    color: $mainBackGroundColor;

                }
                .btn-qtn{
                    background: #EFEFEF;
                    border-radius: 5px;
                    padding: 0.2rem 0.5rem;
                    //color: #FE2E17;
                    color: #000;
                    font-size: calc(7px + 0.4vw);
                    max-height: 43px;
                    &:hover{
                        @include transition-500ms;
                        transform: translateY(-3px);
                        color: #fff;
                        background-color: $mainBackGroundColor;
                    }

                }
                .content-price{
                    font-weight: 500;
                    //font-size: 20px;
                    //line-height: 30px;
                    font-size: calc(9px + 0.8vw);
                    line-height: calc(15px + 1vw);
                    /* identical to box height */

                    //color: #FE2E17;
                    color: $mainBackGroundColor;
                }
                .name-item{
                    font-style: normal;
                    font-weight: 500;
                    //font-size: 24px;
                    //line-height: 28px;
                    font-size: calc(7px + 0.7vw);
                    //line-height: calc(12px + 1.5vw);
                    line-height: calc(10px + 0.8vw);
                    margin: 0.5rem 0rem;
                    color: #000000;
                }
                .btn-white{
                    &:hover{
                        @include transition-500ms;
                        transform: translateY(-3px);
                    }
                    .fas{
                        color: #BFBFBF;
                        font-size: calc(8px + 0.8vw);

                    }
                    .active{
                        //color: #FF7667!important;
                        color: red!important;
                    }
                }
            }

            //.items-pagination{
            //    .page-link{
            //        color: #FF7020 !important;
            //        border: 1px solid #fac24f!important;
            //        &:hover{
            //            background-color: #fac24f!important;
            //            color: white!important;
            //        }
            //    }
            //    .disabled{
            //        .page-link{
            //            background-color: #F5F0F0;
            //        }
            //    }
            //    .active{
            //        .page-link{
            //            background: #FF7020 !important;
            //            border: 1px solid #fac24f!important;
            //            color: white !important;
            //
            //        }
            //
            //    }
            //}

        }
    }



}


.sell-on-delivaz-section{
    .cover{
        width: 100%;
        height: calc(115px + 15vw);
        img{
            width: 100%;
            //min-height: 250px;
            height: 100%;
            object-fit: cover;
        }

        position: relative;
        //margin-bottom: 4rem;
        margin-bottom: calc(10px + 2.5vw);
        .content{
            position: absolute;
            width: 60%;
            height: 60%;
            top: 7rem;
            left: 20rem;
            color: white;
            transform: translate(-100px,-18px);


            .btn-sell-on-delivaz{
                color: white;
                cursor: pointer;
                max-width: 170px;
                min-width: 100px;
                width: 37%;
                //height: 45px;
                height: calc(20px + 2vw);
                min-height: 37px;

                font-size: calc(10px + 0.5vw);
                line-height: calc(10px + 0.5vw);
                background: $mainBackGroundColor;
                padding: 0.8rem 0.5rem;
                @include transition-500ms;
                &:hover{
                    transform: translateY(-3px);
                    background: $btnHoverBackgroundColor;
                }
            }
            .address{
                font-style: normal;
                font-weight: 500;
                //font-size: 36px;
                //line-height: 42px;
                font-size: calc(12px + 1.2vw);
                line-height: calc(20px + 2vw);

                color: #FFFFFF;
            }

            .text{
                font-style: normal;
                font-weight: normal;
                //font-size: 18px;
                //line-height: 21px;
                font-size: calc(8px + 0.6vw);
                line-height: calc(13px + 1vw);

                color: #F0F0F0;
            }
        }
    }

}

.register-service-provider-section{
    margin-top: 12rem;
   .cancle, .submit{
        width: 40%;
        margin: 0.8rem 0rem;
        min-width: 250px;
        max-width: 450px;
    }

    .register-service-provider{
        margin: 3rem 0rem;
        background: #F2F2F2;
        //box-shadow: 0px 15px 12px 0px rgba(221, 213, 215, 0.12);
        //-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 12px 0px rgba(221,213,215,0.02);
        //box-shadow: 0px 10px 13px -7px #000000, 0px 15px 12px 0px rgba(221,213,215,0.02);
        //-webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.02), 5px 5px 15px 5px rgba(0,0,0,0.02),0px 15px 12px 0px #DDD5D7;
        //box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.02), 5px 5px 15px 5px rgba(0,0,0,0.02),0px 15px 12px 0px #DDD5D7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
        //background: linear-gradient(232.26deg, rgba(254, 46, 23, 0.084) 8.67%, rgba(254, 46, 23, 0) 78.35%);
        border-radius: 20px;
        z-index: 1;
        position: relative;

        .clip-path{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            height: 100%;
            width: 50%;
            margin: 0 auto;
         z-index: 2;
            -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            //-webkit-clip-path: polygon(35% 0, 100% 0, 99% 0, 85% 64%, 73% 100%, 22% 100%, 0 99%, 14% 64%);
            //clip-path: polygon(35% 0, 100% 0, 99% 0, 85% 64%, 73% 100%, 22% 100%, 0 99%, 14% 64%);
            background: linear-gradient(232.26deg, rgba(254, 46, 23, 0.084) 8.67%, rgba(254, 46, 23, 0) 78.35%);
        }
        .address{
            font-weight: 600;
            //font-size: 24px;
            //line-height: 40px;
            font-size: calc(10px + 0.9vw);

            /* identical to box height */
            letter-spacing: 0.02em;

            color: #000000;
        }
        .text{

        }
        .header{
            position: relative;
            background: #FAC24F;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            justify-content: center;
            padding: 1rem;
            z-index: 3;
        }
        .content{
            position: relative;
            z-index: 3;
            padding: 2rem 0.5rem;
            .info {
                display: flex;
                justify-content: center;
              input,select,textarea, label{
                    font-size: calc(8px + 0.5vw);
                    color: rgba(0, 0, 0, 0.9);
                }


                .owner-name{
                    display: flex;
                    flex-direction: column;
                    width: 26.5%;
                    margin: 0.5rem 1rem;

                    .dropdown .dropdown-menu {
                        max-height: 310px;
                        overflow: scroll;
                        .dropdown-item{
                            font-size: calc(8px + 0.5vw);

                        }

                    }
                    #dropdown_selecte_btn
                    {
                        background: white;
                        width: 100%;
                        font-size: calc(8px + 0.5vw);

                    }
                }
                .user-input{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    margin: 0.5rem 2rem;

                    input[type=file]::file-selector-button {
                        //border: 2px solid #fac24f;
                        //padding: 10px;
                        //border-radius: 20px;
                        ////background-color: #a29bfe;
                        //color: #fac24f;
                        //background: white;
                        //transition: 1s;
                        //outline: none;
                        //box-shadow: none;
                        //font-size: 12px;
                        display: none!important;
                    }
                    .input-file-container{
                        position: relative;
                        .input-handel{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            align-content: center;
                            padding: 0.5rem 1.5rem;
                            //top: 0px;
                            //right: 0px;
                            //bottom: 0px;
                            //left: 0px;
                            inset: 0px 0px 0px 0px;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            margin: auto;
                            background: white;
                            .brows{
                                color: $mainBackGroundColor!important;
                                font-size: calc(6px + 0.55vw);
                                font-weight: bolder;
                            }
                            .text1{
                                font-size: calc(6px + 0.45vw);
                                color: rgb(0,0,0,0.6);
                            }
                            i{
                                color: rgb(0,0,0,0.6);
                                //color: $mainBackGroundColor!important;

                            }
                        }
                    }

                    .personal-image-input{
                        max-width: 250px;
                        min-width: 190px;
                        max-height: 100px;
                        height: calc(50px + 10vw);
                        opacity: 0;
                        cursor: pointer;
                        z-index: 2;

                    }
                    .img{
                        max-width: 190px;
                        min-width: 120px;
                        height: calc(60px + 6vw);
                        width: 12vw;
                        min-height: 136px;
                        margin: 0rem 1rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                }
            }
        }
    }
}
