@mixin toggel-mobile-menu {
    .second-header{
        .btn-menu-mobile{
            display: block;
        }
        .other{
            //display: none;

            width: 0px ;
            opacity: 0;

        }
    }
}
@mixin margin-top-small-screen{
    .address{
        margin-top: 20px;
        transform: translateX(-7%);
    }
}
//@mixin font-family-en{

    //font-family: 'Lato', sans-serif;
    //font-family: 'Lora', serif;
    //font-family: 'Roboto Slab', serif;
//}

@mixin flex-row-to-column{
    display: flex;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
}

@mixin btn-main {
    .btn-main{
        //display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        //width: 140px;
        width: 14%;
        min-width: 110px;
        max-width: 150px;
        //height: 50px;
        height: calc(40px + 0.9vw);
        //font-size: 1.2vw;
        font-size: calc(10px + 0.4vw);
        background: #FAC24F;
        color: white;
        border-radius: 12px;
        //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        //box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        //box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
        @include transition-500ms;
        padding: 12px 0px;
        &:hover{
            //color  : #FAC24F;
            //background: white;
            //border:  #FAC24F solid 1px;
            background: #fab838;

            transform: translateY(-3px);
        }
    }
}
@mixin transition-400ms{
    -webkit-transition: ease-in  400ms ;
    -moz-transition:ease-in   400ms ;
    -ms-transition: ease-in  400ms ;
    -o-transition: ease-in  400ms ;
    transition: ease-in  400ms ;
}
@mixin transition-500ms {
    -webkit-transition: ease-in-out  500ms;
    -moz-transition: ease-in-out   500ms;
    -ms-transition: ease-in-out  500ms;
    -o-transition: ease-in-out   500ms;
    transition:  ease-in-out  500ms;
}
@mixin transition-1500ms{
    -webkit-transition: ease-in  1500ms ;
    -moz-transition:ease-in   1500ms ;
    -ms-transition: ease-in  1500ms ;
    -o-transition: ease-in  1500ms ;
    transition: ease-in  1500ms ;
}
@mixin transition-1000ms{
    -webkit-transition: ease-in  1000ms ;
    -moz-transition:ease-in   1000ms ;
    -ms-transition: ease-in  1000ms ;
    -o-transition: ease-in  1000ms ;
    transition: ease-in  1000ms ;
}
@mixin transition-700ms {
    -webkit-transition: all ease-in-out  700ms!important;
    -moz-transition: all ease-in-out   700ms!important;
    -ms-transition: all ease-in-out  700ms!important;
    -o-transition: all ease-in-out   700ms!important;
    transition:  all ease-in-out  700ms!important;
}

@mixin btn-white-small-screen{
    .btn-white{
        .badge{
            top: 2px!important;
            right: -3px!important;
        }
    }
}
@mixin btn-white {
    .btn-white{
        //width: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        min-width: 40px;
        max-width: 50px;
        width: 37%;
        height: 50px;
        //font-size: 1.8vmax;
        //font-size: 30px;
        font-size: calc(25px + 0.5vw);
        position: relative;
        cursor: pointer;
        @include transition-500ms;
        &:hover{

            transform: translateY(-3px);
        }
        .badge{
            position: absolute;
            top: -7px;
            right: -10px;
            color: #ffffff;
            //font-size: 12px;
            //font-size: 0.9vw;
            font-size: calc(7px + 0.5vw);
            background: $mainBackGroundColor;

        }
        .fa-heart{
            //color: #FF7667;
            color: red;
        }
    }
}
@mixin draw-after-shap{
    content:'';
    width:15px;
    height:14px;
    position:absolute;
    background: #F6F5FF;
    bottom: -14px;
    right: -2px;
    clip-path: polygon(100% 100%, 100% 25%, 100% 0%, 64% 0%, 0% 0%, 10% 5%, 28% 11%, 43% 18%, 58% 26%, 70% 37%, 77% 49%, 83% 62%, 89% 76%, 94% 88%);

}

@mixin draw-befor-shap {
    content:'';
    width:15px;
    height:14px;

    position:absolute;
    background: #F6F5FF;
    clip-path: polygon(100% 0%, 89% 18%, 79% 38%, 65% 57%, 53% 70%, 36% 81%, 16% 91%, 0% 100%, 28% 100%, 55% 100%, 100% 100%, 100% 79%, 100% 51%, 100% 25%);

    top: -14px;
    right: -2px;
}

@mixin main-back-ground-control-panel{
    position: relative;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 20px;
    background: linear-gradient(123deg, #eeeeee 25%, rgba(254, 46, 23, 0.1012780112) 50%, rgba(238, 238, 238, 0.7651435574) 75%);
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.15),
    5px 4px 6px rgba(0, 0, 0, 0.09),
    8px 8px 6px rgba(0, 0, 0, 0.05);
}
@mixin header-control-panel{
    display: flex;
    justify-content: center;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-top: -4rem;
    .address{
        padding: 0.7rem 2rem;
        background: #F54141;
        color: white;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        font-size: calc(8px + 1vw);
    }
}

@mixin custom-check-box{
    /* The container */
    .checkbox-container {
        margin: 0.5rem 1rem;
        display: block;
        position: relative;
        padding-left: 35px;
        //margin-bottom: 12px;
        cursor: pointer;
        font-weight: 300;
        //font-size: 14px;
        line-height: 16px;
        color: #000000;
        font-size: calc(7px + 0.5vw);

    }

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        cursor: pointer;
        height: 0!important;
        width: 0!important;
        opacity: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -4px;
        left: 0;
        width: 23px;
        min-height: 21px;
        //background-color: #eee;
        border-radius: 6px;
        //background-color: #fac24f;
        background: #FFFFFF;
        border: 2px solid #8D8D8D;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
        //background-color: #fab32a;
        background: $mainBackGroundColor;
        border: none;

    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
        //background-color: #F54141;
        background: $mainBackGroundColor;
        border: none;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@mixin custom-table{
    .table tbody, .table tbody tr,  .table thead th, .table thead tr,.table  td{
        border: none;
    }
    .table tbody {
        background: rgba(255, 255, 255, 0.5);
        .btn-edit-delivaz{
            width: auto!important;
            padding: 0rem 1.7rem;
        }
        .text1 {
            color: rgba(0, 0, 0, 0.7);
            font-size: calc(8px + 0.5vw);
        }
    }
}

@mixin custom-check-box2{
    /* Hide the input */
    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .check-trail {
        display: flex;
        align-items: center;
        width: calc(60px + 1.5vw);
        height: calc(20px + 0.8vw);
        //background: $mainBackGroundColor;
        background: #8c8888;
        border-radius: 2.5em;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .check-handler {
        display: flex;
        margin-left: 0.5em;
        justify-content: center;
        align-items: center;
        width: calc(12px + 0.9vw);
        height: calc(10px + 0.9vw);
        background: #34495e;
        border-radius: 50%;
        transition: all 0.5s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
    .check-handler:before {
        content: "×";
        color: white;
        font-size: calc(9px + 0.9vw);
        font-weight: bold;
    }

    input[type=checkbox]:checked + .check-trail {
        //background: #F54141;
        background: $mainBackGroundColor;
    }
    input[type=checkbox]:checked + .check-trail .check-handler {
        margin-left: 50%;
        background: #1abc9c;
    }
    input[type=checkbox]:checked + .check-trail .check-handler::before {
        content: "✔";
    }
}

@mixin custom-switch{

//    .custom-switch{
//        width: 100%;
//        display: flex;
//        flex-direction: row-reverse;
//        align-items: center;
//    }
//
//    input{
//        position: relative;
//        opacity: 0;
//    }
//    input:checked ~ .custom-control-label::after {
//        background-color: #fff!important;
//        //transform: translateX(2.2rem)!important;
//        transform: translateX(130%)!important;
//
//    }
//    input:checked ~ .custom-control-label::before {
//        background: #2CC990!important;
//        //border: 1px solid #E8E8E8!important;
//        border: none!important;
//    }
//    .custom-control-label{
//        font-size: calc(9px + 0.7vw)!important;
//        color: #4B4B4B!important;
//        font-weight: bolder;
//    }
//    .custom-control-label::after{
//        width: calc(15px + 1vw)!important;
//        height: calc(13px + 0.9vw)!important;
//        border-radius: 100%!important;
//        top: -0.09rem  !important;
//        //left: calc(-4.25rem - 2px)!important;
//        left: calc(-3.2vw - 46px) !important;
//
//
//        background: #C9C9C9!important;
//
//    }
//    .custom-control-label::before{
//
//        width: calc(38px + 2.5vw) !important;
//        height: calc(18px + 1vw) !important;
//        border-radius: 500px!important;
//        background: #F6F5FF!important;
//        border: 1px solid #C9C9C9!important;
//        //left: -4.6rem!important;
//        transform: translateX(-54%)!important;
//        left: calc(-25px - 2vw)!important;
//        top: -0.25rem!important;
//    }
}
