.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus, .form-control.focus {
    outline: 0;
    box-shadow: none;
}
.gap-15{
    //gap: 25px;
    margin: 0px 15px;
}
.gap-0-10{
    margin: 10px 0px;
}
.gap-0-5{
    margin: 5px 0px;
}
.gap-shape{
    margin: 0px 7px;
}

.gap-10{
    //gap: 25px;
    margin: 0px 10px;
}
.gap-5{
    margin: 0px 5px;
}
.gap-25{
    margin: 0px 25px;
    //gap: 25px;
    //width: 70vmax;
    //box-sizing: border-box;
    //margin: 0px 130px;

}
.row{
    margin: 0px;
}
.col-lg-6{
    padding: 0px;
}
//.swal2-x-mark-line-left, .swal2-x-mark-line-right{
//    font-size: calc(7px + 0.7vw)!important;
//
//}
//.swal2-x-mark {
//    font-size: calc(9px + 1.5vw)!important;
//
//}
.swal2-popup{
    width: 40vw!important;
    min-width: 300px!important;
}
.swal2-title{
    font-size: calc(9px + 1.5vw)!important;
}

.alert-danger {
    //color: #fff!important;
    //background-color: #fac24f!important;
    //border-color: #fac24f!important;
    color: #fff!important;
    background-color: rgb(250, 3, 3,0.7) !important;
    border-color: rgb(250, 3, 3,0.9)!important;
    margin: 0.3rem 0rem!important;
    button{
        color: white!important;
        opacity: 0.9!important;
    }
}

.width-full{
    width: 100%!important;
}
.width-50{
    width: 50%;
}

.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}

.width-30{
    width: 30%;
}
.width-70{
    width: 70%;
}

.width-20{
    width: 20%;
}
.width-14{
    width: 14%;
}
.width-80{
    width: 80%;
}

.width-10{
    width: 30%;
}
.max-w-100{
    max-width: 100px;
}
.w-10{
    width: 10%;
}
.width-5{
    width: 5%;
}
.width-90{
    width: 90%;
}
.width-95{
    width: 95%;
}
.width-18{
    width: 18%;
}
.width-82{
    width: 82%;
}

.height-full{
    height: 100%;
}
.opacity-0{
    opacity: 0!important;
}
.opacity-1{
    opacity: 1!important;
}
.text-small{
  font-size: calc(8px + 0.5vw);
    color: rgb(0,0,0,0.7);
}
.btn-card{
    background: #F5F5F5;
    box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    font-weight: 400;
    font-size: calc(9px + 0.3vw);
    //font-size: 18px;
    //line-height: 21px;
    color: #000000;
    padding: 0.25rem 0.95rem;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #dedede;

    }
}
.btn-primary-delivaz{
    background: $mainBackGroundColor;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(10px + 0.4vw);
    //line-height: calc(20px + 0.4vw);
    width: 100%;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
    @include transition-700ms;

    &:hover{
        transform: translateY(-3px);
        background: $btnHoverBackgroundColor;
        color: #ffffff;
    }
}

.btn-back{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    //font-size: 22px;
    //line-height: 26px;
    font-size: calc(8px + 0.6vw);
    color: #000000;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
    }
    span{
        margin: 0rem 0.35rem;
    }
}
.btn-primary2-delivaz{
    background: #FFAB00;
    //border-radius: 5px;
    padding: 0.5rem 1.2rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    width: 100%;
    color: #ffffff;
    border-radius: 500px;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;

    &:hover{
        transform: translateY(-3px);
        background: $btnHoverBackgroundColor;
        color: #ffffff;
    }
}

.btn-outline-primary-delivaz{
    color: #FAC24F;
    //border-radius: 5px;
    padding: 0.225rem 1.2rem;
    font-weight: normal;
    font-size: calc(8px + 0.6vw);
    line-height: calc(20px + 0.4vw);
    //width: 100%;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #FAC24F;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;

    &:hover{
        transform: translateY(-3px);
        background: $btnHoverBackgroundColor;
        color: #ffffff;
    }
}
.btn-outline-primary-active{
    background: $btnHoverBackgroundColor!important;
    color: #ffffff!important;
    padding: 0.225rem 0.75rem!important;
    svg{
        margin-left:  0.3rem;
    }
}
.btn-cancle-delivaz{
    background: #F2F2F2;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(12px + 0.6vw);
    line-height: calc(20px + 0.4vw);
    width: 100%;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #d5d5d5;
    }
}


.btn-favourite{
    //background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
    //border-radius: 50%;
    //padding: 0.4rem !important;
    background: transparent;
    font-size: calc(9px + 0.5vw);
    padding: 0px!important;
    i{
        //color: white;
        color: #BFBFBF;
        font-size: calc(12px + 1.5vw);
        @include transition-700ms;
    }

    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #FFFFFF!important;
        i{
            color: red;
            transform: scale(1.3);
        }
    }
}
.btn-favourite-active{
    background: #FFFFFF!important;
    i{
        color: red!important;
        //transform: scale(1.5);

    }
}


.btn-edit-delivaz {
    //background: #FAC24F;
    background: #2C82C9;
    border-radius: 10px;
    padding: 0rem 0.9rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    width: 100%;
    color: #ffffff;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #247ec7;
        color: #000000;
    }
}
.btn-save-delivaz{
    display: inline;
    background: #2CC990;
    border: 1px solid #2CC990;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: $btnHoverBackgroundColor;
    }
}

.btn-cancle2-delivaz{
    display: inline;
    //background: #FC6042;
    //border: 1px solid #FC6042;
    background: transparent;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #000000;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: #d5d5d5;
    }
}
.btn-close-delivaz{
    display: inline;
    background: transparent;
    border:none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    @include transition-700ms;
}
.btn-delete-delivaz{
    display: inline;
    background: #FE2E17;
    border: 1px solid #FE2E17;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: calc(8px + 0.4vw);
    line-height: calc(20px + 0.4vw);
    color: #ffffff;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        //background: #d5d5d5;
    }
}
.btn-back-delivaz{
    background: transparent;
    border-radius: 5px;
    padding: 0rem ;
    font-weight: normal;
    font-size: calc(10px + 0.5vw);
    line-height: calc(20px + 0.4vw);
    //width: 100%;
    color: #FE2E17;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include transition-700ms;
    svg{
        @include transition-700ms;
    }
    &:hover{
        transform: translateY(-3px);
        svg{
            path{
                fill: #000000;
            }
        }
        //background: $btnHoverBackgroundColor;
    }
}
.btn-option-delivaz{
    background: #F5F5F5;
    box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    font-weight: 400;
    //font-size: 12px;
    //line-height: 18px;
    color: #000000;
    font-size: calc(7px + 0.5vw);
    text-align: center;
    padding: 0.5rem 1.25rem ;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #e2e2e2;
    }
}
.btn-option{
    background: #F5F5F5;
    border-radius: 50px;
    font-weight: bold;
    //font-size: 12px;
    //line-height: 18px;
    font-size: calc(7px + 0.3vw);
    text-align: center;
    color: #6C6C6C;
    padding: 1.5rem ;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #e2e2e2;
    }
}

.btn-option-active{
    color: white;
    background: $mainBackGroundColor;
    &:hover{
        color: white;
        transform: translateY(-3px);
        background: $btnHoverBackgroundColor;
    }
}
.btn-option-white{
    background: #FFFFFF;
    border-radius: 10px;
    //font-weight: bold;
    //font-size: 12px;
    //line-height: 18px;
    font-size: calc(7px + 0.3vw);
    text-align: center;
    color: $mainBackGroundColor;
    padding: 0.65rem 1rem ;
    @include transition-700ms;
    &:hover{
        transform: translateY(-3px);
        background: #F5F5F5;
    }
}
.btn-primary-gradient{
    background: linear-gradient(129.55deg, #F1C445 -8.99%, #F83600 127.32%, #F83600 127.32%);
    border-radius: 5px;
    padding: 0.75rem 3.5rem;
    font-weight: normal;
    font-size: calc(10px + 0.8vw);
    line-height: calc(20px + 0.4vw);
    min-width: 145px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
    @include transition-700ms;
    &:hover{
        color: #4E4E4E!important;
        transform: translateY(-3px);
        //background: $btnHoverBackgroundColor;
    }
}
.alert-danger2{
    color: #fff!important;
    background-color: rgb(250, 3, 3,0.7) !important;
    border-color: rgb(250, 3, 3,0.9)!important;
    margin: 0.3rem 0rem!important;
    button{
        color: white!important;
        opacity: 0.9!important;
    }
}
.btn-link-delivaz{
    //font-size: 12px;
    //line-height: 18px;
    text-decoration-line: underline;
    color: #352F2F;
    @include transition-700ms;
    &:hover{
        color: #242020;
        text-decoration-line: underline;
        transform: translateY(-3px);
    }
}

.owl-carousel
{
    .owl-item{
        img{
            object-fit: contain;
            width: 100%;
            border-radius: 35px;
        }
    }
}
@media  (max-width: 950px) {
    .owl-item {
        img {
            object-fit: cover !important;
            width: 100%;
            border-radius: 35px;
        }
    }
}

.p-relative{
    position: relative;
}

.show-on-mobil{
    display: inline-flex!important;
}
.show-on-mobil-block{
    display: block!important;
}
.translateX-to-0{
    transform: translateX(0%)!important;
}

.translateX-full-negative{
    transform: translateX(-100%)!important;
}

.translateX-positive-200px{
    transform: translateX(200px)!important;
}

.translateX-negative-200px{
    transform: translateX(-200px)!important;
}

.translateX-negative-120px{
    transform: translateX(-120px)!important;
}

.dropdown {
    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-track {
        background:  rgb(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fac24f;
        border-radius: 0px;
        border: none;
    }
    .dropdown-menu{
        scrollbar-width: thin;
        scrollbar-color: #fac24f rgb(0,0,0,0.3);
    }
}

.delete-section{
    .modal-md{
        width: 50vw;
        max-width: 720px;
        min-width: 320px;
    }

    .modal-dialog{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)!important;
        //width: 44vw;
        z-index: 100;
        //max-width: 600px;
        //min-width: 480px;
        margin: 0px!important;
        .header-add{
            background: $mainBackGroundColor!important;
        }
        .header-update{
            background: $updateColor!important;
        }
        .header-delete{
            background: $deleteColor!important;
        }
        .header{
            padding: 0.8rem 1.6rem;

            border-radius: 25px 25px 0px 0px;
            .toast-address,.btn-close{
                color: white!important;
            }
            .btn-close{
                cursor: pointer;
            }
        }
        .modal-content{
            padding: 2rem 1.5rem !important;
            border: none;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            .btn{
                max-width: 150px!important;
            }
        }
        .user-input{
            padding: 1rem 0rem;
            input{
                background: #F5F5F5;
                border: 1px solid #BBBBBB;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: calc(9px + 0.5vw);

            }
            label{
                font-size: calc(9px + 0.5vw);
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .toast-address{
        font-size: calc(10px + 1vw);

    }
    .content{
        padding: 0rem 1rem;
        p{
            font-size: calc(9px + 0.7vw);
            color: rgb(0,0,0,0.7);
            font-weight: bolder;
        }
    }
}

.d-none{
    display: none!important;
}
@media  (max-width: 1000px) {
    .delete-section{
        .content{
            padding: 0rem !important;
        }
    }
}

.back-ground-transparent{
    background: transparent!important;
}
.delete-window{
    .header{
        display: flex!important;
        justify-content: space-between!important;
        padding: 0.5rem 1rem!important;
        width: 100%;
        border-radius: 20px 20px 0px 0px!important;
        background: #FE2E17!important;
        h4{
            margin-bottom: 0px!important;
        }
        .address{
            font-size: calc(8px + 0.4vw)!important;
            color: white!important;
            padding: 0.5rem!important;
        }
    }
    .delete-window-container{
        padding: 1.5rem;
        background: #FFFFFF;
        width: 100%;
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44vw;
    z-index: 100;
    max-width: 600px;
    min-width: calc(240px + 10vw);
    //min-width: 480px;
    box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.04);
    //box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25), 0px 6px 250px rgba(193, 193, 193, 0.25);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .photo{
        width: 40%;
        margin: auto;
        //margin-bottom: 1.2rem;
        svg{
            width: 100%;
        }

    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: row!important;
        justify-content: center;
        //margin: auto;
        p{
            font-style: normal;
            font-weight: bolder;
            //font-size: 36px;
            //line-height: 42px;
            font-size: calc(7px + 0.9vw);
            color: #000000;
        }
    }
    .btn-container{
        width: 100%!important;
        //margin: auto;
        padding: 0.9rem 0rem;
        //button{
        //    width: calc(70px + 2vw);
        //}
    }
}

.preview-window-md{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    //min-width: 480px;
    background: #FFFFFF;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25), 0px 6px 250px rgba(193, 193, 193, 0.25);
    border-radius: 20px 20px 5px 5px;
    padding: 0rem;
    min-width: 350px;
    width: 50vw;
    .footer , .content{
        padding: 1rem 2rem;
    }
    .photo{
        width: 100%;
        margin: auto;
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 20px 20px 0px 0px;
        background: #2C82C9;
        .address{
            font-size: calc(8px + 0.4vw);
            color: white;
            padding: 0.5rem;
        }
    }
}
.preview-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    //height: 95vh;
    z-index: 100;
    //min-width: 480px;
    background: #FFFFFF;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25), 0px 6px 250px rgba(193, 193, 193, 0.25);
    border-radius: 20px 20px 5px 5px;
    padding: 0rem;

   .footer , .content{
        padding: 1rem 2rem;
    }
    .photo{
        width: 100%;
        margin: auto;
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 20px 20px 0px 0px;
        background: #2C82C9;
        .address{
            font-size: calc(8px + 0.4vw);
            color: white;
            padding: 0.5rem;
        }
    }
}
@media  (max-width: 650px) {
    .delete-window{
        .delete-window-container{
            padding: 0.5rem!important;
            .photo{
                max-height: 125px;
            }
            button{
                max-height: 40px;
                //padding: 0.2rem!important;
                padding: 0.2rem 1rem !important;
            }
        }

        //min-width: 330px;
    }
}
.text2{
    font-size: calc(8px + 0.5vw);
    color: rgb(0,0,0,0.7);
}
.text1-sm{
    font-size: calc(9px + 0.5vw);
    margin-bottom: 0px!important;
}
.table-header{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 12px 12px 0px 0px;
    padding: 0.9rem 0.7rem;
}
.text3{
    font-size: calc(8px + 0.6vw);
    color: rgb(0,0,0,0.8);
}
.my-dropdown-container{
    position: relative;
    .btn-drop-down::after{
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
    .my-dropdown-menu{
        position: absolute;
        right: 0rem;
        width: 30vw;
        min-width: 400px;
        max-width: 600px;
        max-height: 450px;
        overflow-y: scroll;
        padding: 0rem;
        margin: 0.125rem 0 0;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        scrollbar-width: thin;
        scrollbar-color: #fac24f rgba(0, 0, 0, 0.3);
        z-index: 11;
        font-size: calc(9px + 0.6vw);
        color: rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);
        border: 1px solid white !important;
        border-radius: 12px;
        .item-container{
            padding: 0.3rem 0.9rem;
            cursor: pointer;
            .dropdown-item{
                padding: 0.25rem 0.6rem;
            }
            &:hover{
                background: #FFAB00;
                color: #ffffff!important;
                .dropdown-item,  .item{
                    background: #FFAB00;
                    color: #ffffff!important;

                }
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
        svg{
            path{
                stroke: #209F84;
            }
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}


.dropdown{
    .dropdown-menu{
        box-shadow: 0px 10px 49px rgb(0 0 0 / 8%)!important;
        border: 1px solid white !important;
        border-radius: 12px!important;
    }
}
.datepicker-months{
    .active{
        background: $mainBackGroundColor!important;
        color: white!important;
    }
    .month{
        &:hover{
            background: $mainBackGroundColor!important;
            color: white!important;
        }
    }
}

.datepicker-dropdown{
    box-shadow: 0px 10px 49px rgb(0 0 0 / 8%)!important;
    border: 1px solid white !important;
    border-radius: 12px!important;
    .datepicker-months{
        table{

            td{
                span.active{
                    background: $mainBackGroundColor!important;
                    color: white!important;
                }
               span{
                   &:hover{
                       background: $mainBackGroundColor!important;
                       color: white!important;
                   }
               }
            }
        }
    }
    .datepicker-days{
        table{

            td.active{
                background: $mainBackGroundColor!important;
                color: white!important;
            }
            td{
                &:hover{
                    background: $mainBackGroundColor!important;
                    color: white!important;
                }
                span{
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: calc(8px + 0.5vw);
                    color: #000000;
                }
            }
        }
    }

}
.datepicker-container{
    position: relative;
}

.place-holder-centered{
    input {
        text-align: center;
    }

    ::-webkit-input-placeholder {
        text-align: center;
    }

    :-moz-placeholder {
        text-align: center;
    }
}
.items-pagination{
    .page-link{
        color: #FF7020 !important;
        border: 1px solid #fac24f!important;
        &:hover{
            background-color: #fac24f!important;
            color: white!important;
        }
    }
    .disabled{
        .page-link{
            background-color: #F5F0F0;
        }
    }
    .active{
        .page-link{
            background: #FF7020 !important;
            border: 1px solid #fac24f!important;
            color: white !important;

        }

    }
}
//.gj-timepicker-md [role="right-icon"] {
//    cursor: pointer;
//    position: absolute;
//    right: 0.25rem!important;
//    top: 0.5rem!important;
//    font-size: calc(10px + 1vw)!important;
//    color: #fac24f!important;
//}
//.gj-picker-md [role="header"] {
//    background: $mainBackGroundColor!important;
//}
//.picker-md [role="body"] [role="arrow"] {
//    background-color: $mainBackGroundColor!important;
//}
//.gj-timepicker{
//    width: 100%;
//}
//.gj-textbox-md{
//    border: 1px solid #ced4da!important;
//    padding: 0.375rem 0.75rem!important;
//}
//.gj-picker-md .arrow-begin, .gj-picker-md [role="body"] [role="arrow"] {
//    background-color: #fac24f!important;
//}
//.gj-picker-md .arrow-end {
//    border: 16px solid #fac24f!important;
//}
//.gj-picker-md [role="footer"] button.gj-button-md {
//    color: $mainBackGroundColor!important;
//    font-weight: 700;
//    //border-radius: 5px;
//    padding: 0.225rem 1.2rem !important;
//    font-weight: normal;
//    font-size: calc(8px + 0.6vw)!important;
//    //width: 100%;
//    background: #ffffff;
//    border-radius: 24px!important;
//    border: 1px solid #FAC24F;
//    height: auto!important;
//    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//    @include transition-700ms;
//
//    &:hover{
//        transform: translateY(-3px)!important;
//        background: $btnHoverBackgroundColor!important;
//        color: #ffffff!important;
//    }
//    //font-size: 13px;
//}
//.gj-modal{
//    background: none!important;
//}
//div.timepicker{
//    border-radius: 24px!important;
//    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
//    [role="header"]{
//        border-top-right-radius: 24px!important;
//        border-top-left-radius: 24px!important;
//    }
//
//    [role="footer"]{
//        display: flex!important;
//        justify-content: space-between!important;
//        width: 100%;
//    }
//}

.timepicker{
    font-size: calc(9px + 0.6vw)!important;
    color: rgba(0, 0, 0, 0.7)!important;
    box-shadow: 0px 10px 49px rgb(0 0 0 / 13%)!important;
    border: 1px solid white !important;
    border-radius: 12px!important;
    width: calc(180px + 6vw)!important;
    li.cell-2{
        &:hover{
            background: $mainBackGroundColor!important;
            color: white!important;
            border-radius:25px;
        }
    }
    .title{
        color: $mainBackGroundColor!important;
        font-size: calc(10px + 0.6vw)!important;
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff!important;
    border-color: #fac24f!important;
    background-color: #fac24f!important;
}
.custom-switch .custom-control-label::after {
    background-color: white!important;
}
.custom-switch .custom-control-label::before {

    background: #C4C4C4!important;
}
.custom-switch{
    label{
        cursor: pointer;
    }
}
