@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import "../../OwlCarousel2/scss/owl.carousel";
@import "../../OwlCarousel2/scss/owl.theme.default";
@import "../../OwlCarousel2/scss/owl.theme.green";
@import "../../loading/loading";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//my style
//@import "../loading/loading";
//dark mode
@media (prefers-color-scheme: dark) {
    body{
        background: #fff!important;
        color:  #555!important;
    }
}
@import "../../datepicker/datepicker";
@import "../vars/var";
@import "mixin";
@import "publicClass";
@import "index/index";
@import "index/media_index";
@import "city/city";
@import "city/city_media";
@import "user/user";
@import "user/checkout";
@import "user/user_scheduling";
@import "user/media_user";
@import "category/serviceProvider";
@import "category/serviceProviderMedia";
@import "category/product";

@import "additions/additions";
@import "additions/additionsMedia";
@import "anyThing/anyThing";
