@import "../mixin";
@media  (max-width: 379px) {
    .gap-15 {
        margin: 0px 2px!important;
    }
    .gap-5 {
        margin: 0px 2px!important;
    }
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth320!important;
            height: 85px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                .dropdown{
                    button{
                        //font-size: $fontSizeMaxWidth320!important;

                    }
                }

            }
            .first > *{
                margin-top: 6px;
            }
        }

        @include toggel-mobile-menu;
        @include btn-white-small-screen;

    }
    .text-section{
      @include margin-top-small-screen;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
            p{

                font-size: 9px!important;

            }
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

              }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 20px;
            box-sizing: border-box;
        }

    }

    .mobile-section{
        //height: calc(208px + 10vw);
        height: auto;
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social-container{
            display: flex;
            //flex-wrap: wrap;

            justify-content: space-around!important;
            .btn-social{
                width: 45%;
                box-sizing: border-box;
                margin: 5px 10px;
                    p{
                        font-size: 8px!important;
                    }
            }

        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        //.btn-social{
        //    width: 32%;
        //    .fab,.fas{
        //        font-size:  calc(9px + 1vw);;
        //        margin: 3% 0px;
        //    }
        //    p{
        //        margin: 0px;
        //        font-size: calc(1px + 0.2vw);
        //    };
        //
        //    h6{
        //        margin: 3px 0px;
        //        font-size: calc(2px + 0.4vw);
        //        font-weight: bolder;
        //    };
        //}

        .parent{
            display: none!important;
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }
}

@media (min-width: 380px)and (max-width: 480px) {
    .gap-15 {
        margin: 0px 3px!important;
    }
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth480!important;
            height: 95px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                .dropdown{
                    button{
                        //font-size: $fontSizeMaxWidth480!important;

                    }
                }

            }
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 60px;
            box-sizing: border-box;
        }

    }
    .mobile-section{
        height: auto;
        .btn-social-container{
            justify-content: space-around!important;
        }
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social{
            width: 35%;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        .parent{
            display: none!important;
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }

}

@media (min-width: 481px) and (max-width: 575px) {
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .gap-15 {
        margin: 0px 7px!important;
    }
    .gap-0-10{
        margin: 2px 0px;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 70px;
            box-sizing: border-box;
        }

    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            height: 106px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                .dropdown{
                    button{
                        //font-size: $fontSizeMaxWidth768!important;

                    }
                }
            }
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto;
        .btn-social-container{
            justify-content: center!important;
            //box-sizing: border-box;
            button{
                margin: 0px 15px;

            }
        }
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social{
            width: 29%;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        .parent{
            display: none!important;
        }
    }

    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 675px) {
    .container{
        max-width: 560px;
    }
    .gap-shape {
        margin: 2px 2px!important;
    }
    .gap-15 {
        margin: 0px 10px!important;
    }
    .gap-0-10{
        margin: 4px 0px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            height: 106px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                .dropdown{
                    button{
                        //font-size: $fontSizeMaxWidth768!important;

                    }
                }
            }
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }
    .shape-section{
        .shape-12{
            display: flex;
            flex-wrap: wrap;
            margin: 0px 20px;
        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 20px;
            box-sizing: border-box;
        }
    }

}
@media (min-width: 677px) and (max-width: 768px) {
    .gap-shape {
        margin: 0px 4px!important;
    }
    .container{
        max-width: 680px!important;
    }
    .gap-15 {
        margin: 0px 10px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            height: 106px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                .dropdown{
                    button{
                        //font-size: $fontSizeMaxWidth768!important;

                    }
                }
            }
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }

}
@media (min-width: 769px) and (max-width: 851px) {
    .header-section{
        .header-top{
            height: 106px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;

            }
            .first > *{
                margin-top: 6px;
            }
        }

        @include btn-white-small-screen;
        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;

    }
    .gap-shape {
        margin: 0px 4px;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }

}

@media (min-width: 852px) and (max-width: 991px) {
    .container{
        max-width: 855px!important;
    }
    .header-section{
        .header-top{
            height: 106px;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;

            }
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;

        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-right: 0px!important;
            }
        }
    }


}

@media (min-width: 992px) and (max-width:1100px) {
    .second-header{
        //.btn-menu-mobile{
        //    display: block!important;
        //}
        //@include toggel-mobile-menu;
    }
    .mobile-section{
        //.parent {
        //    position: relative;
        //    //left: 13%;
        //    //left: 6vw;
        //    margin-left: -13%;
        //}

        .parent{
            .photo2{
                top: 130px;
                left: 51px;
                //transform: translate(-11px, 15px);
                transform: rotateY(180deg) translateX(-57px);
            }
            .photo1{
                top: 111px;
                right: -10px;
                //transform: translate(-21px, 28px);
                img{
                    transform: rotateY(180deg) translateX(-50px);

                }
            }
        }

    }


}

@media (min-width: 1101px) and (max-width: 1230px) {
    .mobile-section{
        //.parent {
        //    position: relative;
        //    //left: 10%;
        //    left: 5vw;
        //}

        .parent{
            .photo2{
                top: 100px;
                //transform: translate(-11px, 15px);
                transform: rotateY(180deg) translateX(-35px);
            }
            .photo1{
                top: 77px;
                //transform: translate(-21px, 28px);
                img{
                    transform: rotateY(180deg) translateX(-50px);

                }
            }
        }
    }

}

@media (min-width: 1531px) and (max-width: 1800px) {
.container{
    max-width: 1450px;
}
    .text-section{
        .address{
            font-size: calc(7px + 1.8vw);
            transform: translateX(0%);
        }
    }
    .mobile-section{
        .btn-social  {
            h6{
                font-size: calc(9px + 0.5vw);
            }
        }
     .circle{
         height: 720px;

     }
        .parent{
            .photo2{
                top: 104px;
                left: 71px;

            }
            .photo1{
                top: 75px;
                right: 0px;

            }
        }


    }

}

@media (min-width: 1801px) and (max-width: 2000px) {
    .gap-15{
        //gap: 25px;
        margin: 0px 20px!important;
    }

    .gap-10{
        //gap: 25px;
        margin: 0px 15px!important;
    }
    .text-section{
        .address{
            font-size: calc(7px + 1.8vw);
            transform: translateX(8%);
        }
    }
    .container{
        max-width: 1650px;
    }
    .mobile-section{
        .btn-social  {
            h6{
                font-size: calc(9px + 0.5vw);
            }
        }
        .circle{
            height: 780px;

        }
        .parent{
            .photo2{
                top: 104px;
                left: 71px;

            }
            .photo1{
                top: 75px;
                right: 0px;

            }
        }
    }

}
