@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import "../../../OwlCarousel2/scss/owl.carousel";
@import "../../../OwlCarousel2/scss/owl.theme.default";
@import "../../../OwlCarousel2/scss/owl.theme.green";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//my style
@import "../../../loading/loading";
//dark mode
@media (prefers-color-scheme: dark) {
    body{
        background: #fff!important;
        color:  #555!important;
    }
}
@font-face {
    src:url("../../fonts/en/Lato-Regular.ttf");
    src:url("../../fonts/en/Lato-Italic.ttf");
    font-family: latoRegular;
}
@font-face {
    src:url("../../fonts/en/font2/Lato-Regular.ttf");
    src:url("../../fonts/en/font2/Lora-MediumItalic.ttf");
    font-family: mediumItalic;
}
@font-face {
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/RobotoSlab-Regular.ttf");
    font-family: enfont;
}
body{
    font-family: enfont;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
[x-cloak] {
    display: none !important;
}
.pagination{
    .page-link{
        color: #FF7020 !important;
        border: 1px solid #fac24f!important;
        &:hover{
            background-color: #fac24f!important;
            color: white!important;
        }
    }
    .disabled{
        .page-link{
            background-color: #F5F0F0;
        }
    }
    .active{
        .page-link{
            background: #FF7020 !important;
            border: 1px solid #fac24f!important;
            color: white !important;

        }

    }
}

.form-control{
    color: rgba(0, 0, 0, 0.7)!important;
    font-size: calc(8px + 0.5vw)!important;
    border: 1px solid rgba(0, 0, 0, 0.05)!important;
    border-radius: 5px!important;

}
.dropdown-menu{
    //.dropdown-item >  svg + * + {
    //    margin-right: 1rem;
    //}
    .dropdown-item{

        svg{
            margin-right: 0.5rem;
        }
        &:hover{
            background: #FFAB00!important;
            color: white!important;
            svg{
                path{
                    stroke: white!important;
                }
            }
        }

    }
}
@import "../../../datepicker/datepicker";
@import "../../vars/var";
@import "../mixin";
@import "../publicClass";
@import "dashboard/dashboardStyle.scss";
@import "dashboard/dashboardMediaStyle";
@import "basicInfo/info";
@import "basicInfo/infoMedai";
@import "workTime/workTime";
@import "workTime/workTimeMedai";
@import "banner/banner";
@import "banner/bannerMedai";
@import "size/size";
@import "size/sizeMedai";
@import "food/food";
@import "food/foodMedia";
@import "order/order";
@import "order/orderMedia";
