@import "../mixin";
@import "../../vars/var";
@import "../publicClass";
@font-face {
    src:url("../../fonts/en/Lato-Regular.ttf");
    src:url("../../fonts/en/Lato-Italic.ttf");
    font-family: latoRegular;
}
@font-face {
    src:url("../../fonts/en/font2/Lato-Regular.ttf");
    src:url("../../fonts/en/font2/Lora-MediumItalic.ttf");
    font-family: mediumItalic;
}
@font-face {
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/RobotoSlab-Regular.ttf");
    font-family: enfont;
}
.city-restaurant-banners-section{
    .address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 30px;
        font-size: calc(9px + 1.7vw);
        line-height: calc(7px + 1.5vw);

        color: #000000;
    }
    .address2{
        margin-top: calc(4px + 0.5vw);;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 1vw);
        line-height: calc(7px + 1vw);
        color: #000000;


    }
    .content{
        margin-top: calc(4px + 0.5vw);;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 0.7vw);
        line-height: calc(7px + 0.7vw);
        color: #7f7f7f;
    }
}
