.food-section{
    padding: 1.2rem 3rem 3rem 3rem;

    .food-list{
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
        flex-wrap: wrap;

        .item{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 1rem;
            background: white;
            width: 17rem;
            border-radius: 10px;
            margin-right: 1rem;
            margin-top: 1rem;
            .user-input{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                .item1{
                    padding: 0.3rem 1rem!important;
                    display: flex!important;
                }
                .dropdown-item{
                    padding: 0.25rem 1rem!important;
                    font-size: calc(8px + 0.5vw);
                }
                label,
                .dropdown_selecte_btn{
                    font-size:calc(7px + 0.8vw) ;
                    color: #0F0F0F;
                    padding: 0px;
                    margin-bottom: 0px;
                }
            }
            .btn-container{
                width: 30%;
            }
            .icon,.text{
                margin-bottom: 0.5rem;
                font-weight: 500;
                //font-size: 24px;
                //line-height: 36px;
                p{
                    font-size:calc(7px + 0.8vw) ;
                    color: #0F0F0F;
                }
                i{
                    color: #EA4989;
                    //color: #FE2E17;
                    font-size:calc(10px + 1.2vw) ;
                }
                svg{
                    path{
                        fill: #EA4989!important;
                    }
                }

            }
        }
    }

    .food{
        .dropdown-menu{
            left: -100px!important;
            transform: translate3d(-40%, 38px, 0px)!important;
            right: 0px!important;
            width: calc(300px + 5vw);
        }
        margin-top: 1.5rem;
        @include custom-table;
        .img{
            width: calc(60px + 0.5vw);
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
    }

}
.add-food-section{
    padding: 1.2rem 3rem 3rem 3rem;

    .preview-window{
        width: 60vw;
        min-width: 300px;
        background: rgb(247, 249, 251);
        .user-input{
            width: 48%;
        }
        .header{

            button{
                width: auto;
                height: auto;
            }
        }

        .content{
            .input-file-container{
                position: relative;
                //max-width: 240px;
                //min-width: 150px;
                //width: 18vw;
                //width: calc(230px + 5vw);
                //min-height: calc(80px + 5vw);
                width: calc(170px + 5vw);
                height: calc(100px + 5vw);
                //height: calc(140px + 5vw);
                padding: 0rem;
                //margin-bottom: 2rem;
                .img{
                    position: absolute;
                    inset: 0 0 0 0;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background: white;
                    img{
                        width: 100%;
                        height: 100%;
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;

                    }
                }


                .input-handel{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    padding: 0.5rem 1.5rem;
                    min-height: calc(80px + 5vw);
                    inset: 0px 0px 0px 0px;
                    width: 97%;
                    height: 97%;
                    z-index: 1;
                    margin: 0.5rem;
                    //margin-bottom: 2rem;
                    background: white;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;
                    max-height:  calc(90px + 6vw);

                    .items{
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        align-items: center;
                        position: absolute;
                        inset: 0 0 0 0;
                        margin: auto;
                        width: 50%;
                        height: 50%;
                        z-index: 3;
                    }
                }
                .brows{
                    color: $mainBackGroundColor!important;
                    font-size: calc(12px + 1.55vw);
                    font-weight: bolder;
                }
                .text1{
                    //font-size: 14px;
                    //line-height: 16px;

                    //color: #000000;
                    font-size: calc(7px + 0.3vw);
                    color: rgb(0,0,0,0.9);
                    margin-bottom: 0px!important;
                }
                i{
                    color: rgb(0,0,0,0.6);
                    //color: $mainBackGroundColor!important;

                }
                .photo-input{
                    position: relative;
                    height: 100%;
                    z-index: 10;
                    opacity: 0;
                }
            }
            .btn-container{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 1.5rem;
                button{
                    margin: 0rem 1rem;
                }
            }
            .dropdown button {
                height: calc(35px + 0.5vw);
                color: rgba(0, 0, 0, 0.7) !important;
                font-size: calc(8px + 0.5vw) !important;
                border: 1px solid rgba(0, 0, 0, 0.05) !important;
                border-radius: 5px !important;
                background: #fff;
                width: 100%;
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }
        }

    }
    .btn-container{
        .btn-edit-delivaz{
            //width: calc(130px + 2vw);
            width: calc(145px + 2vw);
            height: calc(35px + 0.5vw);
        }
    }
.food-heading{

}
    .filters-list{
        display: flex;
        width: 100%;
        flex-direction: column;
        //flex-wrap: wrap;
    }

    .food-filters{
        margin-top: 2.5rem;
    }
    .food-addition-photo{
        margin-top: 2.5rem;
        .addition-photos{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .photo{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: calc(170px + 5vw);

                box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
                border-radius: 10px 10px 0px 0px;
                //padding: 0.5rem;
                margin: 0.5rem 0.5rem;
                .img{
                    width: 100%;
                    height: calc(100px + 5vw);
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                .footer{
                    display: flex;
                    justify-content: space-between;
                    margin: 0.5rem 0.5rem;
                    //background: #fafaff;
                    .text1{
                        font-size: calc(9px + 0.5vw);
                        color: rgba(0, 0, 0, 0.45);
                    }
                    .btn-delete-delivaz{
                        svg{
                            transform: scale(1.5);
                        }
                    }
                }

            }
        }
       .food-heading .btn-edit-delivaz{
            width: calc(150px + 2vw);
        }
    }

    .basic-food-info{
        .items{
            background: #fafaff;
            padding: 0.5rem;
            margin: 0.5rem 0rem;
        }
        label{
            .name{
                color: #2C82C9;
                font-size: calc(7px + 0.4vw);
                margin-left: 0.5rem;
            }
        }
    }
    .food-sizes{
        margin-top: 2.5rem;

        .sizes-list{
            background: #fafaff;
            padding: 0.5rem;
            margin: 0.5rem 0rem;
        }
        .new-size{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5rem;
            .name{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 32%;
                font-size: calc(9px + 0.5vw);
                color: rgba(0, 0, 0, 0.45);
                svg{
                    margin-right: 0.5rem;
                }

            }
            .price{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 32%;
                font-size: calc(9px + 0.5vw);
                color: rgba(0, 0, 0, 0.45);

            }
            .btn-container{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 32%;
                .btn-edit-delivaz{
                    border-radius: 10px;
                    padding: 0.5rem 1.5rem;
                    font-weight: normal;
                    font-size: calc(8px + 0.4vw);
                    line-height: calc(20px + 0.4vw);
                    width: auto;
                    margin: 0rem 0.5rem;
                    i{
                        transform: scale(1.6);
                    }
                }
                .btn-delete-delivaz{
                    margin: 0rem 0.5rem;
                    svg{
                        transform: scale(2);
                    }
                }
            }
        }
    }
    .food-additions{
        margin-top: 2.5rem;
       .preview-window{
           .content{
               .input-file-container{
                   position: relative;
                   width: calc(110px + 2.5vw);
                   height: calc(100px + 1vw);
                   padding: 0.5rem;
                   max-width: 200px;
                   .input-handel{
                       min-height: auto;
                       width: 100%;
                       height: 100%;
                       padding: 0px;
                       margin: 0px;
                       .items{
                           width: 95%;
                           height: 90%;
                           svg{
                               width: 40%;
                           }
                           p{
                               padding: 0.5rem;
                           }
                       }

                   }
               }
           }
       }
        .food-additions-container{
            background: rgba(255, 255, 255, 0.5);
             tbody{
                background: transparent!important;
            }
            padding:0.5rem;
        }
        @include custom-table;

        .text3{
            font-size: calc(8px + 0.5vw);
            color: #000000;
        }

        .addition{
       width: 100%;
            .img{
                width: calc(70px + 1vw);
                margin: 0rem 0.5rem;
                max-width: 90px;
                min-width: 70px;
                img{
                    width: 100%;
                    border-radius: 20px;
                }
            }

            td{
                font-size: calc(8px + 0.4vw);
                color: rgba(0, 0, 0, 0.45);
            }
            .btn-container{
                width: 15%;
                display: flex;
                align-items: center;
                .btn-edit-delivaz{
                    border-radius: 10px;
                    padding: 0.5rem 1.5rem;
                    font-weight: normal;
                    font-size: calc(8px + 0.4vw);
                    line-height: calc(20px + 0.4vw);
                    width: auto;
                    margin: 0rem 0.5rem;
                    i{
                        transform: scale(1.6);
                    }
                }
                .btn-delete-delivaz{
                    margin: 0rem 0.5rem;
                    svg{
                        transform: scale(2);
                    }
                }
            }
        }
    }
}

.food-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    label{
        font-size: calc(8px + 0.5vw);
        color: rgba(0, 0, 0, 0.8);
    }
    .text1{
        font-size: calc(9px + 0.5vw);
        color: rgba(0, 0, 0, 0.45);
    }
    .colum-2,.colum-1{
        display: flex;
        flex-direction: column;
        width: 48%;
        .user-input{
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
    .colum-2{
        align-items: flex-end;
        .user-input-2{
            width: calc(165px + 5vw);
            margin-bottom: 0.5rem;
        }
    }
    .other-photo{
        display: flex;
        width: calc(170px + 5vw);
        label{
            margin-bottom: 0px;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
        }
        .img{
            width: 95%!important;
            height: 95%!important;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        .input-file-container{
            width: calc(90px + 0.5vw) !important;
            height: calc(50px + 0.5vw) !important;
            min-height: auto!important;
            input{
                min-height: 100%!important;
            }
            .input-handel{
                min-height: auto!important;
            }
        }
        .user-input{
            width: auto;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            button{
                width: calc(95px + 2vw);
                height: calc(35px + 0.5vw);
            }
        }
        .image-container{
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
            .img{
                width: calc(230px + 3vw);
                height: calc(140px + 3vw);

                img{
                    width: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                    height: 100%;
                }
            }

            .img-footer{
                display: flex;
                justify-content: space-between;
                padding: 0.9rem;
                button{
                    width: calc(95px + 2vw);
                    height: calc(35px + 0.5vw);
                }

            }
        }
    }
    .filter-state{


        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        align-content: center;
        //width: calc(150px + 8vw);
        background: transparent;
        border-radius: 500px;
        //height: calc(30px + 1vw);
        //padding: 0.9rem 1rem;
        padding: 0.5rem 1rem 0.8rem 3rem;
        .custom-switch{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        input{
            position: relative;
            opacity: 0;
        }
        input:checked ~ .custom-control-label::after {
            background-color: #fff!important;
            //transform: translateX(2.2rem)!important;
            //transform: translateX(130%)!important;
            transform: translateX(0px);

        }
        input:checked ~ .custom-control-label::before {
            background: #2CC990!important;
            //border: 1px solid #E8E8E8!important;
            border: none!important;
        }
        .custom-control-label{
            font-size: calc(9px + 0.7vw)!important;
            color: #4B4B4B!important;
            font-weight: bolder;
        }
        .custom-control-label::after{
            width: calc(15px + 1vw)!important;
            height: calc(13px + 0.9vw)!important;
            top: 3px !important;
            left: calc(-2.5rem + 2px)!important;
            border-radius: 100%!important;
            //top: -0.09rem  !important;
            //left: calc(-3.2vw - 46px) !important;
            background: #C9C9C9!important;
            transform: translateX(-37px);

        }
        .custom-control-label::before{

            left: -2.5rem!important;
            top: -0.05rem!important;
            width: calc(38px + 2.5vw) !important;
            height: calc(18px + 1vw) !important;
            border-radius: 500px!important;
            background: #F6F5FF!important;
            border: 1px solid #C9C9C9!important;
            //left: -4.6rem!important;
            transform: translateX(-54%)!important;
            //left: calc(-25px - 2vw)!important;
            //top: -0.25rem!important;
        }
    }
    .additions-stored,.additions{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .header-2{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 2rem;
            button{
                width: calc(130px + 2vw);
                height: calc(35px + 0.5vw);
            }
        }
        .addition{
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin-top: 0.5rem;
            .img{
                width: 20%;
                margin:0rem 0.5rem;
                img{
                    width: 100%;
                    border-radius: 20px;
                }
            }
            .name{
                width: 25%;
                color: #2C82C9;
                font-size: calc(7px + 0.4vw);
                display: flex;
                align-items: center;
            }
            .price{
                width: 35%;
                color: #000000;
                font-size: calc(7px + 0.4vw);
                display: flex;
                align-items: center;
            }
            .btn-container{
                width: 15%;
                display: flex;
                align-items: center;
            }
        }
        .preview-window{
            width: 60vw;
            min-width: 300px;
            background: rgb(247, 249, 251);
            .user-input{
                width: 48%;
            }
            .header{

                button{
                    width: auto;
                    height: auto;
                }
            }
        }
        //width: 100%;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            //margin-top: 2rem;
            button{
                width: calc(130px + 2vw);
                height: calc(35px + 0.5vw);
            }
        }
        .user-input{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .input-file-container{
                position: relative;
                width: calc(110px + 2.5vw);
                height: calc(100px + 1vw);
                padding: 0.5rem;
                max-width: 200px;
                .input-handel{
                    min-height: auto;
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin: 0px;
                    .items{
                        width: 95%;
                        height: 90%;
                        svg{
                            width: 40%;
                        }
                        p{
                            padding: 0.5rem;
                        }
                    }

                }
            }

        }
        .addition-items{
            display: flex;
            flex-direction: column;
            width: 100%;
            .btn-container{
                display: flex;
                width: 100%;
                height: 100%;
                align-content: flex-end;
                align-items: flex-end;
                button{
                    width: calc(95px + 2vw);
                    height: calc(35px + 0.5vw);
                    padding: 0.5rem !important;
                    margin: 0.5rem;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .new-size{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.5rem;
        .name{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 32%;
            color: #2C82C9;
            font-size: calc(7px + 0.4vw);
            svg{
                margin-right: 0.5rem;
            }

        }
        .price{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 32%;
            font-size: calc(7px + 0.4vw);

        }
        .btn-container{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 32%;
        }
    }
    .add-size-section{
        .preview-window{
            width: 60vw;
            min-width: 300px;
            background: rgb(247, 249, 251);
            .user-input{
                width: 48%;
            }
            .header{

                button{
                    width: auto;
                    height: auto;
                }
            }
        }
        label{
            .name{
                color: #2C82C9;
                font-size: calc(7px + 0.4vw);
                margin-left: 0.5rem;
            }
        }

    }
    .dropdown{
        button{
            height: calc(35px + 0.5vw);
            color: rgba(0, 0, 0, 0.7) !important;
            font-size: calc(8px + 0.5vw) !important;
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            border-radius: 5px !important;
        }
    }
    .sizes{
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;


            .btn-container{
                display: flex;
                width: 100%;
                height: 100%;
                align-content: flex-end;
                align-items: flex-end;
                justify-content: center;

                button{
                    width: auto;
                    height: auto;
                    margin: 1rem 0.7rem;
                }
                a{
                    width: calc(130px + 2vw);
                    height: calc(35px + 0.5vw);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }


        //.btn-container{
        //    display: flex;
        //    justify-content: center;
        //    margin-top: 0.5rem;
        //    align-items: flex-end;
        //    .btn-save-delivaz,.btn-cancle2-delivaz{
        //        margin: 0rem 0.9rem;
        //    }
        //    //align-items: flex-end;
        //   .btn-edit-delivaz,button{
        //       //height: 60%;
        //       //width: 80%;
        //       width: calc(95px + 2vw);
        //       height: calc(35px + 0.5vw);
        //       padding: 0.5rem !important;
        //       margin: 0.5rem;
        //   }
        //}
        .user-input{
            width: 60%;
            margin-bottom: 0rem;
            //.dropdown{
            //    button{
            //        height: calc(35px + 0.5vw);
            //
            //    }
            //
            //}
            //width: calc(200px + 5vw);
        }
        //.btn-container{
        //    //width: 20%;
        //    button{
        //        width: calc(130px + 2vw);
        //        height: calc(35px + 0.5vw);
        //        padding: 0.5rem!important;
        //        margin: 0rem;
        //        //margin-bottom: 0px;
        //        //margin-bottom: 0px;
        //
        //    }
        //}
    }

    textarea{
        resize: none;
    }
    label{
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //line-height: 16px;
        font-size: calc(8px + 0.5vw);
        //margin-bottom: 0.4rem;
        color: #000000;
        small{
            color: #ADB5BD;
            font-size: calc(7px + 0.4vw);

        }
        //span{
        //    margin: 0.3rem;
        //}
    }
    .dropdown-toggle::after{
        color:  rgba(51, 41, 41, 0.6);
    }
    .dropdown-toggle{
        background: #fff;
        width: 100%;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: calc(8px + 0.5vw);
    }

    .user-input2{
        width: 48%;
        .user-input{
            width: 100%!important;
            margin-bottom: 0.5rem;
        }
    }
    .time-container{
        margin-top: -1.7rem;
    }
    .user-input{
        //padding: 0.5rem;
        width: 48%;

        .dropdown{
            //width: calc(90px + 5vw) ;
            width: 100%;

        }
        .dropdown-menu{
            .dropdown-item{
                &:hover{
                    background: #FFAB00!important;
                    color: white!important;
                }

            }
            max-height: calc(2vw + 200px);
            overflow-y: scroll;
            width: 100%;
            min-width: 100%;
            //width: calc(80px + 4.5vw) ;
            //
            //min-width: calc(80px + 5vw);
            //max-width: calc(70px + 4.5vw);
            margin: auto;
        }
        .input-group{
            .input-group-prepend{
                background: white!important;
                border: none!important;
                //border-radius: 0px!important;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 5px;
                border-top-right-radius: 0px;
                border-right: 2px solid #979595!important;
                padding: 0.375rem 0.75rem;
                margin-right: 0px!important;
            }
            .form-control{
                border-top-left-radius: 0px!important;
                border-bottom-left-radius: 0px!important;
            }

        }
        .banner-input{
            width: 100%;
            opacity: 0;
            height: 100%;
            cursor: pointer;
            min-height: calc(80px + 5vw);
            z-index: 5;
            position: relative;
        }
        .input-file-container{
            position: relative;
            //max-width: 240px;
            //min-width: 150px;
            //width: 18vw;
            //width: calc(230px + 5vw);
            //min-height: calc(80px + 5vw);
            width: calc(170px + 5vw);
            height: calc(100px + 5vw);
            //height: calc(140px + 5vw);
            padding: 0rem;
            //margin-bottom: 2rem;
            .img{
                position: absolute;
                inset: 0 0 0 0;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: white;
                img{
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;

                }
            }


            .input-handel{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
                padding: 0.5rem 1.5rem;
                min-height: calc(80px + 5vw);
                inset: 0px 0px 0px 0px;
                width: 97%;
                height: 97%;
                z-index: 1;
                margin: 0.5rem;
                //margin-bottom: 2rem;
                background: white;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
                max-height:  calc(90px + 6vw);

                .items{
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    position: absolute;
                    inset: 0 0 0 0;
                    margin: auto;
                    width: 50%;
                    height: 50%;
                    z-index: 3;
                }
            }
            .brows{
                color: $mainBackGroundColor!important;
                font-size: calc(12px + 1.55vw);
                font-weight: bolder;
            }
            .text1{
                //font-size: 14px;
                //line-height: 16px;

                //color: #000000;
                font-size: calc(7px + 0.3vw);
                color: rgb(0,0,0,0.9);
                margin-bottom: 0px!important;
            }
            i{
                color: rgb(0,0,0,0.6);
                //color: $mainBackGroundColor!important;

            }
        }

    }



}
.menu-section{
    padding: 1.2rem 3rem 3rem 3rem;

    .content{

        .list{
            display: flex;
            flex-direction: column;
            border: 1px solid #C4C4C4;
            width: 70%;
            -webkit-box-shadow: 9px 10px 17px -5px rgba(197, 191, 191, 0.79);
            .custom-switch-container:last-of-type {
                //color: lime;
                padding-bottom: 1.5rem;
            }

            p{
                margin-bottom: 1rem;
                font-size: calc(7px + 0.7vw);
            }
            .header{
                border-bottom: 1px solid #fe2e17;
                //margin-bottom: 1rem;
                //padding-left: 2rem;
                //padding-top: 2rem;
                padding: 2rem;
                padding-bottom: 0rem;
            }
            .user-input{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: flex-end;
                align-items: flex-end;
            }
            .form-control{
                opacity: 1!important;
                //border: 1px solid #fff !important;
                border: 1px solid #C9C9C9 !important;
                border-radius: 5px !important;
                width: 80%;
            }
            .custom-switch-container{
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 1rem;
                //padding-bottom: 0.3rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            }
            .custom-switch{
                //width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 2rem;
                margin-bottom: 1rem;

            }

            input{
                position: relative;
                opacity: 0;
            }
            input:checked ~ .custom-control-label::after {
                background-color: #fff!important;
                //transform: translateX(2.2rem)!important;
                transform: translateX(130%)!important;

            }
            input:checked ~ .custom-control-label::before {
                background: #2CC990!important;
                //border: 1px solid #E8E8E8!important;
                border: none!important;
            }
            .custom-control-label{
                font-size: calc(9px + 0.7vw)!important;
                color: #4B4B4B!important;
                font-weight: bolder;
            }
            .custom-control-label::after{
                width: calc(15px + 1vw)!important;
                height: calc(13px + 0.9vw)!important;
                border-radius: 100%!important;
                top: -0.07rem  !important;
                //left: calc(-4.25rem - 2px)!important;
                left: calc(-3.2vw - 46px) !important;


                background: #C9C9C9!important;

            }
            .custom-control-label::before{

                width: calc(38px + 2.5vw) !important;
                height: calc(18px + 1vw) !important;
                border-radius: 500px!important;
                background: #F6F5FF!important;
                border: 1px solid #C9C9C9!important;
                //left: -4.6rem!important;
                transform: translateX(-54%)!important;
                left: calc(-25px - 2vw)!important;
                top: -0.25rem!important;
            }
        }

    }
}
