.anything-section{
    margin: 3.2rem 0rem;
    margin-top: 12rem;
    .user-cart-check-toast{
        .user-input{
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: 0.5rem 2rem;

            input[type=file]::file-selector-button {
                display: none!important;
            }
            .input-file-container{
                position: relative;
                .input-handel{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    padding: 0.5rem 1.5rem;
                    inset: 0px 0px 0px 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    margin: auto;
                    background: white;
                    .brows{
                        color: $mainBackGroundColor!important;
                        font-size: calc(6px + 0.55vw);
                        font-weight: bolder;
                    }
                    .text1{
                        font-size: calc(6px + 0.45vw);
                        color: rgb(0,0,0,0.6);
                    }
                    i{
                        color: rgb(0,0,0,0.6);
                        //color: $mainBackGroundColor!important;

                    }
                }
            }

            .personal-image-input{
                position: relative;
                max-width: 250px;
                min-width: 190px;
                max-height: 100px;
                height: calc(50px + 10vw);
                opacity: 0;
                cursor: pointer;
                z-index: 2;

            }
            .img{
                max-width: 190px;
                min-width: 120px;
                height: calc(60px + 6vw);
                width: 12vw;
                min-height: 136px;
                margin: 0rem 1rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
        }
    }
    //.any-thing-container > * + *  {
    //    margin-left: 1rem;
    //}

    .address{
        font-style: normal;
        font-weight: normal;
        //font-size: 36px;
        //line-height: 42px;
        font-size: calc(9px + 1.2vw);
        color: #000000;
    }


    .left-side{
        background: #F7F9FD;
        border-radius: 50px;
        padding: 1.7rem 1.7rem 3.7rem 1.7rem;
        max-height: 550px;
        .img{
            width: 80%;
            height: 65%;
            margin: 1.5rem auto;
            max-width: 250px;
            min-height: 250px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .rigth-side{
        padding: 1.5rem;

    }

    .text-1{
        font-style: normal;
        font-weight: normal;
        //font-size: 18px;
        font-size: calc(9px + 0.7vw);
        line-height: 10px;

        /* identical to box height */

        color: #000000;
    }

    .text-2{
        font-style: normal;
        font-weight: normal;
        //font-size: 12px;
        font-size: calc(6px + 0.4vw);
        line-height: 10px;

        /* identical to box height */

        color: #352F2F;
    }
    .text-3{
        font-style: normal;
        font-weight: normal;
        font-size: calc(6px + 0.4vw);
        line-height: 10px;
        color: #6C6C6C;
    }

    .text-area-container{
        margin-top: 0.3rem;
        margin-bottom: 2rem;
        position: relative;
        textarea{
            background: #FFFFFF;
            border: 1px solid #8E8E8E;
            box-sizing: border-box;
            border-radius: 10px;
            resize: none;
        }


        .btn-container{
            margin-bottom: 0rem;
            position: absolute;
            bottom: 0px;
            right: 10px;
            width: 25%;
            .img{
                width: 40px;
                height: 40px;
                margin-bottom: 3px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            button{
                font-size: calc(7px + 0.4vw);

            }
            i{
                font-size: calc(10px + 0.6vw);

            }
        }
    }
    .btn-container{

        margin-bottom: 1rem;
        .btn-option{
          margin: 0.5rem;
            font-size: calc(9px + 0.3vw);
            width: calc(140px + 1.2vw);
        }
    }
    .user-input{
        margin-bottom: 1.5rem;
        i{
            color: #5D5D5D;
        }
        input{
            border: none;
            border-bottom: 1px solid rgb(0,0,0,0.25)!important;
            //border-bottom: 5px solid red;
            border-radius: 0px!important;
            color: #5D5D5D;
            //font-size: 18px;
            font-size: calc(9px + 0.4vw);
        }

        .dropdown{
            display: flex;
            justify-content: start;
            width: 100%;
            .dropdown-toggle::after {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
            }
            #dropdown_selecte_btn{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                //align-content: center;
                //align-items: end;
                color: #5D5D5D;
                font-size: calc(9px + 0.4vw);
                border-bottom: 1px solid rgb(0,0,0,0.25)!important;
                border-radius: 0px!important;
            }
            .dropdown-menu{
                width: 100%;
                max-height: 310px;
                overflow: scroll;
                p{
                    color: #5D5D5D;
                    font-size: calc(9px + 0.4vw);
                }
            }
        }
    }

    .user-info{
        margin-top: 6rem;
        .user-input{
            margin-bottom: 0.5rem;
        }
    }
    .map{
        margin: 3rem 0rem;
        .img{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .Place-Order{
        width: 55%;
        button{
            margin-bottom: 0.5rem;
        }
    }

}
@media  (max-width: 900px) {
    .anything-section{
        margin: 2rem 0rem 0rem 0rem!important;

        .left-side{
            //padding: 1.7rem 0rem!important; ;
            max-height: 400px!important;
        }
        .rigth-side{
            //padding: 1.5rem 0rem!important;
            padding: 1.5rem 0rem 0rem 0rem!important;


        }
    }


    //.map{
    //    .img{
    //       max-width: 500px;
    //    }
    //}
}
