.order-section{
    padding: 1.2rem 3rem 3rem 3rem;

    .order-info{
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        flex-wrap: wrap;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        .item{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 1rem;
            padding-bottom: 2.5rem;
            background: white;
            width: 17rem;
            margin-right: 1rem;
            margin-top: 1rem;
            box-shadow: 0px 12px 33px rgba(62, 73, 84, 0.08);
            border-radius: 12px;
            .info{
                display: flex;
                justify-content: space-between;
                h2{
                    font-weight: 500;
                    //font-size: 28px;
                    //line-height: 42px;
                    font-size: calc(14px + 1vw);
                    color: #0F0F0F;
                }
            }

            .content{
                p{
                    font-size:calc(7px + 0.8vw) ;
                    //color: #0F0F0F;
                    font-weight: 500;
                    //font-size: 16px;
                    //line-height: 24px;
                    color: #3E4954;
                }
            }
        }
    }

    .order-list{
        padding: 1rem;
        margin-top: 2rem;
        background: #FFFFFF;
        box-shadow: 0px 12px 33px rgba(62, 73, 84, 0.08);
        border-radius: 12px;
    }

    .orders{
        margin-top: 3rem;
        .order-row{
            .two-item{
                justify-content: space-between;
                padding: 0.5rem;

                .item1{
                    display: flex;
                    justify-content: start;
                }
                .item2{
                 display: flex;
                    justify-content: start;
                }
            }
            .one-item{
                padding: 0.5rem;

            }
            div{
                display: flex;
                flex-direction: column;
                //align-items: center;
            }
            .img{
                width: 100%;
                img{
                    width: 100%;
                    border-radius: 71px;
                    object-fit: contain;
                }
            }
        }
        //.table tbody, .table tbody tr,  .table thead th, .table thead tr,.table  td{
        //    border: none;
        //}
        //table{
        //
        //}
    }
}
