@media  (max-width: 1000px) {

    .side-bar-section{
        width: 10%!important;
        .sidebar{
            min-width: 170px;
        }
    }
    .content-section{
        width: 90%!important;
        .size,.banner,.work-time{
            padding: 2rem 0.5rem 0.5rem 0.5rem!important;
        }
    }

    //.header-section .second-header .container .header-container .logout .notification-list {
    .header-section{
        .second-header{
            .container{
                .header-container{

                    .mobile-btn-container{
                        display: block!important;
                        margin: 1rem 0rem ;
                    }
                    //.header-container{
                    div.logout{
                        display: none;
                        opacity: 0;
                        flex-direction: column-reverse!important;
                        align-items: flex-end!important;
                        margin-right: 2rem;
                        .logout-container,.notification-container{
                            margin: 0.5rem 0rem ;
                            justify-content: flex-end;
                            padding: 0px!important;
                            border: none!important;
                            .btn-user-menu{
                                padding: 0.5rem 0rem!important;
                            }
                        }
                        .header-address{
                            display: none!important;
                        }
                        .notification-list {
                            min-width: 300px!important;
                        }
                    }

                }

            }

        }
    }


    .side-bar-section {
        display: flex;
        .open-close-container{
            display: none!important;
        }

        .mobile-btn-container{
            display: block!important;
            @include transition-700ms;
        }
        .sidebar-container{
            padding-top: 1rem;
        }
        .sidebar{
            padding-left: 1rem!important;
            display: none;
            opacity: 0;
            transform: translateX(-100%);
        }
    }
}
//@media (min-width: 380px)and (max-width: 480px) {}
@media (min-width: 576px) and (max-width: 675px) {
    .container{
        max-width: 560px;
    }
}

@media (min-width: 677px) and (max-width: 768px) {
    .gap-shape {
        margin: 0px 4px!important;
    }
    .container{
        max-width: 680px!important;
    }
    .gap-15 {
        margin: 0px 10px!important;
    }
    .gap-shape {
        margin: 2px 2px!important;
    }
}

@media (min-width: 852px) and (max-width: 991px) {
    .container{
        max-width: 855px;
    }
}
@media (min-width: 1531px) and (max-width: 1800px) {
    .container{
        max-width: 1450px;
    }
}

@media (min-width: 1801px) and (max-width: 2000px) {
    .gap-15{
        //gap: 25px;
        margin: 0px 20px!important;
    }

    .gap-10{
        //gap: 25px;
        margin: 0px 15px!important;
    }
    .text-section{
        .address{
            font-size: calc(7px + 1.8vw);
            transform: translateX(8%);
        }
    }
    .container{
        max-width: 1650px;
    }
}
