body{
    background: #F6F5FF;
}

.header-section {
    margin-bottom: 0.2rem;
    position: relative;
    z-index: 11;
    a {
        text-decoration: none !important;
        cursor: pointer;
    }


    .dropdown {
        button {
            //@include font-family-en;
            font-family: enfont;
            color: $fontColor;
            padding: 0px 1px;
            font-size: calc(9px + 0.4vw);
        }
    }

    .second-header{
        //padding: 0.5rem 0rem;
        padding-bottom: 0.9rem;
        padding-top: 0.5rem;
        background: #EDEBFF;
        box-shadow: 0px 2px 6px #DDDBF1;
        //background: rgb(238,238,238);
        //background: linear-gradient(123deg, rgba(238,238,238,1) 25%, rgba(254,46,23,0.10127801120448177) 50%, rgba(238,238,238,0.7651435574229692) 75%);
        //box-shadow: 20px 2px 6px rgba(0, 0, 0, 0.15),
        //20px 4px 6px rgba(0, 0, 0, 0.09),
        //20px 8px 6px rgba(0, 0, 0, 0.05);
        //background: rgba(0, 0, 0, 0.02);
        //background: rgb(246,246,247);
        //background: linear-gradient(76deg, rgba(246,246,247,1) 0%, rgba(255,193,7,0.19931722689075626) 49%, rgba(238,233,238,1) 100%);
        //box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.02);
        //-webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.02);
        //-moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.02);
        //box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        .container{
            display: flex;
            flex-direction: row;

            .log{
                z-index: 10;
                height: 6vw;
                max-width: 130px;
                min-width: 75px;
                width: 8vw;
                min-height: 60px;
                max-height: 95px;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            .header-address{
                width: 60%;
                display: flex;
                align-items: start;
                padding: 0px;

                //padding: 0rem 2rem;
                .address{
                    color: rgb(0,0,0,0.8);
                    font-size: calc(12px + 1vw);
                    margin-bottom: 0px!important;
                    font-family: Roboto;
                    font-style: italic;
                    font-weight: normal;
                    //font-size: 24px;
                    //line-height: 28px;

                    color: #000000;
                }
            }
            //.notification{
            //    width: 10%;
            //    justify-content: end;
            //}

            .header-container{
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;

                .logout{
                    @include transition-700ms;
                    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    z-index: 5;
                    //align-items: end;
                    .logout-container{
                        position: relative;
                        z-index: 13;
                        border-left: 1px solid #CACACA;
                        margin-left: 0.5rem;
                        .logout-list{
                            position: absolute;
                            //bottom: -3rem;
                            right: 1rem;
                            width: 16vw;
                            min-width: 200px;
                            //min-width: 250px;
                            max-width: 400px;
                            max-height: 450px;
                            //overflow-y: scroll;
                            padding: 0rem;
                            //margin: 0.5rem 0rem;
                            background-clip: padding-box;
                            border: 1px solid white;
                            z-index: 13;
                            font-size: calc(9px + 0.6vw);
                            color: rgb(0,0,0,0.7);
                            background: #FFFFFF;
                            box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);
                            border: 1px solid white!important;
                            border-radius: 12px;
                            div:first-child{
                                padding-top: 0.3rem ;
                            }
                            div:last-child{
                                padding-bottom: 0.3rem ;
                            }

                            .item-container{
                                border-radius: 12px;
                                padding: 0px!important;
                                margin: 0px!important;
                                //svg:hover {
                                //    //fill: black!important;
                                //    filter: invert(1);
                                //}
                                &:hover{
                                background: #FFAB00;
                                    svg {
                                        //fill: white;
                                        g{
                                            opacity: 1;
                                        }
                                        path{
                                            //stroke: white;
                                            fill: white;
                                        }
                                    }
                                    a{
                                        color: white!important;
                                        background: #FFAB00!important;
                                    }
                            }
                            }
                            .item{
                                padding: 0.3rem 1rem!important;
                                display: flex!important;
                                align-items: center;
                            }
                            .dropdown-item{
                                color: rgb(0,0,0,0.7);
                                font-size: calc(9px + 0.6vw);

                            }
                            //scrollbar-width: thin;
                            //scrollbar-color: #fac24f rgb(0,0,0,0.3);
                        }

                    }
                    .notification-container{
                        position: relative;
                        .btn-user-notification {
                            position: relative;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            border-radius: 100%;
                            padding: 0.8rem 1rem;
                            margin: 0rem 1rem;
                            background: white;
                            color:#11263C;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            //box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);

                            .badge-pill{
                                position: absolute;
                                margin: auto;
                                top: -1rem;
                                right: -1rem;
                                //width: calc(25px + 1vw);
                                //height: calc(25px + 0.4vw);
                                font-size: calc(7px + 0.5vw);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: red!important;
                                opacity: 0.7;
                                color: white!important;
                                border: 3px solid white;
                                padding: 0.4rem 0.5rem;
                            }
                            @include transition-700ms;
                            &:hover{
                                //color: #000000;
                                //background: #ececec;
                                //background: $btnHoverBackgroundColor;
                                //background: #d5d4e7;

                                transform: translateY(-3px);
                            }
                        }
                        .btn-user-notification::after{
                            display: none!important;
                        }
                        z-index:11;
                        ::-webkit-scrollbar {
                            width: 9px;
                        }

                        ::-webkit-scrollbar-track {
                            background:  rgb(0,0,0,0.3);
                        }

                        ::-webkit-scrollbar-thumb {
                            background-color: #fac24f;
                            border-radius: 0px;
                            border: none;
                        }

                    }

                    .notification-list{
                        position: absolute;
                        //bottom: -3rem;
                        right: 0rem;
                        width: 30vw;
                        min-width: 400px;
                        max-width: 600px;
                        max-height: 450px;
                        overflow-y: scroll;
                        //padding: 0.5rem 1rem;
                        padding: 0rem;
                        margin: 0.125rem 0 0;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        scrollbar-width: thin;
                        scrollbar-color: #fac24f rgb(0,0,0,0.3);
                        z-index: 11;
                        font-size: calc(9px + 0.6vw);
                        color: rgb(0,0,0,0.7);
                        box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);
                        border: 1px solid white!important;
                        border-radius: 12px;
                        div:first-child{
                            padding-top: 0.3rem ;
                        }
                        div:last-child{
                            padding-bottom: 0.3rem ;
                        }

                        .item-container{
                            border-radius: 12px;
                            padding: 0px!important;
                            margin: 0px!important;
                            //svg:hover {
                            //    //fill: black!important;
                            //    filter: invert(1);
                            //}
                            &:hover{
                                background: #FFAB00;
                                //svg {
                                //    //fill: white;
                                //    g{
                                //        opacity: 1;
                                //    }
                                //    path{
                                //        //stroke: white;
                                //        fill: white;
                                //    }
                                //}
                                a{
                                    color: white!important;
                                    background: #FFAB00!important;
                                }
                            }
                        }
                        .dropdown-item{
                            color: rgb(0,0,0,0.7);
                            font-size: calc(9px + 0.6vw);
                            border-radius: 12px;

                        }

                    }
                    .btn-user-menu{
                        //background: #F8F8F8;
                        //margin: 0px;
                        position: relative;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        border-radius: 30px;
                        padding: 0.5rem 2rem;
                        margin: 0rem 0.5rem;
                        //color: rgb(0,0,0,0.7);
                        //background: #ffffff;
                        background: transparent;
                        color:#11263C;

                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        .badge-pill{
                            position: absolute;
                            margin: auto;
                            top: -1rem;
                            right: 0rem;
                            //width: calc(25px + 1vw);
                            //height: calc(25px + 0.4vw);
                            font-size: calc(8px + 0.6vw);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: red!important;
                            opacity: 0.7;
                            color: white!important;
                            border: 3px solid white;
                            padding: 0.4rem 0.5rem;
                        }
                        @include transition-700ms;
                        &:hover{
                            //color: #000000;
                            //background: #ececec;
                            //background: $btnHoverBackgroundColor;
                            //background: #d5d4e7;

                            transform: translateY(-3px);
                        }
                    }

                    .personal-image{
                        z-index: 10;
                        height: 4vw;
                        max-width: 75px;
                        min-width: 50px;
                        width: 5vw;
                        min-height: 60px;
                        max-height: 75px;
                        margin: 0rem 0.7rem;
                        //clip-path: circle(50% at 50% 50%);
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                            border-radius: 30px;
                        }
                    }
                }
                .mobile-btn-container{
                    display: none;
                    margin: 0.2rem 0rem!important;
                    .btn-menu-mobile{
                        @include transition-700ms;
                        text-transform: uppercase;
                        width: calc(50px + 2vw);
                        max-width: 110px;
                        height: 45px;
                        font-size: calc(20px + 1vw);
                        background: #FAC24F;
                        border-radius: 12px;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
                        border: 1px #fac24f solid;
                        i{
                            color: white;
                        }
                       .open-icon-header, .close-icon-header{
                            display: none;
                        }
                    }

                }
            }

        }
    }


}

.side-bar-section {
    position: relative;
    .open-close-container{
        //position: absolute;
        //top: 0px;
        //right: 0px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0px;
        margin: 0px;
        .btn-open-close-sideBar{
            @include transition-700ms;
            text-transform: uppercase;
            width: calc(40px + 1vw);
            max-width: 110px;
            height: calc(30px + 0.5vw);
            font-size: calc(10px + 1vw);
            background: transparent;
            border-radius: 12px;
            //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            //box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
            border: none;
            margin: 0.5rem;
            i{
                color: white;
            }
            //.open-sideBar{
            //    display: none;
            //}
        }
    }
    .mobile-btn-container{
        display: none;
        .btn-side-bar-menu{
            position: relative;
            z-index: 10;
            @include transition-700ms;
            text-transform: uppercase;
            width: calc(50px + 2vw);
            max-width: 110px;
            height: calc(35px + 0.7vw);
            font-size: calc(15px + 1vw);
            background: #f74e4e;
            border-radius: 12px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
            border: none;
            //border: 1px #fac24f solid;
            i{
                color: white;
            }
            .open-icon-sideBar, .close-icon-sideBar{
                display: none;
            }
        }

    }
    .sidebar {
        background: linear-gradient(180.73deg, #F1C445 -27.62%, #ED1C24 99.37%);
        svg{
            @include transition-700ms;
        }
        .icon-list{
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: flex-end;
            .ul-side-bar{
                padding: 0px;
                margin: 0px;
                list-style: none;
                display: block;
                width: 50px;
                svg:hover {
                    //fill: black!important;
                    filter: invert(0.9);
                }
            }

        }
        .address{
            color: white;
            font-size: calc(9px + 0.8vw);
            font-weight: bolder;
            //margin-bottom: 1.5rem;
        }
        @include transition-700ms;
        //min-width: 190px;
        position: relative;
        //top: -0.5rem;
        padding-top: 0rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        min-height: 100vh;
        height: 100%;
        border-radius: 0px 15px 0px 0px;

        .ul-side-bar {
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: block;
            width: 100%;
            svg:hover {
                //fill: black!important;
                filter: invert(0.9);
            }
            .ul-item {
                width: 100%;
                //padding: 0.5rem;
                padding: 0px;
                //border-radius: 25% 10% 9% 27% / 29% 9% 11% 22% ;

                .btn-navigation {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    align-content: center;
                    width: 100%;
                    margin: 0px;
                    padding: 0.7rem;
                    color: white;
                    position: relative;
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;
                    @include transition-700ms;

                    p {
                        margin-bottom: 0px;
                        margin-top: 0px;
                        margin-right: 0px;
                        margin-left: 0.5rem;
                        //font-size: 18px;
                        font-size: calc(7px + 0.7vw);
                    }

                    &:hover {
                        transform: translateY(-3px);
                        color: black !important;
                        svg {
                            //fill: black!important;
                            filter: invert(0.9);
                        }
                        //color: black !important;
                        //border-bottom-left-radius: 50px;
                        //border-top-left-radius: 50px;
                        //margin-top: 1.5rem;
                        //margin-bottom: 1.5rem;

                        //border-radius:  25% 10% 9% 27% / 29% 0% 0% 22%!important;
                    }
                }
                .btn-navigation-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    width: 100%;
                    margin: 0px;
                    //margin-left: 0.5rem;
                    padding: 0.7rem;
                    padding-left: 1.2rem;
                    color: white;
                    position: relative;
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;

                    p {
                        margin-bottom: 0px;
                        margin-top: 0px;
                        margin-right: 0px;
                        margin-left: 0.5rem;
                        //font-size: 18px;
                        font-size: calc(9px + 0.4vw);
                    }

                    &:hover {
                        background: white !important;
                        color: black !important;
                        border-bottom-left-radius: 50px;
                        border-top-left-radius: 50px;

                        //border-radius:  25% 10% 9% 27% / 29% 0% 0% 22%!important;
                    }
                }

                .active {
                    background: #F6F5FF !important;
                    color: #FE2E17 !important;
                    svg {
                        //fill: black!important;
                        //filter: invert(0.9)!important;
                        path{
                            fill: #FE2E17 !important;
                        }
                    }
                }

                //.btn-navigation:hover::after {
                //    @include draw-after-shap;
                //}
                //
                //.btn-navigation:hover::before {
                //    @include draw-befor-shap;
                //
                //}


                .active:after {
                    @include draw-after-shap;

                }

                .active:before {
                    @include draw-befor-shap;
                }

                //.btn-navigation-child:hover::after {
                //    @include draw-after-shap;
                //}
                //
                //.btn-navigation-child:hover::before {
                //    @include draw-befor-shap;
                //}

            }
        }

    }
}

.footer-section{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .text1{
        margin-bottom: 0px!important;
        font-size: calc(9px + 0.5vw);
    }
}

.content-section{
    min-height: 100vh;
    @include transition-500ms;
}
