@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import "../../template/vars/var";
@import "../../template/en/mixin";
@import "../../OwlCarousel2/scss/owl.carousel";
@import "../../OwlCarousel2/scss/owl.theme.default";
@import "../../OwlCarousel2/scss/owl.theme.green";
@import "../../loading/loading";
@import "../../template/en/publicClass.scss";
.handel-collapse{
    padding-left: 10px;
    a.active{
        background: #fff;
        color: #f96332;
        border-radius: 25px;
        width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px;
        font-size: 13px;
    }
    a{
        color: whitesmoke;
        font-size: 14px;
        &:hover{
            transition: ease-in-out 0.7s;
            color: #f96332;
            background: white;
            padding: 10px;
            font-size: 13px;
            //margin: 2px;
            margin-bottom: 10px;
            margin-top: 10px;
            border-radius: 25px;
            width: 90%;
            position: relative;
            //display: flex;
            i{
                color: #f96332;

            }
        }
    }
    //a:hover{
    //color: #f96332;
    //}
}
.ul-side-bar{
    //a,i,p{
    //    pointer-events: none;
    //}
    //.active{
    //    i,p{
    //        color: #f96332!important;
    //        //background-color: #fff;
    //    }
    //}
    //.add-pointer-event {
    //    pointer-events: auto;
    //}
    //.change-pointer-event a{
    //    pointer-events: auto;
    //}
}
.bg-warning{
    color: #fff!important;
}
#myModalForImage{
    //width: 90%!important;
    //height: 95vh!important;
    img{
        width: 100%!important;
        height: 100vh!important;
    }
}
.btn-load-img{
    display: none;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50% ,-50%);
    z-index: 10!important;
    &:hover  {
        background: orangered !important;
        color: whitesmoke !important;
    }
    &:hover + .img-doc{
        -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        filter: blur(5px);
    }

}
.img-doc{
    &:hover{
        -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        filter: blur(5px);
    }
}
.alert{
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
}

.file-upload{
    //background: white;
    //border-radius: 50px;
    //box-shadow: 5px 5px 10px black;
    //outline: none;
    margin-top: 10px;
}
.handle-input{
    input[type=file]::file-selector-button {
        border: 2px solid #fac24f;
        padding: 10px;
        border-radius: 20px;
        //background-color: #a29bfe;
        color: #fac24f;
        background: white;
        transition: 1s;
        outline: none;
        box-shadow: none;
        font-size: 14px;
    }
    input[type="file"] {
        //display: none;
        border: none!important;
        background: #fac24f;
        color: white;
        border-radius: 20px;
    }
    label{
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        width: 100%;
    }

}


.card-user .avatar {
    width: 200px!important;
    height: 200px!important;

}


    //.show  {
        div.dropdown-menu{
            position: absolute!important;
            max-height: 400px;
            overflow-y: scroll;
            //transform: translateX(-70px) !important;
            left: -24% !important;
            //transform: translateX(-100px) !important;
        }
    //}
    .user-day{
        display: inline-block;
        color: #f96332;
    }
    .user-work-address{
        display: inline-block;
        color: #adb5bd;
    }
    .user-work-hour-address{
        color: #adb5bd;
    }
    .user-work-table{
        color: #adb5bd;
    }
    .user-day-table{
        color: #f96332;
    }
    .profile-address{
        color: #adb5bd;
        font-size: 16px;
        display: inline-block;
    }
    .profile-content{
        color: #f96332;
        font-size: 15px;
        display: inline-block;
    }

    .restaurant-photo{
        position: relative;
        .imageRes{
            position: absolute;
            bottom: 5%;
            margin: 1%;
            z-index: 100;

            a{
                position: absolute;
                top: 0px;
                right: 0px;
                opacity: 0.7;
            }
            button{
                padding: 10px 15px 10px 15px;
            }
        }
        .restaurant-avatar
        {
            width: 15vw;
            height: auto;
            border: solid #57a7de;

        }
    }
    .imageRes1{
        position: absolute;
        z-index: 10;
        top: -75px;
        border: solid #57a7de;
        border-radius: 50%;
        //width: 124px;
        width: 100px;
        //right: 50px;

        transform: translateX(208px);
        //&:hover{
        //    width: 124px;
        //}
        img
        {
            border-radius: 50%;
            width: 100%;

        }
        a{
            position: absolute;
            top: 26px;
            right: -36px;
            opacity: 0.7;
            z-index: 10001;
            font-size: 9px;
        }
        button{
            padding: 6px 10px 6px 10px;
        }
    }

    .owner-r-v{
        border: solid #ffbc50  1px;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
    }
    .res-setting{
        position: absolute;
        z-index: 10;
        width: 19%;
        top: -4%;
        left: 27px;
        right: 26%;
        color: whitesmoke;
        //font-size: 16px;
        text-transform: uppercase;
        font-size: 0.8571em;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.625rem;
    }



.img-loaded
{
    max-width: 30%;
    border-radius: 50%;
}
.photo-input
{
    max-width: 70%;
    height: 50px;
}


.food-img-loaded{
    max-width: 30%;
    border-radius: 10%;
}
.food-img-view{
    //width: 150px;
    width: 100px;
    border-radius: 10px;
}

.address{
    display: inline-block!important;
    color: #f96332!important;
    font-size: 1em!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
}
.content-text{
    display: inline-block!important;
    color: #7d7b7b !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    //text-transform: uppercase!important;
}
.three-carousel{
    .item{
        img{
            width: 90%;
        }
    }

}
.carousel-vendor{
    .item{
        img{
            width: 90%;
        }
    }
}
.recommended-photo{
    width: 15%;
    border-radius: 10px;
}
.handel-select{
    select{
        padding: 10px 15px;
        width: 100%;
        appearance: none;
        -webkit-appearance:none;
        border: 1px solid #fac24f;
    }
    :after{
        content: "";
        position: absolute;
        right: 10px;
        top:62%;
        border-top: 8px solid #fac24f;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
            }
}
.handel-select:after{
    content: "";
    position: absolute;
    right: 10px;
    top:62%;
    border-top: 8px solid #fac24f;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.btn-outline-success{
    &:hover{
        color: #fff;
        background: #18ce0f;
    }
}
.btn-outline-info{
    &:hover{
        color: #FFFFFF;
        background: #2CA8FF ;
    }
}
.btn-outline-primary{
    &:hover{
        color: #FFFFFF;
        background: #f96332 ;
    }
}

.btn-outline-danger{
    &:hover{
        color: #FFFFFF;
        background: #FF3636 ;
    }
}

.shape-content-select{
  min-height: 300px;
}
.disabled-btn{
    pointer-events: none;
}

.dropdown-menu{
    a{
        text-decoration: none;
        color: #4c4c4c;
    }
}


.fa-times-circle{
    color: red!important;
}
.btn-outline-danger:hover{
    .fa-times-circle{
        color:white!important;
    }
}

[x-cloak] {
    display: none !important;
}

.translation-text{
    font-size: calc(9px + 0.3vw);
    line-height: calc(17px + 0.5vw);
}
.translation-modal{
    max-width: 1290px!important;
}

textarea.form-control {
    max-height: 200px;
}
.table-th-address {
    min-width: 270px;
}

.notification-section{
    position: relative;
    .nav-link{
        position: relative;
        .badge{
            position: absolute;
            top: -10px;
            right: -10px;
            color: white!important;
            font-size: calc(10px + 0.4vw);
        }
    }
    .dropdown-menu{
        width: 70%;
        min-width: 400px;
        max-width: 600px;
        max-height: 450px;
        overflow-y: scroll;
    }
    .dropdown-item{
        .badge{
            color: white!important;
            font-size: calc(7px + 0.3vw);

        }
    }
}
.text-badge{
    font-size: calc(8px + 0.4vw)!important;
}



.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-track {
        background:  rgb(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fac24f;
        border-radius: 0px;
        border: none;
    }
    .ms-options{

        //padding: 0rem;
        //margin: 0.125rem 0 0;
        padding: 0.3rem 0.95rem!important;
        min-width: 100px!important;
        background-color: #fff!important;
        font-size: calc(9px + 0.6vw)!important;
        color: rgba(0, 0, 0, 0.7)!important;
        box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13)!important;
        border: 1px solid white !important;
        border-radius: 12px!important;
        ul{
            list-style: none!important;
            width: 100%!important;
            padding-left: 0px!important;
            input[type="checkbox"] {
                //margin-right: 5px;
                //position: absolute;
                //left: 4px;
                top: 11px!important;
            }


            //.input[type="checkbox"]:checked ~ .custom-control-label::before {
            //    color: #fff!important;
            //    border-color: #fac24f!important;
            //    background-color: #fac24f!important;
            //}
            label,li{
                input[type="checkbox"]:checked {
                    //box-shadow: 0 0 0 3px hotpink;
                    background-color: #fac24f!important;
                    border-color: #fac24f!important;
                }

                &:hover{
                    background: #f8d690 !important;
                    color: white!important;
                    border-radius: 3px!important;
                }
            }

            li.selected{
                background: #f8d690 !important;
                color: white!important;
                border-radius: 3px!important;
                margin: 0.2rem 0rem;
                label{
                    background: #f8d690 !important;
                    color: white!important;
                    border-radius: 3px!important;

                }
            }
        }
    }
    .ms-options{
        scrollbar-width: thin;
        scrollbar-color: #fac24f rgb(0,0,0,0.3);
    }
    background-color: transparent!important;
    border: none!important;
    button{
        border: 1px solid #E3E3E3!important;
        border-radius: 30px!important;
        padding: 10px 18px 10px 18px;
    }
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    margin-top: 1px;
    font-size: 13px;
    color: #aaa;
    outline: none;
    white-space: nowrap;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    text-align:left;

}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    outline: none;
    margin-top: 0.5rem;
    padding: 10px 18px 10px 18px!important;
    background-color: transparent!important;
    border: 1px solid #E3E3E3!important;
    border-radius: 30px!important;
    color: #2c2c2c!important;
    line-height: normal!important;
    height: auto!important;
    font-size: 0.8571em!important;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 8px 4px;
    margin: 1px 0;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
}

.delivery-setting-section{
    div.dropdown-menu {
        left: 0% !important;
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    margin: 0!important;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}
