@import "../mixin";
@import "../../vars/var";
@import "../publicClass";
@font-face {
    src:url("../../fonts/en/Lato-Regular.ttf");
    src:url("../../fonts/en/Lato-Italic.ttf");
    font-family: latoRegular;
}
@font-face {
    src:url("../../fonts/en/font2/Lato-Regular.ttf");
    src:url("../../fonts/en/font2/Lora-MediumItalic.ttf");
    font-family: mediumItalic;
}
@font-face {
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/RobotoSlab-Regular.ttf");
    font-family: enfont;
}
body{
    font-family: enfont;
}

.header-section{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-bottom: 1.25rem;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background: white;
    a{
        text-decoration: none!important;
        cursor: pointer;
    }
    .header-top{
        height: 53px;
        //height: 8vh;
        background: $mainBackGroundColor;
        color: $fontColor;
        //@include font-family-en;
        font-family: enfont;

        font-style: normal;
        font-weight: 500;
        //font-size: 16px;
        font-size: calc(9px + 0.4vw);
        line-height: 19px;
        //-webkit-text-fill-color: white; /* Will override color (regardless of order) */
        //-webkit-text-stroke-width: 0.1px;
        //-webkit-text-stroke-color: black;

        .trace-order-menu{
            width: 19vw;
            max-width: 285px;
            min-width: 183px;
            height: 24vw;
            max-height: 310px;
            min-height: 290px;
            left: -60%!important;
            top: 8px!important;
            //box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2)!important;
            border-radius: 5px!important;
            border-color:#fff!important;
            //filter: drop-shadow(0px 4px 7px #d3d1d1);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
            .address{
                font-style: normal;
                font-weight: normal;
                //font-size: 18px;
                //line-height: 21px;
                font-size: calc(9px + 0.6vw);
                line-height: calc(12px + 1vw);

                /* identical to box height */

                color: #000000;
                margin-bottom: 1.5rem;
            }
            .number{
                color: #f8be10;
            }
            .text{
                font-style: normal;
                font-weight: normal;
                font-size: calc(8px + 0.3vw);
                line-height: 15px;

                /* identical to box height */

                color: #656565;
            }
            .form-control{
                background: #F5F5F5!important;
                border: none!important;
            }
        }

        .trace-order-container{
            //background: orangered!important;
            position: relative;
            width: 100%;
            height: 100%;
            .parent{
                margin: 0rem 1.2rem;
            }

            .shape{

                position: absolute !important;
                width: calc(0.7vw + 15px) !important;
                height: calc(0.2vw + 6px) !important;
                min-width: 20px;
                min-height: 10px;
                top: -7.5% !important;
                clip-path: polygon(43% 0, 59% 0, 100% 100%, 0% 100%)!important;
                //box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2)!important;
                left: 50% !important;
                background: #fff !important;
                transform: translate(-20%,30%);
            }
        }
    }
    .dropdown{
        button{
            //@include font-family-en;
            font-family: enfont;
            color: $fontColor;
            padding:0px 1px;
            font-size: calc(9px + 0.4vw);
        }
    }
    .trace-order{
        //@include transition-300ms;
        //
        //&:hover{
        //    background: #fab838;
        //    transform: translateY(-3px);
        //}
        .dropdown-toggle::after {
            display: none;
        }
    }

    .second-header{
        @include btn-main;
        @include btn-white;

        .search-container {
            position: relative;
            .search-loading{
              z-index: 101!important;
            }
            ::-webkit-scrollbar {
                width: 9px;
            }

            ::-webkit-scrollbar-track {
                background:  rgb(0,0,0,0.3);
            }

            ::-webkit-scrollbar-thumb {
                background-color: #fac24f;
                border-radius: 0px;
                border: none;
            }
            .search-loading, .search-result{
                width: 100%;
                position: absolute;
                //bottom: -0.2rem;
                background: rgb(249, 249, 249);
                //opacity: 0.6;
                border-radius: 12px;
                padding: 1rem;
                margin-top: 0.1rem;
                max-height: 450px;
                overflow-y: scroll;
                z-index: 100;
                scrollbar-width: thin;
                scrollbar-color: #fac24f rgb(0,0,0,0.3);


                .address{
                    font-size: calc(12px + 0.9vw);
                }
                .on-hover{
                    background: #fac24f!important;
                    color: white!important;
                    border-radius: 5px!important;
                }
                .btn-link{
                    font-weight: 400;
                    color: #fac24f;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;
                    padding: 0.3rem;
                    &:hover{
                        //background: #fac24f;
                        //color: white;
                        //border-radius: 5px;
                        @extend  .on-hover;

                    }
                }
            }
        }
        .dropdown-item{
            //font-size: calc(10px + 1vw);
            font-size: calc(10px + 0.5vw);


        }
        .btn-user-menu{
            position: relative;
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(10px + 1vw);
            height: calc(12px + 2vw);
            color: #000000;
            .fa{
                color: #757575!important;
            }
            .badge{
                background-color: #fac24f!important;
                color: white !important;
                position: absolute;
                top: -7px;
                right: 10px;
                transform: translateX(-10px);
            }

            .fas{

            }
        }
        .active-meun{
            //display: block;!important;
            //position: absolute!important;
            position: relative!important;
            top: 5px !important;
            //right: 50px !important;
            //transform: translateX(-1%);
            opacity: 1!important;
            //width: 75%!important;
            width: 55%!important;
            //display: block;
            display: flex!important;
            flex-direction: column-reverse!important;
            align-items: flex-end!important;
            @include transition-1000ms;
            //transition: 300ms;
            //flex-direction: column-reverse;

            >*{
                //margin: 10px 15px;
                margin-bottom: 0.7rem ;
            }
        }
        .btn-menu-mobile{
            display: none;
            text-transform: uppercase;
            //width: calc(60px + 2vw);
            width: calc(50px + 2vw);

            max-width: 110px;
            height: 50px;
            font-size: calc(18px + 1vw);
            background: #FAC24F;
            border-radius: 12px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
            border: 1px #fac24f solid;
            i{
                color: white;
            }
        }
        .log{
           //width: 10%;
            z-index: 10;
            //height: 6vw;
            //max-width: 130px;
            //min-width: 75px;
            //width: 8vw;
            //min-height: 60px;
            //max-height: 95px;
            width: calc(75px + 2.5vw);
            height: calc(50px + 1.3vw);
            .img-logo{
                //max-width: 130px;
                //min-width: 90px;
                //width: 8vw;
                //height: 80px;
                //height: 12vh;
                //second update
                //height: 5.5vw;
                //max-width: 130px;
                //min-width: 75px;
                //width: 8vw;
                //min-height: 60px;
                //max-height: 95px;
                //third update
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .other{
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            //transition: width 2s, height 4s;

            .form-group{
                width: 50%;
                min-width: 245px;
                position: relative;
                .fa-search{
                    position: absolute;
                    top: 15px;
                    right: 30px;
                    color: #fac24f;
                    //font-size: 1.5vw;
                    //font-size: 21px;
                }
                .search{
                    width: 100%;
                    //width: 508px;
                    height: 50px;
                    background: #F5F5F5;
                    border-radius: 12px;
                }
            }
        }



        .icon{
            width: 11%;
            min-width: 70px;
        }




    }


}

.footer-section{
    //line-height: 0px!important;
    .log{
        //width: calc(160px + 10vw);
        /* height: 97px; */
        width: calc(80px + 13vw);
        margin-top: calc(-15px - 1.3vw);
        margin-bottom: calc(7px + 0.9vw);
        //width: 8vw;
        img{
            width: 100%;
            //max-width: 130px;
            //min-width: 90px;
        }
    }
    .contact-info{
        //width: 25vw;
    }
    .right-side{
        position: relative;
        width: 50%;

        background: #FFFFFF;
        -webkit-box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        -moz-box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        //box-shadow: -10px 10px 10px 0px rgba(22, 141, 134, 0.49);
        //box-shadow: -1px 0px 50px rgba(22, 141, 134, 0.49), inset -2px 0px 0px #fff;
        //height: calc(250px + 50vw);
        //height: calc(450px + 10vw);
        height: calc(520px + 10vw);

        margin-top: -2vh;
        z-index: 5!important;
        //.hide-top{
        //    position: absolute;
        //    top: -72px;
        //    right: 0px;
        //    width: 100%;
        //    height: 120px;
        //    background: #FFFFFF;
        //}
        //.hide-right{
        //    position: absolute;
        //    top: -54px;
        //    right: 0;
        //    width: 21%;
        //    //height: calc(250px + 50vh);
        //    height: calc(450px + 10vw);
        //    background: #FFFFFF;
        //    transform: translateX(50%);
        //}

        .hide-bottom{
            position: absolute;
            bottom: -30px;
            right: 0px;
            width: 100%;
            height: 70px;
            background: white;
        }
        .first-child{
            margin-top: 20%;
            margin-left: 10%;


            .dropdown{
                position: relative;
                z-index: 20!important;
               button{
                   font-style: oblique;
                   font-weight: 300;
                   font-size: calc(9px + 0.5vw)!important;
                   line-height: calc(7px + 1vw);
                   color: #9C8989;
               }
                border: none;
                border-bottom: 2px solid #c6a3a7;
                border-radius: 0px;
                margin-bottom: 0.5rem;
                //margin-top: 0.5rem;
                width: 37%;

                .dropdown-menu{
                    //position: relative;
                    width: 100%;
                    z-index: 20!important;
                    max-height: calc(2vw + 200px);
                    overflow-y: scroll;
                    a{
                        text-decoration: none;
                    }
                    p {
                        font-size: calc(9px + 0.5vw)!important;
                        line-height: calc(7px + 1vw);
                        color: #9C8989;
                        z-index: 100;
                        cursor: pointer;
                    }
                }
            }
            #cities_list{
                margin-left: 2rem;
                margin-right: 2rem;
            }

        }
        .text1{
            font-style: normal;
            font-weight: normal;
            font-size: calc(6px + 1.4vw);
            //font-size: 30px;
            //line-height: 35px;
            line-height:calc(10px + 2vw);
            text-align: center;
            color: #000000;
        }
        .text2{
            font-style: normal;
            font-weight: 700;
            //font-size: 36px;
            font-size: calc(6px + 1.6vw);
            //line-height: 42px;
            line-height: calc(12px + 2.5vw);

            color: #000000;
        }
        .subscribe-container{
            margin-top: 1rem;
        }
        .subscribe{
            max-width: 183px;
            min-width: 100px;
            width: 30%;
            height: 100%;
            min-height: 35px;
            max-height: 50px;
            background: #FAC24F;
            border-radius: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: calc(9px + 0.5vw );
            //line-height: 21px;
            line-height: calc(9px + 1.3vw);
            text-align: center;
            color: #FFFFFF;
            //margin-top: 0.5rem;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            @include transition-500ms;
            &:hover{
                background: #fab838;
                transform: translateY(-3px);
            }
        }

        .form-group {
            width: 80%;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                //line-height: 16px;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            :-ms-input-placeholder { /* IE 10+ */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            :-moz-placeholder { /* Firefox 18- */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }

        }
        input {
            font-style: oblique;
            border: none;
            border-bottom: 2px solid #c6a3a7;
            border-radius: 0px;

        }

    }
    .left-side{
        //margin-top: 75px;
        margin-top: calc(35px + 3vw);
        width: 50%;

        .text{
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            font-size: calc(8px + 0.5vw);
            //line-height: 28px;
            line-height: calc(10px + 1.5vw);
            color: rgba(0, 0, 0, 0.5);
        }
        .btn{
            background: rgba(203, 203, 203, 0.23);
            border-radius: 12px;
            margin: 0px 4px;
            font-size: calc(9px + 0.5vw);
            @include transition-500ms;
            &:hover{
                background: #FAC24F;
                i{
                    color: white!important;

                }
                transform: translateY(-3px);
            }

            i{


                color: rgba(78, 78, 78, 0.45);
            }

        }
        .btn-youtube{
            background: rgba(255, 112, 32, 0.23);
            border-radius: 12px;
            i{
                color: #FF7020;
            }
        }
    }
    .footer-parent{
        width: 100%;
    }
    .section-svg{
        z-index: 10;
        //margin-top: calc(-10px - 1vw);
        margin-top: calc(-50px - 6vw);
        position: relative;
        .svg-content{
            position: absolute;
            width: 100%;
            //margin-top: calc(15px + 10vw);
            margin-top: 10vw;
            .parent{
                width: 100%;
                .btn-link{
                    color: $fontColor;
                    @include transition-500ms;
                    &:hover{
                        color: white;
                        transform: translateY(-3px);
                    }
                }
            }
            .first-child{
                width: 50%;
            }
            .second-child{
                width: 50%;
            }
            .address1{
                font-style: normal;
                font-weight: bold;
                //font-size: 20px;
                font-size: calc(9px + 0.6vw);
                //line-height: 24px;
                line-height: calc(10px + 1.3vw);
                color: $fontColor;
            }
            .pull-right1{
                margin-left: 14vw;
            }
            .btn-chat{
                .btn{
                    color: $fontColor;
                    border: 1px solid $fontColor;
                    border-radius: 10px;
                }
            }
            .text1{
                font-style: normal;
                font-weight: normal;
                //font-size: 24px;
                //font-size: calc(7px + 0.6vw);
                font-size: calc(6px + 0.5vw);

                //line-height: 28px;
                line-height: calc(10px + 1.5vw);
                text-align: center;

                color: $fontColor;
            }
        }
    }
    .all-right{
        padding-top: 0.6rem;
        padding-bottom: 0px;
        background: #F5F5F5;
        .fab,.fa{
            font-size: calc(10px + 1.3vw);
        }
        .text1{
            font-style: normal;
            font-weight: normal;
            font-size: calc(7px + 0.5vw);
            //line-height: 19px;
            line-height: calc(15px + 0.7vw);
            color: #000000;
        }

        .first{
            width: 50%;
        }
        .second{
            width: 50%;
            .payment-icon{
                width: 10%;
                .fa-cc-visa{
                    color: #1A1F71;
                }
                .fa-cc-mastercard{
                    color: #EB001B;

                }
                .fa-money-bill-alt{
                    color: #149035;
                }
                .fa-apple-pay{
                    color: rgb(0,0,0,0.78);
                }
                .fa-google-pay{
                    color: rgb(0,0,0,0.5);

                }
                i
                {
                    font-size: calc(14px + 1.6vw);

                }
                .fa-wallet{
                    color: $mainBackGroundColor;
                }
                //img{
                //    width: 100%;
                //    height: 70%;
                //}
            }
        }
    }
    .img-dash{
        //width: 18vw;
        //position: relative;
        //transform: translateX(50%);
        img{
            width: 100%;
            object-fit: cover!important;

        }
        //width: 291px;
        //height: 290.11px;
        //background: url(../img/dish.png), #C4C4C4;
        //box-shadow: -1px -1px 27px rgba(0, 0, 0, 0.69);
    }


}
.text-section{
    margin-top: 9rem;
    .address
    {
        position: relative;
        margin-top: 75px;
        //font-family: 'Lato', sans-serif;
        font-family: latoRegular ;
        font-weight: normal;
        transform: translateX(-16%);
        animation: typing 28s steps(28) infinite;



        h2{
            font-size: calc(7px + 1.7vw);
            position: relative;
            //height: 39px;
            //height: 2.7vmax;
            height: calc(15px + 1.6vw);
            overflow: hidden;
            letter-spacing: 2px;
        }

    }
    @keyframes typing {
        0%
        {
            width: 0px;
        }
        30%
        {
            //width: 408.583px;
            width: calc(155px + 18vw);
        }
    }

    .address::before{
        content: "";
        position: absolute;
        top:0px;
        right: 0px;
        width: 2px;
        height: 100%;
        background: orangered;
        animation: blinkCoursr 1000ms steps(1) infinite;
    }
    @keyframes blinkCoursr {
        0%,75%
        {
            opacity: 1;
        }
        76%,100%
        {
            opacity: 0;
        }
    }
    .address2{
        font-weight: 500;
        //font-size: 72px;
        font-size: calc(6px + 3.5vw);
        //line-height: 94px;
        text-align: center;

        color: #000000;
        font-family: mediumItalic;


        //font-family: 'Lato', sans-serif;
        //
        //font-family: 'Lora', serif;
    }

    .dropdown{
        //@include transition-1000ms;



        button.dropdown-toggle{
            //@include font-family-en;
            font-family: enfont;
            color: #000000;
            padding:0px 1px;
            font-size: calc(12px + 1vw);
            //font-size: calc(9px + 0.8vw);
            border-bottom: solid 1px #DCDCDC;
            border-radius: 0px;
        }
        .dropdown-menu{
            //height: 15vmax;
            //height: 310px;
            max-height: 310px;
            overflow-y:scroll;
            z-index: 10!important;
            .dropdown-item{
                font-size: calc(7px + 0.5vw);
                margin: 0.325rem auto;
                &:hover{
                    color: white!important;
                    background: $mainBackGroundColor!important;
                }
            }

            .input-container{
                padding: 0rem 0.75rem;
            }
            .input-filter{
                background: #F5F5F5;
                border-radius: 12px;
                border: none;
                padding: 0.5rem;
                font-size: calc(7px + 0.5vw);
            }
            input:focus {
                //background-color: yellow;
                border: 1px solid $mainBackGroundColor!important;
                outline: none!important;
            }

        }

    }
    .dropdown-toggle::after {
        color: #BCBCBC!important;
    }


}

.shape-section{



    //.css-sprite-1
    //{
    //    background:url('../img/css-sprite-combined.png') 0px -0px!important;
    //    width: 4vw!important;
    //    min-width: 40px!important;
    //    transform: translateY(17%)!important;
    //    margin-bottom: calc(6px + .8vw)!important;
    //    display:inline-block!important;
    //    height: 4vw!important;
    //    min-height: 40px!important;
    //}
    //
    //.css-sprite-2
    //{
    //    background:url('../img/css-sprite-combined.png') -48px -3px!important;
    //    width:45px!important;height:45px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-3
    //{
    //    background:url('../img/css-sprite-combined.png') -93px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-4
    //{
    //    background:url('../img/css-sprite-combined.png') -141px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-5
    //{
    //    background:url('../img/css-sprite-combined.png') -189px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-6
    //{
    //    background:url('../img/css-sprite-combined.png') -237px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-7
    //{
    //    background:url('../img/css-sprite-combined.png') -285px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-8
    //{
    //    background:url('../img/css-sprite-combined.png') -333px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-9
    //{
    //    background:url('../img/css-sprite-combined.png') -381px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-10
    //{
    //    background:url('../img/css-sprite-combined.png') -429px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-11
    //{
    //    background:url('../img/css-sprite-combined.png') -477px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}
    //
    //.css-sprite-12
    //{
    //    background:url('../img/css-sprite-combined.png') -525px -0px!important;
    //    width:48px!important;height:48px!important;
    //    display:inline-block!important;
    //}




    a{
        text-decoration: none;
    }
    .shape{
        @include transition-500ms;
        &:hover{
            transform: scale(1.1,1.1);
        }

        img{
            //width: calc(25px + 4vw);
            transform: scale(2);
            margin: 0.5rem 0rem;
            max-width: 55px;
            //width: 4vw;
            //min-width: 40px;
            //transform: translateY(17%);
            //margin-bottom: calc(6px + 0.8vw);
        }
        p{
            margin-top: 0.5rem;
            margin-bottom: 0rem;
            //margin-top: calc(6px + 0.8vw);
            //font-size: calc(10px + 0.6vw);
            font-size: calc(8px + 0.5vw);

            font-family: 'mediumItalic';
            color: $fontColor;
            font-weight: bolder;
        }
        //width: 9.3vmax;
        //height: 9.3vmax;
        // width: calc(65px + 4vw);
        // height: calc(65px + 4vw);
        width: calc(80px + 7vw);
        height: calc(80px + 7vw);
        background: #FAC24F;
        border-radius: 10px;
        clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);

        //clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    }

    .shape-modle{
        //display: none;
        position: fixed;
        //margin-top: 5rem;
        top: 0px;
        width: 100%;
        height: 100vh;
        //background: #FAC24F;
        //opacity: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 99;

        //@include transition-1000ms;
        .close{
            color: whitesmoke;
        }
        .Restaurants{
            position: absolute;
            width: calc(180px + 15vw);
            height: calc(180px + 15vw);
            border-radius: 10px;
            clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);



            z-index: 100;
            transform: translate(50%, 30%);
            top: 15%;
            left: 20%;
            //background: #FAC24F;
            //opacity: 0.5;
            background-color: rgba(0,0,0,0.6);

            .shape-container{
                z-index: 100;
                width: 100%;
                height: 80%;
                //margin: 1.3rem 0.5rem;
                //transform: translate(55px, 80px);
                padding: 10% 10%;
                margin: auto ;
                overflow-y: scroll;

            }
            .Restaurants-shape{
                z-index: 100;
                width: calc(60px + 4vw);
                height: calc(60px + 4vw);
                //width: 35%;
                //height: 35%;

                background: #FAC24F;
                border-radius: 10px;
                //opacity: 1;
                margin: 0.3rem 0rem;
                clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
                @include transition-500ms;
                &:hover{
                    transform: scale(1.1,1.1);
                }

                img{
                    width: 4vw;
                    min-width: 40px;
                    transform: translateY(17%);
                    margin-bottom: calc(6px + 0.8vw);
                }
                p{
                    margin-top: calc(6px + 0.8vw);
                    //font-size: calc(10px + 0.6vw);
                    font-size: calc(7px + 0.5vw);
                    font-family: 'mediumItalic';
                    color: $fontColor;
                    text-align: center;
                }


                a{
                    width: 100%;
                }
            }
        }
    }


}
.mobile-section{
    //@include btn-main;
    position: relative;
    //height: 650px;
    //height: calc(375px + 10vw);
    height: calc(280px + 22vw);
    .btn-social{
        .fab,.fas{
            font-size:  calc(12px + 1vw);
            margin: 3% 0px;
        }
        p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            margin: 0px;
            font-size: calc(7px + 0.2vw);
        };

        h6{
            margin: 3px 0px;
            font-size: calc(9px + 0.2vw);
            font-weight: bolder;
        };
        //display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        //width: 140px;
        width: 30%;
        min-width: 110px;
        max-width: 250px;
        height: calc(35px + 1vw);
        min-height: 41px;
        max-height: 76px;
        //width: 14vmax;
        //height: 6vmax;
        //font-size: 1.2vw;
        font-size: calc(10px + 0.4vw);
        background: #FAC24F;
        color: white;
        border-radius: 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        //box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
        @include transition-500ms;
        &:hover{
            //color  : #FAC24F;
            //background: white;
            //border:  #FAC24F solid 1px;
            background: #fab838;

            transform: translateY(-3px);
        }
    }
    .text1{
        font-style: normal;
        font-weight: 600;
        //font-size: 24px;
        font-size: calc(9px + 1.3vw);
        line-height: 30px;
        letter-spacing: 0.01em;

        color: rgba(0, 0, 0, 0.5);
    }
    .delivaz{
        font-style: normal;
        font-weight: 500;
        //font-size: 42px;
        font-size: calc(15px + 2.5vw);
        line-height: 49px;

        color: #FACA5B;
    }
    .app{
        font-style: normal;
        font-weight: 500;
        //font-size: 42px;
        font-size: calc(15px + 2.5vw);
        line-height: 49px;

        color: #FE2E17;
    }
    .text3{
        font-style: normal;
        font-weight: normal;
        font-size: calc(5px + 0.6vw);
        line-height: 21px;

        color: rgba(0, 0, 0, 0.5);
    }
    .text2{
        margin-bottom: 4vh;
    }
    .parent{
        z-index: 10;
        position: absolute;
        width: 41vw;
        //max-width: 45vw;
        right: 0px;
        height: 100%;
        top: 5vh;

        //z-index: 10;
        //position: relative;
        //left: 21%;
        //left: 120px;
        //overflow: hidden;
        //transform: translateX(8.5vw);
        //transform: translateX(17.5vmin);
    }
    .mobile-info{
        margin-top: 30vh;
    }
    .circle{
        position: relative;
        top: 0px;
        //background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
        background: linear-gradient(89.96deg, #F1C445 30.32%, #ED1C24 140.67%);

        //transform: rotate(-10.86deg);
        //width: 20vw;
        //height: 200px;
        width: 100%;
        height: 570px;
        //height: calc(270px + 50vh);
        clip-path: circle(45.0% at 73% 45%);
        //border-radius: 50%;
        //border-bottom-left-radius: 50%;
        //border-top-left-radius: 50%;
        //transform: translatex(10.5vw);

    }

    .photo1{
        position: absolute;
        top: 56px;
        left: 9px;
        width:60%;
        height: 100%;
        //transform: translate(10vw,10vh);
        img{
            width: 100%;
            //height: 100%;
        }
    }
    .photo2{
        position: absolute;
        top: 83px;
        right: 43px;
        width: 60%;
        //transform: translate(6vw,17vh);
        img{
            width: 100%;
            transform: rotateX(25deg);
            //height: 75%;
        }
        height: 100%;
    }
}

//body{
//    overflow: hidden;
//}


