@import "../mixin";
@media (max-width: 991px) {
    .header-section{

        .header-top{

            //font-size: $fontSizeMaxWidth320!important;
            height: 55px!important;
            .first{
                display: flex;
                flex-direction: column!important;
                align-content: center;
                align-items: center;
                padding: 0px!important;


            }
            //.first > *{
            //    margin-top: 6px;
            //}
        }

        .second-header
        {
            .btn-menu-mobile{
                //display: block!important;
                .open-icon-header, .close-icon-header{
                    display: none;
                }
            }
            .icon {
                display: flex!important;
                flex-direction: row-reverse!important;
                margin-bottom: 0px!important;
            }
            .other .form-group .search {

                height: calc(30px + 2.5vw)!important;
                margin-bottom: 0.4rem!important;
            }
            .btn-main{
                width: 80%!important;
            }
        }

    }
    .footer-section{
        .all-right{
            padding-top: 0.2rem!important;
            p{
                margin-bottom: 1px!important;
            }
        }
    }
}
@media  (max-width: 379px) {
    .gap-15 {
        margin: 0px 2px!important;
    }
    .gap-5 {
        margin: 0px 2px!important;
    }
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .header-section{

        .header-top{
            .trace-order-menu{
                left: -25% !important;
            }
            //font-size: $fontSizeMaxWidth320!important;
            //height: 55px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //    padding: 0px!important;
            //    .dropdown{
            //        button{
            //            //font-size: $fontSizeMaxWidth320!important;
            //
            //        }
            //    }
            //
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        .second-header
        {
            //.icon {
            //    display: flex!important;
            //    flex-direction: row-reverse!important;
            //    margin-bottom: 0px!important;
            //}
            //.other .form-group .search {
            //
            //    height: 40px!important;
            //    margin-bottom: 0.4rem!important;
            //}
            //.btn-main{
            //    width: 80%!important;
            //}
        }


        @include toggel-mobile-menu;
        @include btn-white-small-screen;

    }
    .text-section{
      @include margin-top-small-screen;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
            p{

                font-size: 9px!important;

            }
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

              }
        .sex-shape{
            flex-wrap: wrap;
            // margin: 0px 20px!important;
            box-sizing: border-box;
        }

    }

    .mobile-section{
        //height: calc(208px + 10vw);
        height: auto;
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social-container{
            display: flex;
            //flex-wrap: wrap;

            justify-content: space-around!important;
            .btn-social{
                width: 45%;
                box-sizing: border-box;
                margin: 5px 10px;
                    p{
                        font-size: 8px!important;
                    }
            }

        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        //.btn-social{
        //    width: 32%;
        //    .fab,.fas{
        //        font-size:  calc(9px + 1vw);;
        //        margin: 3% 0px;
        //    }
        //    p{
        //        margin: 0px;
        //        font-size: calc(1px + 0.2vw);
        //    };
        //
        //    h6{
        //        margin: 3px 0px;
        //        font-size: calc(2px + 0.4vw);
        //        font-weight: bolder;
        //    };
        //}

        .parent{
            display: none!important;
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }
}

@media (min-width: 380px)and (max-width: 480px) {
    .gap-15 {
        margin: 0px 3px!important;
    }
    .gap-5 {
        margin: 0px 3px!important;
    }
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth480!important;
            //height: 95px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //    .dropdown{
            //        button{
            //            //font-size: $fontSizeMaxWidth480!important;
            //
            //        }
            //    }
            //
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
            p{

                font-size: 9px!important;

            }
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

        }
        .sex-shape{
            flex-wrap: wrap;
            // margin: 0px 60px!important;
            box-sizing: border-box;
        }

    }
    .mobile-section{
        height: auto;
        .btn-social-container{
            justify-content: space-around!important;
        }
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social{
            width: 35%;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        .parent{
            display: none!important;
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }

}

@media (min-width: 481px) and (max-width: 575px) {
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .gap-15 {
        margin: 0px 7px!important;
    }
    .gap-0-10{
        margin: 2px 0px!important;
    }
    .shape-section{
        margin-top: 20px!important;
        .shape{
            margin: 3px 0px !important;
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;

        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 10px!important;
            box-sizing: border-box;
        }

    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            //height: 106px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //    .dropdown{
            //        button{
            //            //font-size: $fontSizeMaxWidth768!important;
            //
            //        }
            //    }
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto;
        .btn-social-container{
            justify-content: center!important;
            //box-sizing: border-box;
            button{
                margin: 0px 15px;

            }
        }
        .desktop{
            display: none!important;
        }
        .photo-mobile{
            display: none!important;
        }
        .btn-social{
            width: 29%;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
        .parent{
            display: none!important;
        }
    }

    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 675px) {
    .container{
        max-width: 560px;
    }
    .gap-shape {
        margin: 2px 2px!important;
    }
    .gap-15 {
        margin: 0px 10px!important;
    }
    .gap-0-10{
        margin: 4px 0px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            //height: 106px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //    .dropdown{
            //        button{
            //            //font-size: $fontSizeMaxWidth768!important;
            //
            //        }
            //    }
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }
    .shape-section{
        .shape-12{
            display: flex;
            flex-wrap: wrap;
            // margin: 0px 20px;
        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 10px!important;
            box-sizing: border-box;
        }
    }

}
@media (min-width: 677px) and (max-width: 768px) {
    .gap-shape {
        margin: 0px 4px!important;
    }
    .container{
        max-width: 680px!important;
    }
    .gap-15 {
        margin: 0px 10px!important;
    }
    .gap-shape {
        margin: 2px 2px!important;
    }
    .header-section{

        .header-top{
            //font-size: $fontSizeMaxWidth768!important;
            //height: 106px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //    .dropdown{
            //        button{
            //            //font-size: $fontSizeMaxWidth768!important;
            //
            //        }
            //    }
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }

    .shape-section{
        .shape-12{
            display: flex;
            flex-wrap: wrap;
            // margin: 0px 20px;
        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 10px!important;
            box-sizing: border-box;
        }
    }

}
@media (min-width: 769px) and (max-width: 851px) {
    .header-section{
        .header-top{
            //height: 106px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //
            //}
            .first > *{
                margin-top: 6px;
            }
        }

        @include btn-white-small-screen;
        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;

    }
    // .gap-shape {
    //     margin: 0px 4px;
    // }
    .gap-shape {
        margin: 2px 2px!important;
    }
    .mobile-section{
        height: auto!important;
        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }

    .shape-section{
        .shape-12{
            display: flex;
            flex-wrap: wrap;
            // margin: 0px 20px;
        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 10px!important;
            box-sizing: border-box;
        }
    }

}

@media (min-width: 852px) and (max-width: 991px) {
    .container{
        max-width: 855px;
    }
    .header-section{
        .header-top{
            //height: 106px;
            //.first{
            //    display: flex;
            //    flex-direction: column!important;
            //    align-content: center;
            //    align-items: center;
            //
            //}
            .first > *{
                margin-top: 6px;
            }
        }
        @include btn-white-small-screen;

        @include toggel-mobile-menu;

    }
    .text-section{
        @include margin-top-small-screen;
    }
    .mobile-section{
        height: auto!important;

        .parent{
            display: none!important;
        }
        .mobile-info {
            margin-top: 5vh;
            .text1{
                margin-bottom: 0px;
            }
            .text2{
                margin-bottom: 1vh;
            }
        }
    }
    .footer-section{
        .footer-parent{
            width: 100%;
            flex-direction: column!important;
        }
        .left-side{
            width: 100%;
            .img-dash{
                img{
                    display: none!important;
                }
            }
        }
        .right-side{
            width: 100%;
            height: auto!important;
            box-shadow: none!important;
            margin-top: 0px;
            .first-child{
                margin-left: 0px!important;
                margin-top: 9%!important;
                //margin-lefteft: 10%;
            }

        }
        .section-svg{
            margin-top: 0px!important;
        }
        svg{
            display: none!important;
        }
        .svg-content{
            position: relative!important;
            background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
            margin-top: 0px!important;
            .parent{
                width: 100%;
                flex-direction: column!important;
            }
            .first-child{
                width: 100%!important;
            }
            .second-child{
                width: 100%!important;
            }
            .pull-right1{
                margin-left: 0px!important;
            }
        }
    }

    .shape-section{
        .gap-shape {
            margin: 3px 3px!important;
        }
        .shape-12{
            display: flex;
            flex-wrap: wrap;
            // margin: 0px 20px;
        }
        .sex-shape{
            flex-wrap: wrap;
            margin: 0px 10px!important;
            box-sizing: border-box;
        }
    }


}

@media (min-width: 992px) and (max-width:1100px) {

    .mobile-section{
        //.parent {
        //    position: relative;
        //    //left: 13%;
        //    //left: 6vw;
        //    margin-left: -13%;
        //}

        .parent{
            .photo1{
                transform: translate(-35px, 36px);
            }
            .photo2{
                transform: translate(-24px, 27px);
            }
        }

    }


}

@media (min-width: 1101px) and (max-width: 1230px) {
    .mobile-section{
        //.parent {
        //    position: relative;
        //    //left: 10%;
        //    left: 5vw;
        //}

        .parent{
            .photo2{
                transform: translate(-11px, 15px);
            }
            .photo1{
                transform: translate(-21px, 28px);
            }
        }
    }

}

@media (min-width: 1380px) and (max-width: 1530px) {
    .container{
        //max-width: 1260px;
        max-width: calc(1240px + 3vw);
    }
    .mobile-section {


        .circle {
            //height: 600px;
            height: calc(550px + 4vw);

        }
    }
}
@media (min-width: 1531px) and (max-width: 1800px) {
.container{
    max-width: 1450px;
}

    .text-section{
        .address{
            font-size: calc(7px + 1.8vw);
            transform: translateX(0%);
        }
    }
    .mobile-section{
        .btn-social  {
            h6{
                font-size: calc(9px + 0.5vw);
            }
        }
     .circle{
         //height: 720px;
         height: calc(610px + 5vw);
     }
        .photo2{
            right: 62px;
        }
        //.parent {
        //    position: relative;
        //    left: 18%;
        //}

    }

    .shape-section{
        .container-fluid{
            max-width: 1550px;
        }
        .shape{


            //img{
            //    width: 4vw!important;
            //    min-width: 40px!important;
            //    margin-bottom: calc(15px + 0.4vw)!important;
            //}
            //p{
            //    margin-top: calc(10px + 0.3vw)!important;
            //    font-size: calc(10px + 0.6vw)!important;
            //}

            width: calc(80px + 8vw)!important;
            height: calc(80px + 8vw)!important;

        }
    }

    .footer-section{
        .right-side{
            height: calc(570px + 10vw);
        }
    }

}

@media (min-width: 1801px) and (max-width: 2000px) {
    .gap-15{
        //gap: 25px;
        margin: 0px 20px!important;
    }

    .gap-10{
        //gap: 25px;
        margin: 0px 15px!important;
    }
    .text-section{
        .address{
            font-size: calc(7px + 1.8vw);
            transform: translateX(8%);
        }
    }
    .container{
        max-width: 1650px;
    }
    .mobile-section{
        .btn-social  {
            h6{
                font-size: calc(9px + 0.5vw);
            }
        }
        .circle{
            height: 780px;

        }
        .photo2{
            right: 70px;
        }
        //.parent {
        //    position: relative;
        //    left: 18%;
        //}
    }
    .shape-section{
        .container-fluid{
            max-width: 1750px;
        }
        .shape{


            img{
                transform: scale(2);
                //width: 4vw!important;
                //min-width: 40px!important;
                //margin-bottom: calc(15px + 0.5vw)!important;
            }
            //p{
            //    margin-top: calc(12px + 0.3vw)!important;
            //    font-size: calc(12px + 0.6vw)!important;
            //}

            width: calc(80px + 9vw)!important;
            height: calc(80px + 9vw)!important;

        }
    }


    .footer-section{
        .right-side{
            height: calc(600px + 10vw);
        }
    }

}


@media (max-width: 989px) {
    .header-section .header-top .trace-order-container .shape {
        top: -8% !important;

    }
}

@media (max-width: 990px) {
    .shape-section{
        .shape{
            img{

                transform: scale(1.2);
                margin: 0rem;
                margin-bottom: 0.5rem;

            }
            p{
                margin-top: 0rem;
                transform: translateY(-10px);
            }
        }
    }
}
@media (min-width: 990px) and (max-width: 1250px){
    .shape-section{
        .shape{
            img{

                transform: scale(1.6);
                margin: 0rem;
                margin-bottom: 1.5rem;

            }
            p{
                margin-top: 0rem;
                transform: translateY(-10px);
            }
        }
    }
}
@media (max-width: 581px) {
    .shape-section{
        .shape-modle{
            .Restaurants{
                transform: translate(10px, 35%);
            }
        }
    }
}

@media (max-width: 530px) {
    .footer-section{

        .right-side {
            .first-child #cities_list {
                margin-left: 1rem!important;
            }
        }


        .all-right{
            .parent{
                flex-direction: column!important;
            }
            .first{
               width: 100%!important;
            }
            .second{
                width: 100%!important;
                justify-content: start!important;
                margin-left: -10px!important;

            }
        }
    }
}
