@media  (max-width: 1000px) {
    .size-section {

        padding: 0rem;
        margin-top: 3rem;

        //.btn-group{
        //    flex-direction: column!important;
        //    align-items: center;
        //    justify-content: center;
        //    align-content: center;
        //    .btn-container{
        //        width: 90%!important;
        //        margin: 0.5rem 0rem;
        //    }
        //}

    }
}
