@import "../mixin";
@import "../../vars/var";
@import "../publicClass";
@font-face {
    src:url("../../fonts/en/Lato-Regular.ttf");
    src:url("../../fonts/en/Lato-Italic.ttf");
    font-family: latoRegular;
}
@font-face {
    src:url("../../fonts/en/font2/Lato-Regular.ttf");
    src:url("../../fonts/en/font2/Lora-MediumItalic.ttf");
    font-family: mediumItalic;
}
@font-face {
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/RobotoSlab-Regular.ttf");
    font-family: enfont;
}

//for city not avalaible and restaurant isnot complete registeration
.sorry-section{
    margin-top: 12rem;
    .img img{
        width: 100%;
    }
    .text{

        font-style: normal;
        font-weight: normal;
        font-size: calc(7px + 1vw);
        line-height: calc(10px + 2vw);

        color: #000000;
    }
    .address{
        font-style: normal;
        font-weight: bold;
        /*font-size: 64px;*/
        /*line-height: 75px;*/
        font-size: calc(12px + 2.2vw);
        line-height: calc(20px + 3.5vw);

        /* identical to box height */

        color: #000000
    }
}


.city-restaurant-banners-section{
    .address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 30px;
        font-size: calc(9px + 1.7vw);
        line-height: calc(7px + 1.5vw);

        color: #000000;
    }
    .address2{
        margin-top: calc(4px + 0.5vw);;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 1vw);
        line-height: calc(7px + 1vw);
        color: #000000;


    }
    .content{
        margin-top: calc(4px + 0.5vw);;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 0.7vw);
        line-height: calc(7px + 0.7vw);
        color: #7f7f7f;
    }
}
.city-banners-section{
    margin-top: 11rem;
    .owl-item{
        .item{
            height: calc(110px + 15vw);
            img{
                height: 100%;
            }
        }
    }
}
