.page1 {
  font-family: "Almarai", sans-serif;
}
.page1 .row {
  direction: rtl !important;
}
.page1 .row > * {
  direction: rtl !important;
  text-align: right !important;
}
.page1 .container {
  direction: rtl !important;
}
.page1 .header-section1 {
  font-size: 15px;
}
.page1 .header-section1 p.text-size {
  margin-left: 59px;
  font-weight: bolder;
  margin-bottom: 0px;
}
.page1 .header-section1 .btn-join {
  margin-left: 30px;
}
.page1 .header-section1 .dropdown {
  width: 60px !important;
}
.page1 .header-section1 .dropdown span {
  font-weight: bold;
}
.page1 .header-section1 .dropdown button {
  width: 100%;
}
.page1 .header-section1 .dropdown img {
  width: 36%;
  height: 18px;
}
.page1 .header-section1 .logo-image img {
  width: 115px;
  height: 89px;
}
.page1 .header-section1 .btn-sing {
  width: 130px;
  background: #fac24f;
  color: #fff;
  padding-right: 15;
  padding-left: 15px;
  height: 42px;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}
.page1 .header-section1 .btn-join {
  background: #fff;
  color: #000;
  height: 42px;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin-right: 30px;
}
.page1 .header-section1 .header-bottom {
  margin-top: -30px;
  padding: 0px;
}
.page1 .header-section1 .header-bottom .mr-5 {
  margin-right: 0px !important;
}
.page1 .header-section1 .header-bottom .input-group {
  margin-left: 34px;
  margin-right: 0px;
}
.page1 .header-section1 .header-bottom .input-group {
  max-width: 375px;
  margin-left: 7% !important;
}
.page1 .header-section1 .header-bottom .my-4 {
  margin-top: 30px !important;
}
.page1 .header-section1 .header-bottom .form-control {
  height: auto;
}
.page1 .header-section1 .btn-search {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.page1 .header-section1 .btn-search button {
  border: none;
  color: #000;
  /* border-radius: 23px; */
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
}
.page1 .header-section1 .search-drop {
  background-color: #fff;
}
.page1 .header-section1 .search-drop button {
  border: 1px solid #a29999 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  border: none;
  color: #000;
  /* border-radius: 23px; */
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
}
.page1 .header-section1 .col-sm-10,
.page1 .header-section1 .col-xs-10 {
  padding-left: 0px;
  padding-right: 0px;
}
.page1 .header-section1 input {
  border-bottom: 1px solid #a29999 !important;
  border-top: 1px solid #a29999 !important;
  border-left: none !important;
}
.page1 .text-section {
  margin-top: 40px;
}
.page1 .text-section .dropdown_selecte button {
  font-size: 30px !important;
}
.page1 .text-section .dropdown_selecte_city button {
  font-size: 30px !important;
}
.page1 .text-section p {
  font-family: "Almarai", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.page1 .text-section h1 {
  font-weight: 600;
  font-family: "Almarai", sans-serif;
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.page1 .text-section .container .dropdown_selecte {
  width: 18%;
}
.page1 .text-section .container .dropdown_selecte .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  background: #fff !important;
  color: red !important;
}
.page1 .text-section .container .dropdown_selecte p {
  position: relative !important;
  z-index: 100 !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 27px;
}
.page1 .text-section .container .dropdown_selecte p:hover {
  background: red !important;
  color: #fff !important;
}
.page1 .text-section .container .dropdown_selecte button {
  outline: none;
  background: #fff;
  border-bottom: 1px solid #000;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #999797;
  width: 90%;
  border-radius: 0;
  color: red;
  font-size: 27px;
  font-weight: bolder;
  padding-bottom: 0px;
}
.page1 .text-section .container .dropdown_selecte_city {
  width: 18%;
}
.page1 .text-section .container .dropdown_selecte_city .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  background: #fff !important;
  color: red !important;
}
.page1 .text-section .container .dropdown_selecte_city p {
  font-size: 27px;
}
.page1 .text-section .container .dropdown_selecte_city p:hover {
  background: red;
  color: #fff;
}
.page1 .text-section .container .dropdown_selecte_city button {
  outline: none;
  background: #fff;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #999797;
  width: 90%;
  border-radius: 0;
  color: red;
  font-size: 27px;
  font-weight: bolder;
  padding-bottom: 0px;
}
.page1 .text-section .container .dropdown-toggle::after {
  position: relative !important;
  color: #999797 !important;
  bottom: -6px !important;
}
.page1 .services2 {
  margin-top: 70px;
}
.page1 .services2 .container .col-lg-2 {
  filter: drop-shadow(-4px 4px 3px rgba(50, 50, 0, 0.2)) !important;
}
.page1 .services2 .services-content {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  flex-direction: column;
}
.page1 .services2 .btn-bottom {
  position: fixed;
  right: 85px;
  bottom: 20px;
  z-index: 100;
}
.page1 .services2 .btn-bottom .btn-fixed {
  border: none;
  display: inline-block;
  background-image: linear-gradient(90deg, #f2a73f, #ef542f);
  color: #fff;
  font-size: 23px;
  border-radius: 78%;
  width: 77%;
  height: 47px;
  margin-bottom: 7px;
  outline: none;
}
.page1 .services2 .imagesServ {
  width: 36%;
  height: 30%;
  margin-top: 30%;
  margin-right: 31%;
  display: flex;
}
.page1 .services2 .row {
  margin-left: 130px !important;
  margin-right: 100px !important;
  margin-bottom: 10px !important;
}
.page1 .services2 .row .col-lg-2 {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.page1 .services2 .row span {
  width: 82%;
  color: black;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 37px;
  /* margin-left: 26%; */
  text-align: center !important;
}
.page1 .services2 .hexagon2 {
  display: inline-block;
  height: 140px;
  background: #fac24f;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  width: 87%;
  box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
  -webkit-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
  -moz-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
}
.page1 .food {
  margin-top: 70px;
}
.page1 .food .row {
  margin-bottom: 40px !important;
}
.page1 .food img {
  width: 345px;
  height: 220px;
  object-fit: cover;
  -webkit-box-shadow: -13px 8px 14px 0px #d9ced9;
  -moz-box-shadow: -13px 8px 14px 0px #d9ced9;
  box-shadow: -13px 8px 14px 0px #d9ced9;
}
.page1 .food h5 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 18px;
}
.page1 .food h4 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 40px;
}
.page1 .sell-on-delivaze {
  margin-top: 150px;
}
.page1 .sell-on-delivaze img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.page1 .sell-on-delivaze .container {
  position: relative;
}
.page1 .sell-on-delivaze .container .info {
  position: absolute;
  color: #fff;
  left: 24%;
  top: 18%;
  direction: rtl !important;
  text-align: right !important;
}
.page1 .sell-on-delivaze .container .info button {
  background: #fac24f;
  padding: 5px 20px 5px 20px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}
.page1 .sell-on-delivaze .container .info h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.page1 .sell-on-delivaze .container .info h6 {
  font-size: 15px;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
  direction: rtl !important;
}
.row > * {
  direction: rtl !important;
  text-align: right !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Almarai", sans-serif;
}

.header-section .upper .btn-primary1 {
  padding-left: 0px;
}
.header-section nav .container {
  padding-left: 0px;
}
.header-section ul {
  margin-right: 215px !important;
}
.header-section form.ml-auto, .header-section .mx-auto {
  margin-right: auto !important;
  margin-left: 2px !important;
}
.header-section a {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}
.header-section .logo-image {
  width: 112px;
  height: 103px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-top: -26px;
}
.header-section .card-shopping {
  position: absolute;
  top: 75px;
  right: 40px;
  z-index: 100;
  width: 40%;
  padding: 2%;
  transition: all 0.5s;
}
.header-section .card-count {
  position: absolute !important;
  background: #f1c445 !important;
  left: 12px;
  top: -8px;
  font-size: 10px !important;
  padding: 4px !important;
}
.header-section .search {
  border: 1px solid #000 !important;
  padding: 7px 20px !important;
  max-width: 240px !important;
  background: none !important;
  height: 35px !important;
  border-radius: 8px !important;
}
.header-section .search:focus {
  outline: none !important;
  border: 1px solid #f1c445 !important;
}
.header-section .search-img {
  position: absolute !important;
  right: 3% !important;
  top: 10px !important;
}
.header-section .nav-li {
  color: #565656 !important;
  font-size: 15px !important;
}

.slider {
  position: relative;
  margin-top: -10px;
}
.slider .carousel-indicators li {
  display: inline-block;
  z-index: 100;
  cursor: pointer;
  background-color: #fee0a2 !important;
  height: 5px !important;
}
.slider .carousel-indicators .active {
  background-color: #ef6735 !important;
}
.slider .carousel-inner .silde-info {
  position: absolute;
  z-index: 99;
  font-size: 18px;
  padding-top: 8%;
  padding-left: 1%;
  font-weight: bolder;
}
.slider .carousel-inner .silde-info h5.text {
  font-size: 35px;
  color: #444242;
  font-weight: 600;
}
.slider .carousel-inner .silde-info a .fas {
  transform: rotateY(150deg);
}
.slider .carousel-inner .silde-info .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 700;
  min-width: 110px;
  margin-right: 5px;
  border-radius: 7px;
  font-family: "Almarai", sans-serif;
  text-align: center;
  background-image: url("../images/buttons/sub_btn.png");
  color: #fff;
  display: inline-block;
  border: none;
}
.slider .carousel-inner .silde-info .button_no_back {
  padding-top: 9px;
  padding-bottom: 9px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 700;
  min-width: 110px;
  margin-right: 5px;
  border-radius: 7px;
  font-family: "Almarai", sans-serif;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
  margin-right: 5px;
  border-radius: 7px !important;
}
.slider .carousel-inner .one {
  background-image: url("../images/slides/slide1_ar.jpg") !important;
}
.slider .carousel-inner .carousel-item {
  left: 0px;
  height: 340px;
  position: relative !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: left;
  width: 61% !important;
}

.services {
  height: 242px;
  background: #f1c146;
  background: linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
  background: -moz-linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
  background: -webkit-linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
}
.services .services-content {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  flex-direction: column;
}
.services .btn-bottom {
  position: fixed;
  right: 85px;
  bottom: 20px;
  z-index: 100;
}
.services .btn-bottom .btn-fixed {
  border: none;
  display: block;
  background-image: linear-gradient(90deg, #f2a73f, #ef542f);
  color: #fff;
  font-size: 23px;
  border-radius: 78%;
  width: 55px;
  height: 47px;
  margin-bottom: 7px;
  outline: none;
  padding-top: 5px;
}
.services .imagesServ {
  width: 36%;
  height: 30%;
  margin-top: 17%;
  margin-left: 34%;
  display: flex;
}

.mobile-info {
  position: relative !important;
  height: 230px;
  background-image: url("../images//mobile_info/car_background_behind_the_mockup.png") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 100% !important;
  z-index: 2;
}
.mobile-info .googlplay {
  text-align: right;
  direction: rtl;
  position: absolute;
  margin-left: 3%;
  height: 107px;
  width: 11%;
  left: 49%;
  top: 57%;
}
.mobile-info .googlplay .googlplay-img {
  width: 11%;
}
.mobile-info .googlplay button {
  background-color: #000;
  color: #fff;
}
.mobile-info .googlplay .small1 {
  position: relative;
  right: -8%;
  font-size: 11px;
  font-weight: 700;
}
.mobile-info .googlplay .bigger {
  font-size: 16px;
  font-weight: 700;
}
.mobile-info .applStore {
  text-align: right;
  direction: rtl;
  width: 11%;
  position: relative;
  left: 65%;
  top: 56%;
  font-size: 11px;
  font-weight: 700;
}
.mobile-info .applStore .applStore-img {
  width: 16%;
}
.mobile-info .applStore button {
  color: #000;
  background-color: #fff;
}
.mobile-info .applStore .small1 {
  position: relative;
  right: -1%;
  font-size: 11px;
  font-weight: 700;
}
.mobile-info .applStore .bigger {
  font-size: 16px;
  font-weight: 700;
}
.mobile-info .desktop {
  background-color: #000;
  color: #fff;
  position: absolute;
  /* width: 13%; */
  left: 78%;
  top: 56%;
  border-radius: 5px;
}
.mobile-info .desktop button {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  direction: rtl;
  text-align: right;
  padding: 9px 25px 9px 25px;
}
.mobile-info .mobile {
  height: 315px;
  position: absolute;
  top: 7%;
  left: 12%;
  z-index: 3;
  background-image: url(../images//mobile_info/mobile_mockup.png) !important;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 29% !important;
  z-index: 3;
}
.mobile-info .text {
  position: absolute;
  color: #000000;
  font-size: 22px;
  font-weight: 450;
  width: 100%;
  padding-right: 24%;
  top: 17%;
  text-align: right;
  direction: rtl;
}
.mobile-info .text span {
  color: #ffffff;
}

.footer {
  margin-top: 100px;
  width: 100% !important;
}
.footer .row {
  margin: 0px !important;
  display: flex;
  flex-wrap: wrap;
}
.footer .left-side {
  padding-left: 0px;
  padding-top: 55%;
}
.footer .left-side h6 {
  font-size: 18px;
  font-weight: 600;
}
.footer .left-side p {
  font-size: 14px;
}
.footer .left-side .left-side-bottom {
  margin-top: -10px;
}
.footer .left-side .socail-icon {
  padding: 1%;
  width: 18%;
}
.footer .left-side .logo {
  width: 25%;
}
.footer .left-side .set {
  margin-left: 0% !important;
}
.footer .rigth-side-parent {
  box-shadow: 5px 0 16px 3px #BCDEDD;
  padding-bottom: 15%;
  background-color: white;
  position: relative;
  left: 5%;
  padding-right: 3%;
}
.footer .rigth-side-parent .rigth-side-parent-top {
  position: absolute;
  background-color: #ffff;
  height: 45px;
  width: 105%;
  top: -5%;
  left: -2%;
}
.footer .rigth-side-parent .rigth-side-parent-right {
  position: absolute;
  background-color: #ffff;
  height: 90%;
  width: 17%;
  left: -24px;
}
.footer .rigth-side-parent .rigth-side {
  padding-top: 15%;
}
.footer .rigth-side-parent .rigth-side span {
  font-size: 25px;
  color: #6b6b6b;
}
.footer .rigth-side-parent .rigth-side h2 {
  font-size: 30px;
  font-weight: 700;
  color: #575757;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .rigth-side-parent .rigth-side .subscribe {
  height: 43px;
  background-image: url(../images/footer/btn_back.jpg) !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 21%;
  margin-top: 3%;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
}
.footer .rigth-side-parent .rigth-side .form-group {
  width: 60%;
}
.footer .rigth-side-parent .rigth-side input {
  border: none;
  border-bottom: 2px solid #c6a3a7;
  border-radius: 0px;
  font-size: 11px;
}
.footer .rigth-side-parent .rigth-side ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: oblique;
}
.footer .rigth-side-parent .rigth-side ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: oblique;
}
.footer .rigth-side-parent .rigth-side :-ms-input-placeholder {
  /* IE 10+ */
  font-style: oblique;
}
.footer .rigth-side-parent .rigth-side :-moz-placeholder {
  /* Firefox 18- */
  font-style: oblique;
}
.footer .container {
  position: relative;
  margin-top: 13%;
}
.footer .bottom-side {
  font-size: 14px;
  width: 100%;
  color: #fff;
  position: absolute;
  top: -6%;
}
.footer .bottom-side .social-item-parent {
  padding-right: 0px !important;
}
.footer .bottom-side .footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  direction: rtl;
  text-align: right;
}
.footer .bottom-side .footer-ul li {
  display: inline;
  float: right;
  padding: 3px;
}
.footer .bottom-side .footer-ul li span {
  padding-right: 5px;
  padding-left: 5px;
}
.footer .bottom-side hr {
  height: 1px;
  color: #fff;
  background: #fff;
  width: 100%;
}
.footer .bottom-side .copy {
  color: #fff;
  direction: rtl;
  text-align: center;
  font-size: 12px;
}
.footer .bottom-side .text-right {
  text-align: left !important;
}
.footer .svg-mobile {
  position: relative;
  margin-top: -9%;
  opacity: 0.8;
}
.footer .svg-mobile .svg-bottom {
  height: 315px;
  overflow: hidden;
}

.features .flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 7%;
  margin-right: 8%;
}
.features .flex-container > div {
  background-color: #e1e1e1;
  width: 100%;
  height: 200px;
  margin: 2%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.container {
  direction: rtl !important;
  text-align: right !important;
}

.socials {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
}

.social-item {
  color: white;
  border-radius: 50%;
  min-width: 35px;
  height: 35px;
  display: inline-block;
}

.imagFeture {
  width: 270px;
  height: 275px;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  margin: 0;
  padding: 0;
}

.imagesFeture {
  width: 1200px !important;
}

.appleStore {
  width: 11%;
  height: 57%;
  position: relative;
  left: 63%;
  top: 25%;
  background-color: #fff;
}

.googlePlay {
  width: 11%;
  height: 57%;
  position: relative;
  left: 49%;
  top: 125%;
  background-color: #000;
  color: #fff;
}

.googlePlay:hover {
  color: #fff;
}

.hexagon {
  width: 10%;
  float: left;
  height: 95px;
  background: white;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  margin-right: 2%;
}

.fontServ {
  display: inline-block;
  width: 100px;
  font-size: 9px;
  color: #888;
}

.eat {
  max-width: 118%;
  position: relative;
  top: 13%;
}

@media (max-width: 379px) {
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .header-section1 .btn-join {
    margin-right: 0px;
  }
  .page1 .header-section1 p.text-size {
    margin-bottom: 10px;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 17px !important;
  }
  .page1 .text-section h1 {
    font-size: 25px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 75% !important;
  }
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 85px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 9px !important;
    bottom: 23px !important;
    margin-right: -10% !important;
  }
  .page1 .services2 .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
  }
  .page1 .services2 .hexagon2 span {
    width: 100% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: right !important;
    padding-right: 5px !important;
  }
  .page1 .food h5 {
    font-size: 15px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 18px !important;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  .page1 .food img {
    width: 268px !important;
  }
}
@media (min-width: 380px) and (max-width: 480px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .header-section1 p.text-size {
    margin-bottom: 10px;
  }
  .page1 .header-section1 .btn-join {
    margin-right: 0px;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 57% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: right !important;
  }
  .page1 .food h5 {
    font-size: 15px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 22px !important;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  .page1 .food img {
    width: 335px !important;
  }
  .page1 .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 79% !important;
    height: 119px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 13px !important;
    bottom: 35px !important;
    margin-right: -3% !important;
  }
}
@media (min-width: 481px) and (max-width: 575px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 16px !important;
  }
  .page1 .header-section1 p.text-size {
    margin-bottom: 10px;
  }
  .page1 .header-section1 .btn-join {
    margin-right: 0px;
  }
  .page1 .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 12px !important;
    bottom: 32px !important;
    margin-right: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .page1 .food .row {
    transform: translatex(-13%) !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 15px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 20px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 335px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 16px !important;
  }
  .page1 .header-section1 p.text-size {
    margin-bottom: 10px;
  }
  .page1 .header-section1 .btn-join {
    margin-right: 0px;
  }
  .page1 .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 13px !important;
    bottom: 30px !important;
    margin-right: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 40px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .page1 .food .row {
    transform: translatex(-13%) !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 15px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 20px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 335px !important;
  }
}
@media (min-width: 769px) and (max-width: 851px) {
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .page1 .header-section1 .header-bottom .input-group {
    margin-left: 0px !important;
    margin-right: 0px;
  }
  .page1 .services2 .col-sm-6 {
    max-width: 50% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 22px !important;
  }
  .page1 .text-section h1 {
    font-size: 45px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 30% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 12px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 20px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 200px !important;
    height: 170px !important;
  }
}
@media (min-width: 852px) and (max-width: 991px) {
  .page1 .header-section1 {
    font-size: 16px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .page1 .services2 .container .row {
    margin-left: 20% !important;
    margin-right: 14% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 .imagesServ {
    margin-top: 18%;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 15px !important;
    bottom: 32px !important;
    margin-right: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 30px !important;
  }
  .page1 .text-section h1 {
    font-size: 58px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 27% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 14px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 200px !important;
    height: 170px !important;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 110px !important;
    height: 83px !important;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 98px !important;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 12px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 27px !important;
  }
  .page1 .text-section h1 {
    font-size: 57px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 22% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 14px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 170px !important;
  }
}
@media (min-width: 1101px) and (max-width: 1230px) {
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 170px !important;
  }
}
@media (min-width: 1531px) and (max-width: 1800px) {
  .page1 .header-section1 .dropdown {
    width: 69px !important;
  }
  .page1 .header-section1 .btn-sing, .page1 .header-section1 .btn-join {
    width: 150px !important;
  }
  .page1 .header-section1 .container {
    font-size: 17px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 135px !important;
    height: 100px !important;
  }
  .page1 .header-section1 p.text-size {
    margin-left: 81px;
    font-weight: bolder;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 155px !important;
    height: 200px !important;
  }
  .page1 .services2 .hexagon2 .imagesServ {
    margin-top: 26%;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 20px !important;
    bottom: 55px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .dropdown_selecte {
    margin-right: 427px;
  }
  .page1 .text-section .dropdown_selecte button {
    font-size: 42px !important;
  }
  .page1 .text-section .dropdown_selecte_city button {
    font-size: 42px !important;
  }
  .page1 .text-section p {
    margin-right: 89px;
    font-size: 35px !important;
  }
  .page1 .text-section h1 {
    font-size: 95px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .page1 .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .page1 .text-section .dropdown_selecte_city {
    margin-left: 300px;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
    font-size: 28px !important;
  }
  .page1 .food h4 {
    font-size: 54px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 290px !important;
  }
}
@media (min-width: 1801px) and (max-width: 2000px) {
  .page1 .header-section1 .text-size {
    margin-right: 29px !important;
  }
  .page1 .header-section1 .dropdown {
    width: 92px !important;
    font-size: 33px !important;
  }
  .page1 .header-section1 .btn-sing, .page1 .header-section1 .btn-join {
    width: 170px !important;
  }
  .page1 .header-section1 .container {
    font-size: 19px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 150px !important;
    height: 120px !important;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 189px !important;
    height: 249px !important;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 21px !important;
    bottom: 63px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 36px !important;
    margin-right: 180px;
  }
  .page1 .text-section h1 {
    font-size: 110px !important;
    margin-top: -10px !important;
    margin-right: 120px;
  }
  .page1 .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .page1 .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .page1 .text-section .dropdown_selecte {
    margin-right: 564px;
  }
  .page1 .text-section .dropdown_selecte button {
    font-size: 42px !important;
  }
  .page1 .text-section .dropdown_selecte_city {
    margin-left: 300px;
  }
  .page1 .text-section .dropdown_selecte_city button {
    font-size: 42px !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 18px !important;
    margin-bottom: 30px !important;
    font-size: 34px !important;
  }
  .page1 .food h4 {
    font-size: 64px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 330px !important;
  }
}
@media (max-width: 379px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -35% !important;
  }
  .footer .container {
    font-size: 9px !important;
  }
  .footer .copy {
    margin-top: -15px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .footer-ul li span {
    padding-right: 1px;
    padding-left: 1px;
  }
  .footer .bottom-side .container {
    margin-top: 35% !important;
    font-size: 9px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 3% !important;
    margin-top: 2% !important;
  }
  .footer .bottom-side .socials img, .footer .bottom-side .socials a {
    max-width: 22px !important;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .bottom-side .col-sm-5 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .copy {
    margin-top: 10px !important;
    font-size: 9px !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 110px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 15px !important;
  }
  .footer .rigth-side span {
    font-size: 10px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -8px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 9px !important;
  }
  .footer .left-side h6 {
    font-size: 12px;
  }
  .footer .left-side p {
    font-size: 9px;
  }

  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }
  .header-section ul {
    margin-right: -10% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 72px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .carousel-inner .carousel-item {
    margin-left: 10px !important;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 14px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 11px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 30% !important;
    left: 0% !important;
  }
  .mobile-info .googlplay button {
    padding: 1px 1px;
  }
  .mobile-info .googlplay .small1 {
    font-size: 9px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 30% !important;
    left: 36% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 9px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore button {
    padding: 1px 1px;
  }
  .mobile-info .desktop {
    width: 30% !important;
    left: 68% !important;
  }
  .mobile-info .desktop button {
    font-size: 9px !important;
    padding: 9px 5px 15px;
  }
  .mobile-info .text {
    font-size: 14px !important;
    padding-right: 35% !important;
    margin-top: 30px;
  }

  .features h2 {
    font-size: 16px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }

  .services {
    margin-top: -95px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    color: #888;
    display: inline;
  }
  .services .imagesServ {
    width: 30% !important;
    height: 23% !important;
    margin-top: 31% !important;
    margin-left: 35% !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin-top: 2% !important;
    width: 22% !important;
    margin-left: 7%;
  }
}
@media (min-width: 380px) and (max-width: 480px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -35% !important;
  }
  .footer .container {
    font-size: 9px !important;
  }
  .footer .copy {
    margin-top: -15px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .footer-ul li span {
    padding-right: 2px;
    padding-left: 2px;
  }
  .footer .bottom-side .container {
    margin-top: 29% !important;
    font-size: 9px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 3% !important;
    margin-top: 2% !important;
  }
  .footer .bottom-side .socials img, .footer .bottom-side .socials a {
    max-width: 22px !important;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .bottom-side .col-sm-5 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .copy {
    margin-top: 10px !important;
    font-size: 9px !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 110px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 15px !important;
  }
  .footer .rigth-side span {
    font-size: 10px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -30px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 9px !important;
  }
  .footer .left-side h6 {
    font-size: 12px;
  }
  .footer .left-side p {
    font-size: 9px;
  }

  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section ul {
    margin-right: -8% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 60px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 15px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 12px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 30% !important;
    left: 0% !important;
  }
  .mobile-info .googlplay button {
    padding: 1px 1px;
  }
  .mobile-info .googlplay .small1 {
    font-size: 9px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 30% !important;
    left: 36% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 9px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore button {
    padding: 1px 1px;
  }
  .mobile-info .desktop {
    width: 30% !important;
    left: 68% !important;
  }
  .mobile-info .desktop button {
    font-size: 9px !important;
    padding: 9px 20px 14px;
  }
  .mobile-info .text {
    font-size: 15px !important;
    padding-right: 35% !important;
    margin-top: 30px;
  }

  .features h2 {
    font-size: 16px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }

  .services {
    margin-top: -75px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
}
@media (min-width: 481px) and (max-width: 575px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -23% !important;
  }
  .footer .svg-bottom {
    height: 330px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .socials {
    margin-left: 2% !important;
  }
  .footer .bottom-side .container {
    font-size: 13px;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 14px;
  }
  .footer .left-side p {
    font-size: 11px;
  }
  .footer .rigth-side {
    margin-bottom: 100px;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 22px !important;
  }
  .footer .rigth-side span {
    font-size: 18px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -28px;
  }
  .footer .subscribe {
    width: 33% !important;
  }

  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section ul {
    margin-right: -8% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 37px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 20px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }

  .mobile-info .mobile {
    height: 270px !important;
    position: absolute !important;
    top: 30% !important;
    left: 3% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .googlplay .small1 {
    font-size: 10px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 10px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 12px;
    padding: 12px 5px 13px 5px;
  }
  .mobile-info .text {
    margin-top: 30px;
    padding-right: 28%;
    font-size: 14px !important;
  }

  .features h2 {
    font-size: 18px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }

  .services {
    margin-top: -55px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 550px;
  }

  .header-section {
    margin-bottom: -5% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .header-section ul {
    margin-right: -6% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }

  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 13px !important;
    padding: 10px 5px 10px 10px;
    text-align: center !important;
    direction: rtl;
  }
  .mobile-info .text {
    font-size: 16px !important;
    padding-right: 29%;
    margin-top: 20px;
  }
  .mobile-info .small1 {
    font-size: 11px !important;
  }
  .mobile-info .bigger {
    font-size: 15px !important;
  }

  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }

  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 18% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 24% !important;
    font-size: 12px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 14px;
  }
  .footer .left-side p {
    font-size: 12px;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 19px !important;
  }
  .footer .rigth-side span {
    font-size: 16px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
    font-size: 13px !important;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 37px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 20px !important;
  }
  .slider .silde-info a {
    margin-top: 50px;
    display: inline !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }

  .services {
    margin-top: -55px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 9px;
    display: inline;
  }
}
@media (min-width: 769px) and (max-width: 851px) {
  .container {
    max-width: 700px !important;
  }

  .header-section {
    margin-bottom: -2% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 54px;
  }
  .header-section ul {
    margin-right: -5% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }

  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 14px !important;
  }
  .mobile-info .text {
    font-size: 22px !important;
    padding-right: 28%;
    top: 20%;
  }
  .mobile-info .small1 {
    font-size: 12px !important;
  }
  .mobile-info .bigger {
    font-size: 16px !important;
  }

  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }

  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 34% !important;
    max-width: 92% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 19% !important;
    font-size: 16px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 25px !important;
  }
  .footer .rigth-side span {
    font-size: 20px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 15px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 27px !important;
  }
  .slider .silde-info a {
    margin-top: 18px;
    display: inline-block !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }

  .services {
    margin-top: -30px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 10px;
  }
}
@media (min-width: 852px) and (max-width: 991px) {
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .header-section .logo-image {
    width: 82px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 76px;
  }
  .header-section ul {
    margin-right: -4% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }

  .container {
    max-width: 780px !important;
  }

  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 43% !important;
    max-width: 80% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 16% !important;
    font-size: 16px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 25px !important;
  }
  .footer .rigth-side span {
    font-size: 20px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }

  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 29px !important;
  }
  .slider .silde-info a {
    margin-top: 18px;
    display: inline-block !important;
    position: relative;
    font-size: 22px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }

  .mobile-info .googlplay {
    width: 14%;
    left: 43%;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 62%;
  }
  .mobile-info .text {
    font-size: 22px !important;
  }
  .mobile-info .small1 {
    font-size: 11px !important;
  }
  .mobile-info .bigger {
    font-size: 15px !important;
  }

  .services {
    margin-top: -10px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 35% !important;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 900px !important;
  }

  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 18% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side div.text-right {
    text-align: left !important;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 17% !important;
    font-size: 10px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 15px;
  }
  .footer .left-side p {
    font-size: 10px;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 20px !important;
  }
  .footer .rigth-side span {
    font-size: 15px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }

  .mobile-info .text {
    font-size: 18px !important;
  }
  .mobile-info .small1 {
    font-size: 12px !important;
  }
  .mobile-info .bigger {
    font-size: 14px !important;
  }

  .slider .carousel-inner .silde-info h5.text {
    font-size: 35px;
    color: #444242;
    font-weight: 600;
  }
  .slider .carousel-inner .silde-info .button {
    font-size: 20px;
  }
  .slider .carousel-inner .silde-info .button_no_back {
    font-size: 17px;
  }

  .services .hexagon {
    width: 12%;
  }
  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 22% !important;
  }

  .header-section .navbar ul {
    margin-right: -15px !important;
  }
}
@media (min-width: 1101px) and (max-width: 1230px) {
  .footer .svg-mobile {
    margin-top: -11% !important;
  }
  .footer .svg-bottom {
    height: 350px !important;
  }
  .footer .bottom-side .container {
    margin-top: 17% !important;
    font-size: 95% !important;
  }
  .footer .subscribe {
    width: 30% !important;
  }

  .header-section .navbar ul {
    margin-right: -15px !important;
  }

  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 30% !important;
  }
}
@media (min-width: 1531px) and (max-width: 1800px) {
  .header-section .card-count {
    top: 0px;
  }
  .header-section .logo-image {
    width: 148px !important;
    height: 128px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 30px !important;
  }
  .header-section .nav-li {
    font-size: 30px !important;
  }

  .btn-bottom {
    margin-right: 34px !important;
  }

  .container {
    font-size: 20px !important;
    max-width: 1400px !important;
  }

  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 17px !important;
  }

  .mobile-info {
    height: 291px;
  }
  .mobile-info .mobile {
    height: 315px;
    position: absolute;
    top: 20%;
    left: 14%;
  }
  .mobile-info .googlplay {
    width: 14%;
    left: 42%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 61%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .text {
    padding-right: 26%;
    font-size: 35px !important;
  }
  .mobile-info .small1 {
    font-size: 18px !important;
  }
  .mobile-info .bigger {
    font-size: 26px !important;
  }
  .mobile-info .desktop {
    padding: 5px 5px 5px 5px;
    top: 58%;
  }
  .mobile-info .desktop button {
    font-size: 18px !important;
  }
}
@media (min-width: 1801px) and (max-width: 2000px) {
  .header-section ul {
    margin-right: 375px !important;
  }
  .header-section .card-count {
    top: 0px;
  }
  .header-section .logo-image {
    width: 148px !important;
    height: 128px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 30px !important;
  }
  .header-section .nav-li {
    font-size: 30px !important;
  }

  .btn-bottom {
    margin-right: 50px !important;
  }

  .container {
    font-size: 22px !important;
    max-width: 1600px !important;
  }

  .footer .svg-bottom {
    height: 380px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 20x;
  }

  .mobile-info {
    height: 291px;
  }
  .mobile-info .mobile {
    height: 330px;
    position: absolute;
    top: 20%;
    left: 16%;
  }
  .mobile-info .googlplay {
    width: 14%;
    left: 42%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 61%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .text {
    padding-right: 25%;
    font-size: 38px !important;
  }
  .mobile-info .small1 {
    font-size: 18px !important;
  }
  .mobile-info .bigger {
    font-size: 26px !important;
  }
  .mobile-info .desktop {
    padding: 5px 5px 5px 5px;
    top: 59%;
  }
  .mobile-info .desktop button {
    font-size: 18px !important;
  }
}

/*# sourceMappingURL=arabic_style.css.map */
