.about-section{
    margin-top: 10rem;
    .address{
        font-style: normal;
        font-weight: 500;
        //font-size: 30px;
        //line-height: 35px;
        font-size: calc(14px + 1.5vw);
        line-height: calc(16px + 1.5vw);
        color: #000000;

        margin: 2rem auto;
    }
    .text{
        display: block;
        font-weight: normal;
        font-size: calc(8px + 0.4vw);
        line-height: calc(10px + 1.2vw);
        text-align: justify;
        width: 60ch;
        color: #5E5E5E;
    }
    .img{
        width: 100%;
        border-radius: 25px;
        img{
            width: 100%;
        }
    }

    .part-3{
        margin-bottom: 4rem;
    }
    .second-part{

        border-radius: 32px;
        background-color: #FAC24F;
        .content{
            padding: 2.5rem 3.5rem;
        }
        .text{

            color: white!important;
        }
    }

}
.terms-section{
    margin-top: 10rem;
}
.faq-section{
    margin: 2rem 0rem;
    margin-top: 12rem;
    .imges{
        width: 100%;
        background-color: #FAC24F;
        height: 25vw;
        min-height: 300px;
        max-height: 600px;
        position: relative;
    }
    .address{
        text-align: center;
        top: 50%;
        position: relative;
        transform: translateY(-40px);
        //margin: auto;
        color: white;
        font-weight: 500;
        //font-size: 72px;
        //line-height: 96px;

        font-size: calc(20px + 4vw);
        line-height: calc(25px + 5vw);

        //align-items: center;
        letter-spacing: 0.05em;

    }

    .img1{
        position: absolute;
        top: 70%;
        right: 15%;
        transform: translate(70px, -90px);
        width: 3vw;
        height: 5vw;
        margin-right: 5rem;
        min-width: 25px;
        min-height: 35px;
        img{
            width: 100%;
        }


    }

    .img2{
        position: absolute;
        bottom: -0.8vw;
        right: 56%;
        transform: translateX(111px);
        width: 2vw;
        height: 5vw;
        margin-right: 5rem;
        min-width: 13px;
        min-height: 20px;

        img{
            width: 100%;
        }


    }

    .img3{
        position: absolute;
        right: 58%;
        transform: translate(70px, -110px);
        width: 6vw;
        height: 9vw;
        margin-right: 5rem;
        min-width: 52px;
        min-height: 62px;
        bottom: -15%;

        img{
            width: 100%;
        }


    }

    .img4{
        position: absolute;
        left: 25%;
        transform: translate(-70px, -93px);
        width: 3vw;
        height: 9vw;
        margin-right: 5rem;
        min-width: 40px;
        min-height: 55px;
        bottom: -16%;

        img{
            width: 100%;
        }


    }


    .content{
        margin: 3rem 0rem;
        .container{
            background: linear-gradient(178.01deg, #F6F6F6 1.68%, rgba(246, 246, 246, 0) 98.35%);
            border-radius: 20px;
            padding: 3.5rem 1.5rem ;

            .parent{
                background: #FFFFFF;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
                border-radius: 5px;
                margin: 1.2rem 0rem;
                padding: 1rem 0rem;

                .address{
                    font-style: normal;
                    font-weight: normal;
                    //font-size: 18px;
                    //line-height: 21px;

                    font-size: calc(7px + 0.5vw);
                    line-height: calc(10px + 1vw);

                    color: #5E5E5E;
                }

                .text{
                    font-size: calc(7px + 0.5vw);
                    line-height: calc(10px + 1vw);

                    /* or 23px */
                    letter-spacing: 0.03em;

                    color: #5E5E5E;
                }
             a,i{
                    margin:0rem  2rem;
                 font-size: calc(7px + 0.5vw);
                 line-height: calc(10px + 1vw);

                 color: #5E5E5E;
                }
              .collapsing,  .collapse{
                    margin:2rem  3rem;
                  @include transition-700ms;
                }

                .fa-arrow-down{
                    display: inline-block!important;
                }
                .fa-arrow-up{
                    display: none !important;
                }

                .active{
                    color: #FE2E17!important;
                   i, a{
                        color: #FE2E17!important;

                    }
                    .fa-arrow-down{
                        display: none!important;
                    }
                    .fa-arrow-up{
                        display: inline-block!important;
                    }
                }
            }
        }
    }

}


.main-address{
    font-style: normal;
    font-weight: 800;
    //font-size: 30px;
    //line-height: 35px;
    font-size: calc(14px + 1vw);
    //line-height: calc(25px + 3vw);
    color: #000000;
    margin: 1.7rem 0rem;
}
.second-address{
    font-style: normal;
    font-weight: normal;
    //font-size: 30px;
    //line-height: 35px;
    //font-size: calc(14px + 1vw);
    font-size: calc(12px + 0.9vw);
    line-height: calc(25px + 2vw);

    color: #5E5E5E;
}

.text{
    font-style: normal;
    font-weight: normal;
    //font-size: 18px;
    //line-height: 21px;
    font-size: calc(8px + 0.5vw);
    line-height: calc(15px + 1.3vw);
    color: #5E5E5E;
}
