@import "../mixin";
@media  (max-width: 379px) {

}

@media (min-width: 380px)and (max-width: 480px) {


}

@media (min-width: 481px) and (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 675px) {


}
@media (min-width: 677px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 851px) {

}

@media (min-width: 852px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width:1100px) {


}

@media (min-width: 1101px) and (max-width: 1230px) {

}

@media (min-width: 1531px) and (max-width: 1800px) {


}

@media (min-width: 1801px) and (max-width: 2000px) {

}


@media (max-width: 520px) {

}


@media  (min-width: 1224px) {
    .about-section{
        .second-part{
            flex-direction: row!important;
            > * {
                flex-basis: 100%!important;

            }
        }

        //.text{
        //    width: 100%!important;
        //    font-size: 8px!important;
        //
        //}
    }

    //.text{
    //    width: ;
    //}
}


@media (min-width: 1001px) {
    .about-section{
        .first-part{
            flex-direction: row!important;
            > * {
                flex-basis: 100%!important;

            }
        }
        .first-part > * + *  {
            margin-left: 1.5rem;
        }
    }

    //.second-part > * + *   {
    //    margin-left: 1.5rem;
    //}

}
@media  (max-width: 1225px) {
    .about-section{
        .text{
            width: 100%;

        }
    }


}
