.checkout-section {
    .timepicker{
        width: calc(180px + 6vw) !important;
    }
    .datepicker{
        width: calc(180px + 6vw) !important;

        table{
            width: 100%;
        }
    }
    margin-top: 10.5rem;
    margin-bottom: 3.5rem;

    p {
        margin-bottom: 0px !important;
    }

    .step-section {
        padding: 1rem 0rem;
        background: #F5F5F5;

        .progress-pointer {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            .line {
                background: #FAC24F;
                border-radius: 10px;
                height: calc(2px + 0.2vw);
                width: 31%;
                margin: 0rem 0.5rem;
            }

            .active {

                color: #161616 !important;
            }

            .ready {
                color: $mainBackGroundColor !important;
            }

            .content {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                //font-size: 20px;
                //line-height: 23px;

                font-size: calc(8px + 0.6vw);
                color: #8F8F8F;


            }

            .passed {

                color: #FAC24F !important;
            }

        }
    }

    .user-addresses {
        padding: 2rem 0rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .addresses-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            section.add-new-address,.user-address:nth-child(3n+3) {
                margin-right: 0px;
            }

           section.add-new-address,.user-address:nth-child(3n+1) {
                margin-left: 0px;
            }

            .user-address {
                width: 31%;
                min-width: calc(190px + 5vw);
                background: #FFFFFF;
                box-shadow: 0px 4px 18px -5px rgba(0, 0, 0, 0.25);
                border-radius: 24px;
                margin: 1rem 1.5%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                //margin-left: 0px;
                //margin:auto ;
                //margin-bottom: 1rem;
                .header {
                    display: flex;
                    justify-content: center;
                    background: #FAC24F;
                    border-radius: 24px 24px 0px 0px;
                    font-weight: 600;
                    font-size: calc(6px + 0.6vw);
                    //font-size: 20px;
                    //line-height: 30px;
                    color: #FFFFFF;
                    padding: 1rem;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem 1rem;

                    .address-type, .detail {
                        margin-bottom: 1rem;
                    }

                    .address-type {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .my-dropdown-menu {
                            width: 13vw;
                            min-width: 175px;
                            max-width: 220px;
                            overflow-y: auto;

                            .dropdown-item {
                                font-style: normal;
                                font-weight: bolder;
                                font-size: calc(6px + 0.6vw);
                                color: #000000;
                                margin-bottom: 0px !important;
                            }
                        }

                        h2 {
                            font-weight: bolder;
                            //font-size: 20px;
                            //line-height: 23px;
                            font-size: calc(6px + 0.6vw);
                            color: #000000;
                            margin-bottom: 0px;
                        }
                    }

                    .detail {

                        display: flex;

                        .left {
                            display: flex;
                            justify-content: start;
                            //width: calc(90px + 3.5vw);
                            width: 37%;
                        }

                        .right {
                            display: flex;
                            justify-content: start;
                            width: 60%;
                        }

                        h6 {
                            font-style: normal;
                            font-weight: 400;
                            //font-size: 20px;
                            //line-height: 23px;

                            font-size: calc(6px + 0.6vw);
                            color: #4E4E4E;
                            margin-bottom: 0px !important;

                        }

                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            //font-size: 22px;
                            //line-height: 26px;
                            font-size: calc(7px + 0.65vw);
                            /* identical to box height */
                            color: #000000;
                            margin-bottom: 0px !important;
                        }
                    }
                }
                .select-address{
                    display: flex;
                    justify-content: center;
                    width: 95%;
                    border: 2px solid #FAC24F;
                    box-sizing: border-box;
                    border-radius: 0px 0px 24px 24px;
                    font-family: 'Roboto';
                    font-style: normal;
                    //font-weight: 400;
                    //font-size: calc(7px + 0.65vw);
                    //font-size: 20px;
                    //line-height: 23px;
                    color: #FAC24F;
                    margin: 0.3rem auto;
                    padding: 0.5rem;
                    font-weight: 600;
                    font-size: calc(8px + 0.6vw);
                    cursor: pointer;
                    @include transition-700ms;
                    &:hover{
                        background: $mainBackGroundColor!important;
                        color: white!important;
                    }
                }

                .active-address{
                    background: $mainBackGroundColor!important;
                    color: white!important;
                    svg{
                        margin-left: 1rem;
                    }
                }
            }

            .add-new-address {

                width: 30%;
                min-width: calc(190px + 5vw);
                background: #FFFFFF;
                box-shadow: 0px 4px 18px -5px rgba(0, 0, 0, 0.25);
                border-radius: 24px;
                margin: 1rem 2.5%;
                //margin-left: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                min-height: calc(200px + 5vw);
                flex-direction: column;
                cursor: pointer;

                .svg-container {
                    @include transition-700ms;
                }

                &:hover {
                    .svg-container {
                        transform: translateY(-5px);
                    }
                }

                p {

                    margin-top: 1.5rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: calc(15px + 1vw);
                    //font-size: 32px;
                    //line-height: 38px;
                    color: #FAC24F;
                }
            }
        }
    }

    .edit-new-address {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-check-label {
            display: flex;
            align-items: center;
        }

        input[type='radio'] {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border: 1px solid darkgray;
            border-radius: 50%;
            outline: none;
            box-shadow: 0 0 5px 0px #d0d0d0 inset;
        }

        input[type='radio']:hover {
            box-shadow: 0 0 5px 0px orange inset;
        }

        input[type='radio']:before {
            content: '';
            display: block;
            width: 50%;
            height: 50%;
            margin: 20% auto;
            border-radius: 50%;
        }

        input[type='radio']:checked {
            box-shadow: 0 0 1px 0px orange inset;
            border: 1px solid $mainBackGroundColor !important;
        }

        input[type='radio']:checked:before {
            background: $mainBackGroundColor;

        }

        .custom-control-input:checked ~ .custom-control-label::before {
            color: #fff;
            border-color: #fac24f !important;
            background-color: #fac24f !important;
        }

        .edit-new-address-container {
            display: flex;

            .map {
                width: 50%;
                padding-right: 1.5rem;
                position: relative;
                height: calc(300px + 18vw);

                .btn-position {
                    position: absolute;
                    width: calc(70px + 0.75vw);
                    right: 10% !important;
                    top: 10% !important;
                    transform: translate(-30%, -50%);
                    height: calc(35px + 0.75vw);
                    background: #FAC24F;
                    -webkit-backdrop-filter: blur(14px);
                    backdrop-filter: blur(14px);
                    border-radius: 8px;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                input:focus {
                    outline: none !important;
                    border: 1px solid $mainBackGroundColor !important;
                    //box-shadow: 0 0 10px #719ECE;
                }

                .search-on-map {
                    z-index: 0;
                    width: 82% !important;
                    position: absolute;
                    left: 50% !important;
                    top: 10% !important;
                    transform: translate(-50%, -50%);
                    height: calc(40px + 1.2vw);
                    background: rgba(255, 255, 255, 0.8);
                    backdrop-filter: blur(14px) !important;
                    border-radius: 8px;
                    font-weight: 600;
                    //font-size: 20px;
                    //line-height: 23px;
                    font-size: calc(8px + 0.6vw);
                    color: #5C5C5C;
                    border: none;

                }

                #map {
                    width: 100%;
                    height: 100%;
                    border-radius: 27px;

                }

                //height: 100%;
            }

            .info {
                width: 50%;
            }
        }

    }

    .dropdown {
        button {
            background: #F5F5F5;
            box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.18);
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            //font-size: 18px;
            //line-height: 22px;
            font-size: calc(8px + 0.6vw);

            /* identical to box height */

            color: #000000;
        }

        .dropdown-menu {

            max-height: 310px;
            overflow-y: scroll;

            .dropdown-item {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: calc(8px + 0.5vw);
                color: #000000;
            }

            .input-container {
                padding: 0rem 0.75rem;
            }

            .input-filter {
                background: #F5F5F5;
                border-radius: 12px;
                border: none;
                padding: 0.5rem;
                font-size: calc(7px + 0.5vw);
            }

            input:focus {
                //background-color: yellow;
                border: 1px solid $mainBackGroundColor !important;
                outline: none !important;
            }
        }
    }

    .one-row {
        .labels {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .left {
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }

            .right {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                .explaine {
                    margin-right: 0.75rem;
                }

                //@include custom-switch;
            }
        }

        .row-inputs {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .user-input {
                width: 47%;
            }
        }

        .mobile-number {
            display: flex;
            width: 100%;
            border: 1px solid #ced4da;
            padding: 0.2rem;
            border-radius: 0.25rem;
            height: calc(1.5em + 0.75rem + 2px);

            input {
                border: none !important;
                height: calc(1.3em + 0.5rem + 2px);
                z-index: 10;
            }

            .dropdown {
                //width: 100%;
                width: calc(90px + 2vw);
                margin-right: 1rem;
                //min-width: calc(80px + 2vw);
                .input-container {
                    input {
                        width: calc(70px + 1.5vw);
                        font-size: calc(6px + 0.4vw);
                    }
                }

                .dropdown-menu {
                    min-width: calc(90px + 2vw);
                }

                button {
                    border-radius: 0.25rem;
                    height: calc(1.3em + 0.5rem + 2px);
                    width: calc(90px + 2vw);
                }
            }
        }

        margin-bottom: 1.325rem;
        @include custom-check-box;

        .checkbox-container {
            margin: 0.5rem 0rem !important;
        }
    }

    input, label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: calc(8px + 0.5vw);
        //font-size: 18px;
        //line-height: 21px;


        color: #000000;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 65%;
        padding-right: 3rem;

    }

    .right-side {

        display: flex;
        flex-direction: column;
        width: 36%;
        padding: 1.5rem;
        border: 1px solid #D4D4D4;
        border-radius: 12px;

        .btn-container {
            margin-bottom: 1rem;
        }

        .content2 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: calc(7px + 0.4vw);
            //font-size: 18px;
            //line-height: 30px;
            color: #8D8D8D;
        }

        .list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .item {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .qtn {
                    font-weight: 400;
                    //font-size: 20px;
                    //line-height: 23px;
                    font-size: calc(10px + 0.5vw);
                    color: #1D1D1D;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .content {
                    font-weight: 400;
                    //font-size: 18px;
                    //line-height: 26px;
                    font-size: calc(10px + 0.35vw);
                    color: #8D8D8D;
                    padding: 0rem 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .price {
                    font-weight: 400;
                    //font-size: 20px;
                    //line-height: 23px;
                    font-size: calc(10px + 0.5vw);
                    text-align: right;
                    color: #1D1D1D;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .list2 {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                justify-content: space-between;

                .content {
                    font-weight: 400;
                    //font-size: 18px;
                    //line-height: 26px;
                    font-size: calc(8px + 0.45vw);
                    color: #8D8D8D;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .price {
                    font-weight: 400;
                    //font-size: 20px;
                    //line-height: 23px;
                    font-size: calc(10px + 0.5vw);
                    text-align: right;
                    color: #1D1D1D;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        hr {
            background: #F3F3F3;
            border-radius: 12px;
            height: 2px;
            width: 100%;
            margin: 1.2rem 0rem;
        }


        .list3 {
            display: flex;
            justify-content: space-between;

            .address2 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: calc(10px + 0.4vw);
                //font-size: 18px;
                //line-height: 21px;


                color: #000000;
            }

            .price {
                font-weight: 700;
                font-size: calc(12px + 0.6vw);

                //font-size: 28px;
                //line-height: 33px;
                text-align: right;

                color: #FF7020;
            }
        }
    }

    .address {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        //font-size: 20px;
        //line-height: 30px;
        font-size: calc(10px + 0.6vw);
        color: #000000;
        margin-bottom: 1rem;
    }

    .payment-section {
        .right-side{
            max-height: 500px;
            position: sticky;
            top: 0px;
            @include transition-700ms;
        }
        .two-payment-method{
           justify-content: start!important;
            .btn{
                margin-right: 1.5rem!important;
            }
        }
        .payment-method {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            margin-top: 1rem;

            .btn {
                background: #FFFFFF;
                border: 0.886102px solid #D4D4D4 !important;
                font-weight: 600;
                //font-size: 20px;
                //line-height: 23px;
                color: #000000;
                font-size: calc(8px + 0.6vw);
                width: calc(100px + 6vw);
                height: calc(40px + 1vw);
                border-radius: 10.6332px !important;
                @include transition-700ms;

                &:hover {
                    background: $mainBackGroundColor !important;
                    border: 0.886102px solid white !important;
                    color: white !important;
                }
            }

            .active {
                background: $mainBackGroundColor !important;
                border: 0.886102px solid white !important;
                color: white !important;
            }

        }

        .card-details {
            width: 100%;
            padding: 1rem;
            margin-top: 1rem;
            background: #FFFFFF;
            border: 1px solid #D4D4D4;
            box-sizing: border-box;
            border-radius: 12px;

            .one-row {
                width: 100%;
            }
        }

        .delivaz-cash {
            padding: 1rem;
            margin-top: 1rem;
            width: 100%;
            background: #FFFFFF;
        }

        .delivaz-wallet {
            display: flex;
            justify-content: start;
            flex-direction: column;
            padding: 1rem;
            margin-top: 1rem;
            width: 100%;
            background: #FFFFFF;
            border: 0.886102px solid #D4D4D4;
            //box-sizing: border-box;
            border-radius: 10px;

            hr {
                background: #F3F3F3;
                border-radius: 12px;
                height: 1px;
                width: 100%;
                margin: 1.2rem 0rem;
            }

            .account {

                display: flex;
                justify-content: space-between;

                p {

                    color: #000000;
                }
            }

            p {
                font-style: normal;
                font-weight: 600;
                //font-size: 20px;
                //line-height: 23px;
                font-size: calc(8px + 0.6vw);
                margin-left: 0.75rem;

            }

            .wallet-error {
                display: flex;
                align-items: center;

                p {

                    color: #FE2E17;


                }

                i {
                    font-size: calc(8px + 0.6vw);
                    color: #FE2E17;

                }
            }

            .wallet-success {
                display: flex;
                align-items: center;

                p {
                    font-style: normal;
                    font-weight: 600;
                    //font-size: 20px;
                    //line-height: 23px;
                    font-size: calc(8px + 0.6vw);
                    color: #009C06;
                    margin-left: 0.75rem;
                }

            }

        }

        .scheduling-section{
            width: 100%;
         .scheduling-section-container{
             width: 100%;
             display: flex;
             flex-direction: column;
             .scheduling-option{
                 position: relative;
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 background: #FFFFFF;
                 box-sizing: border-box;
                 margin: 0.5rem 0rem;
                 padding:  0.95rem;
                 box-shadow: 0px 4px 18px -5px rgba(0, 0, 0, 0.25);
                 border-radius: 24px;
                 @include transition-700ms;

                 .price{

                     position: absolute;
                     top: -1px;
                     right: -1px;
                     padding: 0.5rem 1.5rem;
                     //background: #FAC24F;
                     border-radius: 0px 8px 0px 17px;
                     font-weight: 600;
                     //font-size: 18px;
                     //line-height: 21px;
                     font-size: calc(8px + 0.5vw);
                     color: #FAC24F;
                     text-decoration: underline;
                 }
                 .content{

                     p{
                         font-family: 'Roboto';
                         font-style: normal;
                         font-weight: 400;
                         font-size: calc(7px + 0.5vw);
                         color: #2D2D2D;
                         width: 90%;
                         margin-bottom: 0.75rem!important;
                         //font-size: 16px;
                         //line-height: 19px;
                         color: #2D2D2D;
                     }
                 }
                 .user-input{
                     width: calc(180px + 6vw);
                     margin-bottom: 0.75rem;

                     .btn-interval{
                         font-size: calc(8px + 0.5vw);
                         color: #000000;
                         background-color: #fff;
                         background-clip: padding-box;
                         border: 1px solid #ced4da;
                         width: 100%;
                         text-align: left;
                     }
                 }

                 .my-dropdown-menu{
                     width: calc(180px + 6vw);
                     max-height: 350px;
                     min-width: 150px!important;
                     .dropdown-item{
                         font-size: calc(7px + 0.5vw);
                     }
                 }
                 .row-inputs{
                     display: flex;
                     justify-content: space-between;

                    #date-schedule-end, #date-schedule,#time-schedule,#date-schedule-start{
                         border-right: none;
                     }
                     .input-group-append{
                         i{
                             color: $mainBackGroundColor;
                         }
                     }
                     .input-group-text{
                         background: #FFFFFF!important;
                         border-left: none;

                     }


                 }

                 &:hover{
                     //background: #FAC24F!important;
                     //border: 1px solid #FAC24F!important;
                     //.content, .address{
                     //    color: white!important;
                     //}
                     //.price{
                     //    background: white!important;
                     //    color: #FAC24F!important;
                     //    border: 1px solid #FAC24F!important;
                     //}
                 }
             }

         }
        }

    }

    .order-summery-section {
        .order-summery-container {
            width: 100%;
            display: flex;

            .left-side {
                padding-right: 6rem;
                margin-top: 2.5rem;
            }

            .right-side {
                margin-top: 1rem;
                max-height: 350px;
                position: sticky;
                top: 0px;
                @include transition-700ms;
            }

            .checked-address {
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #D4D4D4;
                //box-sizing: border-box;
                border-radius: 12px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: start;

                .one-row {
                    display: flex;
                    width: 100%;

                    .left {
                        width: 25%;
                        justify-content: start;

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: calc(6px + 0.6vw);
                            color: #4E4E4E;
                            margin-bottom: 0px !important;
                        }

                        p.active {
                            color: $mainBackGroundColor;
                        }
                    }

                    .right {
                        width: 75%;
                        justify-content: start;

                        p {
                            font-family: "Roboto";
                            font-style: normal;
                            font-weight: 400;
                            font-size: calc(7px + 0.65vw);
                            color: #000000;
                            margin-bottom: 0px !important;
                        }
                    }
                }
            }

            .order-info {

                width: 100%;
                background: #FFFFFF;
                border: 1px solid #D4D4D4;
                //box-sizing: border-box;
                border-radius: 12px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin-top: 1.5rem;

                .one-row {
                    display: flex;
                    width: 100%;

                    .left {
                        width: 25%;
                        display: flex;
                        justify-content: start;

                        img {
                            width: 100%;
                            object-fit: contain;
                            border-radius: 10px;
                        }
                    }

                    .medium {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        padding: 0rem 1rem;

                        p {
                            margin-bottom: 0.2rem !important;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            //font-size: 18px;
                            //line-height: 26px;
                            font-size: calc(8px + 0.4vw);
                            color: #8D8D8D;
                        }

                        p.price {
                            font-size: calc(9px + 0.5vw);
                            color: #1D1D1D;
                            margin-top: 0.5rem;
                        }
                    }

                    .right {
                        width: 25%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}


@media (max-width: 480px) {
    .checkout-section {

        .step-section {
            .progress-pointer {
                .line{
                    width: 8vw!important;
                    height: 1px;
                }
                .content{
                    font-size: 9px!important;
                    font-weight: normal!important;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .checkout-section {
        .scheduling-section{
            .row-inputs{
                flex-direction: column!important;
                .user-input{
                    width: 80% !important;
                    .input-group-text {
                        padding: 0.35rem 0.75rem;
                    }
                    .form-control{
                        height: auto!important;
                    }
                }
            }
        }
        .step-section {
            .progress-pointer {
                .line{
                    width: 10vw;
                    height: 2px;
                }
                .content{
                    font-weight: normal!important;
                }
            }
        }

        .edit-new-address-container {
            flex-direction: column !important;

            .map, .info {
                width: 100% !important;
            }

            .map {
                margin-bottom: 1.3rem;
                padding-right: 0px !important;
            }
        }

        .payment-section {
            flex-direction: column !important;
            .one-row{
                input{
                    width: 80%!important;
                }
                .form-control{
                    height: auto!important;
                }
                .datepicker{
                    width: 80% !important;
                }
                .user-input{
                    width: 100% !important;
                }
            }
            .row-inputs{
                flex-direction: column!important;
            }

            .payment-method {
                .btn {
                    margin-bottom: 0.75rem;
                    width: calc(90px + 6vw);
                }
            }

            .card-details, .delivaz-wallet, .delivaz-cash {
                margin-top: 0px !important;
            }

            .left-side {
                width: 100% !important;
                margin-bottom: 1.3rem;
                padding-right: 0px !important;
            }

            .right-side {
                width: 100% !important;
            }
        }

        .order-summery-section {
            .order-summery-container {
                flex-direction: column !important;

                .left-side {
                    width: 100% !important;
                    margin-bottom: 1.3rem;
                    padding-right: 0px !important;
                }

                .right-side {
                    width: 100% !important;
                    margin-top: 1rem !important;
                }
            }

        }
    }
}

@media (min-width: 576px) and (max-width: 990px) {
    .checkout-section{
        .step-section {
            .progress-pointer {
                .line{
                    width: 23%;
                    height: 2px;
                }
                .content{
                    font-weight: normal!important;
                }
            }
        }
        .edit-new-address{

            .edit-new-address-container {
                flex-direction: column !important;

                .map, .info {
                    width: 100% !important;
                    padding: 1rem 2rem;
                }

                .map {
                    margin-bottom: 1.3rem;
                    padding-right: 0px !important;
                    .btn-position{
                        right: 18% !important;
                        top: 13% !important;
                    }
                    .search-on-map{
                        width: 60%!important;
                    }
                }
            }
        }


        .payment-section {
            flex-direction: column !important;
            padding: 0rem 1.5rem;

            .left-side {
                width: 100% !important;
                margin-bottom: 1.3rem;
                padding-right: 0px !important;
            }

            .right-side {
                width: 100% !important;
            }
        }
        .order-summery-section {
            .order-summery-container {
                flex-direction: column !important;
                padding: 0rem 2rem;

                .left-side {
                    width: 100% !important;
                    margin-bottom: 1.3rem;
                    padding-right: 0px !important;
                }

                .right-side {
                    width: 100% !important;
                    margin-top: 1rem !important;
                }
            }

        }
    }

}

@media (max-width: 850px) {
    .checkout-section {
        .user-addresses {
            .addresses-list {
                .add-new-address,.user-address:nth-child(2n+2) {
                    margin-right: 0px;
                }

                .add-new-address,.user-address:nth-child(2n+1) {
                    margin-left: 0px;
                }

                .user-address, .add-new-address {
                    margin: 0.75rem 1.5% !important;
                    min-width: 300px !important;
                }
            }
        }
    }
}

@media (min-width: 575px) and (max-width: 850px) {

    //.checkout-section {
    //    .user-addresses {
    //        .addresses-list {
    //            .add-new-address,.user-address:nth-child(2n+2) {
    //                margin-right: 0px;
    //            }
    //
    //            .add-new-address,.user-address:nth-child(2n+1) {
    //                margin-left: 0px;
    //            }
    //
    //            .user-address, .add-new-address {
    //                margin: 0.75rem 1.5% !important;
    //                min-width: calc(230px + 5vw) !important;
    //            }
    //        }
    //    }
    //}
}


@media (min-width: 677px) and (max-width: 991px) {

    .checkout-section {

    }
}


@media (min-width: 481px) and (max-width: 676px) {

    .checkout-section {

    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .checkout-section {

    }
}
