@import "../mixin";
@media  (max-width: 379px) {
    .user-cart {
        top: 3rem;
        right: -2.5rem;
        min-width: 300px;
        .cart-header{
            padding: 0.5rem 1.2rem;
            .address{
                margin-top: 0.5rem;
            }

        }
        .cart-content{
            padding: 0.4rem 0rem;
        }
    }

    .user-cart-check-toast{
        min-width: 300px;
    }
}

@media (min-width: 380px)and (max-width: 480px) {
    .user-cart {
        top: 3rem;
        right: -2.5rem;
        min-width: 330px;
        .cart-header{
            padding: 0.5rem 1.2rem;
            .address{
                margin-top: 0.5rem;
            }

        }
        .cart-content{
            padding: 0.4rem 0rem;
        }
    }
    .user-cart-check-toast{
        min-width: 330px;
    }

}

@media (min-width: 481px) and (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 675px) {

}
@media (min-width: 677px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 851px) {
}

@media (min-width: 852px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width:1100px) {


}

@media (min-width: 1101px) and (max-width: 1230px) {

}

@media (min-width: 1531px) and (max-width: 1800px) {


}

@media (min-width: 1801px) and (max-width: 2000px) {

}

@media (min-width: 481px) and (max-width: 991px) {

    .user-cart {
        top: 3rem;
        right: -2.5rem;
        min-width: 350px;
        .cart-header{
            padding: 0.5rem 1.2rem;
            .address{
                margin-top: 0.5rem;
            }

        }
        .cart-content{
            padding: 0.4rem 0rem;
        }
    }
    .user-cart-check-toast{
        min-width: 350px;
    }
}

@media  (max-width: 990px) {
    .user-container{
        width: 100%;
        display: flex;
        flex-direction: column!important;
        .left-side{
            width: 100%!important;
            justify-content: center!important;
            align-items: center!important;
        }
        .right-side{
            width: 100%!important;
            justify-content: center!important;
            align-items: center!important;
        }
    }

    .user-payment-method{
        .parent{
            width: 100%;
            display: flex;
            flex-direction: column!important;
            .left-side{
                width: 90%!important;
                justify-content: center!important;
                align-items: center!important;
            }
            .right-side{
                width: 90%!important;
                justify-content: center!important;
                align-items: center!important;
            }
        }
    }

}
