@import "../../vars/var";
.register-section{
    margin-top: 12rem;
    margin-bottom: 3rem;
    .address{

        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 1.4vw);
        line-height: calc(20px + 3vw);

        color: #000000;
    }

    .three-btn{
        width: 55vw!important;
        .btn-facebook{
            background: #1EB2F1;
            border-radius: 5px;
            font-style: normal;
            font-weight: normal;
            padding: 2.4% 1%;
            width: 45%;

            font-size: calc(10px + 0.4vw);
            //padding: calc(3px + 0.5);
            //line-height: calc(20px + 2vw);
            /* identical to box height */

            color: #FFFFFF;
            @include transition-500ms;

            &:hover{
                background: #0ab1ef;
                transform: translateY(-3px);
            }
        }
        //.btn-twiteer{
        //    background: #6AAFFF;
        //    border-radius: 5px;
        //    font-style: normal;
        //    font-weight: normal;
        //    padding: 2.4% 1%;
        //    width: 32%;
        //    font-size: calc(10px + 0.4vw);
        //    //padding: calc(3px + 0.5);
        //    /* identical to box height */
        //
        //    color: #FFFFFF;
        //    @include transition-500ms;
        //
        //    &:hover{
        //        background: #4a9afc;
        //        transform: translateY(-3px);
        //    }
        //}
        .btn-gmail{
            background: #FF3838;
            border-radius: 5px;
            font-style: normal;
            font-weight: normal;
            padding: 2.4% 1%;
            width: 45%;
            font-size: calc(10px + 0.4vw);

            color: #FFFFFF;
            @include transition-500ms;

            &:hover{
                background: #fc1f1f;
                transform: translateY(-3px);
            }
        }
        .btn{

            .fab, .fa{
                font-size: calc(11px + 0.9vw);
            }
        }
    }
    .form-group{
        //width: calc(300px + 15vw);
        width: 37vw;
        input{
            border: none;

            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 0px;
        }
        .far, .fas{
            color: #A0A0A0;
            font-size: calc(9px + 0.9vw)!important;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        :-moz-placeholder { /* Firefox 18- */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }

    }

    .btn-sing-up{
        background: #FAC24F;
        border-radius: 5px;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);
        /* identical to box height */

        color: #FFFFFF;
        @include transition-500ms;

        &:hover{
            background: #fdb338;
            transform: translateY(-3px);
        }
    }
    .btn-sing-in{
        width: 100%;
        background: #F5F5F5;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);

        /* identical to box height */

        color: rgba(0, 0, 0, 0.6);
        @include transition-500ms;

        &:hover{
            background: #e0e0e0;
            transform: translateY(-3px);
        }
    }
    .btn-Forgot{
        width: 100%;
        background: #ffffff;
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //line-height: 16px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);

        color: #A0A0A0;
        @include transition-500ms;

        &:hover{
            background: #eeeeee;
            transform: translateY(-3px);
        }
    }
    .text{
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //line-height: 16px;
        font-size: calc(9px + 0.6vw);
        line-height: calc(15px + 1.3vw);

        color: #A0A0A0;
    }
    .cover{
        width: 100%;
        //margin-top: calc(10px + 1vw);
        margin: calc(25px + 3vw) 0px;
        img{
            width: 100%;
        }
    }



    @media  (max-width: 765px) {
        .form-group{
            //width: calc(300px + 15vw);
            width: 90%!important;
        }
        .three-btn{
            width: 90%!important;
            flex-direction: column!important;
            a{
                width: 100%!important;
                margin: 10px 0px!important;
            }
        }
    }

    @media (min-width: 766px)and (max-width: 1225px) {
        .form-group{
            //width: calc(300px + 15vw);
            width: 70%!important;
        }
        .three-btn{
            width: 90%!important;
        }
    }

}

.user-dashboard-section{
    margin-top: 12rem;
    .address3{
        font-weight: bold;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 1vw);
        line-height: calc(25px + 1vw);
        color: #787878;
    }
    .user-container{
        width: 100%;
        .left-side{
            width: 25%;
        }
        .right-side{
            width: 73%;
        }
    }

    .personal-image{
        width: 100%;
        background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0.5) 100%);
        border-radius: 20px;
        margin: 0.5rem 0rem;

        .img{
            margin: 1rem 0rem;
            width: 40%;
            position: relative;
            overflow: hidden;
            &:hover{
                .btn-hover{
                    opacity: 1;
                }
            }
            cursor: pointer;
            .btn-hover{
                position: absolute;
                display: flex;
                //justify-content: center;
                bottom: 0px;
                left: 50%;
                width: 100%;
                height: 65%;
                max-height: 120px;
                min-height: 50px;
                transform: translateX(-50%);
                background-color: rgba(0, 0, 0, 0.3);

               opacity: 0;
                .btn-Cancel,.btn-edit{
                    //font-size: 12px;
                    font-size: calc(10px + 0.2vw);
                    margin: auto;
                }
            }

            img{
                border-radius: 20px;
                width: 100%;
                object-fit: cover;

            }
        }
        .address{
            font-style: normal;
            font-weight: 500;
            //font-size: 24px;
            //line-height: 28px;
            font-size: calc(7px + 1.2vw);
            line-height: calc(20px + 1vw);
            color: rgba(0, 0, 0, 0.5);
        }
        .btn-edit {
            background: #FAC24F;
            border-radius: 5px;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(7px + 0.7vw);
            //line-height: calc(10px + 1vw);
            color: $btnColor;
            padding: 0.3rem 1rem;
            margin: 1rem 0rem;

            @include transition-500ms;

            &:hover{
                background: #fabd3d;
                transform: translateY(-3px);
            }

        }

    }
    .content{
        font-style: normal;
        font-weight: normal;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.5vw);
        line-height: calc(20px + 1vw);
        color: #787878;
    }
    .danger{
        font-style: normal;
        font-weight: normal;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.5vw);
        line-height: calc(20px + 1vw);
        color: #FE2E17;
    }
    //.old-orders > * + *  {
    //    margin-left: 1.5rem;
    //}
    .old-order{
        width: 28%;
        min-width: 180px;
        margin: 0.7rem 0.7rem;

        .img{
            width: 100%;
            margin-bottom: 1rem;
            img{
                object-fit: cover;
                border-radius: 5px;
                width: 100%;
            }
            //width: 219px;
            //height: 168px;
        }
        .name-item{
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            font-size: calc(9px + 0.4vw);
            line-height: 21px;
            color: #000000;
        }
    }
    .success{
        font-style: normal;
        font-weight: normal;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.5vw);
        line-height: calc(20px + 1vw);
        color: #6BE321;
    }
    .set-margin{
        margin: 0.3rem 1rem;
    }
    .address{
        font-weight: bold;
        //font-size: 28px;
        //line-height: 33px;
        font-size: calc(10px + 1vw);
        line-height: calc(20px + 3vw);
        color: #000000;
    }

    .user-payment-method{
        padding: 1.3rem;
        width: 100%;
        background: linear-gradient(178.01deg, #F6F6F6 1.68%, rgba(246, 246, 246, 0) 98.35%);
        border-radius: 20px;

        .form-group{
            margin-bottom: 0px;
        }
        .balance{
            border: 1px solid #D4D4D4;
            box-sizing: border-box;
            border-radius: 20px;
            //padding: 3.5rem 1.3rem;
            padding: 1.5rem;
            p{
                margin-bottom: 0px!important;
            }
            .fa-wallet{
                font-size: calc(10px + 0.8vw);
                color: $mainBackGroundColor;
            }
        }
        .address2{
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(7px + 0.5vw);
            line-height: calc(10px + 1vw);
            color: #000000;
            margin: 0.5rem 0rem;
        }
        .pay-card{
            form{
                width: 100%;
            }

            .handel-select{
                position: relative;
                margin: 0.3rem 1rem;
                select{
                    padding: 10px 15px;
                    width: 100%;
                    appearance: none;
                    -webkit-appearance:none;
                    font-size: calc(9px + 0.3vw)!important;
                    //line-height: 16px;
                    line-height: calc(7px + 1vw);
                    color: #9C8989;
                    background: #F5F5F5;
                    border: 1px solid #BBBBBB;
                    box-sizing: border-box;
                    border-radius: 5px;
                    min-height: 40px;

                }

            }
            .handel-select::after{
                content: "";
                position: absolute;
                right: 10px;
                top:62%;
                border-top: 8px solid #939393;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }

            .second-child{
                margin-left: 1.3rem;
            }

            width: 60%;
            .form-group{

                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

                    font-weight: 300;
                    font-size: calc(9px + 0.3vw)!important;
                    //line-height: 16px;
                    line-height: calc(7px + 1vw);
                    color: #9C8989;
                }
                ::-moz-placeholder { /* Firefox 19+ */

                    font-weight: 300;
                    font-size: calc(9px + 0.3vw)!important;
                    line-height: calc(7px + 1vw);
                    color: #9C8989;
                }
                :-ms-input-placeholder { /* IE 10+ */
                    font-style: oblique;
                    font-weight: 300;
                    font-size: calc(9px + 0.3vw)!important;
                    line-height: calc(7px + 1vw);
                    color: #9C8989;
                }
                :-moz-placeholder { /* Firefox 18- */

                    font-weight: 300;
                    font-size: calc(9px + 0.3vw)!important;
                    line-height: calc(7px + 1vw);
                    color: #9C8989;
                }


                width: 100%;
                i{
                    color: #A0A0A0;
                    margin-top: 0.7rem;
                }
            }


        }


        .parent{
            width: 100%;
            .fa-cc-visa,.fa-cc-mastercard, .fa-cc-paypal{
                font-size: calc(20px + 1.5vw);
            }
            .left-side{
                width: 38%;
            }
            .right-side{
                width: 53%;
            }
        }
    }
    .user-order-history{
        padding: 1.3rem;
        width: 100%;
        background: linear-gradient(178.01deg, #F6F6F6 1.68%, rgba(246, 246, 246, 0) 98.35%);
        border-radius: 20px;
    }
    .user-info{
        padding: 1.3rem;
        width: 100%;
        background: linear-gradient(178.01deg, #F6F6F6 1.68%, rgba(246, 246, 246, 0) 98.35%);
        border-radius: 20px;
        min-height: 400px;
        margin-bottom: 2rem;

        p{
            margin: 0rem 1rem;
        }



    }
    .user-title{
        //width: 9%;
        //min-width: 50px;
        width: 15%;
        min-width: 90px;
    }

    .user-input{
        margin: 0.3rem 1rem;
        width: 45%;
        min-width: 170px;

        .phone-input{
            border: 1px solid #BBBBBB;
            border-radius: 5px;
            input{
                border: none;
                border-left:  1px solid #BBBBBB;
                border-radius: 0px;
            }
            .dropdown-menu{
                max-width: 75px!important;
                min-width: 50px!important;
                max-height: 200px!important;
                overflow-y: scroll;
                .dropdown-item{
                    padding: 0.25rem 1rem!important;
                }
            }
            button:focus {
                box-shadow: none!important;
            }
            button{
                background: transparent!important;
                color: #495057!important;
                border: none!important;

            }
            .country-code{
                background: #F5F5F5;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 0rem 0.5rem;
                color: #495057;
            }
        }
        textarea, input{
            background: #F5F5F5;
            border: 1px solid #BBBBBB;
            box-sizing: border-box;
            border-radius: 5px;
        }


    }
    /* The container */
    .checkbox-container {
        margin: 0.5rem 1rem;
        display: block;
        position: relative;
        padding-left: 35px;
        //margin-bottom: 12px;
        cursor: pointer;
        font-weight: 300;
        //font-size: 14px;
        line-height: 16px;
        color: #000000;
        font-size: calc(7px + 0.5vw);

    }

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        cursor: pointer;
        height: 0!important;
        width: 0!important;
        opacity: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        min-height: 21px;
        //background-color: #eee;
        border-radius: 5px;
        background-color: #fac24f;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
        background-color: #fab32a;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
        left: 9px;
        top: 6px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .user-input2{
        margin: 0.5rem 1rem;
        //width: 45%;
        min-width: 170px;
        .date-input{
            margin-top: -0.2rem;
            margin-left: -0.2rem;
        }
        textarea, input{
            background: #F5F5F5;
            border: 1px solid #BBBBBB!important;
            box-sizing: border-box!important;
            border-radius: 5px!important;
            color: #939393!important;
            //font-size: 14px;
            font-size: calc(10px + 0.5vw)!important;
        }


    }

    .header{
        border-radius: 5px;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 25px;
        font-size: calc(8px + 0.8vw);
        line-height: calc(20px + 1vw);
        /* identical to box height */

        padding: 0.5rem 0rem;
        color: #FFFFFF;
        background: #FAC24F;
        text-align: center;

    }
    .btn-edit{
        background: #FAC24F;
        border-radius: 5px;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.7vw);
        //line-height: calc(10px + 1vw);
        color: $btnColor;
        padding: 0.3rem 1rem;
        margin: 1rem 2rem;

        @include transition-500ms;


        &:hover{
            background: #fabd3d;
            transform: translateY(-3px);
        }
    }
    .btn-Cancel{
        border-radius: 5px;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.7vw);
        //line-height: calc(10px + 1vw);
        //color: #000000;
        color: #fff;
        padding: 0.5rem 1.2rem;
        margin: 1rem 2rem;
        //background: #F5F5F5;
        background: #ff5946;
        //border: 1px solid #BBBBBB;
        border: 1px solid #fff;

        @include transition-500ms;


        &:hover{
            //background: #faf9f9;
            background: #fa4936;
            transform: translateY(-3px);
        }
    }
    .btn-edit-Cancel{
        border-radius: 5px;
        font-size: calc(7px + 0.7vw);
        padding: 0.5rem 1.2rem;
        margin: 1rem 2rem;
        border: 1px solid #fff;
    }
    .btn-add{
        background: #FAC24F;
        border-radius: 5px;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.7vw);
        //line-height: calc(10px + 1vw);
        color: $btnColor;
        padding: 0.3rem 1rem;
        margin: 1rem 0rem;

        @include transition-500ms;


        &:hover{
            background: #fabd3d;
            transform: translateY(-3px);
        }
    }
    .btn-save{
        background: #FAC24F;
        border-radius: 5px;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.7vw);
        //line-height: calc(10px + 1vw);
        color: $btnColor;
        padding: 0.8rem 3rem;
        margin: 1rem 2rem;

        @include transition-500ms;


        &:hover{
            background: #fabd3d;
            transform: translateY(-3px);
        }
    }
    .btn-header{
        margin: 0.5rem 0rem;
        border-radius: 5px;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 25px;
        font-size: calc(8px + 0.8vw);
        line-height: calc(20px + 1vw);
        /* identical to box height */

        padding: 0.5rem 2.5rem;
        color: #FFFFFF;
        background: #FAC24F;
        text-align: left;
        //text-align: center;

        @include transition-500ms;
        &:hover{
            background: $btnHoverBackgroundColor;
            transform: translateY(-3px);
        }

        i{
            margin: 0rem 0.5rem;
        }

    }
    .btn-link{
        font-weight: normal;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(7px + 0.5vw);
        line-height: calc(10px + 1vw);

        margin-left: 2.2rem;
        /* identical to box height */

        color: #787878;
    }
    .user-payment{
        margin: 0.5rem 0rem;
        background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0.49) 100%);
        border-radius: 5px;
        i{
            margin: 0rem 0.5rem;
        }
    }

}
[x-cloak] {
    display: none !important;
}


.handle-input{
    input[type=file]::file-selector-button {
        border: 2px solid #fac24f;
        padding: 10px;
        border-radius: 20px;
        //background-color: #a29bfe;
        color: #fac24f;
        background: white;
        transition: 1s;
        outline: none;
        box-shadow: none;
        font-size: 12px;
    }
    input[type="file"] {
        //display: none;
        border: none!important;
        background: #fac24f;
        color: white;
        border-radius: 20px;
        min-height: 50px;
        font-size: 10px;

    }
    label{
        //border: 1px solid #ccc;
        display: inline-block;
        //padding: 6px 12px;
        cursor: pointer;
        width: 100%;
    }

}

.wishlist-section{
    margin-top: 12rem;
    .wishlist{
        background: #FFFFFF;
        border: 1px solid #B7B7B7;
        //box-sizing: border-box;
        border-radius: 5px;
        min-height: 300px;
        margin-bottom: 4.5rem;
        margin-top: 2rem;

        .header{
            background: #F5F5F5;
            border-bottom: 1px solid #B7B7B7;
            border-radius: 5px;
            padding: 1.3rem;
            //font-size: 24px;
            font-size: calc(10px + 0.7vw);
        }

        .content{
            font-style: normal;
            font-weight: normal;
            //font-size: 24px;
            font-size: calc(10px + 0.7vw);
            line-height: 28px;
            color: #000000;
        }
        .empty{
            transform: translateY(90px);
        }

        .table th, .table td , .table td a{
            min-width: 140px;
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            font-size: calc(8px + 0.5vw);
            line-height: 21px;
            color: #000000;
        }

        .table td {
            .img{
                max-width: 90px;
                min-width: 75px;
                img{
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
        .table{
            .btn-add-basket{
                font-style: normal;
                font-weight: normal;
                font-size: calc(10px + 0.5vw);
                line-height: 21px;
                color: #00CE15;
                background: #d9f7dc7d;
                padding: 0.5rem!important;
                min-width: 200px;
                border-radius: 5px;
                @include transition-500ms;
                &:hover{
                    background : #00CE15;
                    color : #fff;
                    transform: translateY(-3px);
                    //padding: 0.3rem!important;
                }
            }

            .btn-added-basket{
                font-style: normal;
                font-weight: normal;
                font-size: calc(10px + 0.5vw);
                line-height: 21px;
                //color: #00CE15;
                //background: #d9f7dc7d;
                color:#ffffff ;
                background:  #00CE15;;
                padding: 0.5rem!important;
                min-width: 200px;
                border-radius: 5px;
                pointer-events: none;
                svg{
                    margin-right: 0.75rem;
                }
            }

            .btn-delete{
                background: #EDF9F6;
                border-radius: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: calc(10px + 0.5vw);
                line-height: 21px;
                color: #585D5C;
                padding: 0.5rem!important;
                min-width: 90px;
                @include transition-500ms;
                &:hover{
                    background: #fa4936;
                    color : #fff;
                    transform: translateY(-3px);
                }
            }
            .price{
                color: #FE2E17!important;
                font-size: calc(10px + 0.5vw);
            }
            .table-address{
                margin: 0.5rem 0rem;
                font-style: normal;
                font-weight: normal;
                //font-size: 18px;
                font-size: calc(10px + 0.5vw);
                line-height: 21px;
                color: #000000;
            }
            thead{
                border-bottom: 1px solid #E3E3E3;
            }
        }

    }
}
.user-cart-check-toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44vw;
    z-index: 100;
    max-width: 600px;
    min-width: 480px;
    //@include transition-500ms;

    .cart-header{
        padding: 0.8rem 1.6rem;
        background: #FAC24F;
        border-radius: 25px 25px 0px 0px;
    }

    .btn-container{
        margin: 1rem 4rem;
        .btn-yes{
            background: $mainBackGroundColor;
            border-radius: 5px;
            font-style: normal;
            font-weight: bold;
            //font-size: 18px;
            font-size: calc(8px + 0.6vw);
            line-height: 21px;
            color: $btnColor;
            padding: 0.5rem 1.5rem;
            @include transition-500ms;

            &:hover{
                background: $btnHoverBackgroundColor;
                transform: translateY(-3px);
            }
        }
        .btn-no{
            background: red;
            border-radius: 5px;
            font-style: normal;
            font-weight: bold;
            //font-size: 18px;
            font-size: calc(8px + 0.6vw);
            line-height: 21px;
            color: $btnColor;
            padding: 0.5rem 1.5rem;
            @include transition-500ms;

            &:hover{
                background: #ff0101;
                transform: translateY(-3px);
            }
        }
    }
    .toast-address{
        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(10px + 0.7vw);
        color: #FFFFFF;
    }
    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-track {
        background:  rgb(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fac24f;
        border-radius: 0px;
        border: none;
    }
    .cart-content{

        background: #FFFFFF;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        //border: none;
        //border-bottom: 1px white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 1.5rem 1rem;
        font-size: calc(10px + 0.5vw);
        max-height: 400px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #fac24f rgb(0,0,0,0.3);

        .btn-s-qtn{
            margin-top: 0.5rem;
            .disable{
                pointer-events: none;
                background: #b7b5b5;
            }
        }
        .btn-s-qtn > * + *  {
            margin-left: 0.5rem;
        }
        .qtn{
            margin-top: 0.2rem;
            font-size: calc(9px + 0.8vw);
            color: #FE2E17;

        }
        .btn-qtn{
            background: #EFEFEF;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            color: #FE2E17;
            font-size: calc(7px + 0.4vw);
            max-height: 43px;
            &:hover{
                @include transition-500ms;
                transform: translateY(-3px);
                color: #fff;
                background-color: #FE2E17;
            }

        }
        .img{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }

    .content{
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //font-size: calc(6px + 0.3vw);
        font-size: calc(8px + 0.5vw);

        line-height: 21px;
        color: #000000;
        i{
            font-size: calc(6px + 0.3vw);

        }
    }
    .btn-close{
        background-color: inherit;
        color: white;
        .fas{
            font-size: calc(10px + 0.7vw);

        }
    }
}

.user-cart{
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 44vw;
    z-index: 100;
    max-width: 600px;
    min-width: 480px;
    //@include transition-500ms;

    .cart-header{
        padding: 0.8rem 1.6rem;
        background: #FAC24F;
        border-radius: 25px 25px 0px 0px;
    }

    .btn-check-out{
        background: $mainBackGroundColor;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        font-size: calc(8px + 0.6vw);
        line-height: 21px;
        color: $btnColor;
        padding: 0.5rem 1.5rem;
        @include transition-500ms;

        &:hover{
            background: $btnHoverBackgroundColor;
            transform: translateY(-3px);
        }
    }
    .address3{
        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        line-height: 28px;
        font-size: calc(10px + 0.7vw);

        color: #FAC24F;
    }
    .address2{
        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        font-size: calc(10px + 0.7vw);
        line-height: 28px;
        color: #000000;
    }
    .address{
        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(10px + 0.7vw);
        color: #FFFFFF;
    }

    .address1{
        font-style: normal;
        font-weight: normal;
        font-size: calc(8px + 0.5vw);
        //font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-track {
        background:  rgb(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fac24f;
        border-radius: 0px;
        border: none;
    }
    .cart-content{

        background: #FFFFFF;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        //border: none;
        //border-bottom: 1px white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 1.5rem 1rem;
        max-height: 400px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #fac24f rgb(0,0,0,0.3);
        .btn-s-qtn{
            margin-top: 0.5rem;
            .disable{
                pointer-events: none;
                background: #b7b5b5;
            }
        }
        .btn-s-qtn > * + *  {
            margin-left: 0.5rem;
        }
        .qtn{
            margin-top: 0.2rem;
            font-size: calc(9px + 0.8vw);
            color: #FE2E17;

        }
        .btn-qtn{
            background: #EFEFEF;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            color: #FE2E17;
            font-size: calc(7px + 0.4vw);
            max-height: 43px;
            &:hover{
                @include transition-500ms;
                transform: translateY(-3px);
                color: #fff;
                background-color: #FE2E17;
            }

        }
        .img{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }
    .btn-delete{
        color: rgba(0, 0, 0, 0.3);
        font-size: calc(10px + 0.7vw);
    }
    .content{
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //font-size: calc(6px + 0.3vw);
        font-size: calc(8px + 0.5vw);

        line-height: 21px;
        color: #000000;
        i{
            font-size: calc(6px + 0.3vw);

        }
    }
    .btn-close{
        background-color: inherit;
        color: white;
        .fas{
            font-size: calc(10px + 0.7vw);

        }
    }
}
