.user-scheduling-section {
    margin-top: 12rem;
    margin-bottom: 3rem;
    display: flex;
    .my-tooltip{
        position: relative;
        &:hover{
            .top {
                display:block;
            }
            //svg{
            //    fill: #FAC24F;
            //    path{
            //        fill: #FFFFFF;
            //    }
            //}
        }
        //svg{
        //    @include transition-500ms;
        //    path{
        //        @include transition-500ms;
        //    }
        //}
        .top {
            min-width:200px;
            top:-10px;
            left:50%;
            transform:translate(-50%, -100%);
            position:absolute;
            z-index:99999999;
            box-sizing:border-box;
            background: #FFFFFF;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
            color: black;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            width: calc(180px + 5vw);
            display: none;

            p{
                font-size: calc(9px + 0.2vw);
                margin-bottom: 0px!important;
            }
        }
        .top i {
            position:absolute;
            top:100%;
            left:50%;
            margin-left:-12px;
            width:24px;
            height:12px;
            overflow:hidden;
        }

        .top i::after {
            content:'';
            position:absolute;
            width:12px;
            height:12px;
            left:50%;
            transform:translate(-50%,-50%) rotate(45deg);
            background: #FFFFFF;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
        }
    }

    .address{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: calc(12px + 1vw);
        margin-bottom: 0.5rem;
        //font-size: 28px;
        //line-height: 42px;
        color: #000000;
    }
    .user-scheduling{
        .scheduling-container {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding-right: 10%;
            border-right: solid 1px #FAC24F;
            .scheduling-option {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                box-sizing: border-box;

                @include transition-700ms;



                .content {

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: calc(7px + 0.5vw);
                        color: #2D2D2D;
                        width: 90%;
                        margin-bottom: 0.75rem !important;
                        //font-size: 16px;
                        //line-height: 19px;
                        color: #2D2D2D;
                    }
                }

                .user-input {
                    width: calc(180px + 6vw);
                    margin-bottom: 0.75rem;

                    .btn-interval {
                        font-size: calc(8px + 0.5vw);
                        color: #000000;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        width: 100%;
                        text-align: left;
                    }
                }

                .my-dropdown-menu {
                    width: calc(180px + 6vw);
                    max-height: 350px;
                    min-width: 150px !important;

                    .dropdown-item {
                        font-size: calc(7px + 0.5vw);
                    }
                }

                .row-inputs {
                    display: flex;
                    justify-content: space-between;

                    #date-schedule-end, #date-schedule, #time-schedule, #date-schedule-start {
                        border-right: none;
                    }

                    .input-group-append {
                        i {
                            color: $mainBackGroundColor;
                        }
                    }

                    .input-group-text {
                        background: #FFFFFF !important;
                        border-left: none;

                    }


                }

                &:hover {
                    //background: #FAC24F!important;
                    //border: 1px solid #FAC24F!important;
                    //.content, .address{
                    //    color: white!important;
                    //}
                    //.price{
                    //    background: white!important;
                    //    color: #FAC24F!important;
                    //    border: 1px solid #FAC24F!important;
                    //}
                }
            }

        }
        .scheduling-items{
            width: 40%;
        }
    }


}
