.banner-section{
    //padding: 6rem 3rem 3rem 3rem;
    padding: 1.2rem 3rem 3rem 3rem;
    .banner{
        //@include main-back-ground-control-panel;
        label{
            font-size: calc(8px + 0.5vw);
            color: rgb(0,0,0,0.8);

        }

        .image-section{
            padding: 0.5rem;
            margin-top: 2rem;
        }
        .table tbody, .table tbody tr,  .table thead th, .table thead tr,.table  td{
            border: none;
        }
        .table tbody{
            background: rgba(255, 255, 255, 0.5);
            small{
                font-size: calc(6px + 0.4vw);
                color: rgb(0,0,0,0.65);
            }
            .btn-cancle2-delivaz, .btn-delete-delivaz{
            }
            .btn-edit-delivaz{
                display: inline;
                width: auto;
            }
            .btn{
                margin: 0rem 0.25rem;
                padding: 0.3rem 1.2rem!important;

            }
        }
        .table-responsive-xl{
            min-width: 450px;
        }
        .table{
            th{
                font-size: calc(7px + 0.9vw);
                font-weight: bolder;
                color: rgba(0, 0, 0, 0.7);
            }
            tr{
                font-size: calc(7px + 0.8vw);
                color: rgba(0, 0, 0, 0.7);
            }
            .text1{
                color: rgb(0,0,0,0.7);
                font-size: calc(8px + 0.5vw);
            }
            //.banner-table{
            //    width: 80%;
            //    img{
            //        width: 100%;
            //        object-fit: contain;
            //        border-radius: 35px;
            //    }
            //}
        }

    }
}
.image-section{
    width: 100%;
    min-height: calc(80px + 5vw);
    .banner-input{
        width: 100%;
        opacity: 0;
        height: 100%;
        cursor: pointer;
        min-height: calc(80px + 5vw);
        z-index: 5;
        position: relative;
    }
    .input-file-container{
        position: relative;
        //max-width: 240px;
        //min-width: 150px;
        //width: 18vw;
        width: 100%;
        padding: 0rem;
        margin-bottom: 2rem;
        .input-handel{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 0.5rem 1.5rem;
            min-height: calc(80px + 5vw);
            inset: 0px 0px 0px 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            margin: 0.5rem;
            //margin-bottom: 2rem;
            background: white;
            border-radius: 20px;
            max-height:  calc(90px + 6vw);
        }
        .brows{
            color: $mainBackGroundColor!important;
            font-size: calc(12px + 1.55vw);
            font-weight: bolder;
        }
        .text1{
            font-size: calc(7px + 0.4vw);
            color: rgb(0,0,0,0.6);
            margin-bottom: 0px!important;
        }
        i{
            color: rgb(0,0,0,0.6);
            //color: $mainBackGroundColor!important;

        }
    }
}
.banner-loaded{
    width: 100%;
    margin: 1.5rem 0rem;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 35px;
    }
}
