@media (max-width: 379px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -35% !important;
  }
  .footer .container {
    font-size: 14px !important;
  }
  .footer .copy {
    margin-top: -20px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .container {
    margin-top: 46% !important;
    font-size: 10px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 3% !important;
    margin-top: 2% !important;
  }
  .footer .bottom-side .socials img, .footer .bottom-side .socials a {
    max-width: 22px !important;
  }
  .footer .bottom-side .text-right {
    text-align: left !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .bottom-side .col-sm-5 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .copy {
    margin-top: 10px !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 110px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -28px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 12px !important;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .slider {
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 40px !important;
  }
  .slider .silde-info h5,
  .slider .silde-info a {
    font-size: 12px !important;
  }
  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 28% !important;
    left: 6% !important;
  }
  .mobile-info .googlplay button {
    padding: 1px 1px;
  }
  .mobile-info .applStore {
    width: 29% !important;
    left: 39% !important;
  }
  .mobile-info .applStore button {
    padding: 1px 1px;
  }
  .mobile-info .desktop {
    width: 25% !important;
    left: 70% !important;
  }
  .mobile-info .desktop button {
    font-size: 8px !important;
  }
  .mobile-info .text {
    font-size: 15px !important;
    padding-left: 28% !important;
  }
  .mobile-info .small {
    font-size: 7px !important;
  }
  .mobile-info .bigger {
    font-size: 9px !important;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin: 2% !important;
    height: 500px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    color: #888;
  }
  .services .imagesServ {
    width: 30% !important;
    height: 23% !important;
    margin-top: 31% !important;
    margin-left: 35% !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin-top: 2% !important;
    width: 22% !important;
    margin-left: 7%;
  }
  .header-section1 {
    font-size: 14px !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .text-section p {
    font-size: 20px !important;
  }
  .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 75% !important;
  }
  .mobile-flex {
    flex-direction: column !important;
  }
  .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 85px !important;
  }
  .services2 .container .row .col-xs-12 span {
    font-size: 9px !important;
    bottom: 23px !important;
    margin-left: -10% !important;
  }
  .services2 .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
  }
  .services2 .hexagon2 span {
    width: 100% !important;
  }
  .food .justify-content-center {
    justify-content: left !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 268px !important;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -28% !important;
  }
  .footer .container {
    font-size: 14px !important;
  }
  .footer .copy {
    margin-top: -20px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .container {
    margin-top: 36% !important;
    font-size: 14px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 2% !important;
  }
  .footer .bottom-side .text-right {
    text-align: left !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 100px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -28px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 12px !important;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .slider {
    position: relative !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 40px !important;
  }
  .slider .silde-info h5,
  .slider .silde-info a {
    font-size: 12px !important;
  }
  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 26% !important;
    left: 11% !important;
  }
  .mobile-info .applStore {
    width: 26% !important;
    left: 44% !important;
  }
  .mobile-info .desktop {
    width: 25% !important;
    left: 73% !important;
  }
  .mobile-info .desktop button {
    font-size: 10px !important;
  }
  .mobile-info .text {
    font-size: 20px !important;
    padding-left: 28% !important;
  }
  .mobile-info .small {
    font-size: 9px !important;
  }
  .mobile-info .bigger {
    font-size: 11px !important;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
  .mobile-flex {
    flex-direction: column !important;
  }
  .header-section1 {
    font-size: 14px !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .text-section p {
    font-size: 20px !important;
  }
  .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 57% !important;
  }
  .food .justify-content-center {
    justify-content: left !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 335px !important;
  }
  .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .services2 .container .row .col-xs-12 .hexagon2 {
    width: 79% !important;
    height: 119px !important;
  }
  .services2 .container .row .col-xs-12 span {
    font-size: 12px !important;
    bottom: 30px !important;
    margin-left: -3% !important;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -23% !important;
  }
  .footer .svg-bottom {
    height: 330px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .socials {
    margin-left: 2% !important;
  }
  .footer .bottom-side .text-right {
    text-align: left !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 100px;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -28px;
  }
  .footer .subscribe {
    width: 33% !important;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .slider {
    position: relative !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    font-size: 18px !important;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 40px !important;
  }
  .mobile-info .mobile {
    height: 270px !important;
    position: absolute !important;
    top: 30% !important;
    left: 3% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .text {
    font-size: 20px !important;
  }
  .mobile-info .small {
    font-size: 6px !important;
  }
  .mobile-info .bigger {
    font-size: 10px !important;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
  .mobile-flex {
    flex-direction: column !important;
  }
  .header-section1 {
    font-size: 16px !important;
  }
  .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .text-section p {
    font-size: 20px !important;
  }
  .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .food .row {
    transform: translatex(11%) !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 335px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 550px;
  }
  .header-section {
    margin-bottom: -5% !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .text {
    font-size: 20px !important;
  }
  .mobile-info .small {
    font-size: 6px !important;
  }
  .mobile-info .bigger {
    font-size: 10px !important;
  }
  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-left: 16% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 24% !important;
    font-size: 16px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    font-size: 25px;
    padding-top: 130px !important;
    padding-left: 15px !important;
    padding-right: 40px !important;
  }
  .services {
    margin: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 10px;
  }
  .mobile-flex {
    flex-direction: column !important;
  }
  .header-section1 {
    font-size: 18px !important;
  }
  .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .text-section p {
    font-size: 20px !important;
  }
  .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .food .row {
    transform: translatex(11%) !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 335px !important;
  }
}

@media (min-width: 769px) and (max-width: 851px) {
  .container {
    max-width: 700px !important;
  }
  .header-section {
    margin-bottom: -2% !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 14px !important;
  }
  .mobile-info .text {
    font-size: 20px !important;
  }
  .mobile-info .small {
    font-size: 9px !important;
  }
  .mobile-info .bigger {
    font-size: 14px !important;
  }
  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-left: 16% !important;
  }
  .footer .svg-bottom {
    height: 430px !important;
    margin-top: 20px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 24% !important;
    font-size: 17px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    font-size: 25px;
    padding-top: 130px !important;
    padding-left: 15px !important;
    padding-right: 40px !important;
  }
  .services {
    margin: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 10px;
  }
  .header-section1 {
    font-size: 12px !important;
  }
  .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .services2 .col-sm-6 {
    max-width: 50% !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .text-section p {
    font-size: 20px !important;
  }
  .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 30% !important;
  }
  .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 200px !important;
    height: 170px !important;
  }
}

@media (min-width: 852px) and (max-width: 991px) {
  .container {
    max-width: 780px !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-bottom {
    height: 430px !important;
  }
  .footer .svg-mobile {
    margin-top: -15% !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 25% !important;
    font-size: 16px !important;
  }
  .footer .rigth-side {
    margin-bottom: 50px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side .rigth-sideH2 {
    font-size: 5% !important;
  }
  .footer .rigth-side .subscribe {
    width: 40% !important;
  }
  .footer .container {
    margin-top: 10%;
    font-size: 95%;
  }
  .slider .carousel-inner .carousel-item {
    right: -39% !important;
  }
  .slider .silde-info {
    top: 2px;
    font-size: 25px;
    padding-top: 150px !important;
    padding-left: 15px !important;
    padding-right: 40px !important;
  }
  .mobile-info .text {
    font-size: 20px !important;
  }
  .mobile-info .small {
    font-size: 9px !important;
  }
  .mobile-info .bigger {
    font-size: 12px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
  }
  .services .imagesServ {
    margin-top: 35% !important;
  }
  .header-section1 {
    font-size: 13px !important;
  }
  .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .services2 .container .row {
    margin-left: 20% !important;
    margin-right: 14% !important;
  }
  .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section p {
    font-size: 28px !important;
  }
  .text-section h1 {
    font-size: 38px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 27% !important;
  }
  .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 200px !important;
    height: 170px !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 900px !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-bottom {
    height: 430px !important;
  }
  .footer .svg-mobile {
    margin-top: -13% !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 25% !important;
    font-size: 16px !important;
  }
  .footer .rigth-side {
    margin-bottom: 50px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side .rigth-sideH2 {
    font-size: 5% !important;
  }
  .footer .rigth-side .subscribe {
    width: 40% !important;
  }
  .footer .container {
    margin-top: 10%;
    font-size: 95%;
  }
  .slider .carousel-inner .carousel-item {
    right: -42% !important;
  }
  .slider .silde-info {
    top: 2px;
    font-size: 25px;
    padding-top: 150px !important;
    padding-left: 15px !important;
    padding-right: 40px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
  }
  .services .imagesServ {
    margin-top: 35% !important;
  }
  .header-section .navbar ul {
    margin-right: -15px !important;
  }
  .header-section1 {
    font-size: 14px !important;
  }
  .header-section1 .logo-image img {
    width: 110px !important;
    height: 83px !important;
  }
  .services2 .imagesServ {
    margin-top: 39%;
  }
  .services2 .hexagon2 {
    width: 98px !important;
  }
  .services2 .hexagon2 .fontServ {
    font-size: 11px !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section p {
    font-size: 32px !important;
  }
  .text-section h1 {
    font-size: 45px !important;
    margin-top: -10px !important;
  }
  .text-section .container .dropdown_selecte, .text-section .container .dropdown_selecte_city {
    width: 22% !important;
  }
  .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 100% !important;
    height: 170px !important;
  }
}

@media (min-width: 1101px) and (max-width: 1230px) {
  .footer .svg-mobile {
    margin-top: -11% !important;
  }
  .footer .svg-bottom {
    height: 350px !important;
  }
  .footer .bottom-side .container {
    margin-top: 17% !important;
    font-size: 95% !important;
  }
  .footer .subscribe {
    width: 30% !important;
  }
  .header-section .navbar ul {
    margin-right: -15px !important;
  }
  .carousel-inner .carousel-item {
    right: -42% !important;
  }
  .services .fontServ {
    font-size: 9px !important;
  }
  .services .imagesServ {
    margin-top: 35% !important;
  }
}

@media (min-width: 1531px) and (max-width: 1800px) {
  .header-section .logo-image {
    width: 148px !important;
    height: 118px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 20px !important;
  }
  .header-section .nav-li {
    font-size: 20px !important;
  }
  .btn-bottom {
    margin-right: 34px !important;
  }
  .container {
    font-size: 20px !important;
    max-width: 1400px !important;
    margin-right: 130px !important;
  }
  .slider {
    position: relative !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -63% !important;
  }
  .slider .silde-info {
    padding-top: 6% !important;
    margin-left: -17px;
  }
  .slider .silde-info a,
  .slider .silde-info h5 {
    font-size: 35px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 20px !important;
  }
  .header-section1 .btn-sing, .header-section1 .btn-join {
    width: 110px !important;
  }
  .header-section1 .logo-image img {
    width: 135px !important;
    height: 100px !important;
  }
  .services2 .imagesServ {
    margin-top: 39%;
  }
  .services2 .hexagon2 {
    width: 155px !important;
    height: 200px !important;
  }
  .services2 .hexagon2 .fontServ {
    font-size: 18px !important;
    bottom: 50px !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section p {
    font-size: 62px !important;
  }
  .text-section h1 {
    font-size: 75px !important;
    margin-top: -10px !important;
  }
  .text-section select {
    width: 250px !important;
    font-size: 35px !important;
    margin-top: 10px !important;
  }
  .text-section option {
    font-size: 25px !important;
  }
  .text-section option:hover {
    color: #fff !important;
    background-color: #fac24f !important;
  }
  .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 100% !important;
    height: 290px !important;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  .header-section .logo-image {
    width: 148px !important;
    height: 118px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 20px !important;
  }
  .header-section .nav-li {
    font-size: 20px !important;
  }
  .btn-bottom {
    margin-right: 50px !important;
  }
  .container {
    font-size: 22px !important;
    max-width: 1600px !important;
    margin-right: 150px !important;
  }
  .slider {
    position: relative !important;
  }
  .slider .carousel-inner .carousel-item {
    right: -68% !important;
  }
  .slider .silde-info {
    padding-top: 6% !important;
    margin-left: -17px;
  }
  .slider .silde-info a,
  .slider .silde-info h5 {
    font-size: 35px !important;
  }
  .footer .svg-bottom {
    height: 380px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 20x;
  }
  .header-section1 .text-size {
    margin-right: 20px !important;
  }
  .header-section1 .btn-sing, .header-section1 .btn-join {
    width: 120px !important;
  }
  .header-section1 .logo-image img {
    width: 150px !important;
    height: 120px !important;
  }
  .services2 .imagesServ {
    margin-top: 39%;
  }
  .services2 .hexagon2 {
    width: 189px !important;
    height: 249px !important;
  }
  .services2 .hexagon2 .fontServ {
    font-size: 21px !important;
    bottom: 63px !important;
  }
  .text-section {
    margin-top: 20px !important;
  }
  .text-section p {
    font-size: 72px !important;
  }
  .text-section h1 {
    font-size: 85px !important;
    margin-top: -10px !important;
  }
  .text-section select {
    width: 250px !important;
    font-size: 35px !important;
    margin-top: 10px !important;
  }
  .text-section option {
    font-size: 25px !important;
  }
  .text-section option:hover {
    color: #fff !important;
    background-color: #fac24f !important;
  }
  .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .food .justify-content-center {
    justify-content: center !important;
  }
  .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .food img {
    width: 100% !important;
    height: 330px !important;
  }
}
