@media  (max-width: 379px) {

// style for another index
.page1{
    .header-section1{
        font-size: 14px!important;
        }
        
        .text-section {
            .mobile-selecte{
                display: flex!important;
                flex-direction: column!important;
                align-items: center;
            }
            margin-top: 20px!important;
            p {
              
                font-size: 20px!important;
               
            }
            h1{
               
        
                font-size: 30px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 75% !important;
                }
            }
        }
        
        
        .mobile-flex{
            flex-direction: column!important;
        }
        
        
        
        .services2{
        
        .container{
            .row{
                margin-left: 0px!important;
                margin-right: 0px!important;
               
                .col-xs-12{
                    max-width: 33%!important;
                    .hexagon2{
                        width: 80%!important;
                        height: 85px!important;
                    }
                    span{
                        font-size: 9px!important;
                          
                            bottom: 23px!important;
                            margin-left: -10%!important;
                    }
                }
                
            }
        }
            .mobile-selecte{
                display: flex!important;
                flex-direction: column!important;
            }
            .hexagon2{
                span{
                    width: 100%!important;
                }
            }
        }
        
        .food{
            .justify-content-center{
                justify-content: left!important;
            }
            h5 {
                font-size: 20px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 25px!important;
                margin-bottom: 50px;
            }
            img{
                width: 268px!important;
            }
        }
}


}

@media (min-width: 380px)and (max-width: 480px) {

    // stylefor page2
.page1{
    .mobile-flex{
        flex-direction: column!important;
    }

    .header-section1{
        font-size: 14px!important;
        }
       

        .text-section {
            .mobile-selecte{
                display: flex!important;
                flex-direction: column!important;
                justify-content: center!important;
                align-items: center;
            }
            margin-top: 20px!important;
            p {
              
                font-size: 20px!important;
               
            }
            h1{
               
        
                font-size: 30px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 57% !important;
                }
            }
        }


        .food{
            .justify-content-center{
                justify-content: left!important;
            }
            h5 {
                font-size: 20px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 25px!important;
                margin-bottom: 50px;
            }
            img{
                width: 335px!important;
            }
        }

        .services2{
            .container{
                .row{
                    margin-left: 0px!important;
                    margin-right: 0px!important;
                   
                    .col-xs-12{
                        max-width: 33%!important;
                        .hexagon2{
                            width: 79% !important;
                            height: 119px !important;
                        }
                        span{
                            font-size: 12px !important;
bottom: 30px !important;
margin-left: -3% !important;
                        }
                    }
                    
                }
            }
        }
}
}

@media (min-width: 481px) and (max-width: 575px) {

.page1{
    
 // stylefor page2
 .mobile-flex{
    flex-direction: column!important;
}

.header-section1{
    font-size: 16px!important;
    }
   
.services2{
    .container{
        .row{
            margin-left: 10%!important;
            margin-right: 5%!important;
           
            .col-xs-12{
                max-width: 33%!important;
                .hexagon2{
                    width: 80%!important;
                    height: 120px!important;
                }
                span{
                    font-size: 14px !important;
                    bottom: 29px !important;
                    margin-left: -1% !important;
                }
            }
            
        }
    }
}
    .text-section {
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
        margin-top: 20px!important;
        p {
          
            font-size: 20px!important;
           
        }
        h1{
           
    
            font-size: 30px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 40% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(11%) !important;
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width: 335px!important;
        }
    }
}

}

@media (min-width: 576px) and (max-width: 768px) {



.page1{
    // stylefor page2
.mobile-flex{
    flex-direction: column!important;
}

.header-section1{
    font-size: 18px!important;
    }
   
.services2{
    .container{
        .row{
            margin-left: 10%!important;
            margin-right: 5%!important;
           
            .col-xs-12{
                max-width: 33%!important;
                .hexagon2{
                    width: 80%!important;
                    height: 120px!important;
                }
                span{
                    font-size: 14px !important;
                    bottom: 29px !important;
                    margin-left: -1% !important;
                }
            }
            
        }
    }
}
    .text-section {
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
        margin-top: 20px!important;
        p {
          
            font-size: 20px!important;
           
        }
        h1{
           
    
            font-size: 30px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 40% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(11%) !important;
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width: 335px!important;
        }
    }
}

}
@media (min-width: 769px) and (max-width: 851px) {



    // stylefor page2
//  .mobile-flex{
//     flex-direction: column!important;
// }
.page1{
    
.header-section1{
    font-size: 12px!important;
    .logo-image img {
        width: 97px!important;
        height: 61px!important;
    }

    .header-bottom  {
        div.my-4 {
            margin-top: 6% !important;
        }
        div.input-group {
            margin-left: 0px!important;
            margin-right: 5%!important;
        } 
        }
    }
   
.services2{
    .col-sm-6{
        max-width: 50%!important;
    }
}
    .text-section {
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
        margin-top: 20px!important;
        p {
          
            font-size: 20px!important;
           
        }
        h1{
           
    
            font-size: 30px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 30% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width: 200px!important;
            height:  170px!important;
        }
    }
}
}

@media (min-width: 852px) and (max-width: 991px) {



// page2
.page1{
    .header-section1{
        font-size: 13px!important;
        .logo-image img {
            width: 97px!important;
            height: 61px!important;
        }
    .header-bottom{
        div.my-4 {
            margin-top: 5% !important;
        }
        div.input-group {
            margin-left: 0px!important;
            margin-right: 5%!important;
        } 
    }
        }
       
    .services2{
        .container{
            .row{
                margin-left: 20% !important;
                margin-right: 14% !important;
               
                .col-xs-12{
                    max-width: 33%!important;
                    .hexagon2{
                        width: 80%!important;
                        height: 120px!important;
                    }
                    span{
                        font-size: 14px !important;
                        bottom: 29px !important;
                        margin-left: -1% !important;
                    }
                }
                
            }
        }
    }
        .text-section {
      
            margin-top: 20px!important;
            p {
              
                font-size: 28px!important;
               
            }
            h1{
               
        
                font-size: 38px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 27% !important;
                }
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-2%) !important;
                display: flex!important;
                flex-direction: row!important;
                .col-md-6{
                   max-width: 33%!important;
                  
                }
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 20px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 25px!important;
                margin-bottom: 50px;
            }
            img{
                width: 200px!important;
                height:  170px!important;
            }
        }
}

}

@media (min-width: 992px) and (max-width:1100px) {

.page1{
    // page2
.header-section1{
    font-size: 14px!important;
    .logo-image img {
        width: 110px!important;
        height: 83px!important;
    }
    .header-bottom{
        div.my-4 {
            margin-top: 4% !important;
        }
        div.input-group {
            margin-left: 0px!important;
            margin-right: 5%!important;
        } 
    }
    }
   
.services2{
    .imagesServ{
        margin-top: 39%;
    }
    .hexagon2{
        width: 98px!important;
        .fontServ{
            font-size: 11px!important;
        }
    }
}
    .text-section {
  
        margin-top: 20px!important;
        p {
          
            font-size: 32px!important;
           
        }
        h1{
           
    
            font-size: 45px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 22% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width:100%!important;
            height:  170px!important;
        }
    }
}

}

@media (min-width: 1101px) and (max-width: 1230px) {
.page1{
    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width:100%!important;
            height:  170px!important;
        }
    }
}
}

@media (min-width: 1531px) and (max-width: 1800px) {



.page1{
        // page2
.header-section1{

    .btn-sing,.btn-join{
        width: 110px!important;
    }

    // font-size: 13px!important;
    .logo-image img {
        width: 135px!important;
        height: 100px!important;
    }


    .header-bottom{
        div.my-4 {
            margin-top: 3% !important;
        }
        div.input-group {
            margin-left: 0px!important;
            margin-right: 7%!important;
        } 
    }
    }
   
.services2{
    .imagesServ{
        margin-top: 39%;
    }
    .hexagon2{
        width: 155px !important;
        height: 200px !important;
        .fontServ{
            font-size: 18px!important;
           bottom: 50px!important;
        }
    }
}
    .text-section {
  
        margin-top: 20px!important;
        p {
          
            font-size: 62px!important;
           
        }
        h1{
           
    
            font-size: 75px !important;
            margin-top: -10px !important;
        }
    
        select {
            width: 250px!important;
            font-size: 35px !important;
            margin-top: 10px!important;
     
        }
    
        option {
           
            font-size: 25px !important;
           
            &:hover {
                color: #fff !important;
                background-color: #fac24f !important;
            }
        }
    
        .select-selected{
            display: flex!important;
            justify-content: center!important;
        }
        .select-selected:after {
         
            top: 65%;
            right: 40px!important;
          
        }
    }


    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width:100%!important;
            height:  290px!important;
        }
    }
}
}

@media (min-width: 1801px) and (max-width: 2000px) {


.page1{
     // page2
 .header-section1{
    .text-size{
        margin-right: 20px!important;
    }
        .btn-sing,.btn-join{
            width: 120px!important;
        }
    
        // font-size: 19px!important;
        .logo-image img {
            width: 150px!important;
            height: 120px!important;
        }

        .header-bottom{
            div.my-4 {
                margin-top: 2% !important;
            }
            div.input-group {
                margin-left: 0px!important;
                margin-right: 8%!important;
            } 
        }
        }
       
    .services2{
        .imagesServ{
            margin-top: 39%;
        }
        .hexagon2{
            width: 189px !important;
            height: 249px !important;
            .fontServ{
                font-size: 21px !important;
                bottom: 63px !important;
            }
        }
    }
        .text-section {
      
            margin-top: 20px!important;
            p {
              
                font-size: 72px!important;
               
            }
            h1{
               
        
                font-size: 85px !important;
                margin-top: -10px !important;
            }
        
            select {
                width: 250px!important;
                font-size: 35px !important;
                margin-top: 10px!important;
         
            }
        
            option {
               
                font-size: 25px !important;
               
                &:hover {
                    color: #fff !important;
                    background-color: #fac24f !important;
                }
            }
        
            .select-selected{
                display: flex!important;
                justify-content: center!important;
            }
            .select-selected:after {
             
                top: 65%;
                right: 40px!important;
              
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-2%) !important;
                display: flex!important;
                flex-direction: row!important;
                .col-md-6{
                   max-width: 33%!important;
                  
                }
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 20px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 25px!important;
                margin-bottom: 50px;
            }
            img{
                width:100%!important;
                height:  330px!important;
            }
        }
    
}


}
