@media  (max-width: 379px) {
    .footer {
        .svg-mobile {
            margin-top: -35% !important;
        }

        .container {
            // margin-top: 36% !important;
            font-size: 14px !important;
        }

        .copy {
            margin-top: -20px !important;
        }
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {

            .container {
                margin-top: 46% !important;
                font-size: 10px !important;

                .footer-ul li {
                    display: inline;
                    padding: 1px;
                    font-size: 10px;
                    span{
                        padding: 1px;
                    }
                }
            }
            margin-top: 15%;
            .socials {
                margin-left: 3% !important;
                margin-top: 2%!important;
              img,  a{
                    max-width:22px!important;
                }
            }
            .text-right {
                text-align: left !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }

            .col-sm-5{
                margin-bottom: 10px!important;
            }
            .copy{
                margin-top: 10px!important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 110px!important;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -28px;
        }
        .subscribe {
            width: 33% !important;
            font-size: 12px!important;
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {
        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .slider {

      .carousel-inner .carousel-item {
            right: -39%!important;
        }

        margin-top: -90px!important;
        position: relative !important;
        // margin-top: 0%!important;
        // top: -50%!important;
        .silde-info {
            h5,
            a {
                font-size: 12px !important;
            }
            top: 2px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 40px !important;
        }
    }
    .mobile-info {
        .mobile {
            display: none !important;
            // height:270px !important;
            // position: absolute!important;;
            // top: 30%!important;
            // left: 3%!important;

            // width: 25% !important;
            // z-index: 3;
        }

        .googlplay {
            width: 31% !important;
            left: 0% !important;
            button{
                padding: 1px 1px;
             }
             .small1{
                padding-left: 13px!important;
            }
        }
        .applStore {
            button{
               padding: 1px 1px;
            }

            width: 31% !important;
            left: 36% !important;
            .small1{
                padding-left: 13px!important;
            }
        }
        .desktop {
            padding: 0px!important;
            button{
                font-size: 4px !important;
                padding: 11px 7px 10px !important;
            }
            left: 68% !important;
            width: 31%!important;
           
        }

        .text {
            padding-top: 10%;
            font-size: 15px !important;
            padding-left: 3% !important;
        }
        .small1 {
            font-size: 10px !important;
        }
        .bigger {
            font-size: 9px !important;
        }
    }

    .features .flex-container {
        flex-wrap: wrap !important;
    }

    .services {

        .fontServ {
            font-size: 9px!important;
            color: #888;
        }
       .imagesServ {
            width: 30%!important;;
            height: 23%!important;;
            margin-top: 31%!important;;
            margin-left: 35%!important;;
        
        }
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin-top: 2%!important;
            width: 22% !important;
            margin-left: 7%;
            // flex-wrap: wrap!important;
        }
    }




}

@media (min-width: 380px)and (max-width: 480px) {
    .footer {
        .svg-mobile {
            margin-top: -28% !important;
        }

        .container {
            // margin-top: 36% !important;
            font-size: 14px !important;
        }

        .copy {
            margin-top: -20px !important;
        }
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {

            .container {
                margin-top: 36% !important;
                font-size: 14px !important;

                .footer-ul li {
                    display: inline;
                    padding: 1px;
                    font-size: 14px !important;
                    span{
                        padding: 1px;
                    }
                }
            }
            margin-top: 15%;
            .socials {
                margin-left: 2% !important;
            }
            .text-right {
                text-align: left !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 100px!important;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -28px;
        }
        .subscribe {
            width: 33% !important;
            font-size: 12px!important;
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {
        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .slider {
        .carousel-inner .carousel-item {
            right: -39%!important;
        }
        position: relative !important;
        // margin-top: 0%!important;
        // top: -50%!important;
        .silde-info {
            h5,
            a {
                font-size: 12px !important;
            }
            top: 2px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 40px !important;
        }
    }
    .mobile-info {
        .mobile {
            display: none !important;
            // height:270px !important;
            // position: absolute!important;;
            // top: 30%!important;
            // left: 3%!important;

            // width: 25% !important;
            // z-index: 3;
        }

        .googlplay {
            width: 31% !important;
            left: 0% !important;
            button{
                padding: 1px 1px 3px 1px;
             }
             .small1{
                padding-left: 13px!important;
            }
        }
        .applStore {
            button{
               padding: 1px 1px 3px 1px;
            }

            width: 31% !important;
            left: 36% !important;
            .small1{
                padding-left: 13px!important;
            }
        }
        .desktop {
            padding: 0px!important;
            button{
                font-size: 4px !important;
                padding: 11px 7px 10px !important;
            }
            left: 69% !important;
            width: 30% !important;
           
        }

        .text {
            padding-top: 5%;
            font-size: 20px !important;
            padding-left: 3% !important;
        }
        .small1 {
            font-size: 11px !important;
        }
        .bigger {
            font-size: 13px !important;
        }
    }

    .features .flex-container {
        flex-wrap: wrap !important;
    }

    .services {
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 25% !important;
            // flex-wrap: wrap!important;
        }
    }



}

@media (min-width: 481px) and (max-width: 575px) {
    .footer {

        .svg-mobile {
            margin-top: -23% !important;
        }
        // .copy {
        //     // margin-top: -1%!important;
        // }
        .svg-bottom {
            height: 330px !important;
        }
        .bottom-side {
            margin-top: 15%;
            .socials {
                margin-left: 2% !important;
            }
            .text-right {
                text-align: left !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 100px;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -28px;
        }
        .subscribe {
            width: 33% !important;
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {
        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .slider {
        .carousel-inner .carousel-item {
        right: -39%!important;
        }
        position: relative !important;
        // margin-top: 0%!important;
        // top: -50%!important;
        .silde-info {
            top: 2px;
            font-size: 18px !important;
            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 40px !important;
        }
    }
    .mobile-info {
        .mobile {
            height: 270px !important;
            position: absolute !important;
            top: 30% !important;
            left: 3% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
            padding: 1px 1px 3px 1px;
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
            padding: 1px 1px 3px 1px;
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            padding: 1px 0px 1px 0px!important;
        }

        .text {
            font-size: 20px !important;
            padding-left: 30%;
            top: 24%;
        }
        .small1 {
            font-size: 6px !important;
        }
        .bigger {
            font-size: 10px !important;
        }
    }

    .features .flex-container {
        flex-wrap: wrap !important;
    }

    .services {
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 25% !important;
            // flex-wrap: wrap!important;
        }
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .container{
        max-width: 550px;
    }
    .header-section {
       
        margin-bottom: -5% !important;
        .btn-menu {
            // width: 70%!important;
            position: relative !important;
            z-index: 100 !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .mobile-info {
        .mobile {
            // height:270px !important;
            // position: absolute!important;;
            top: 20% !important;
            left: 1% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            padding: 0px!important;
        }

        .text {
            font-size: 20px !important;
            padding-left: 29%;
            top: 23%;
        }
        .small1 {
            font-size: 10px !important;
        }
        .bigger {
            font-size: 13px !important;
        }
    }

    .features .flex-container {
        width: 80% !important;
        flex-wrap: wrap !important;
    }
    .footer {
        // .svg-bottom {
        //     height: 850px !important;
        // }

        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-left: 16%!important;
        }
        .svg-bottom {
            height: 400px !important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {

            .row{
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            margin-top: 5%;
            .container{
                margin-top: 24%!important;
                font-size: 16px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }

            .subscribe {
                width: 35% !important;
            }
        }
    }
 .slider{
    .carousel-inner .carousel-item {
        right: -39%!important;
    }
    .silde-info {
       
        top: 2px;
        font-size: 25px;
        // padding-bottom: 185px;
        padding-top: 130px !important;
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
 }

    .services {
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 300px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 12% !important;
            // flex-wrap: wrap!important;
        }
        .fontServ {
            font-size: 10px;
        }
    }

}
@media (min-width: 769px) and (max-width: 851px) {
    .container{
        max-width: 700px!important;
    }
    .header-section {
        margin-bottom: -2% !important;
        .btn-menu {
            // width: 70%!important;
            position: relative !important;
            z-index: 100 !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .mobile-info {
        .mobile {
            // height:270px !important;
            // position: absolute!important;;
            top: 20% !important;
            left: 1% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            button{
                font-size: 14px !important;
            }
        }

        .text {
            font-size: 20px !important;
            padding-left: 30%;
            top: 22%;
        }
        .small1 {
            font-size: 9px !important;
            
        }
        .bigger {
            font-size: 14px !important;
        }
    }

    .features .flex-container {
        width: 80% !important;
        flex-wrap: wrap !important;
    }
    .footer {
        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-left: 16%!important;
        }
        .svg-bottom {
            height: 430px !important;
            margin-top: 20px!important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {
            margin-top: 5%;
            .row{
                
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }

            .container{
                margin-top: 24%!important;
                font-size: 17px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }

            .subscribe {
                width: 35% !important;
            }
        }
    }

    .slider{
        .carousel-inner .carousel-item {
            right: -39%!important;
        }
    .silde-info {
        top: 2px;
        font-size: 25px;
        // padding-bottom: 185px;
        padding-top: 130px !important;
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
   
  }

    .services {
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 300px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 12% !important;
            // flex-wrap: wrap!important;
        }
        .fontServ {
            font-size: 10px;
        }
    }

}

@media (min-width: 852px) and (max-width: 991px) {
    .container{
        max-width: 780px!important;
    }

    .footer {

        .svg-bottom {
            height: 430px !important;
        }
        .svg-mobile {
            margin-top: -15% !important;
        }

        margin-top: 0px !important;

        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .bottom-side{
            .row{
                
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            .container{
                margin-top: 25%!important;
                font-size: 16px!important;
            }
        }
        .rigth-side {
            margin-bottom: 50px!important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
            .rigth-sideH2 {
                font-size: 5% !important;
            }
            .subscribe {
                width: 40% !important;
            }
        }
        .container {
            margin-top: 10%;
            font-size: 95%;
        }
    }


   .slider{
    .carousel-inner .carousel-item {
        right: -39%!important;
    }
    .silde-info {
        top: 2px;
        font-size: 25px;
        // padding-bottom: 185px;
        padding-top: 150px !important;
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
   }


   .mobile-info {


    .text {
        font-size: 20px !important;
    }
    .small1 {
        font-size: 9px !important;
    }
    .bigger {
        font-size: 12px !important;
    }
}
.services{
    .fontServ {
        font-size: 9px!important;
      
    }
    .imagesServ {
        margin-top: 35%!important;
    }
}

}

@media (min-width: 992px) and (max-width:1100px) {
    .container{
        max-width: 900px!important;
    }

    .footer {

        .svg-bottom {
            height: 430px !important;
        }
        .svg-mobile {
            margin-top: -13% !important;
        }

        margin-top: 0px !important;

        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .bottom-side{
            .row{
                
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            .container{
                margin-top: 25%!important;
                font-size: 16px!important;
            }
        }
        .rigth-side {
            margin-bottom: 50px!important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
            .rigth-sideH2 {
                font-size: 5% !important;
            }
            .subscribe {
                width: 40% !important;
            }
        }
        .container {
            margin-top: 10%;
            font-size: 95%;
        }
    }

   .slider{
    .carousel-inner .carousel-item {
        right: -42%!important;
    }
    .silde-info {
        top: 2px;
        font-size: 25px;
        // padding-bottom: 185px;
        padding-top: 150px !important;
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
   }
   .services{
    .fontServ {
        font-size: 9px!important;
      
    }
    .imagesServ {
        margin-top: 35%!important;
    }
}
    .header-section{
        .navbar{
            ul{
                margin-right: -15px!important;
            }
        }
    }

    .mobile-info{
        .text{
            font-size: 25px;
        }
    }

}

@media (min-width: 1101px) and (max-width: 1230px) {
    .footer {
        .svg-mobile{
            margin-top: -11%!important;
            
        }

        .svg-bottom{
            height: 350px!important;
        }
    .bottom-side{
       
      
        .container {
            margin-top: 17% !important;
            font-size: 95% !important;
        }
    }
        .subscribe {
            width: 30% !important;
        }
    }

    .header-section{
        .navbar{
            ul{
                margin-right: -15px!important;
            }
        }
    }

    .carousel-inner .carousel-item {
        right: -42%!important;
    }
    .services{
        .fontServ {
            font-size: 9px!important;
          
        }
        .imagesServ {
            margin-top: 35%!important;
        }
    }
}

@media (min-width: 1531px) and (max-width: 1800px) {
    .header-section {
        .logo-image {
            width: 148px !important;
            height: 118px !important;
            margin-top: -6px !important;
            margin-left: -22px!important;
        }
       .navbar {
        .container {
           
            margin-right: 0px!important;
          
        }
       }
         a{
             font-size: 20px!important;
         }
         .nav-li{
            font-size: 20px!important;
        }
    }
.btn-bottom{
    margin-right: 34px !important;
}
    .container {
        font-size: 20px !important;
        max-width: 1400px !important;
        // margin-right: 130px !important;
    }
    .slider {
        .carousel-inner .carousel-item {
            right: -63% !important;
        }
        position: relative !important;
       
        .silde-info {
            padding-top: 6% !important;
            margin-left: -17px;
            a,
            h5 {
                font-size: 35px !important;
            }
        }
    }

    .mobile-info {
     

        .googlplay {
          
             .small1{
                font-size: 18px !important;
                padding-left: 15%;
            }
        }
        .applStore {
      
            .small1{
                font-size: 18px !important;
                padding-left: 15%;
            }
        }
      

        .desktop{
            button{
                font-size: 14px !important;   
            }
           padding-bottom: 10px!important;
           padding-top: 5px!important;
        }
        .text {
            font-size: 25px !important;
            font-weight: bolder;
            padding-left: 49% !important;
        }
        .small1 {
            font-size: 14px !important;
        }
        .bigger {
            font-size: 18px !important;
        }
    }
    .footer {
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {
            .container {
                // max-width: 1350px !important;
                margin-top: 10%;
                font-size: 20px!important;
            }
        }
    }

}

@media (min-width: 1801px) and (max-width: 2000px) {
    .header-section {
        .logo-image {
            width: 148px !important;
            height: 118px !important;
            margin-top: -6px !important;
            margin-left: -22px!important;
        }
       .navbar {
        .container {
           
            margin-right: 0px!important;
          
        }
       }
         a{
             font-size: 20px!important;
         }
         .nav-li{
            font-size: 20px!important;
        }
    }
    .btn-bottom{
        margin-right: 50px !important;
    }
    .container {
        font-size: 22px !important;
        max-width: 1600px !important;
        // margin-right: 150px !important;
    }

    .slider {
        .carousel-inner .carousel-item {
            right: -68% !important;
        }
        position: relative !important;
        // margin-top: 0%!important;
        // top: -50%!important;
        // width: 100%;
        .silde-info {
            padding-top: 6% !important;
            margin-left: -17px;
            a,
            h5 {
                font-size: 35px !important;
            }
        }
    }

    .mobile-info {
     

        .googlplay {
          
             .small1{
                font-size: 18px !important;
                padding-left: 15%;
            }
        }
        .applStore {
      
            .small1{
                font-size: 18px !important;
                padding-left: 15%;
            }
        }
      
        .desktop{
            button{
                font-size: 18px !important;   
            }
           padding-bottom: 5px!important;
           padding-top: 5px!important;
        }
        .text {
            font-size: 25px !important;
            font-weight: bolder;
            padding-left: 49% !important;
        }
        .small1 {
            font-size: 16px !important;
        }
        .bigger {
            font-size: 20px !important;
        }
    }

    .footer {
        .svg-bottom {
            height: 380px !important;
        }
        .bottom-side {
            .container {
                margin-top: 10%;
                font-size: 20x;
            }
        }
    }



}
