@media (max-width: 379px) {
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 75% !important;
  }
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 85px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 9px !important;
    bottom: 23px !important;
    margin-left: -10% !important;
  }
  .page1 .services2 .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
  }
  .page1 .services2 .hexagon2 span {
    width: 100% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: left !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 268px !important;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 57% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: left !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 335px !important;
  }
  .page1 .services2 .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 79% !important;
    height: 119px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 12px !important;
    bottom: 30px !important;
    margin-left: -3% !important;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 16px !important;
  }
  .page1 .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .page1 .food .row {
    transform: translatex(11%) !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 335px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .page1 .mobile-flex {
    flex-direction: column !important;
  }
  .page1 .header-section1 {
    font-size: 18px !important;
  }
  .page1 .services2 .container .row {
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 40% !important;
  }
  .page1 .food .row {
    transform: translatex(11%) !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 335px !important;
  }
}

@media (min-width: 769px) and (max-width: 851px) {
  .page1 .header-section1 {
    font-size: 12px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .page1 .header-section1 .header-bottom div.my-4 {
    margin-top: 6% !important;
  }
  .page1 .header-section1 .header-bottom div.input-group {
    margin-left: 0px !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .col-sm-6 {
    max-width: 50% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section .mobile-selecte {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .page1 .text-section p {
    font-size: 20px !important;
  }
  .page1 .text-section h1 {
    font-size: 30px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 30% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 200px !important;
    height: 170px !important;
  }
}

@media (min-width: 852px) and (max-width: 991px) {
  .page1 .header-section1 {
    font-size: 13px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 97px !important;
    height: 61px !important;
  }
  .page1 .header-section1 .header-bottom div.my-4 {
    margin-top: 5% !important;
  }
  .page1 .header-section1 .header-bottom div.input-group {
    margin-left: 0px !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .container .row {
    margin-left: 20% !important;
    margin-right: 14% !important;
  }
  .page1 .services2 .container .row .col-xs-12 {
    max-width: 33% !important;
  }
  .page1 .services2 .container .row .col-xs-12 .hexagon2 {
    width: 80% !important;
    height: 120px !important;
  }
  .page1 .services2 .container .row .col-xs-12 span {
    font-size: 14px !important;
    bottom: 29px !important;
    margin-left: -1% !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 28px !important;
  }
  .page1 .text-section h1 {
    font-size: 38px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 27% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 200px !important;
    height: 170px !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .page1 .header-section1 {
    font-size: 14px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 110px !important;
    height: 83px !important;
  }
  .page1 .header-section1 .header-bottom div.my-4 {
    margin-top: 4% !important;
  }
  .page1 .header-section1 .header-bottom div.input-group {
    margin-left: 0px !important;
    margin-right: 5% !important;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 98px !important;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 11px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 32px !important;
  }
  .page1 .text-section h1 {
    font-size: 45px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section .container .dropdown_selecte, .page1 .text-section .container .dropdown_selecte_city {
    width: 22% !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 170px !important;
  }
}

@media (min-width: 1101px) and (max-width: 1230px) {
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 170px !important;
  }
}

@media (min-width: 1531px) and (max-width: 1800px) {
  .page1 .header-section1 .btn-sing, .page1 .header-section1 .btn-join {
    width: 110px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 135px !important;
    height: 100px !important;
  }
  .page1 .header-section1 .header-bottom div.my-4 {
    margin-top: 3% !important;
  }
  .page1 .header-section1 .header-bottom div.input-group {
    margin-left: 0px !important;
    margin-right: 7% !important;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 155px !important;
    height: 200px !important;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 18px !important;
    bottom: 50px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 62px !important;
  }
  .page1 .text-section h1 {
    font-size: 75px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section select {
    width: 250px !important;
    font-size: 35px !important;
    margin-top: 10px !important;
  }
  .page1 .text-section option {
    font-size: 25px !important;
  }
  .page1 .text-section option:hover {
    color: #fff !important;
    background-color: #fac24f !important;
  }
  .page1 .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .page1 .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 290px !important;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  .page1 .header-section1 .text-size {
    margin-right: 20px !important;
  }
  .page1 .header-section1 .btn-sing, .page1 .header-section1 .btn-join {
    width: 120px !important;
  }
  .page1 .header-section1 .logo-image img {
    width: 150px !important;
    height: 120px !important;
  }
  .page1 .header-section1 .header-bottom div.my-4 {
    margin-top: 2% !important;
  }
  .page1 .header-section1 .header-bottom div.input-group {
    margin-left: 0px !important;
    margin-right: 8% !important;
  }
  .page1 .services2 .imagesServ {
    margin-top: 39%;
  }
  .page1 .services2 .hexagon2 {
    width: 189px !important;
    height: 249px !important;
  }
  .page1 .services2 .hexagon2 .fontServ {
    font-size: 21px !important;
    bottom: 63px !important;
  }
  .page1 .text-section {
    margin-top: 20px !important;
  }
  .page1 .text-section p {
    font-size: 72px !important;
  }
  .page1 .text-section h1 {
    font-size: 85px !important;
    margin-top: -10px !important;
  }
  .page1 .text-section select {
    width: 250px !important;
    font-size: 35px !important;
    margin-top: 10px !important;
  }
  .page1 .text-section option {
    font-size: 25px !important;
  }
  .page1 .text-section option:hover {
    color: #fff !important;
    background-color: #fac24f !important;
  }
  .page1 .text-section .select-selected {
    display: flex !important;
    justify-content: center !important;
  }
  .page1 .text-section .select-selected:after {
    top: 65%;
    right: 40px !important;
  }
  .page1 .food .row {
    transform: translatex(-2%) !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .page1 .food .row .col-md-6 {
    max-width: 33% !important;
  }
  .page1 .food .justify-content-center {
    justify-content: center !important;
  }
  .page1 .food h5 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .page1 .food h4 {
    font-size: 25px !important;
    margin-bottom: 50px;
  }
  .page1 .food img {
    width: 100% !important;
    height: 330px !important;
  }
}
