@import "vars";
@import "mixins";

.socials{
	list-style: none;
	padding-left: 0px;
	display: -webkit-box;
}
.social-item{
	color: rgb(255,255,255);
	border-radius: 50%;
	min-width: 35px;
	height: 35px;
	display: inline-block;
	
}

.card{
	box-shadow: 0 14px 28px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 250px;
float: left;
height: 330px;
margin: 15px;
background-color: rgb(243, 243, 243);
font-family: "OpenSans";
padding: 0;
box-sizing:border-box;
}
.imagFeture{
	width:270px;
	height: 275px;
	
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	margin: 0;
	padding: 0;
}
.imagesFeture{
	 width: 1200px !important;

}
.appleStore{
    width: 11%;
    height: 57%;
    position: relative;
    left: 63%;
    top: 25%;
    background-color: #fff;
}
.googlePlay{
	width: 11%;
    height: 57%;
    position: relative;
    left: 49%;
    top: 125%;
    background-color: #000;
    color: #fff;
}
.googlePlay:hover{
	color: #fff;
}


.hexagon {
  width: 10%;
  float: left;
  height: 95px;
  background:white;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75% );
  margin-right: 2%;
}
.imagesServ{
	width: 45%;
	height: 41%;
	margin-top: 11%;
	margin-left: 27%;
	display: flex;
}
.fontServ{
	font-size: 12px;
	color: #888;
}

.eat{
	max-width: 118%;
position: relative;
top: 13%;
}



// start my style

.row {
    margin: 0px !important;
    padding: 0px !important;
}
body {
    margin: 0px !important;
    padding: 0px !important;
}
.header-section {
    a {
        color: #000;
        background-color: transparent;
        text-decoration: none;
        font-size: 16px;
    }
    .logo-image {
        width: 112px;
        height: 90px;
        /* border-radius: 50%; */
        overflow: hidden;
        margin-top: -6px;
    }

    .card-shopping {
        // display: none;
        position: absolute;
        top: 75px;
        right: 40px;
        z-index: 100;
        width: 40%;
        padding: 2%;
        transition: all 0.5s;
    }
    .card-count {
        position: absolute !important;
        background: #f1c445 !important;
        left: 12px;
        top: -8px;
        font-size: 10px !important;
        padding: 4px !important;
    }
    .search {
        border: 1px solid #000 !important;
        padding: 7px 20px !important;
        max-width: 100% !important;
        background: none !important;
        height: 35px !important;
        border-radius: 8px !important;
    }
    .search:focus {
        outline: none !important;
        border: 1px solid #f1c445 !important;
    }
    .search-img {
        position: absolute !important;
        right: 3% !important;
        top: 10px !important;
    }
    .nav-li {
        color: rgb(86, 86, 86) !important;
        font-size: 16px !important;
    }
}

.slider {
    position: relative;
    margin-top: -10px;

    .carousel-indicators li {
        // position: absolute;
        display: inline-block;
        z-index: 100;
        cursor: pointer;
        background-color: #fee0a2 !important;
        height: 5px !important;
    }
    .carousel-indicators {
        .active {
            background-color: #ef6735 !important;
        }
    }

    .carousel-inner {
        .silde-info {
            position: absolute;
            z-index: 99;
            // top: 20px;
            font-size: 28px;
            // padding-bottom: 185px;
            padding-top: 10%;
            padding-left: 1%;
            // padding-right: 400px;
            font-weight: bolder;

            h5.text{
                font-size: 28px;
                font-family: 'Nunito Sans', sans-serif;
                color: #444242;
            }
            .button {
                padding-top: 7px;
                padding-bottom: 7px;
                padding-right: 20px;
                padding-left: 20px;
                background-image: url("../images/buttons/sub_btn.png");
                color: #fff;
                margin-right: 5px;
                min-width: 110px;
                display: inline-block;
                padding: 9px 20px;
                color: #fff;
                border: none;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                @include transition-good;
                border-radius: 7px;
            }
            .button_no_back {
                padding-top: 7px;
                padding-bottom: 7px;
                padding-right: 20px;
                padding-left: 20px;
                background-color: #ffffff;
                border: 1px solid #000;
                color: #000;
                margin-right: 5px;
                min-width: 110px;
                border-radius: 7px !important;
                font-family: "Muli";
                font-size: 21px;
                line-height: 21px;
            }
        }

        .one {
            background-image: url("../images/slides/slide1.jpg") !important;
        }
        .carousel-item {
            //     height: 450px;
            //     position: relative!important;
            //    @include cover-image;
            //     width: 100%!important;

            right: -54%;
            height: 340px;
            position: relative !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: left;
            width: 61% !important;
        }
    }
}

.services {
    //    .first-row{
    //        margin-bottom: 10px!important;
    //    }
    .services-content {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center;
        flex-direction: column;
    }
    .btn-bottom {
        position: fixed;
        right: 85px;
        bottom: 20px;
        z-index: 100;
        .btn-fixed {
            border: none;
            display: inline-block;
            background-image: linear-gradient(90deg, #f2a73f, #ef542f);
            color: #fff;
            font-size: 23px;
            border-radius: 78%;
            // padding: 11%;
            width: 77%;
            height: 47px;
            margin-bottom: 7px;
            outline: none;
        }
    }
    .imagesServ {
        width: 36%;
        height: 30%;
        margin-top: 17%;
        margin-left: 27%;
        display: flex;
    }

    height: 242px;
    background: hsla(43, 86%, 61%, 1);

    background: linear-gradient(0deg, hsla(43, 86%, 61%, 1) 0%, hsla(18, 86%, 62%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(43, 86%, 61%, 1) 0%, hsla(18, 86%, 62%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(43, 86%, 61%, 1) 0%, hsla(18, 86%, 62%, 1) 100%);
}

.mobile-info {
    position: relative !important;
    height: 230px;
    background-image: url("../images//mobile_info/car_background_behind_the_mockup.png") !important;
    @include cover-image;
    width: 100% !important;
    z-index: 2;

    .googlplay {
        .googlplay-img{
            width:13%;
        }

        position: absolute;
        margin-left: 3%;
        height: 107px;
        width: 13%;
        left: 46%;
        top: 57%;
        button {
            background-color: #000;
            color: #fff;
        }
        .small1 {
            position: relative;
            left: -24%;
            font-size: 11px;
            font-weight: 700;
        }
        .bigger {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .applStore {
        .applStore-img{
            width:16%;     margin-left: -15%;
        }
        button {
            color: #000;
            background-color: #fff;
        }
        width: 13%;
        position: relative;
        left: 64%;
        top: 56%;
        font-size: 11px;
        font-weight: 700;
        .small1 {
            position: relative;
            left: -21%;
            font-size: 11px;
            font-weight: 700;
        }
        .bigger {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .desktop {
        // button {
        //     font-size: 12px;
        //     font-weight: 400;
        //     color: #fff;
        // }
        // background-color: #000;
        // color: #fff;
        // position: absolute;
        // /* width: 13%; */
        // left: 79%;
        // top: 73%;
        // border-radius: 5px;

     
            background-color: #000;
            color: #fff;
            position: absolute;
            /* width: 13%; */
            left: 79%;
            top: 56%;
            border-radius: 5px;
            padding: 2px;
            padding-bottom: 10px;
            button{
                color: #fff; 
            }
            .small1 {
              
                font-size: 11px;
                font-weight: 700;
            }

    }
    .mobile {
        height: 315px;
        position: absolute;
        top: 7%;
        left: 12%;
        z-index: 3;
        background-image: url(../images//mobile_info/mobile_mockup.png) !important;
        @include contain-image;
        width: 29% !important;
        z-index: 3;
    }
    .text {
        position: absolute;
        color: #000000;
        font-size: 30px;
        font-weight: 450;
        width: 100%;

        padding-left: 49%;
        top: 17%;

        span {
            color: #ffffff;
        }
    }
}

.footer {
    .row {
        margin: 0px !important;
        display: flex;
        flex-wrap: wrap;
    }
    margin-top: 100px;
    // height: 830px;
    // background-image: url('../images/footer/footer.png')!important;
    // @include cover-image;
    width: 100% !important;

    .left-side {
        padding-left: 0px;
        padding-top: 55%;
        h6 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.8rem;
        }
        .left-side-bottom{
            margin-top: -10px;
        }
        .socail-icon {
            padding: 1%;
            width: 21%;
        }
        .logo {
            width: 25%;
        }
        .set {
            margin-left: 20% !important;
        }
    }
.rigth-side-parent{
    box-shadow: -5px 0 16px 3px #BCDEDD;
    padding-bottom: 15%; background-color: white; position: relative;right: 5%;padding-left: 3%;
   .rigth-side-parent-top{
       position: absolute;
       background-color: #ffff; height: 37px;
       width: 100%;
       top: -4%;
       right: 0%;
   }
    .rigth-side-parent-right{
        position: absolute;
        background-color: #ffff; height: 84%;
        width: 17%;
        right: -14px;
    }

    .rigth-side {
        padding-top: 21%;
        span {
            font-size: 20px;
            font-weight: 400;
            color: #6b6b6b;
        }
        h2 {
            font-size: 1.7rem;
            font-weight: 600;
            color: #575757;
        }
        .subscribe {
            height: 43px;
            background-image: url(../images/footer/btn_back.jpg) !important;
            @include cover-image;
            width: 21%;
            margin-top: 3%;
            color: #fff;
            border-radius: 10px;
            font-size: 15px;
        }
        .form-group {
            width: 60%;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-style: oblique;
               }
               ::-moz-placeholder { /* Firefox 19+ */
                 font-style: oblique;
               }
               :-ms-input-placeholder { /* IE 10+ */
                 font-style: oblique;
               }
               :-moz-placeholder { /* Firefox 18- */
                 font-style: oblique;
               }
        }
        input {
            font-style: oblique;
            border: none;
            border-bottom: 2px solid #c6a3a7;
            border-radius: 0px;
        }
    }
}


    .container {
        position: relative;
        margin-top: 13%;
    }
    .bottom-side {

        .social-item-parent{
            padding-left: 0px;
        }

        .footer-ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            // direction: rtl;
            // text-align: right;
            li{
                display: inline;
                // float: right;
                padding: 3px;
                font-size: 14px;
                span{
                    padding-left: 5px;
                }
            }
        }

        width: 100%;
        color: #fff;
        position: absolute;
        top: -6%;

        hr {
            height: 1px;
            color: #fff;
            background: #fff;
            width: 100%;
        }
        .copy {
            color: #fff;
        }
    }
    .svg-mobile{
        position: relative;
         margin-top: -9%;
         opacity: 0.8;
    
         .svg-bottom{
            height: 315px; overflow: hidden;
         }
        }
}

.features {
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-left: 7%;
        margin-right: 8%;
        // background-color: DodgerBlue;
    }

    .flex-container > div {
        background-color: #e1e1e1;
        width: 100%;
        height: 200px;
        margin: 2%;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
}

// end style of subindex