///*!
// * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
// * Copyright 2015 Daniel Cardoso <@DanielCardoso>
// * Licensed under MIT
// */
//.la-ball-scale-multiple,
//.la-ball-scale-multiple > div {
//    position: relative;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//}
//.la-ball-scale-multiple {
//    display: block;
//    font-size: 0;
//    color: #fff;
//}
//.la-ball-scale-multiple.la-dark {
//    color: #333;
//}
//.la-ball-scale-multiple > div {
//    display: inline-block;
//    float: none;
//    background-color: currentColor;
//    border: 0 solid currentColor;
//}
//.la-ball-scale-multiple {
//    width: 32%;
//    height: 32%;
//}
//.la-ball-scale-multiple > div {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 32%;
//    height: 32%;
//    border-radius: 100%;
//    opacity: 0;
//    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
//    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
//    -o-animation: ball-scale-multiple 1s 0s linear infinite;
//    animation: ball-scale-multiple 1s 0s linear infinite;
//}
//.la-ball-scale-multiple > div:nth-child(2) {
//    -webkit-animation-delay: .3s;
//    -moz-animation-delay: .3s;
//    -o-animation-delay: .3s;
//    animation-delay: .3s;
//}
//.la-ball-scale-multiple > div:nth-child(3) {
//    -webkit-animation-delay: .4s;
//    -moz-animation-delay: .4s;
//    -o-animation-delay: .4s;
//    animation-delay: .4s;
//}
//.la-ball-scale-multiple.la-sm {
//    width: 16%;
//    height: 16%;
//}
//.la-ball-scale-multiple.la-sm > div {
//    width: 16%;
//    height: 16%;
//}
//.la-ball-scale-multiple.la-2x {
//    width: 64%;
//    height: 64%;
//}
//.la-ball-scale-multiple.la-2x > div {
//    width: 64%;
//    height: 64%;
//}
//.la-ball-scale-multiple.la-3x {
//    width: 96%;
//    height: 96%;
//}
//.la-ball-scale-multiple.la-3x > div {
//    width: 96%;
//    height: 96%;
//}
///*
// * Animation
// */
//@-webkit-keyframes ball-scale-multiple {
//    0% {
//        opacity: 0;
//        -webkit-transform: scale(0);
//        transform: scale(0);
//    }
//    5% {
//        opacity: .75;
//    }
//    100% {
//        opacity: 0;
//        -webkit-transform: scale(1);
//        transform: scale(1);
//    }
//}
//@-moz-keyframes ball-scale-multiple {
//    0% {
//        opacity: 0;
//        -moz-transform: scale(0);
//        transform: scale(0);
//    }
//    5% {
//        opacity: .75;
//    }
//    100% {
//        opacity: 0;
//        -moz-transform: scale(1);
//        transform: scale(1);
//    }
//}
//@-o-keyframes ball-scale-multiple {
//    0% {
//        opacity: 0;
//        -o-transform: scale(0);
//        transform: scale(0);
//    }
//    5% {
//        opacity: .75;
//    }
//    100% {
//        opacity: 0;
//        -o-transform: scale(1);
//        transform: scale(1);
//    }
//}
//@keyframes ball-scale-multiple {
//    0% {
//        opacity: 0;
//        -webkit-transform: scale(0);
//        -moz-transform: scale(0);
//        -o-transform: scale(0);
//        transform: scale(0);
//    }
//    5% {
//        opacity: .75;
//    }
//    100% {
//        opacity: 0;
//        -webkit-transform: scale(1);
//        -moz-transform: scale(1);
//        -o-transform: scale(1);
//        transform: scale(1);
//    }
//}
//
//
////my style
//#loading{
//
//    position: fixed !important;
//    top: 50% !important;
//    left: 52% !important;
//    height: 100vw !important;
//    width: 100vw !important;
//    transform: translate(-20% ,-20%);
//    z-index: 1000!important;
//}



.socket{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick{
    background: #fac24f;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.h2{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel{
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-gel{
    margin-left: -15px;
    margin-top: -15px;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.c1{
    margin-left: -47px;
    margin-top: -15px;
}

.c2{
    margin-left: -31px;
    margin-top: -43px;
}

.c3{
    margin-left: 1px;
    margin-top: -43px;
}

.c4{
    margin-left: 17px;
    margin-top: -15px;
}
.c5{
    margin-left: -31px;
    margin-top: 13px;
}

.c6{
    margin-left: 1px;
    margin-top: 13px;
}

.c7{
    margin-left: -63px;
    margin-top: -43px;
}

.c8{
    margin-left: 33px;
    margin-top: -43px;
}

.c9{
    margin-left: -15px;
    margin-top: 41px;
}

.c10{
    margin-left: -63px;
    margin-top: 13px;
}

.c11{
    margin-left: 33px;
    margin-top: 13px;
}

.c12{
    margin-left: -15px;
    margin-top: -71px;
}

.c13{
    margin-left: -47px;
    margin-top: -71px;
}

.c14{
    margin-left: 17px;
    margin-top: -71px;
}

.c15{
    margin-left: -47px;
    margin-top: 41px;
}

.c16{
    margin-left: 17px;
    margin-top: 41px;
}

.c17{
    margin-left: -79px;
    margin-top: -15px;
}

.c18{
    margin-left: 49px;
    margin-top: -15px;
}

.c19{
    margin-left: -63px;
    margin-top: -99px;
}

.c20{
    margin-left: 33px;
    margin-top: -99px;
}

.c21{
    margin-left: 1px;
    margin-top: -99px;
}

.c22{
    margin-left: -31px;
    margin-top: -99px;
}

.c23{
    margin-left: -63px;
    margin-top: 69px;
}

.c24{
    margin-left: 33px;
    margin-top: 69px;
}

.c25{
    margin-left: 1px;
    margin-top: 69px;
}

.c26{
    margin-left: -31px;
    margin-top: 69px;
}

.c27{
    margin-left: -79px;
    margin-top: -15px;
}

.c28{
    margin-left: -95px;
    margin-top: -43px;
}

.c29{
    margin-left: -95px;
    margin-top: 13px;
}

.c30{
    margin-left: 49px;
    margin-top: 41px;
}

.c31{
    margin-left: -79px;
    margin-top: -71px;
}

.c32{
    margin-left: -111px;
    margin-top: -15px;
}

.c33{
    margin-left: 65px;
    margin-top: -43px;
}

.c34{
    margin-left: 65px;
    margin-top: 13px;
}

.c35{
    margin-left: -79px;
    margin-top: 41px;
}

.c36{
    margin-left: 49px;
    margin-top: -71px;
}

.c37{
    margin-left: 81px;
    margin-top: -15px;
}

.r1{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .3s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .3s;
}

.r2{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

.r1 > .hex-brick{
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .3s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .3s;
}

.r2 > .hex-brick{
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 > .hex-brick{
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}


@keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50%{
        -webkit-transform: scale(0.03);
        transform: scale(0.03);
    }

    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade{
    0%{
        background: #fcc868;
    }

    50%{
        background: #fab62f;
    }

    100%{
        background: #faad12;
    }
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50%{
        -webkit-transform: scale(0.03);
        transform: scale(0.03);
    }

    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade{
    0%{
        background: #fcc868;
    }

    50%{
        background: #fab62f;
    }

    100%{
        background: #faad12;
    }
}
