.heading1{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0rem 1rem;
    .owner{
        align-items: flex-end;
    }
    .wide{
        position: absolute;
        top: 0;
        left: -0.25rem;
        z-index: 3;
        background: #FE2E17;
        width: 8px;
        height: 30px;
        border-radius: 7px;
        transform: translateX(1px);
    }
    .thin{
        position: absolute;
        top: 0;
        left: 0rem;
        z-index: 2;
        background: #FFCBDE;
        width: 2px;
        height: 55px;
        border-radius: 7px;
    }
    .img{
        height: calc(21px + 0.5vw);
        width: calc(19px + 0.5vw);
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .address1{
        //font-size: 18px;
        //line-height: 22px;

        font-size: calc(10px + 0.6vw);
        font-weight: bolder;
        /* identical to box height */
        display: flex;
        align-items: center;

        /* Orange */
        color: #FFA14E;
        margin: 0rem 0.3rem;
    }
    .address2{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(10px + 1vw);
        color: #000000;
        margin: 0.2rem 0rem;
    }
    .text-sm{
        color: rgba(0, 0, 0, 0.5);
        font-size: calc(7px + 0.4vw);

    }
}
.heading2{
display: flex;
    flex-direction: column;
    justify-content: start;
    .breadcrumb{
        background: transparent;
        padding: 0.75rem 0rem!important;
        .breadcrumb-item{
            font-size: calc(7px + 0.7vw);
        }
        .active{
            color: #959595!important;
        }
    }
    .btn-container{
        width: 20%!important;
        display: flex;
        justify-content: start;
    }
}


p{
    margin-bottom: 0px;
}
//.dropdown-menu div:first-child{
//    padding-top: 0.3rem!important;
//}
.dropdown-menu{
    padding: 0px!important;
    background: #FFFFFF;
    box-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);
    border: 1px solid white!important;
    border-radius: 12px;
    width: 100%;
    div:first-child{
        padding-top: 0.3rem ;
    }
    div:last-child{
        padding-bottom: 0.3rem ;
    }
    .item-container{
        border-radius: 12px;
        padding: 0px;
        margin: 0px;
        //svg:hover {
        //    //fill: black!important;
        //    filter: invert(1);
        //}
        svg{
            path{
                stroke: #209F84;
            }
        }
        &:hover{
            background: #FFAB00;
            svg {
                //fill: white;
                path{
                    stroke: white;
                    stroke-width: 2!important;
                }
            }
            .dropdown-item,a{
                color: white!important;
                background: #FFAB00!important;
            }
        }
    }
    .item{
        padding: 0.3rem 1rem!important;
        display: flex!important;
    }
    .dropdown-item{
        padding: 0.25rem 1rem!important;
        font-size: calc(8px + 0.5vw);
    }
}
.basic-info-section{


    //new
    //padding: 3rem;
    padding: 1.2rem 3rem 3rem 3rem;
    //.list-items > * + *  {
    //    margin-left: 1rem;
    //}
    .list-items{
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        flex-wrap: wrap;

        .item{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 1rem;
            background: white;
            width: 17rem;
            border-radius: 10px;
            margin-right: 1rem;
            margin-top: 1rem;
            .btn-container{
                width: 30%;
            }
            .icon,.text{
                margin-bottom: 0.5rem;
                font-weight: 500;
                //font-size: 24px;
                //line-height: 36px;
                p{
                    font-size:calc(7px + 0.8vw) ;
                    color: #0F0F0F;
                }
                i{
                    color: #EA4989;
                    font-size:calc(10px + 1.2vw) ;
                }

            }
        }
    }
    //old
    .info-container{

        #dropdown_selecte_btn,label{
            font-size: calc(8px + 0.5vw);
            color: rgb(0,0,0,0.8);
        }
        .btn-container{
            width:25% ;
        }
        }
        .info{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;

            textarea{
                resize: none;
            }
            label{
                font-style: normal;
                font-weight: normal;
                //font-size: 14px;
                //line-height: 16px;
                font-size: calc(8px + 0.5vw);
                margin-bottom: 0.4rem;
                color: #000000;
            }
            #dropdown_selecte_btn::after{
                color:  rgba(51, 41, 41, 0.6);
            }
            #dropdown_selecte_btn{
                background: #fff;
                width: 100%;
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                font-size: calc(8px + 0.5vw);
            }

            .user-input2{
                width: 48%;
                .user-input{
                    width: 100%!important;
                    margin-bottom: 0.5rem;
                }
            }
            .user-input{
                //padding: 0.5rem;
                width: 48%;

                .input-group{
                    .input-group-prepend{
                        background: white!important;
                        border: none!important;
                        //border-radius: 0px!important;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 0px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 0px;
                        border-right: 2px solid #979595!important;
                        padding: 0.375rem 0.75rem;
                        margin-right: 0px!important;
                    }
                    .form-control{
                        border-top-left-radius: 0px!important;
                        border-bottom-left-radius: 0px!important;
                    }

                }
                .banner-input{
                    width: 100%;
                    opacity: 0;
                    height: 100%;
                    cursor: pointer;
                    min-height: calc(80px + 5vw);
                    z-index: 5;
                    position: relative;
                }
                .input-file-container{
                    position: relative;
                    //max-width: 240px;
                    //min-width: 150px;
                    //width: 18vw;
                    width: calc(250px + 5vw);
                    height: calc(100px + 5vw);
                    padding: 0rem;
                    //margin-bottom: 2rem;
                    .img{
                        position: absolute;
                        inset: 0 0 0 0;
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        background: white;
                        img{
                            width: 100%;
                            height: 100%;
                            border-top-right-radius: 25px;
                            border-top-left-radius: 25px;

                        }
                    }


                    .input-handel{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        padding: 0.5rem 1.5rem;
                        min-height: calc(80px + 5vw);
                        inset: 0px 0px 0px 0px;
                        width: 97%;
                        height: 97%;
                        z-index: 1;
                        margin: 0.5rem;
                        //margin-bottom: 2rem;
                        background: white;
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;
                        max-height:  calc(90px + 6vw);

                        .items{
                            display: flex;
                            flex-direction: column;
                            justify-items: center;
                            align-items: center;
                            position: absolute;
                            inset: 0 0 0 0;
                            margin: auto;
                            width: 50%;
                            height: 50%;
                            z-index: 3;
                        }
                    }
                    .brows{
                        color: $mainBackGroundColor!important;
                        font-size: calc(12px + 1.55vw);
                        font-weight: bolder;
                    }
                    .text1{
                        //font-size: 14px;
                        //line-height: 16px;

                        //color: #000000;
                        font-size: calc(7px + 0.3vw);
                        color: rgb(0,0,0,0.9);
                        margin-bottom: 0px!important;
                    }
                    i{
                        color: rgb(0,0,0,0.6);
                        //color: $mainBackGroundColor!important;

                    }
                }

            }



        }
    .documents-section{
        .table-responsive-xl{
            min-width: 450px;
        }
      .table tbody, .table tbody tr,  .table thead th, .table thead tr,.table  td{
            border: none;
        }
        .table tbody{
            background: rgba(255, 255, 255, 0.5);
            small{
                font-size: calc(6px + 0.4vw);
                color: rgb(0,0,0,0.65);
            }
           .btn-cancle2-delivaz, .btn-delete-delivaz{
            }
            .btn-edit-delivaz{
                display: inline;
                width: auto;
            }
            .btn{
                margin: 0rem 0.25rem;
                padding: 0.3rem 1.2rem!important;

            }
        }
    }

}
