@media  (max-width: 1000px) {

    .heading1{
        margin-top: 1.5rem;
        .owner{
            margin-bottom: 0.5rem;
        }
    }
    .list-items{
        flex-direction: column!important;
        .item{
            margin-bottom: 1.5rem!important;
            margin-left: 0rem!important;
        }
    }
    .basic-info-section {
        padding: 2rem 0.5rem 0.5rem 0.5rem !important;
        //padding: 0rem;
        //margin-top: 3rem;

    }
    .content-section{
        //width: 100%!important;
    }
    .btn-close-open-container{
        top:1.5rem!important;
    }
    .basic-info-section{
        .info-container{
            transform: translateY(15px);
            .btn-container {
                width: 70%!important;
            }
        }
        .info-with-image{
            flex-direction: column!important;
        }
         .info{
             flex-direction: column!important;

         }
        .col1,.col2{
            flex-direction: column!important;

        }
        .info-with-out-image{
            width: 100%!important;
        }
       .text-area-container,.user-input2, .user-input{
            width: 95%!important;
        }
    }
}
