.register-section{
    .address{

        font-style: normal;
        font-weight: 500;
        //font-size: 24px;
        //line-height: 28px;
        font-size: calc(9px + 1.4vw);
        line-height: calc(20px + 3vw);

        color: #000000;
    }

    .form-group{
        //width: calc(300px + 15vw);
        width: 37vw;
        input{
            border: none;

            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 0px;
        }
        .far, .fas{
            color: #A0A0A0;
            font-size: calc(9px + 0.9vw)!important;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }
        :-moz-placeholder { /* Firefox 18- */
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            //line-height: 21px;
            font-size: calc(9px + 0.6vw)!important;
            line-height: calc(10px + 1vw)!important;
            /* identical to box height */

            color: rgba(0, 0, 0, 0.3);
        }

    }

    .btn-sing-up{
        background: #FAC24F;
        border-radius: 5px;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);
        /* identical to box height */

        color: #FFFFFF;
        @include transition-500ms;

        &:hover{
            background: #fdb338;
            transform: translateY(-3px);
        }
    }
    .btn-sing-in{
        width: 100%;
        background: #F5F5F5;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        //font-size: 18px;
        //line-height: 21px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);

        /* identical to box height */

        color: rgba(0, 0, 0, 0.6);
        @include transition-500ms;

        &:hover{
            background: #e0e0e0;
            transform: translateY(-3px);
        }
    }
    .btn-Forgot{
        width: 100%;
        background: #ffffff;
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //line-height: 16px;
        font-size: calc(9px + 0.9vw);
        line-height: calc(15px + 2vw);

        color: #A0A0A0;
        @include transition-500ms;

        &:hover{
            background: #eeeeee;
            transform: translateY(-3px);
        }
    }
    .text{
        font-style: normal;
        font-weight: normal;
        //font-size: 14px;
        //line-height: 16px;
        font-size: calc(9px + 0.6vw);
        line-height: calc(15px + 1.3vw);

        color: #A0A0A0;
    }
    .cover{
        width: 100%;
        //margin-top: calc(10px + 1vw);
        margin: calc(25px + 3vw) 0px;
        img{
            width: 100%;
        }
    }

    .btn-facebook{
        background: #1EB2F1;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        padding: 3.5% 1.5%;
        width: 32%;

        font-size: calc(7px + 0.2vw);
        //padding: calc(3px + 0.5);
        //line-height: calc(20px + 2vw);
        /* identical to box height */

        color: #FFFFFF;
        @include transition-500ms;

        &:hover{
            background: #0ab1ef;
            transform: translateY(-3px);
        }
    }
    .btn-twiteer{
        background: #6AAFFF;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        padding: 3.5% 1.5%;
        width: 32%;
        font-size: calc(7px + 0.2vw);
        //padding: calc(3px + 0.5);
        /* identical to box height */

        color: #FFFFFF;
        @include transition-500ms;

        &:hover{
            background: #4a9afc;
            transform: translateY(-3px);
        }
    }
    .btn-gmail{
        background: #FF3838;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        padding: 3.5% 1.5%;
        width: 32%;
        font-size: calc(7px + 0.2vw);

        color: #FFFFFF;
        @include transition-500ms;

        &:hover{
            background: #fc1f1f;
            transform: translateY(-3px);
        }
    }
    .btn{

        .fab, .fa{
            font-size: calc(11px + 0.9vw);
        }
    }

    @media  (max-width: 765px) {
        .form-group{
            //width: calc(300px + 15vw);
            width: 90%;
        }
        .three-btn{
            flex-direction: column!important;
            a{
                width: 100%;
                margin: 10px 0px;
            }
        }
    }

    @media (min-width: 766px)and (max-width: 1225px) {
        .form-group{
            //width: calc(300px + 15vw);
            width: 70%;
        }
    }

}
