@mixin toggel-mobile-menu {
    .second-header{
        .btn-menu-mobile{
            display: block;
        }
        .other{
            //display: none;

            width: 0px ;
            opacity: 0;

        }
    }
}
@mixin margin-top-small-screen{
    .address{
        margin-top: 20px;
        transform: translateX(-7%);
    }
}
//@mixin font-family-en{

    //font-family: 'Lato', sans-serif;
    //font-family: 'Lora', serif;
    //font-family: 'Roboto Slab', serif;
//}

@mixin flex-row-to-column{
    display: flex;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
}
@mixin transition-1000ms{
    -webkit-transition: ease-in  1000ms ;
    -moz-transition:ease-in   1000ms ;
    -ms-transition: ease-in  1000ms ;
    -o-transition: ease-in  1000ms ;
    transition: ease-in  1000ms ;
}
@mixin btn-main {
    .btn-main{
        //display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        //width: 140px;
        width: 14%;
        min-width: 110px;
        max-width: 150px;
        height: 50px;
        //font-size: 1.2vw;
        font-size: calc(10px + 0.4vw);
        background: #FAC24F;
        color: white;
        border-radius: 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
        @include transition-500ms;
        &:hover{
            //color  : #FAC24F;
            //background: white;
            //border:  #FAC24F solid 1px;
            background: #fab838;

            transform: translateY(-3px);
        }
    }
}
@mixin transition-500ms {
    -webkit-transition: ease-in-out  500ms;
    -moz-transition: ease-in-out   500ms;
    -ms-transition: ease-in-out  500ms;
    -o-transition: ease-in-out   500ms;
    transition:  ease-in-out  500ms;
}

@mixin btn-white-small-screen{
    .btn-white{
        .badge{
            top: 2px!important;
            right: -3px!important;
        }
    }
}
@mixin btn-white {
    .btn-white{
        //width: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        min-width: 40px;
        max-width: 50px;
        width: 37%;
        height: 50px;
        //font-size: 1.8vmax;
        //font-size: 30px;
        font-size: calc(25px + 0.5vw);
        position: relative;
        cursor: pointer;
        @include transition-500ms;
        &:hover{

            transform: translateY(-3px);
        }
        .badge{
            position: absolute;
            top: -7px;
            right: -10px;
            color: #ffffff;
            //font-size: 12px;
            //font-size: 0.9vw;
            font-size: calc(7px + 0.5vw);
            background: $mainBackGroundColor;

        }
        .fa-heart{
            color: #FF7667;
        }
    }
}
