.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus, .form-control.focus {
    outline: 0;
    box-shadow: none;
}
.gap-15{
    //gap: 25px;
    margin: 0px 15px;
}
.gap-0-10{
    margin: 10px 0px;
}
.gap-0-5{
    margin: 5px 0px;
}
.gap-shape{
    margin: 0px 7px;
}

.gap-10{
    //gap: 25px;
    margin: 0px 10px;
}
.gap-5{
    margin: 0px 5px;
}
.gap-25{
    margin: 0px 25px;
    //gap: 25px;
    //width: 70vmax;
    //box-sizing: border-box;
    //margin: 0px 130px;

}
.row{
    margin: 0px;
}
.col-lg-6{
    padding: 0px;
}
//.swal2-x-mark-line-left, .swal2-x-mark-line-right{
//    font-size: calc(7px + 0.7vw)!important;
//
//}
//.swal2-x-mark {
//    font-size: calc(9px + 1.5vw)!important;
//
//}
.swal2-popup{
    width: 40vw!important;
    min-width: 300px!important;
}
.swal2-title{
    font-size: calc(9px + 1.5vw)!important;
}
