@media  (max-width: 1000px) {
    .work-time-section{
        padding: 0rem;
        //margin-top: 3rem;
        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            border: none!important;
            padding: 0.75rem 1.5rem!important;
            //border-right-width:0px;
            //border-left-width:0px;
        }
    }
}

@media  (max-width: 700px) {
    .work-time-header{
        flex-direction: column!important;
        .state{
            //margin: 1rem 0rem;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            width: calc(140px + 8vw)!important;
            height: calc(30px + 1vw)!important;
        }
    }
}
