.work-time-section{
    padding: 1.2rem 3rem 3rem 3rem;

    .work-time{

        .work-time-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .state{


            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            align-content: center;
            width: calc(150px + 8vw);
            background: #fff;
            border-radius: 500px;
            height: calc(30px + 1vw);
            padding: 0.9rem 1rem;

            .custom-switch{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }

            input{
                position: relative;
                opacity: 0;
            }
            input:checked ~ .custom-control-label::after {
                background-color: #fff!important;
                //transform: translateX(2.2rem)!important;
                transform: translateX(130%)!important;

            }
            input:checked ~ .custom-control-label::before {
                background: #2CC990!important;
                //border: 1px solid #E8E8E8!important;
                border: none!important;
            }
          .custom-control-label{
              font-size: calc(9px + 0.7vw)!important;
              color: #4B4B4B!important;
              font-weight: bolder;
          }
            .custom-control-label::after{
                width: calc(15px + 1vw)!important;
                height: calc(13px + 0.9vw)!important;
                border-radius: 100%!important;
                top: -0.09rem  !important;
                //left: calc(-4.25rem - 2px)!important;
                left: calc(-3.2vw - 46px) !important;


                background: #C9C9C9!important;

            }
            .custom-control-label::before{

                width: calc(38px + 2.5vw) !important;
                height: calc(18px + 1vw) !important;
                border-radius: 500px!important;
                background: #F6F5FF!important;
                border: 1px solid #C9C9C9!important;
                //left: -4.6rem!important;
                transform: translateX(-54%)!important;
                left: calc(-25px - 2vw)!important;
                top: -0.25rem!important;
            }
        }


        //.day{
        //    @include custom-check-box;
        //}

    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        border: none!important;
        //border-right-width:0px;
        //border-left-width:0px;
    }
    .table{

        thead tr th{
            padding: 0px!important;
            padding-left: 1rem !important;
            .hour{
                font-size: calc(8px + 0.5vw);
                color: rgba(0, 0, 0, 0.6);
                font-weight: normal;

            }
            .minutes{
                font-size: calc(8px + 0.5vw);
                color: rgba(0, 0, 0, 0.6);
                font-weight: normal;
                padding-left: 2rem;
            }
        }
        margin-top: 2rem;

        .custom-switch{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            input{
                position: relative;
                opacity: 0;
            }
            input:checked ~ .custom-control-label::after {
                background-color: #fff!important;
                //transform: translateX(2.2rem)!important;
                transform: translateX(130%)!important;

            }
            input:checked ~ .custom-control-label::before {
                background: #2CC990!important;
                //border: 1px solid #E8E8E8!important;
                border: none!important;
            }
            .custom-control-label{
                font-size: calc(9px + 0.7vw)!important;
                color: #4B4B4B!important;
                font-weight: bolder;
            }
            .custom-control-label::after{
                width: calc(14px + 1vw)!important;
                height: calc(12px + 0.9vw)!important;
                border-radius: 100%!important;
                top: -0.09rem  !important;
                //left: calc(-3.2vw - 46px) !important;
                left: calc(-3vw - 45px) !important;

                background: #C9C9C9!important;

            }
            .custom-control-label::before{

                width: calc(35px + 2.5vw) !important;
                height: calc(15px + 1vw) !important;
                border-radius: 500px!important;
                background: #F6F5FF!important;
                border: 1px solid #C9C9C9!important;
                //left: -4.6rem!important;
                transform: translateX(-54%)!important;
                left: calc(-25px - 2vw)!important;
                top: -0.25rem!important;
            }
        }

        .table-address{
            font-size: calc(8px + 0.6vw);
            font-weight: bolder;
            color: rgba(0, 0, 0, 0.7);
            padding-left: 1rem !important;

        }

        th{

        }
        tr{
            font-size: calc(8px + 0.5vw);
            color: rgba(0, 0, 0, 0.7);
        }
        //tr{
        //    display: flex;
        //    flex-direction: row;
        //}
        //th,td{
        //    display: flex;
        //    flex-direction: column;
        //    align-items: center;
        //}
    }
    span{
        font-size: calc(9px + 0.8vw);

    }
    .btn-save{
        font-size: calc(9px + 0.8vw);
        background: $mainBackGroundColor;
        border: 1px solid transparent;
        padding: 0.375rem 1rem;
        color: white;
        border-radius: 10px;
        @include transition-500ms;
        &:hover{
            background: $btnHoverBackgroundColor;
            transform: translateY(-3px);

        }

    }

    .dropdown {
        #dropdown_selecte_btn{
            background: white;
            border-radius: 10px;
            font-size: calc(9px + 0.8vw);
            color: rgba(0, 0, 0, 0.8);
        }
        .dropdown-menu{
            max-height: calc(2vw + 200px);
            overflow-y: scroll;
            width: calc(50px + 1vw);
            min-width: 60px;
            max-width: 100px;
            margin: auto;
            //display: flex;
            //flex-direction: column;
            //align-items: center;
            .dropdown-item{
                font-size: calc(7px + 0.5vw);
                padding: 0.5rem!important;
                margin-bottom: 0.5rem!important;
            }
        }
    }
}
