@import "../mixin";
@import "../../vars/var";
@import "../publicClass";
@font-face {
    src:url("../../fonts/en/Lato-Regular.ttf");
    src:url("../../fonts/en/Lato-Italic.ttf");
    font-family: latoRegular;
}
@font-face {
    src:url("../../fonts/en/font2/Lato-Regular.ttf");
    src:url("../../fonts/en/font2/Lora-MediumItalic.ttf");
    font-family: mediumItalic;
}
@font-face {
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/Lato-Italic.ttf");
    src:url("../../fonts/en/public/RobotoSlab-Regular.ttf");
    font-family: enfont;
}
body{
    font-family: enfont;
}

.header-section{
    .header-top{
        height: 53px;
        //height: 8vh;
        background: $mainBackGroundColor;
        color: $fontColor;
        //@include font-family-en;
        font-family: enfont;

        font-style: normal;
        font-weight: 500;
        //font-size: 16px;
        font-size: calc(9px + 0.4vw);
        line-height: 19px;
    }
    .dropdown{
        button{
            //@include font-family-en;
            font-family: enfont;
            color: $fontColor;
            padding:0px 1px;
            font-size: calc(9px + 0.4vw);
        }
    }
    .trace-order{
        //@include transition-300ms;
        //
        //&:hover{
        //    background: #fab838;
        //    transform: translateY(-3px);
        //}
        .dropdown-toggle::after {
            display: none;
        }
    }

    .second-header{
        @include btn-main;
        @include btn-white;

        .active-meun{
            //display: block;!important;
            //position: absolute!important;
            position: relative!important;
            top: 5px !important;
            //right: 50px !important;
            //transform: translateX(-1%);
            opacity: 1!important;
            width: 75%!important;
            //display: block;
            display: flex!important;
            flex-direction: column-reverse!important;
            align-items: flex-end!important;
            @include transition-1000ms;
            //transition: 300ms;
            //flex-direction: column-reverse;

            >*{
                margin: 10px 15px;
            }
        }
        .btn-menu-mobile{
            display: none;
            text-transform: uppercase;
            width: 15%;
            height: 50px;
            font-size: calc(12px + 0.9vw);
            background: #FAC24F;
            border-radius: 12px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
            border: 1px #fac24f solid;
            i{
                color: white;
            }
        }
        .log{
           width: 10%;
        }
        .other{
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            //transition: width 2s, height 4s;

            .form-group{
                width: 50%;
                min-width: 245px;
                position: relative;
                .fa-search{
                    position: absolute;
                    top: 15px;
                    right: 30px;
                    color: #fac24f;
                    font-size: 1.5vw;
                    //font-size: 21px;
                }
                .search{
                    width: 100%;
                    //width: 508px;
                    height: 50px;
                    background: #F5F5F5;
                    border-radius: 12px;
                }
            }
        }
        .img-logo{
            max-width: 130px;
            min-width: 90px;
            width: 8vw;
            height: 80px;
            //height: 12vh;
        }


        .icon{
            width: 11%;
            min-width: 70px;
        }




    }


}

.footer-section{
    //line-height: 0px!important;
    .log{
        width: 8vw;
        img{
            width: 100%;
            max-width: 130px;
            min-width: 90px;
        }
    }
    .contact-info{
        //width: 25vw;
    }
    .right-side{
        position: relative;
        width: 50%;

        background: #FFFFFF;
        -webkit-box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        -moz-box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        box-shadow: -10px 14px 13px 0px rgba(22, 141, 134, 0.3);
        //box-shadow: -10px 10px 10px 0px rgba(22, 141, 134, 0.49);
        //box-shadow: -1px 0px 50px rgba(22, 141, 134, 0.49), inset -2px 0px 0px #fff;
        //height: calc(250px + 50vw);
        height: calc(450px + 10vw);
        margin-top: -2vh;
        z-index: 5!important;
        //.hide-top{
        //    position: absolute;
        //    top: -72px;
        //    right: 0px;
        //    width: 100%;
        //    height: 120px;
        //    background: #FFFFFF;
        //}
        //.hide-right{
        //    position: absolute;
        //    top: -54px;
        //    right: 0;
        //    width: 21%;
        //    //height: calc(250px + 50vh);
        //    height: calc(450px + 10vw);
        //    background: #FFFFFF;
        //    transform: translateX(50%);
        //}

        .first-child{
            margin-top: 20%;
            margin-left: 10%;
        }
        .text1{
            font-style: normal;
            font-weight: normal;
            font-size: calc(6px + 1.4vw);
            //font-size: 30px;
            //line-height: 35px;
            line-height:calc(10px + 2vw);
            text-align: center;
            color: #000000;
        }
        .text2{
            font-style: normal;
            font-weight: 700;
            //font-size: 36px;
            font-size: calc(6px + 1.6vw);
            //line-height: 42px;
            line-height: calc(12px + 2.5vw);

            color: #000000;
        }
        .subscribe{
            max-width: 183px;
            min-width: 100px;
            width: 30%;
            height: 100%;
            min-height: 35px;
            max-height: 50px;
            background: #FAC24F;
            border-radius: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: calc(9px + 0.5vw );
            //line-height: 21px;
            line-height: calc(9px + 1.3vw);
            text-align: center;
            color: #FFFFFF;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            @include transition-500ms;
            &:hover{
                background: #fab838;
                transform: translateY(-3px);
            }
        }

        .form-group {
            width: 80%;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                //line-height: 16px;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            :-ms-input-placeholder { /* IE 10+ */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }
            :-moz-placeholder { /* Firefox 18- */
                font-style: oblique;
                font-weight: 300;
                font-size: calc(9px + 0.3vw)!important;
                line-height: calc(7px + 1vw);
                color: #9C8989;
            }

        }
        input {
            font-style: oblique;
            border: none;
            border-bottom: 2px solid #c6a3a7;
            border-radius: 0px;

        }

    }
    .left-side{
        margin-top: 75px;
        width: 50%;

        .text{
            font-style: normal;
            font-weight: normal;
            //font-size: 18px;
            font-size: calc(8px + 0.5vw);
            //line-height: 28px;
            line-height: calc(10px + 1.5vw);
            color: rgba(0, 0, 0, 0.5);
        }
        .btn{
            background: rgba(203, 203, 203, 0.23);
            border-radius: 12px;
            margin: 0px 4px;
            font-size: calc(9px + 0.5vw);
            @include transition-500ms;
            &:hover{
                background: #FAC24F;
                i{
                    color: white!important;

                }
                transform: translateY(-3px);
            }

            i{


                color: rgba(78, 78, 78, 0.45);
            }

        }
        .btn-youtube{
            background: rgba(255, 112, 32, 0.23);
            border-radius: 12px;
            i{
                color: #FF7020;
            }
        }
    }
    .footer-parent{
        width: 100%;
    }
    .section-svg{
        z-index: 10;
        margin-top: calc(-50px - 6vw);
        position: relative;
        .svg-content{
            position: absolute;
            width: 100%;
            //margin-top: calc(15px + 10vw);
            margin-top: 10vw;
            .parent{
                width: 100%;
            }
            .first-child{
                width: 50%;
            }
            .second-child{
                width: 50%;
            }
            .address1{
                font-style: normal;
                font-weight: bold;
                //font-size: 20px;
                font-size: calc(9px + 0.6vw);
                //line-height: 24px;
                line-height: calc(10px + 1.3vw);
                color: #FFFFFF;
            }
            .pull-right1{
                margin-left: 14vw;
            }
            .btn-chat{
                .btn{
                    color: white;
                    border: 1px solid #fff;
                    border-radius: 10px;
                }
            }
            .text1{
                font-style: normal;
                font-weight: normal;
                //font-size: 24px;
                font-size: calc(7px + 0.6vw);
                //line-height: 28px;
                line-height: calc(10px + 1.5vw);
                text-align: center;

                color: #FFFFFF;
            }
        }
    }
    .all-right{
        padding-top: 22px;
        padding-bottom: 10px;
        background: #F5F5F5;
        .fab,.fa{
            font-size: calc(15px + 1.3vw);
        }
        .text1{
            font-style: normal;
            font-weight: normal;
            font-size: calc(6px + 0.5vw);
            //line-height: 19px;
            line-height: calc(7px + 0.7vw);
            color: #000000;
        }
    }
    .img-dash{
        //width: 18vw;
        //position: relative;
        //transform: translateX(50%);
        img{
            width: 100%;
            object-fit: cover!important;

        }
        //width: 291px;
        //height: 290.11px;
        //background: url(../img/dish.png), #C4C4C4;
        //box-shadow: -1px -1px 27px rgba(0, 0, 0, 0.69);
    }


}
.text-section{
    .address
    {
        position: relative;
        margin-top: 75px;
        //font-family: 'Lato', sans-serif;
        font-family: latoRegular ;
        font-weight: normal;
        //-webkit-box-reflect: below -2px linear-gradient(transparent,#0002);
        //-moz-box-reflect: below -2px linear-gradient(transparent,#0002);
        //box-reflect: below -2px linear-gradient(transparent,#0002);
        //font-size: 40px;

        //line-height: 48px;
        transform: translateX(-16%);
        animation: typing 27s steps(27) infinite;



        h2{
            font-size: calc(7px + 1.7vw);
            position: relative;
            //height: 39px;
            //height: 2.7vmax;
            height: calc(15px + 1.6vw);
            overflow: hidden;
            letter-spacing: 2px;
        }

    }
    @keyframes typing {
        0%
        {
            width: 0px;
        }
        30%
        {
            //width: 408.583px;
            width: calc(150px + 17.8vw);
        }
    }

    .address::before{
        content: "";
        position: absolute;
        top:0px;
        right: 0px;
        width: 2px;
        height: 100%;
        background: orangered;
        animation: blinkCoursr 1s steps(1) infinite;
    }
    @keyframes blinkCoursr {
        0%,75%
        {
           opacity: 1;
        }
        76%,100%
        {
            opacity: 0;
        }
    }
    .address2{
        font-weight: 500;
        //font-size: 72px;
        font-size: calc(6px + 3.5vw);
        //line-height: 94px;
        text-align: center;

        color: #000000;
        font-family: mediumItalic;


        //font-family: 'Lato', sans-serif;
        //
        //font-family: 'Lora', serif;
    }

    .dropdown{
        //@include transition-1000ms;

        button{
            //@include font-family-en;
            font-family: enfont;
            color: #000000;
            padding:0px 1px;
            font-size: calc(12px + 1vw);
            border-bottom: solid 1px #DCDCDC;
            border-radius: 0px;
        }
        .dropdown-menu{
            height: 15vmax;
            overflow:scroll;

        }

    }
    .dropdown-toggle::after {
        color: #BCBCBC!important;
    }


}

.shape-section{
    a{
        text-decoration: none;
    }
    .shape{
        @include transition-500ms;
        &:hover{
            transform: scale(1.1,1.1);
        }

        img{
            width: 3.5vw;
            //width: (30px + 0.5vw);
            min-width: 30px;
            transform: translateY(17%);
            margin-bottom: calc(2px + 0.2vw);
        }
        p{
            margin-top: calc(4px + 0.3vw);
            font-size: calc(5px + 0.6vw);
            font-family: initial;
            color: #FFFFFF;
        }
        //width: 9.3vmax;
        //height: 9.3vmax;
        width: calc(65px + 4vw);
        height: calc(65px + 4vw);
        background: #FAC24F;
        border-radius: 10px;
        clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);

        //clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    }
}
.mobile-section{
    //@include btn-main;
    position: relative;
    //height: 650px;
    //height: calc(375px + 10vw);
    height: calc(280px + 22vw);
    .btn-social{
        .fab,.fas{
            font-size:  calc(12px + 1vw);;
            margin: 3% 0px;
        }
        p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            margin: 0px;
            font-size: calc(7px + 0.2vw);
        };

        h6{
            margin: 3px 0px;
            font-size: calc(9px + 0.2vw);
            font-weight: bolder;
        };
        //display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        //width: 140px;
        width: 30%;
        min-width: 110px;
        max-width: 250px;
        height: calc(35px + 2.5vh);
        min-height: 50px;
        max-height: 76px;
        //width: 14vmax;
        //height: 6vmax;
        //font-size: 1.2vw;
        font-size: calc(10px + 0.4vw);
        background: #FAC24F;
        color: white;
        border-radius: 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        //box-shadow: 0px 11px 27px rgba(255, 112, 32, 0.36);
        @include transition-500ms;
        &:hover{
            //color  : #FAC24F;
            //background: white;
            //border:  #FAC24F solid 1px;
            background: #fab838;

            transform: translateY(-3px);
        }
    }
    .text1{
        font-style: normal;
        font-weight: 600;
        //font-size: 24px;
        font-size: calc(9px + 1.3vw);
        line-height: 30px;
        letter-spacing: 0.01em;

        color: rgba(0, 0, 0, 0.5);
    }
    .delivaz{
        font-style: normal;
        font-weight: 500;
        //font-size: 42px;
        font-size: calc(15px + 2.5vw);
        line-height: 49px;

        color: #FACA5B;
    }
    .app{
        font-style: normal;
        font-weight: 500;
        //font-size: 42px;
        font-size: calc(15px + 2.5vw);
        line-height: 49px;

        color: #FE2E17;
    }
    .text3{
        font-style: normal;
        font-weight: normal;
        font-size: calc(5px + 0.6vw);
        line-height: 21px;

        color: rgba(0, 0, 0, 0.5);
    }
    .text2{
        margin-bottom: 4vh;
    }
    .parent{
        z-index: 10;
        position: absolute;
        width: 41vw;
        //max-width: 45vw;
        right: 0px;
        height: 100%;
        top: 5vh;

        //z-index: 10;
        //position: relative;
        //left: 21%;
        //left: 120px;
        //overflow: hidden;
        //transform: translateX(8.5vw);
        //transform: translateX(17.5vmin);
    }
    .mobile-info{
        margin-top: 30vh;
    }
    .circle{
        position: relative;
        top: 0px;
        //background: linear-gradient(89.96deg, #F1C445 -1.32%, #ED1C24 132.67%);
        background: linear-gradient(89.96deg, #F1C445 30.32%, #ED1C24 140.67%);

        //transform: rotate(-10.86deg);
        //width: 20vw;
        //height: 200px;
        width: 100%;
        height: 570px;
        //height: calc(270px + 50vh);
        clip-path: circle(45.0% at 73% 45%);
        //border-radius: 50%;
        //border-bottom-left-radius: 50%;
        //border-top-left-radius: 50%;
        //transform: translatex(10.5vw);

    }

    .photo1{
        position: absolute;
        top: 56px;
        left: 9px;
        width:60%;
        height: 100%;
        //transform: translate(10vw,10vh);
        img{
            width: 100%;
            //height: 100%;
        }
    }
    .photo2{
        position: absolute;
        top: 83px;
        right: 43px;
        width: 60%;
        //transform: translate(6vw,17vh);
        img{
            width: 100%;
            transform: rotateX(25deg);
            //height: 75%;
        }
        height: 100%;
    }
}

//body{
//    overflow: hidden;
//}


