$mainBackGroundColor: #fac24f;
$fontColor:#000;
$btnColor:#ffffff;
$btnHoverBackgroundColor: #f6b51d;

$fontSizeMaxWidth768: 15px;
$fontSizeMaxWidth480: 12px;
$fontSizeMaxWidth320: 10px;
$maxFontSize:22px;
$updateColor:#16997e;
$deleteColor:#f14343;

