@import "vars";
@import "mixins";
// start style for another index
.page1{
    // body{
        font-family: 'Almarai', sans-serif;
    // }
    .row {
        direction: rtl !important;
    
        > * {
            direction: rtl !important;
            text-align: right !important;
              }
      }
    
      .container {
        direction: rtl !important;
      }
    
    
    
    
    .header-section1 {
    
        font-size: 15px;
        
        p.text-size{
            margin-left: 59px;
            font-weight: bolder;
            margin-bottom: 0px;
        }
        .btn-join {
            margin-left: 30px;
        }
    
        .dropdown {
            // font-size: 18px;
            width: 60px !important;
            span{
                // font-size: 17px;
                font-weight: bold;
            }
            button {
                width: 100%;
            }
            img {
                width: 36%;
                height: 18px;
            }
        }
        .logo-image {
            img {
                width: 115px;
                height: 89px;
            }
        }
    
        .btn-sing {
            width: 130px;
            background: #fac24f;
            color: #fff;
            padding-right: 15;
            padding-left: 15px;
            height: 42px;
            margin-top: 30px;
            border: none;
            font-weight: 500;
            // font-size: 16px;
            border-radius: 5px;
        }
        .btn-join {
            background: #fff;
            color: #000;
            // padding-right: 30px;
            // padding-left: 30px;
            height: 42px;
            margin-top: 30px;
            border: none;
            font-weight: 500;
            border: 1px solid;
            border-radius: 5px;
            width: 100px;
            // font-size: 16px;
            margin-right: 30px;
        }
    
        .header-bottom {
            margin-top: -30px;
            padding: 0px;
    
            .mr-5{
                margin-right: 0px!important;  
            }
            .input-group {
                margin-left: 34px;
                margin-right: 0px;
            }

            .input-group{
                max-width: 375px;
                margin-left: 7% !important;
            }
            .my-4 {
            //   margin-bottom: 0px!important;
            margin-top: 30px!important
            }
            .form-control{
                height: auto;
            }
        }
    
        .btn-search {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            button {
                border: none;
                color: #000;
                /* border-radius: 23px; */
                font-size: 14px;
                padding-right: 17px;
                padding-left: 17px;
            }
        }
    
        .search-drop {
            // border-bottom-right-radius: 5px;
            // border-top-right-radius: 5px;
            background-color: #fff;
            button {
                border: 1px solid #a29999 !important;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #fff;
                border: none;
                color: #000;
                /* border-radius: 23px; */
                font-size: 14px;
                padding-right: 17px;
                padding-left: 17px;
            }
        }
    
        .col-sm-10,
        .col-xs-10 {
            padding-left: 0px;
            padding-right: 0px;
        }
        input {
            border-bottom: 1px solid #a29999 !important;
            border-top: 1px solid #a29999 !important;
            border-left: none !important;
        }
    }
    
    .text-section {
        .dropdown_selecte{
            button{
                font-size: 30px!important;
            }
        }
    
        .dropdown_selecte_city{
            button{
                font-size: 30px!important;
            }
        }
        margin-top: 40px;
        p {
            font-family: 'Almarai', sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
        h1 {
            //         font-size: 144px;
            // line-height: 94px;
            // color: #000000;
            // font-weight: 400;
            // font-family: "DejaVu Sans";
            font-weight: 600;
            font-family: 'Almarai', sans-serif;
    
            font-size: 80px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
    
        .container {
            .dropdown_selecte {
                width: 18%;
                .btn-primary.dropdown-toggle:focus {
                    box-shadow: none !important;
                    background: #fff !important;
                    color: red !important;
                }
                p {
                    position: relative!important;
                    z-index: 100 !important;
                    width: 100% !important;
                    cursor: pointer!important;
                    font-size: 27px;
                    &:hover {
                        background: red!important;
                        color: #fff!important;
                    }
                }
                button {
                    outline: none;
                    background: #fff;
                    border-bottom: 1px solid #000;
                    border: none;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                    border-bottom: 1px solid #999797;
                    width: 90%;
                    border-radius: 0;
                    color: red;
                    font-size: 27px;
                    font-weight: bolder;
                    padding-bottom: 0px;
                }
            }
            .dropdown_selecte_city {
                width: 18%;
                .btn-primary.dropdown-toggle:focus {
                    box-shadow: none !important;
                    background: #fff !important;
                    color: red !important;
                }
                p {
                    font-size: 27px;
                    &:hover {
                        background: red;
                        color: #fff;
                    }
                }
                button {
                    outline: none;
                    background: #fff;
                   
                    border: none;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                    border-bottom: 1px solid #999797;
                    // border-bottom: 1px solid #000;
                    width: 90%;
                    border-radius: 0;
                    color: red;
                    font-size: 27px;
                    font-weight: bolder;
                    padding-bottom: 0px;
                }
            }
            .dropdown-toggle::after {
                position: relative !important;
                color: #999797 !important;
                bottom: -6px !important;
            }
        }
    
        // select {
        //     text-align: center;
        //     text-align-last: center;
        //     margin-right: 30px;
        //     width: 200px;
        //     border: none;
        //     font-size: 25px ;
        //     color: red;
        //     font-weight: 700;
        //     cursor: pointer;
        //     border-bottom: 1px solid #a29999 !important;
        //     appearance: none;
        //     -webkit-appearance: none;
        //     -moz-appearance: none;
        //     outline: none;
        // }
        // .select-selected {
        //     position: relative;
        // }
        // .select-selected:after {
        //     position: absolute;
        //     content: "";
        //     top: 60%;
        //     right: 40px;
        //     border-top: 8px solid #949494;
        //     border-left: 7px solid transparent;
        //     border-right: 7px solid transparent;
        //     pointer-events: none;
        //     text-align: center;
        //     text-align-last: center;
        // }
        // option {
        //     font-family: "Oswald", sans-serif;
        //     font-size: 20px ;
        //     color: red;
        //     font-weight: 700;
    
        //     &:hover {
        //         color: #fff !important;
        //         background-color: #fac24f !important;
        //     }
        // }
    }
    
    .services2 {
        margin-top: 70px;
    
        .container {
            .col-lg-2 {
                filter: drop-shadow(-4px 4px 3px rgba(50, 50, 0, 0.2)) !important;
            }
        }
        .services-content {
            display: flex !important;
            flex-wrap: wrap !important;
            justify-content: center;
            flex-direction: column;
        }
        .btn-bottom {
            position: fixed;
            right: 85px;
            bottom: 20px;
            z-index: 100;
            .btn-fixed {
                border: none;
                display: inline-block;
                background-image: linear-gradient(90deg, #f2a73f, #ef542f);
                color: #fff;
                font-size: 23px;
                border-radius: 78%;
                // padding: 11%;
                width: 77%;
                height: 47px;
                margin-bottom: 7px;
                outline: none;
            }
        }
        .imagesServ {
            width: 36%;
            height: 30%;
            margin-top: 30%;
           
        margin-right: 31%;
            display: flex;
        }
        .row {
            margin-left: 130px !important;
            margin-right: 100px !important;
            margin-bottom: 10px !important;
            .col-lg-2 {
                margin: 0px;
                padding: 0px;
                position: relative;
            }
            span {
                width: 82%;
                color: black;
                font-size: 15px;
                font-weight: 400;
                position: absolute;
                bottom: 37px;
                /* margin-left: 26%; */
                text-align: center !important;
            }
        }
        .hexagon2 {
            // width: 10%;
            display: inline-block;
            // float: left;
            height: 140px;
            background: #fac24f;
            clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
            // margin-right: 2%;
            width: 87%;
            box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
            -webkit-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
            -moz-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
        }
    }
    
    .food {
        margin-top: 70px;
        .row {
            margin-bottom: 40px !important;
            .col-lg-4 {
            }
        }
        img {
            width: 345px;
            height: 220px;
            object-fit: cover;
            -webkit-box-shadow: -13px 8px 14px 0px rgba(217, 206, 217, 1);
            -moz-box-shadow: -13px 8px 14px 0px rgba(217, 206, 217, 1);
            box-shadow: -13px 8px 14px 0px rgba(217, 206, 217, 1);
        }
        h5 {
            margin-top: 15px;
            margin-left: 10px;
            font-size: 18px;
        }
        h4 {
            font-size: 44px;
            font-weight: bold;
            margin-bottom: 40px;
        }
    }
    
    .sell-on-delivaze {
        margin-top: 150px;
        img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
    
        .container {
            position: relative;
            .info {
                position: absolute;
                color: #fff;
                left: 24%;
                top: 18%;
                direction: rtl !important;
                text-align: right!important;
                button {
                    background: #fac24f;
                    padding: 5px 20px 5px 20px;
                    outline: none;
                    border: none;
                    font-weight: 500;
                    font-size: 15px; 
                    margin-top: 10px;
                }
                h4 {
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                h6{
                    font-size: 15px; 
                }
            }
        }
    }
    
}
