.page1 {
  font-family: 'Almarai', sans-serif;
}

.page1 .row {
  direction: rtl !important;
}

.page1 .row > * {
  direction: rtl !important;
  text-align: right !important;
}

.page1 .container {
  direction: rtl !important;
}

.page1 .header-section1 {
  font-size: 15px;
}

.page1 .header-section1 p.text-size {
  margin-left: 59px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.page1 .header-section1 .btn-join {
  margin-left: 30px;
}

.page1 .header-section1 .dropdown {
  width: 60px !important;
}

.page1 .header-section1 .dropdown span {
  font-weight: bold;
}

.page1 .header-section1 .dropdown button {
  width: 100%;
}

.page1 .header-section1 .dropdown img {
  width: 36%;
  height: 18px;
}

.page1 .header-section1 .logo-image img {
  width: 115px;
  height: 89px;
}

.page1 .header-section1 .btn-sing {
  width: 130px;
  background: #fac24f;
  color: #fff;
  padding-right: 15;
  padding-left: 15px;
  height: 42px;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.page1 .header-section1 .btn-join {
  background: #fff;
  color: #000;
  height: 42px;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin-right: 30px;
}

.page1 .header-section1 .header-bottom {
  margin-top: -30px;
  padding: 0px;
}

.page1 .header-section1 .header-bottom .mr-5 {
  margin-right: 0px !important;
}

.page1 .header-section1 .header-bottom .input-group {
  margin-left: 34px;
  margin-right: 0px;
}

.page1 .header-section1 .header-bottom .input-group {
  max-width: 375px;
  margin-left: 7% !important;
}

.page1 .header-section1 .header-bottom .my-4 {
  margin-top: 30px !important;
}

.page1 .header-section1 .header-bottom .form-control {
  height: auto;
}

.page1 .header-section1 .btn-search {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.page1 .header-section1 .btn-search button {
  border: none;
  color: #000;
  /* border-radius: 23px; */
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
}

.page1 .header-section1 .search-drop {
  background-color: #fff;
}

.page1 .header-section1 .search-drop button {
  border: 1px solid #a29999 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  border: none;
  color: #000;
  /* border-radius: 23px; */
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
}

.page1 .header-section1 .col-sm-10,
.page1 .header-section1 .col-xs-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.page1 .header-section1 input {
  border-bottom: 1px solid #a29999 !important;
  border-top: 1px solid #a29999 !important;
  border-left: none !important;
}

.page1 .text-section {
  margin-top: 40px;
}

.page1 .text-section .dropdown_selecte button {
  font-size: 30px !important;
}

.page1 .text-section .dropdown_selecte_city button {
  font-size: 30px !important;
}

.page1 .text-section p {
  font-family: 'Almarai', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.page1 .text-section h1 {
  font-weight: 600;
  font-family: 'Almarai', sans-serif;
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.page1 .text-section .container .dropdown_selecte {
  width: 18%;
}

.page1 .text-section .container .dropdown_selecte .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  background: #fff !important;
  color: red !important;
}

.page1 .text-section .container .dropdown_selecte p {
  position: relative !important;
  z-index: 100 !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 27px;
}

.page1 .text-section .container .dropdown_selecte p:hover {
  background: red !important;
  color: #fff !important;
}

.page1 .text-section .container .dropdown_selecte button {
  outline: none;
  background: #fff;
  border-bottom: 1px solid #000;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #999797;
  width: 90%;
  border-radius: 0;
  color: red;
  font-size: 27px;
  font-weight: bolder;
  padding-bottom: 0px;
}

.page1 .text-section .container .dropdown_selecte_city {
  width: 18%;
}

.page1 .text-section .container .dropdown_selecte_city .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  background: #fff !important;
  color: red !important;
}

.page1 .text-section .container .dropdown_selecte_city p {
  font-size: 27px;
}

.page1 .text-section .container .dropdown_selecte_city p:hover {
  background: red;
  color: #fff;
}

.page1 .text-section .container .dropdown_selecte_city button {
  outline: none;
  background: #fff;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #999797;
  width: 90%;
  border-radius: 0;
  color: red;
  font-size: 27px;
  font-weight: bolder;
  padding-bottom: 0px;
}

.page1 .text-section .container .dropdown-toggle::after {
  position: relative !important;
  color: #999797 !important;
  bottom: -6px !important;
}

.page1 .services2 {
  margin-top: 70px;
}

.page1 .services2 .container .col-lg-2 {
  filter: drop-shadow(-4px 4px 3px rgba(50, 50, 0, 0.2)) !important;
}

.page1 .services2 .services-content {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  flex-direction: column;
}

.page1 .services2 .btn-bottom {
  position: fixed;
  right: 85px;
  bottom: 20px;
  z-index: 100;
}

.page1 .services2 .btn-bottom .btn-fixed {
  border: none;
  display: inline-block;
  background-image: linear-gradient(90deg, #f2a73f, #ef542f);
  color: #fff;
  font-size: 23px;
  border-radius: 78%;
  width: 77%;
  height: 47px;
  margin-bottom: 7px;
  outline: none;
}

.page1 .services2 .imagesServ {
  width: 36%;
  height: 30%;
  margin-top: 30%;
  margin-right: 31%;
  display: flex;
}

.page1 .services2 .row {
  margin-left: 130px !important;
  margin-right: 100px !important;
  margin-bottom: 10px !important;
}

.page1 .services2 .row .col-lg-2 {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page1 .services2 .row span {
  width: 82%;
  color: black;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 37px;
  /* margin-left: 26%; */
  text-align: center !important;
}

.page1 .services2 .hexagon2 {
  display: inline-block;
  height: 140px;
  background: #fac24f;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  width: 87%;
  box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
  -webkit-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
  -moz-box-shadow: -41px 7px 5px 0px rgba(187, 179, 179, 0.75);
}

.page1 .food {
  margin-top: 70px;
}

.page1 .food .row {
  margin-bottom: 40px !important;
}

.page1 .food img {
  width: 345px;
  height: 220px;
  object-fit: cover;
  -webkit-box-shadow: -13px 8px 14px 0px #d9ced9;
  -moz-box-shadow: -13px 8px 14px 0px #d9ced9;
  box-shadow: -13px 8px 14px 0px #d9ced9;
}

.page1 .food h5 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 18px;
}

.page1 .food h4 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 40px;
}

.page1 .sell-on-delivaze {
  margin-top: 150px;
}

.page1 .sell-on-delivaze img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.page1 .sell-on-delivaze .container {
  position: relative;
}

.page1 .sell-on-delivaze .container .info {
  position: absolute;
  color: #fff;
  left: 24%;
  top: 18%;
  direction: rtl !important;
  text-align: right !important;
}

.page1 .sell-on-delivaze .container .info button {
  background: #fac24f;
  padding: 5px 20px 5px 20px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}

.page1 .sell-on-delivaze .container .info h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.page1 .sell-on-delivaze .container .info h6 {
  font-size: 15px;
}
