@media (max-width: 379px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -35% !important;
  }
  .footer .container {
    font-size: 9px !important;
  }
  .footer .copy {
    margin-top: -15px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .footer-ul li span {
    padding-right: 1px;
    padding-left: 1px;
  }
  .footer .bottom-side .container {
    margin-top: 35% !important;
    font-size: 9px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 3% !important;
    margin-top: 2% !important;
  }
  .footer .bottom-side .socials img, .footer .bottom-side .socials a {
    max-width: 22px !important;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .bottom-side .col-sm-5 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .copy {
    margin-top: 10px !important;
    font-size: 9px !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 110px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 15px !important;
  }
  .footer .rigth-side span {
    font-size: 10px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -8px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 9px !important;
  }
  .footer .left-side h6 {
    font-size: 12px;
  }
  .footer .left-side p {
    font-size: 9px;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }
  .header-section ul {
    margin-right: -10% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 72px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .carousel-inner .carousel-item {
    margin-left: 10px !important;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 14px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 11px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 30% !important;
    left: 0% !important;
  }
  .mobile-info .googlplay button {
    padding: 1px 1px;
  }
  .mobile-info .googlplay .small1 {
    font-size: 9px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 30% !important;
    left: 36% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 9px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore button {
    padding: 1px 1px;
  }
  .mobile-info .desktop {
    width: 30% !important;
    left: 68% !important;
  }
  .mobile-info .desktop button {
    font-size: 9px !important;
    padding: 9px 5px 15px;
  }
  .mobile-info .text {
    font-size: 14px !important;
    padding-right: 35% !important;
    margin-top: 30px;
  }
  .features h2 {
    font-size: 16px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin-top: -95px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    color: #888;
    display: inline;
  }
  .services .imagesServ {
    width: 30% !important;
    height: 23% !important;
    margin-top: 31% !important;
    margin-left: 35% !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin-top: 2% !important;
    width: 22% !important;
    margin-left: 7%;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -35% !important;
  }
  .footer .container {
    font-size: 9px !important;
  }
  .footer .copy {
    margin-top: -15px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .footer-ul li span {
    padding-right: 2px;
    padding-left: 2px;
  }
  .footer .bottom-side .container {
    margin-top: 29% !important;
    font-size: 9px !important;
  }
  .footer .bottom-side .socials {
    margin-left: 3% !important;
    margin-top: 2% !important;
  }
  .footer .bottom-side .socials img, .footer .bottom-side .socials a {
    max-width: 22px !important;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .bottom-side .col-sm-5 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .copy {
    margin-top: 10px !important;
    font-size: 9px !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side {
    margin-bottom: 110px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 15px !important;
  }
  .footer .rigth-side span {
    font-size: 10px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -30px;
  }
  .footer .subscribe {
    width: 33% !important;
    font-size: 9px !important;
  }
  .footer .left-side h6 {
    font-size: 12px;
  }
  .footer .left-side p {
    font-size: 9px;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section ul {
    margin-right: -8% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 60px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 15px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 12px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .mobile-info .mobile {
    display: none !important;
  }
  .mobile-info .googlplay {
    width: 30% !important;
    left: 0% !important;
  }
  .mobile-info .googlplay button {
    padding: 1px 1px;
  }
  .mobile-info .googlplay .small1 {
    font-size: 9px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 30% !important;
    left: 36% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 9px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore button {
    padding: 1px 1px;
  }
  .mobile-info .desktop {
    width: 30% !important;
    left: 68% !important;
  }
  .mobile-info .desktop button {
    font-size: 9px !important;
    padding: 9px 20px 14px;
  }
  .mobile-info .text {
    font-size: 15px !important;
    padding-right: 35% !important;
    margin-top: 30px;
  }
  .features h2 {
    font-size: 16px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin-top: -75px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -23% !important;
  }
  .footer .svg-bottom {
    height: 330px !important;
  }
  .footer .bottom-side {
    margin-top: 15%;
  }
  .footer .bottom-side .socials {
    margin-left: 2% !important;
  }
  .footer .bottom-side .container {
    font-size: 13px;
  }
  .footer .bottom-side .text-right {
    text-align: right !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
  .footer .left-side {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 14px;
  }
  .footer .left-side p {
    font-size: 11px;
  }
  .footer .rigth-side {
    margin-bottom: 100px;
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 70% !important;
  }
  .footer .rigth-side h2 {
    font-size: 22px !important;
  }
  .footer .rigth-side span {
    font-size: 18px !important;
  }
  .footer .eat {
    width: 40%;
    margin-bottom: -28px;
  }
  .footer .subscribe {
    width: 33% !important;
  }
  .header-section {
    margin-bottom: -15% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
  }
  .header-section ul {
    margin-right: -8% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    width: 100% !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
    z-index: 10;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 37px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 20px !important;
  }
  .slider .silde-info a {
    display: inline !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }
  .mobile-info .mobile {
    height: 270px !important;
    position: absolute !important;
    top: 30% !important;
    left: 3% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .googlplay .small1 {
    font-size: 10px !important;
  }
  .mobile-info .googlplay .bigger {
    font-size: 12px !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .applStore .small1 {
    font-size: 10px !important;
  }
  .mobile-info .applStore .bigger {
    font-size: 12px !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 12px;
    padding: 12px 5px 13px 5px;
  }
  .mobile-info .text {
    margin-top: 30px;
    padding-right: 28%;
    font-size: 14px !important;
  }
  .features h2 {
    font-size: 18px;
  }
  .features .flex-container {
    flex-wrap: wrap !important;
  }
  .services {
    margin-top: -55px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 500px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 25% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 550px;
  }
  .header-section {
    margin-bottom: -5% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .header-section ul {
    margin-right: -6% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 13px !important;
    padding: 10px 5px 10px 10px;
    text-align: center !important;
    direction: rtl;
  }
  .mobile-info .text {
    font-size: 16px !important;
    padding-right: 29%;
    margin-top: 20px;
  }
  .mobile-info .small1 {
    font-size: 11px !important;
  }
  .mobile-info .bigger {
    font-size: 15px !important;
  }
  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 18% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 24% !important;
    font-size: 12px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 14px;
  }
  .footer .left-side p {
    font-size: 12px;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 19px !important;
  }
  .footer .rigth-side span {
    font-size: 16px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
    font-size: 13px !important;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 37px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 20px !important;
  }
  .slider .silde-info a {
    margin-top: 50px;
    display: inline !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }
  .services {
    margin-top: -55px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 9px;
    display: inline;
  }
}

@media (min-width: 769px) and (max-width: 851px) {
  .container {
    max-width: 700px !important;
  }
  .header-section {
    margin-bottom: -2% !important;
  }
  .header-section .logo-image {
    width: 72px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 54px;
  }
  .header-section ul {
    margin-right: -5% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .mobile-info .mobile {
    top: 20% !important;
    left: 1% !important;
    width: 25% !important;
    z-index: 3;
  }
  .mobile-info .googlplay {
    width: 20% !important;
    left: 27% !important;
  }
  .mobile-info .applStore {
    width: 20% !important;
    left: 52% !important;
  }
  .mobile-info .desktop {
    width: 23% !important;
    left: 75% !important;
  }
  .mobile-info .desktop button {
    font-size: 14px !important;
  }
  .mobile-info .text {
    font-size: 22px !important;
    padding-right: 28%;
    top: 20%;
  }
  .mobile-info .small1 {
    font-size: 12px !important;
  }
  .mobile-info .bigger {
    font-size: 16px !important;
  }
  .features .flex-container {
    width: 80% !important;
    flex-wrap: wrap !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 34% !important;
    max-width: 92% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 19% !important;
    font-size: 16px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 25px !important;
  }
  .footer .rigth-side span {
    font-size: 20px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    bottom: 15px !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 27px !important;
  }
  .slider .silde-info a {
    margin-top: 18px;
    display: inline-block !important;
    position: relative;
    font-size: 15px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }
  .services {
    margin-top: -30px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 300px !important;
  }
  .services .first {
    display: block !important;
    flex-shrink: 0 !important;
  }
  .services .first span {
    display: block !important;
  }
  .services .btn-bottom {
    display: none !important;
  }
  .services .services-content {
    margin: 0px !important;
    padding-left: 3% !important;
  }
  .services .hexagon {
    margin: 2% !important;
    width: 12% !important;
  }
  .services .fontServ {
    font-size: 10px;
  }
}

@media (min-width: 852px) and (max-width: 991px) {
  .header-section .btn-menu {
    position: relative !important;
    z-index: 100 !important;
    border-color: #f1bf44 !important;
    margin: 2% !important;
  }
  .header-section .logo-image {
    width: 82px;
    height: 63px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 76px;
  }
  .header-section ul {
    margin-right: -4% !important;
  }
  .header-section .mr-4 {
    margin-right: 7px !important;
  }
  .header-section .card-count {
    right: 0px !important;
    left: auto !important;
  }
  .container {
    max-width: 780px !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 43% !important;
    max-width: 80% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    display: inline-flex !important;
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 16% !important;
    font-size: 16px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 25px !important;
  }
  .footer .rigth-side span {
    font-size: 20px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }
  .slider {
    z-index: 1;
    margin-top: -90px !important;
    position: relative !important;
  }
  .slider .container {
    z-index: 5;
  }
  .slider .carousel {
    z-index: -1;
  }
  .slider .carousel-item .carousel-inner {
    z-index: -1;
  }
  .slider ul.carousel-indicators {
    display: inline-block !important;
    z-index: 200;
  }
  .slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -6%;
    z-index: -1;
  }
  .slider .silde-info {
    z-index: 100 !important;
    top: -19px;
    padding-top: 140px !important;
    padding-left: 5px !important;
    padding-right: 13px !important;
  }
  .slider .silde-info h5 {
    font-size: 29px !important;
  }
  .slider .silde-info a {
    margin-top: 18px;
    display: inline-block !important;
    position: relative;
    font-size: 22px !important;
    box-sizing: border-box;
    z-index: 1000 !important;
    padding: 5px 10px 5px 10px !important;
  }
  .mobile-info .googlplay {
    width: 14%;
    left: 43%;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 62%;
  }
  .mobile-info .text {
    font-size: 22px !important;
  }
  .mobile-info .small1 {
    font-size: 11px !important;
  }
  .mobile-info .bigger {
    font-size: 15px !important;
  }
  .services {
    margin-top: -10px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 35% !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 900px !important;
  }
  .footer {
    margin-top: 0px !important;
  }
  .footer .svg-mobile {
    margin-top: -20% !important;
  }
  .footer .eat {
    margin-right: 18% !important;
  }
  .footer .svg-bottom {
    height: 400px !important;
  }
  .footer .bottom-side {
    margin-top: 5%;
  }
  .footer .bottom-side div.text-right {
    text-align: left !important;
  }
  .footer .bottom-side .copy {
    margin-top: -1% !important;
  }
  .footer .bottom-side .row .col-lg-2 {
    margin-bottom: 10px !important;
  }
  .footer .bottom-side .row .col-lg-3 {
    display: inline-flex !important;
  }
  .footer .bottom-side .row .col-lg-3 .socials {
    margin-left: 11px !important;
  }
  .footer .bottom-side .container {
    margin-top: 17% !important;
    font-size: 10px !important;
  }
  .footer .left-side {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .footer .left-side .set {
    margin-left: 0px !important;
    float: right !important;
  }
  .footer .left-side h6 {
    font-size: 15px;
  }
  .footer .left-side p {
    font-size: 10px;
  }
  .footer .rigth-side-parent .rigth-side-parent-top {
    position: absolute;
    background-color: #ffff;
    height: 45px;
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .footer .rigth-side {
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .footer .rigth-side .form-group {
    width: 80% !important;
  }
  .footer .rigth-side h2 {
    font-size: 20px !important;
  }
  .footer .rigth-side span {
    font-size: 15px !important;
  }
  .footer .rigth-side .subscribe {
    width: 35% !important;
  }
  .mobile-info .text {
    font-size: 18px !important;
  }
  .mobile-info .small1 {
    font-size: 12px !important;
  }
  .mobile-info .bigger {
    font-size: 14px !important;
  }
  .slider .carousel-inner .silde-info h5.text {
    font-size: 35px;
    color: #444242;
    font-weight: 600;
  }
  .slider .carousel-inner .silde-info .button {
    font-size: 20px;
  }
  .slider .carousel-inner .silde-info .button_no_back {
    font-size: 17px;
  }
  .services .hexagon {
    width: 12%;
  }
  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 22% !important;
  }
  .header-section .navbar ul {
    margin-right: -15px !important;
  }
}

@media (min-width: 1101px) and (max-width: 1230px) {
  .footer .svg-mobile {
    margin-top: -11% !important;
  }
  .footer .svg-bottom {
    height: 350px !important;
  }
  .footer .bottom-side .container {
    margin-top: 17% !important;
    font-size: 95% !important;
  }
  .footer .subscribe {
    width: 30% !important;
  }
  .header-section .navbar ul {
    margin-right: -15px !important;
  }
  .services .fontServ {
    font-size: 9px !important;
    display: inline;
  }
  .services .imagesServ {
    margin-top: 30% !important;
  }
}

@media (min-width: 1531px) and (max-width: 1800px) {
  .header-section .card-count {
    top: 0px;
  }
  .header-section .logo-image {
    width: 148px !important;
    height: 128px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 30px !important;
  }
  .header-section .nav-li {
    font-size: 30px !important;
  }
  .btn-bottom {
    margin-right: 34px !important;
  }
  .container {
    font-size: 20px !important;
    max-width: 1400px !important;
  }
  .footer .svg-bottom {
    height: 370px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 17px !important;
  }
  .mobile-info {
    height: 291px;
  }
  .mobile-info .mobile {
    height: 315px;
    position: absolute;
    top: 20%;
    left: 14%;
  }
  .mobile-info .googlplay {
    width: 14%;
    left: 42%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 61%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .text {
    padding-right: 26%;
    font-size: 35px !important;
  }
  .mobile-info .small1 {
    font-size: 18px !important;
  }
  .mobile-info .bigger {
    font-size: 26px !important;
  }
  .mobile-info .desktop {
    padding: 5px 5px 5px 5px;
    top: 58%;
  }
  .mobile-info .desktop button {
    font-size: 18px !important;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  .header-section ul {
    margin-right: 375px !important;
  }
  .header-section .card-count {
    top: 0px;
  }
  .header-section .logo-image {
    width: 148px !important;
    height: 128px !important;
    margin-top: -6px !important;
    margin-left: -22px !important;
  }
  .header-section .navbar .container {
    margin-right: 0px !important;
  }
  .header-section a {
    font-size: 30px !important;
  }
  .header-section .nav-li {
    font-size: 30px !important;
  }
  .btn-bottom {
    margin-right: 50px !important;
  }
  .container {
    font-size: 22px !important;
    max-width: 1600px !important;
  }
  .footer .svg-bottom {
    height: 380px !important;
  }
  .footer .bottom-side .container {
    margin-top: 10%;
    font-size: 20x;
  }
  .mobile-info {
    height: 291px;
  }
  .mobile-info .mobile {
    height: 330px;
    position: absolute;
    top: 20%;
    left: 16%;
  }
  .mobile-info .googlplay {
    width: 14%;
    left: 42%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .applStore {
    width: 14%;
    left: 61%;
    padding: 10px 5px 10px 5px;
  }
  .mobile-info .text {
    padding-right: 25%;
    font-size: 38px !important;
  }
  .mobile-info .small1 {
    font-size: 18px !important;
  }
  .mobile-info .bigger {
    font-size: 26px !important;
  }
  .mobile-info .desktop {
    padding: 5px 5px 5px 5px;
    top: 59%;
  }
  .mobile-info .desktop button {
    font-size: 18px !important;
  }
}
