@media  (max-width: 379px) {

.page1{
    // style for another index
.header-section1{
    font-size: 14px!important;
    .btn-join{
    margin-right: 0px;
    }
    p.text-size{
        margin-bottom: 10px;
    }
    }
    
    .text-section {
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
            align-items: center;
        }
        margin-top: 20px!important;
        p {
          
            font-size: 17px!important;
           
        }
        h1{
           
    
            font-size: 25px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 75% !important;
            }
        }
    }
    
    
    .mobile-flex{
        flex-direction: column!important;
    }
    
    
    
    .services2{
    
    .container{
        .row{
            margin-left: 0px!important;
            margin-right: 0px!important;
           
            .col-xs-12{
                max-width: 33%!important;
                .hexagon2{
                    width: 80%!important;
                    height: 85px!important;
                }
                span{
                    font-size: 9px !important;
                    bottom: 23px !important;
                    margin-right: -10% !important;
                }
            }
            
        }
    }
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
        }
        .hexagon2{
            span{
                width: 100%!important;
            }
        }
    }
    
    .food{
        .justify-content-center{
            justify-content: right!important;
            padding-right: 5px!important;
        }
        h5 {
            font-size: 15px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 18px!important;
            margin-bottom: 50px;
            margin-right: 10px;
        }
        img{
            width: 268px!important;
        }
    }
    
}

}

@media (min-width: 380px)and (max-width: 480px) {

.page1{
        // stylefor page2
        .mobile-flex{
            flex-direction: column!important;
        }
    
        .header-section1{
            p.text-size{
                margin-bottom: 10px;
            }
            font-size: 14px!important;
            
          
            .btn-join{
                margin-right: 0px;
                }
            }
           
    
            .text-section {
                .mobile-selecte{
                    display: flex!important;
                    flex-direction: column!important;
                    justify-content: center!important;
                    align-items: center;
                }
                margin-top: 20px!important;
                p {
                  
                    font-size: 20px!important;
                   
                }
                h1{
                   
            
                    font-size: 30px !important;
                    margin-top: -10px !important;
                }
            
                .container{
                    .dropdown_selecte,.dropdown_selecte_city{
                        width: 57% !important;
                    }
                }
            }
    
    
            .food{
                .justify-content-center{
                    justify-content: right!important;
                }
                h5 {
                    font-size: 15px!important;
                    margin-bottom: 30px!important;
                }
                h4 {
                    font-size: 22px!important;
                    margin-bottom: 50px;
                    margin-right: 10px;
                }
                img{
                    width: 335px!important;
                }
            }
    
            .services2{
                .container{
                    .row{
                        margin-left: 0px!important;
                        margin-right: 0px!important;
                       
                        .col-xs-12{
                            max-width: 33%!important;
                            .hexagon2{
                                width: 79% !important;
                                height: 119px !important;
                            }
                            span{
                                font-size: 13px !important;
                                bottom: 35px !important;
                                margin-right: -3% !important;
                            }
                        }
                        
                    }
                }
            }
}
}

@media (min-width: 481px) and (max-width: 575px) {


.page1{
     // stylefor page2
 .mobile-flex{
    flex-direction: column!important;
}

.header-section1{
    font-size: 16px!important;
    p.text-size{
        margin-bottom: 10px;
    }
    .btn-join{
        margin-right: 0px;
        }
    }
   
.services2{
    .container{
        .row{
            margin-left: 10%!important;
            margin-right: 5%!important;
           
            .col-xs-12{
                max-width: 33%!important;
                .hexagon2{
                    width: 80%!important;
                    height: 120px!important;
                }
                span{
                    font-size: 12px !important;
                    bottom: 32px !important;
                    margin-right: -1% !important;
                }
            }
            
        }
    }
}
    .text-section {
        .mobile-selecte{
            display: flex!important;
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
        margin-top: 20px!important;
        p {
          
            font-size: 20px!important;
           
        }
        h1{
           
    
            font-size: 30px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 40% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(-13%) !important;
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 15px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 20px!important;
            margin-bottom: 50px;
        }
        img{
            width: 335px!important;
        }
    }
}

}

@media (min-width: 576px) and (max-width: 768px) {



// stylefor page2
.page1{
    .mobile-flex{
        flex-direction: column!important;
    }
    
    .header-section1{
        font-size: 16px!important;
        p.text-size{
            margin-bottom: 10px;
        }
        .btn-join{
            margin-right: 0px;
            }
        }
       
    .services2{
        .container{
            .row{
                margin-left: 10%!important;
                margin-right: 5%!important;
               
                .col-xs-12{
                    max-width: 33%!important;
                    .hexagon2{
                        width: 80%!important;
                        height: 120px!important;
                    }
                    span{
                        font-size: 13px !important;
                        bottom: 30px !important;
                        margin-right: -1% !important;
                    }
                }
                
            }
        }
    }
        .text-section {
            .mobile-selecte{
                display: flex!important;
                flex-direction: column!important;
                justify-content: center!important;
                align-items: center;
            }
            margin-top: 20px!important;
            p {
              
                font-size: 20px!important;
               
            }
            h1{
               
        
                font-size: 40px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 40% !important;
                }
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-13%) !important;
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 15px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 20px!important;
                margin-bottom: 50px;
            }
            img{
                width: 335px!important;
            }
        }
    
}
}
@media (min-width: 769px) and (max-width: 851px) {



    // stylefor page2
//  .mobile-flex{
//     flex-direction: column!important;
// }

.page1{
    .header-section1{
        font-size: 14px!important;
        .logo-image img {
            width: 97px!important;
            height: 61px!important;
        }
    
       .header-bottom .input-group {
            margin-left: 0px!important;
            margin-right: 0px;
        }
        }
       
    .services2{
        .col-sm-6{
            max-width: 50%!important;
        }
    }
        .text-section {
            .mobile-selecte{
                display: flex!important;
                flex-direction: column!important;
                justify-content: center!important;
                align-items: center;
            }
            margin-top: 20px!important;
            p {
              
                font-size: 22px!important;
               
            }
            h1{
               
        
                font-size: 45px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 30% !important;
                }
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-2%) !important;
                display: flex!important;
                flex-direction: row!important;
                .col-md-6{
                   max-width: 33%!important;
                  
                }
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 12px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 20px!important;
                margin-bottom: 50px;
            }
            img{
                width: 200px!important;
                height:  170px!important;
            }
        }
}
}

@media (min-width: 852px) and (max-width: 991px) {



.page1{
    // page2
.header-section1{
    font-size: 16px!important;
    .logo-image img {
        width: 97px!important;
        height: 61px!important;
    }
    }
   
.services2{
    .container{
        .row{
            margin-left: 20% !important;
            margin-right: 14% !important;
           
            .col-xs-12{
                max-width: 33%!important;
                .hexagon2{
                    width: 80%!important;
                    height: 120px!important;
                    .imagesServ {
                       
                        margin-top: 18%;
                    }
                }
                span{
                    font-size: 15px !important;
                    bottom: 32px !important;
                    margin-right: -1% !important;
                }
            }
            
        }
    }
}
    .text-section {
  
        margin-top: 20px!important;
        p {
          
            font-size: 30px!important;
           
        }
        h1{
           
    
            font-size: 58px !important;
            margin-top: -10px !important;
        }
    
        .container{
            .dropdown_selecte,.dropdown_selecte_city{
                width: 27% !important;
            }
        }
    }


    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 14px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width: 200px!important;
            height:  170px!important;
        }
    }
}

}

@media (min-width: 992px) and (max-width:1100px) {

// page2
.page1{
    .header-section1{
        font-size: 14px!important;
        .logo-image img {
            width: 110px!important;
            height: 83px!important;
        }
        }
       
    .services2{
        .imagesServ{
            margin-top: 39%;
        }
        .hexagon2{
            width: 98px!important;
            .fontServ{
                font-size: 12px!important;
            }
        }
    }
        .text-section {
      
            margin-top: 20px!important;
            p {
              
                font-size: 27px!important;
               
            }
            h1{
               
        
                font-size: 57px !important;
                margin-top: -10px !important;
            }
        
            .container{
                .dropdown_selecte,.dropdown_selecte_city{
                    width: 22% !important;
                }
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-2%) !important;
                display: flex!important;
                flex-direction: row!important;
                .col-md-6{
                   max-width: 33%!important;
                  
                }
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 14px!important;
                margin-bottom: 30px!important;
            }
            h4 {
                font-size: 25px!important;
                margin-bottom: 50px;
            }
            img{
                width:100%!important;
                height:  170px!important;
            }
        }
}

}

@media (min-width: 1101px) and (max-width: 1230px) {
   .page1{
    .food{
        .row{
            transform: translatex(-2%) !important;
            display: flex!important;
            flex-direction: row!important;
            .col-md-6{
               max-width: 33%!important;
              
            }
        }
        .justify-content-center{
            justify-content: center!important;
        }
        h5 {
            font-size: 20px!important;
            margin-bottom: 30px!important;
        }
        h4 {
            font-size: 25px!important;
            margin-bottom: 50px;
        }
        img{
            width:100%!important;
            height:  170px!important;
        }
    }
   }
}

@media (min-width: 1531px) and (max-width: 1800px) {



    // page2
.page1{
    .header-section1{
        .dropdown {
            width: 69px !important;
        }
    
        .btn-sing,.btn-join{
            width: 150px!important;
        }
    
        .container{
            font-size: 17px!important;
        }
        .logo-image img {
            width: 135px!important;
            height: 100px!important;
        }
    
        p.text-size {
            margin-left: 81px;
            font-weight: bolder;
        }
        }
       
    .services2{
        .imagesServ{
            margin-top: 39%;
        }
        .hexagon2{
            width: 155px !important;
            height: 200px !important;
            .imagesServ {
                margin-top: 26%;
            }
            .fontServ{
                font-size: 20px!important;
               bottom: 55px!important;
            }
        }
    }
        .text-section {
            .dropdown_selecte{
                margin-right: 427px;
                button{
                    font-size: 42px!important;
                }
            }
    
            .dropdown_selecte_city{
                button{
                    font-size: 42px!important;
                }
            }
      
            margin-top: 20px!important;
            p {
              
                margin-right: 89px;
                font-size: 35px !important;
            }
            
            h1{
               
        
                font-size: 95px !important;
                margin-top: -10px !important;
                // margin-left:275px!important;
            }
        
     
        
            .select-selected{
                display: flex!important;
                justify-content: center!important;
            }
            .select-selected:after {
             
                top: 65%;
                right: 40px!important;
              
            }

            .dropdown_selecte_city {
                // width: 18%;
                margin-left: 300px;
            }
        }
    
    
        .food{
            .row{
                transform: translatex(-2%) !important;
                display: flex!important;
                flex-direction: row!important;
                .col-md-6{
                   max-width: 33%!important;
                  
                }
            }
            .justify-content-center{
                justify-content: center!important;
            }
            h5 {
                font-size: 20px!important;
                margin-bottom: 30px!important;
                font-size: 28px!important;
            }
            h4 {
                font-size: 54px!important;
                margin-bottom: 50px;
            }
            img{
                width:100%!important;
                height:  290px!important;
            }
        }
}
}

@media (min-width: 1801px) and (max-width: 2000px) {


 // page2
.page1{
    .header-section1{
        .text-size{
            margin-right: 29px!important;
        }
        .dropdown {
            width: 92px !important;
            font-size: 33px!important;
        }
            .btn-sing,.btn-join{
                width: 170px!important;
            }
            .container{
                font-size: 19px!important;
            }
            // font-size: 19px!important;
            .logo-image img {
                width: 150px!important;
                height: 120px!important;
            }
            }
           
        .services2{
            .imagesServ{
                margin-top: 39%;
            }
            .hexagon2{
                width: 189px !important;
                height: 249px !important;
                .fontServ{
                    font-size: 21px !important;
                    bottom: 63px !important;
                }
            }
        }
            .text-section {
          
                margin-top: 20px!important;
                p {
                  
                    font-size: 36px !important;
                    margin-right: 180px;
                   
                }
                h1{
                   
            
                    font-size: 110px !important;
                    margin-top: -10px !important;
                    margin-right: 120px;
                    // margin-left: 300px!important;
                }
            
           
            
                .select-selected{
                    // margin-right: 120px;
                    display: flex!important;
                    justify-content: center!important;
                }
                .select-selected:after {
                 
                    top: 65%;
                    right: 40px!important;
                  
                }
                .dropdown_selecte{
                    margin-right: 564px;
                    button{
                        font-size: 42px!important;
                    }
                }
        
                .dropdown_selecte_city{
                    margin-left: 300px;

                    button{
                        font-size: 42px!important;
                    }
                }
               
            }
        
        
            .food{
                .row{
                    transform: translatex(-2%) !important;
                    display: flex!important;
                    flex-direction: row!important;
                    .col-md-6{
                       max-width: 33%!important;
                      
                    }
                }
                .justify-content-center{
                    justify-content: center!important;
                }
                h5 {
                    font-size: 18px!important;
                    margin-bottom: 30px!important;
                    font-size: 34px!important;
                }
                h4 {
                    font-size: 64px!important;
                    margin-bottom: 50px;
                }
                img{
                    width:100%!important;
                    height:  330px!important;
                }
            }
        
}


}
