@media  (max-width: 379px) {
    .footer {
        .svg-mobile {
            margin-top: -35% !important;
        }

        .container {
            // margin-top: 36% !important;
            font-size: 9px !important;
        }

        .copy {
            margin-top: -15px !important;
        }
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {
            .footer-ul li span {
                padding-right: 1px;
                padding-left: 1px;
            }

            .container {
                margin-top: 35% !important;
                font-size: 9px !important;
            }
            margin-top: 15%;
            .socials {
                margin-left: 3% !important;
                margin-top: 2%!important;
              img,  a{
                    max-width:22px!important;
                }
            }
            .text-right {
                text-align: right !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }

            .col-sm-5{
                margin-bottom: 10px!important;
            }
            .copy{
                margin-top: 10px!important;
                font-size: 9px!important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 110px!important;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
            h2{
                font-size: 15px!important;
            }
            span{
                font-size: 10px!important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -8px;
        }
        .subscribe {
            width: 33% !important;
            font-size: 9px!important;
        }
        .left-side{
            h6{
                font-size: 12px;
            }
            p{
                font-size: 9px;
            }
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {

        .logo-image {
            width: 72px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
        }
        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
            z-index: 10;
        }

        ul {
            margin-right: -10% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
        }

        .card-count {
            right: 0px!important;
            left: auto!important;
        }
    }
    .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 39vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
            bottom: 72px!important;
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
            // left: -37%;
                   .carousel-item {
                        // right: -39%!important;
                        margin-left: 10px!important;
                    }
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 14px !important;
            }
            a {
                display: inline!important;
                position: relative;  
                font-size: 11px !important;
                    box-sizing: border-box;
              z-index: 1000!important;
              padding-top: 5px!important;
                padding-bottom: 5px!important;
                padding-right: 10px!important;
                padding-left: 10px!important;

            }
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }
    .mobile-info {
        .mobile {
            display: none !important;
            // height:270px !important;
            // position: absolute!important;;
            // top: 30%!important;
            // left: 3%!important;

            // width: 25% !important;
            // z-index: 3;
        }

        .googlplay {
            width: 30% !important;
            left: 0% !important;
            button{
                padding: 1px 1px;
             }
             .small1 {
                font-size: 9px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
        }
        .applStore {
            .small1 {
                font-size: 9px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
            button{
               padding: 1px 1px;
            }
            width: 30% !important;
            left: 36% !important;
        }
        .desktop {
            button{
                font-size: 9px !important;
                padding: 9px 5px 15px;
            }
            width: 30% !important;
            left: 68% !important;
           
        }

        .text {
            font-size: 14px !important;
            padding-right: 35% !important;
            margin-top: 30px;
        }
    
    }

    .features {
        h2{
            font-size: 16px;
        }
        .flex-container {
            flex-wrap: wrap !important;
        }
    }

    .services {

        margin-top: -95px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        .fontServ {
            font-size: 9px!important;
            color: #888;
            display: inline;
        }
       .imagesServ {
            width: 30%!important;;
            height: 23%!important;;
            margin-top: 31%!important;;
            margin-left: 35%!important;;
        
        }
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
       
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin-top: 2%!important;
            width: 22% !important;
            margin-left: 7%;
            // flex-wrap: wrap!important;
        }
    }




}

@media (min-width: 380px)and (max-width: 480px) {
    .footer {
        .svg-mobile {
            margin-top: -35% !important;
        }

        .container {
            // margin-top: 36% !important;
            font-size: 9px !important;
        }

        .copy {
            margin-top: -15px !important;
        }
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {
            .footer-ul li span {
                padding-right: 2px;
                padding-left: 2px;
            }

            .container {
                margin-top: 29% !important;
                font-size: 9px !important;
            }
            margin-top: 15%;
            .socials {
                margin-left: 3% !important;
                margin-top: 2%!important;
              img,  a{
                    max-width:22px!important;
                }
            }
            .text-right {
                text-align: right !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }

            .col-sm-5{
                margin-bottom: 10px!important;
            }
            .copy{
                margin-top: 10px!important;
                font-size: 9px!important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }
        .rigth-side {
            margin-bottom: 110px!important;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
            h2{
                font-size: 15px!important;
            }
            span{
                font-size: 10px!important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -30px;
        }
        .subscribe {
            width: 33% !important;
            font-size: 9px!important;
        }
        .left-side{
            h6{
                font-size: 12px;
            }
            p{
                font-size: 9px;
            }
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {
        
        .logo-image {
            width: 72px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
        }
        ul {
            margin-right: -8% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
        }

        .card-count {
            right: 0px!important;
            left: auto!important;
        }

        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
            z-index: 10;
        }
    }
    .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 40vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
            bottom: 60px!important;
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
            // left: -37%;
                   .carousel-item {
                        // right: -39%!important;
                    }
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 15px !important;
            }
            a {
                display: inline!important;
                position: relative;  
                font-size: 12px !important;
                    box-sizing: border-box;
              z-index: 1000!important;
              padding-top: 5px!important;
              padding-bottom: 5px!important;
              padding-right: 10px!important;
              padding-left: 10px!important;


            }
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }
    .mobile-info {
        .mobile {
            display: none !important;
            // height:270px !important;
            // position: absolute!important;;
            // top: 30%!important;
            // left: 3%!important;

            // width: 25% !important;
            // z-index: 3;
        }

        .googlplay {
            width: 30% !important;
            left: 0% !important;
            button{
                padding: 1px 1px;
             }
             .small1 {
                font-size: 9px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
        }
        .applStore {
            .small1 {
                font-size: 9px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
            button{
               padding: 1px 1px;
            }
            width: 30% !important;
            left: 36% !important;
        }
        .desktop {
            button{
                font-size: 9px !important;
                padding: 9px 20px 14px;
            }
            width: 30% !important;
            left: 68% !important;
           
        }

        .text {
            font-size: 15px !important;
            padding-right: 35% !important;
            margin-top: 30px;
        }
    
    }

    .features {
        h2{
            font-size: 16px;
        }
        .flex-container {
        flex-wrap: wrap !important;
    }
    }
    
    

    .services {
        margin-top: -75px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
      
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 25% !important;
            // flex-wrap: wrap!important;
        }
    }



}

@media (min-width: 481px) and (max-width: 575px) {
    .footer {

        .svg-mobile {
            margin-top: -23% !important;
        }
        // .copy {
        //     // margin-top: -1%!important;
        // }
        .svg-bottom {
            height: 330px !important;
        }
        .bottom-side {
            margin-top: 15%;
            .socials {
                margin-left: 2% !important;
            }
            .container{
                font-size: 13px;
            }
            .text-right {
                text-align: right !important;
                margin-top: 1% !important;
                margin-bottom: 1% !important;
            }
        }
        margin-top: 0px !important;
        // height: 1200px!important;

        .left-side {
            padding-left: 10px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }

            h6{
                font-size: 14px;
            }
            p{
                font-size: 11px;
            }
        }
        .rigth-side {
            margin-bottom: 100px;
            padding-left: 10px !important;
            padding-top: 0px !important;
            .form-group {
                width: 70% !important;
            }
            h2{
                font-size: 22px!important;
            }
            span{
                font-size: 18px!important;
            }
        }
        .eat {
            width: 40%;
            margin-bottom: -28px;
        }
        .subscribe {
            width: 33% !important;
        }

        // .container{

        //     margin-top: 3px!important;
        // }
    }

    .header-section {
        .logo-image {
            width: 72px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
        }
        ul {
            margin-right: -8% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
        }

        .card-count {
            right: 0px!important;
            left: auto!important;
        }
        margin-bottom: -15% !important;
        .btn-menu {
            width: 100% !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
            z-index: 10;
        }
    }
    .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 42vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
            bottom: 37px!important;
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
     
               
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 20px !important;
            }
            a {
                display: inline!important;
                position: relative;  
                font-size: 15px !important;
                box-sizing: border-box;
                z-index: 1000 !important;
                padding: 5px 10px 5px 10px !important;

            }
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }
    .mobile-info {
        .mobile {
            height: 270px !important;
            position: absolute !important;
            top: 30% !important;
            left: 3% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
            .small1 {
                font-size: 10px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
            .small1 {
                font-size: 10px !important;
            }
            .bigger {
                font-size: 12px !important;
            }
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            button{
            font-size: 12px;
            padding: 12px 5px 13px 5px;
            }
        }

        .text {
            margin-top: 30px;
            padding-right: 28%;
            font-size: 14px !important;
        
        
        }
       
    }

    .features {
        h2{
            font-size: 18px;
        }
        .flex-container {
        flex-wrap: wrap !important;
    }
    }

    .services {

        margin-top: -55px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
       
        .btn-bottom {
            display: none !important;
        }
        height: 500px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 25% !important;
            // flex-wrap: wrap!important;
        }
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .container{
        max-width: 550px;
    }
    .header-section {
        .logo-image {
            width: 72px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 24px;
        }
        ul {
            margin-right: -6% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
        }

        .card-count {
            right: 0px!important;
            left: auto!important;
        }
        margin-bottom: -5% !important;
        .btn-menu {
            // width: 70%!important;
            position: relative !important;
            z-index: 100 !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .mobile-info {
        .mobile {
            // height:270px !important;
            // position: absolute!important;;
            top: 20% !important;
            left: 1% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            button{
                font-size: 13px !important;
                padding: 10px 5px 10px 10px;
                text-align: center!important;
              direction: rtl;
            }
        }

        .text {
            font-size: 16px !important;
            padding-right: 29%;
            margin-top: 20px;
        }
        .small1 {
            font-size: 11px !important;
        }
        .bigger {
            font-size: 15px !important;
        }
    }

    .features .flex-container {
        width: 80% !important;
        flex-wrap: wrap !important;
    }
    .footer {
      

        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-right: 18%!important;
        }
        .svg-bottom {
            height: 400px !important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {
           .copy{
               margin-top: -1%!important;
           }

            .row{
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            margin-top: 5%;
            .container{
                margin-top: 24%!important;
                font-size: 12px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
            h6{
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }
        }

      .rigth-side-parent .rigth-side-parent-top {
            position: absolute;
            background-color: #ffff;
            height: 45px;
            width: 100%;
            top: -5%;
            left: 0%;
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }
            h2{
                font-size: 19px!important;
            }
            span{
                font-size: 16px!important;
            }

            .subscribe {
                width: 35% !important;
                font-size: 13px!important;
            }
        }
    }
    .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 41vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
            bottom: 37px!important;
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
     
               
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 20px !important;
            }
 
                a {
                    margin-top: 50px;
                    display: inline!important;
                    position: relative;  
                    font-size: 15px !important;
                    box-sizing: border-box;
                    z-index: 1000 !important;
                    padding: 5px 10px 5px 10px !important;
    
                }

           
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }

    .services {
        margin-top: -55px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        // margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 300px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 12% !important;
            // flex-wrap: wrap!important;
        }
        .fontServ {
            font-size: 9px;
            display: inline;
        }
    }

}
@media (min-width: 769px) and (max-width: 851px) {
    .container{
        max-width: 700px!important;
    }
    .header-section {
        .logo-image {
            width: 72px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 54px;
        }
        ul {
            margin-right: -5% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
        }

        .card-count {
            right: 0px!important;
            left: auto!important;
        }
        margin-bottom: -2% !important;
        .btn-menu {
            // width: 70%!important;
            position: relative !important;
            z-index: 100 !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
    }
    .mobile-info {
        .mobile {
            // height:270px !important;
            // position: absolute!important;;
            top: 20% !important;
            left: 1% !important;

            width: 25% !important;
            z-index: 3;
        }

        .googlplay {
            width: 20% !important;
            left: 27% !important;
        }
        .applStore {
            width: 20% !important;
            left: 52% !important;
        }
        .desktop {
            width: 23% !important;
            left: 75% !important;
            button{
                font-size: 14px !important;
            }
        }

        .text {
            font-size: 22px !important;
            padding-right: 28%;
            top: 20%;
        }
        .small1 {
            font-size: 12px !important;
        }
        .bigger {
            font-size: 16px !important;
        }
    }

    .features .flex-container {
        width: 80% !important;
        flex-wrap: wrap !important;
    }
    .footer {
      

        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-right: 34% !important;
            max-width: 92%!important;
        }
        .svg-bottom {
            height: 400px !important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {
           .copy{
               margin-top: -1%!important;
           }

            .row{
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            margin-top: 5%;
            .container{
                margin-top: 19%!important;
                font-size: 16px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }

      .rigth-side-parent .rigth-side-parent-top {
            position: absolute;
            background-color: #ffff;
            height: 45px;
            width: 100%;
            top: -5%;
            left: 0%;
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }
            h2{
                font-size: 25px!important;
            }
            span{
                font-size: 20px!important;
            }

            .subscribe {
                width: 35% !important;
            }
        }
    }

   .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 46vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
            bottom: 15px!important;
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
     
               
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 27px !important;
            }
            a {
                margin-top: 18px;
                display: inline-block !important;
                position: relative;  
                font-size: 15px !important;
                box-sizing: border-box;
                z-index: 1000 !important;
                padding: 5px 10px 5px 10px !important;

            }
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }

    .services {
        margin-top: -30px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        .first {
            display: block !important;
            flex-shrink: 0 !important;
            span {
                display: block !important;
            }
        }
        // margin: 2% !important;
        .btn-bottom {
            display: none !important;
        }
        height: 300px !important;
        .services-content {
            margin: 0px !important;
            padding-left: 3% !important;
        }
        .hexagon {
            margin: 2% !important;
            width: 12% !important;
            // flex-wrap: wrap!important;
        }
        .fontServ {
            font-size: 10px;
        }
    }

}

@media (min-width: 852px) and (max-width: 991px) {

    .header-section{
        .btn-menu {
            position: relative !important;
            z-index: 100 !important;
            border-color: #f1bf44 !important;
            margin: 2% !important;
        }
        .logo-image {
            width: 82px;
            height: 63px;
            /* border-radius: 50%; */
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 76px;
        }
        ul {
            margin-right: -4% !important;
        }

       
            .mr-4{
                margin-right: 7px!important;
          
                 }
                 .card-count {
                    right: 0px!important;
                    left: auto!important;
                }
    }
    .container{
        max-width: 780px!important;
    }

    .footer {
      

        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-right: 43% !important;
            max-width: 80% !important;
        }
        .svg-bottom {
            height: 400px !important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {
           .copy{
               margin-top: -1%!important;
           }

            .row{
                .col-lg-2{
                    display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            margin-top: 5%;
            .container{
                margin-top: 16%!important;
                font-size: 16px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
        }

      .rigth-side-parent .rigth-side-parent-top {
            position: absolute;
            background-color: #ffff;
            height: 45px;
            width: 100%;
            top: -5%;
            left: 0%;
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }
            h2{
                font-size: 25px!important;
            }
            span{
                font-size: 20px!important;
            }

            .subscribe {
                width: 35% !important;
            }
        }
    }

    .slider {

        z-index: 1;
        margin-top: -90px!important;
        position: relative !important;
        // height: 51vh;
        .container{
            z-index: 5; 
        }
        .carousel{
            z-index: -1;  
        }
        .carousel-item .carousel-inner{
            z-index: -1;   
        }
        ul.carousel-indicators{
            display: inline-block!important;
     
            z-index: 200;
        }

       
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            top: -6%;
            z-index: -1;
     
               
        }
     

  
       
        .silde-info {
            z-index: 100!important;
            h5{
                font-size: 29px !important;
            }
            a {
                margin-top: 18px;
                display: inline-block !important;
                position: relative;  
                font-size: 22px !important;
                box-sizing: border-box;
                z-index: 1000 !important;
                padding: 5px 10px 5px 10px !important;

            }
            top:-19px;

            // padding-bottom: 185px;
            padding-top: 140px !important;
            padding-left: 5px !important;
            padding-right: 13px !important;
        }
    }


   .mobile-info {

    .googlplay{
    width: 14%;
    left: 43%;
    }
    .applStore{
        width: 14%;
        left: 62%;
    }

    .text {
        font-size: 22px !important;
    }
    .small1 {
        font-size: 11px !important;
    }
    .bigger {
        font-size: 15px !important;
    }
}
.services{
    margin-top: -10px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    .fontServ {
        font-size: 9px!important;
        display: inline;
      
    }
    .imagesServ {
        margin-top: 35%!important;
    }
}

}

@media (min-width: 992px) and (max-width:1100px) {
    .container{
        max-width: 900px!important;
    }

    .footer {
      

        .svg-mobile {
            margin-top: -20% !important;
        }
        .eat{
            margin-right: 18%!important;
        }
        .svg-bottom {
            height: 400px !important;
        }
        margin-top: 0px !important;
        // height: 1200px!important;
        .bottom-side {
            div.text-right {
                text-align: left!important;
            }
           .copy{
               margin-top: -1%!important;
           }

            .row{
                .col-lg-2{
                    // display: inline-flex!important;
                    margin-bottom: 10px!important;
                  
                }
                .col-lg-3{
                    display: inline-flex!important; 
                    .socials {
                
                        margin-left: 11px!important;
                    }
                }
            }
            margin-top: 5%;
            .container{
                margin-top: 17%!important;
                font-size: 10px!important;
            }
        }
        .left-side {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .set {
                margin-left: 0px !important;
                float: right !important;
            }
            h6{
                font-size: 15px;
            }
            p{
                font-size: 10px;
            }
        }

      .rigth-side-parent .rigth-side-parent-top {
            position: absolute;
            background-color: #ffff;
            height: 45px;
            width: 100%;
            top: -5%;
            left: 0%;
        }
        .rigth-side {
            margin-bottom: 70px!important;
            padding-top: 0px !important;
            .form-group {
                width: 80% !important;
            }
            h2{
                font-size: 20px!important;
            }
            span{
                font-size: 15px!important;
            }

            .subscribe {
                width: 35% !important;
            }
        }
    }
    .mobile-info {


        .text {
            font-size: 18px !important;
        }
        .small1 {
            font-size: 12px !important;
        }
        .bigger {
            font-size: 14px !important;
        }
    }
.slider {




    .carousel-inner {
        .silde-info {

h5.text{
    font-size: 35px;
    color: #444242;
    font-weight: 600;
}

          
            .button {
               
               
                font-size: 20px;
               
            }
            .button_no_back {
                
                font-size: 17px;
                
            }
        }

      
    }
}
   .services{
    .hexagon {
        width: 12%;
    }
    .fontServ {
        font-size: 9px!important;
        display: inline;
      
    }
    .imagesServ {
        margin-top: 22%!important;
    }
}
    .header-section{
        .navbar{
            ul{
                margin-right: -15px!important;
            }
        }
    }

}

@media (min-width: 1101px) and (max-width: 1230px) {
    .footer {
        .svg-mobile{
            margin-top: -11%!important;
            
        }

        .svg-bottom{
            height: 350px!important;
        }
    .bottom-side{
       
      
        .container {
            margin-top: 17% !important;
            font-size: 95% !important;
        }
    }
        .subscribe {
            width: 30% !important;
        }
    }

    .header-section{
        .navbar{
            ul{
                margin-right: -15px!important;
            }
        }
    }


    .services{
        .fontServ {
            font-size: 9px!important;
          display: inline;
        }
        .imagesServ {
            margin-top: 30%!important;
        }
    }
}

@media (min-width: 1531px) and (max-width: 1800px) {
    .header-section {
        .card-count {
        
            top: 0px;
           
        }
        .logo-image {
            width: 148px !important;
            height: 128px !important;
            margin-top: -6px !important;
            margin-left: -22px!important;
        }
       .navbar {
        .container {
           
            margin-right: 0px!important;
          
        }
       }
         a{
             font-size: 30px!important;
         }
         .nav-li{
            font-size: 30px!important;
        }
    }
.btn-bottom{
    margin-right: 34px !important;
}
    .container {
        font-size: 20px !important;
        max-width: 1400px !important;
        // margin-right: 130px !important;
    }
  

    .footer {
        .svg-bottom {
            height: 370px !important;
        }
        .bottom-side {
            .container {
                // max-width: 1350px !important;
                margin-top: 10%;
                font-size: 17px!important;
            }
        }
    }

    .mobile-info {

        height: 291px;
        .mobile {
            height: 315px;
            position: absolute;
            top: 20%;
            left: 14%;
        }
        .googlplay{
            width: 14%;
            left: 42%;
            padding: 10px 5px 10px 5px;
        }
        .applStore{
            width: 14%;
            left: 61%;
            padding: 10px 5px 10px 5px;
        }
            .text {
                padding-right: 26%;
                font-size: 35px !important;
            }
            .small1 {
                font-size: 18px !important;
            }
            .bigger {
                font-size: 26px !important;
            }
            .desktop 
            {
                padding: 5px 5px 5px 5px;
                top: 58%;
                button{
                    font-size: 18px !important;  
                }
            }
        }

}

@media (min-width: 1801px) and (max-width: 2000px) {
    .header-section {
        ul {
            margin-right: 375px !important;
        }
        .card-count {
        
            top: 0px;
           
        }
        .logo-image {
            width: 148px !important;
            height: 128px !important;
            margin-top: -6px !important;
            margin-left: -22px!important;
        }
       .navbar {
        .container {
           
            margin-right: 0px!important;
          
        }
       }
         a{
             font-size: 30px!important;
         }
         .nav-li{
            font-size: 30px!important;
        }
    }
    .btn-bottom{
        margin-right: 50px !important;
    }
    .container {
        font-size: 22px !important;
        max-width: 1600px !important;
        // margin-right: 150px !important;
    }

 

    .footer {
        .svg-bottom {
            height: 380px !important;
        }
        .bottom-side {
            .container {
                margin-top: 10%;
                font-size: 20x;
            }
        }
    }

    .mobile-info {

        height: 291px;
        .mobile {
            height: 330px;
            position: absolute;
            top: 20%;
            left: 16%;
        }
        .googlplay{
            width: 14%;
            left: 42%;
            padding: 10px 5px 10px 5px;
        }
        .applStore{
            width: 14%;
            left: 61%;
            padding: 10px 5px 10px 5px;
        }
            .text {
                padding-right: 25%;
                font-size: 38px !important;


            }
            .small1 {
                font-size: 18px !important;
            }
            .bigger {
                font-size: 26px !important;
            }
            .desktop 
            {
                padding: 5px 5px 5px 5px;
                top: 59%;
                button{
                    font-size: 18px !important;  
                }
                
            }
        }



}
