@mixin cover-image {
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center; /* Center the image */
  }

  @mixin contain-image {
    -webkit-background-size: contain!important;
    -moz-background-size: contain!important;
    -o-background-size: contain!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center; /* Center the image */
  }
  @mixin transition-good {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }