.row {
  margin: 0px !important;
  padding: 0px !important;
  direction: rtl !important;
}

.row > * {
  direction: rtl !important;
  text-align: right !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Almarai', sans-serif;
}

.header-section .upper .btn-primary1 {
  padding-left: 0px;
}

.header-section nav .container {
  padding-left: 0px;
}

.header-section ul {
  margin-right: 215px !important;
}

.header-section form.ml-auto, .header-section .mx-auto {
  margin-right: auto !important;
  margin-left: 2px !important;
}

.header-section a {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}

.header-section .logo-image {
  width: 112px;
  height: 103px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-top: -26px;
}

.header-section .card-shopping {
  position: absolute;
  top: 75px;
  right: 40px;
  z-index: 100;
  width: 40%;
  padding: 2%;
  transition: all 0.5s;
}

.header-section .card-count {
  position: absolute !important;
  background: #f1c445 !important;
  left: 12px;
  top: -8px;
  font-size: 10px !important;
  padding: 4px !important;
}

.header-section .search {
  border: 1px solid #000 !important;
  padding: 7px 20px !important;
  max-width: 240px !important;
  background: none !important;
  height: 35px !important;
  border-radius: 8px !important;
}

.header-section .search:focus {
  outline: none !important;
  border: 1px solid #f1c445 !important;
}

.header-section .search-img {
  position: absolute !important;
  right: 3% !important;
  top: 10px !important;
}

.header-section .nav-li {
  color: #565656 !important;
  font-size: 15px !important;
}

.slider {
  position: relative;
  margin-top: -10px;
}

.slider .carousel-indicators li {
  display: inline-block;
  z-index: 100;
  cursor: pointer;
  background-color: #fee0a2 !important;
  height: 5px !important;
}

.slider .carousel-indicators .active {
  background-color: #ef6735 !important;
}

.slider .carousel-inner .silde-info {
  position: absolute;
  z-index: 99;
  font-size: 18px;
  padding-top: 8%;
  padding-left: 1%;
  font-weight: bolder;
}

.slider .carousel-inner .silde-info h5.text {
  font-size: 35px;
  color: #444242;
  font-weight: 600;
}

.slider .carousel-inner .silde-info a .fas {
  transform: rotateY(150deg);
}

.slider .carousel-inner .silde-info .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 700;
  min-width: 110px;
  margin-right: 5px;
  border-radius: 7px;
  font-family: 'Almarai', sans-serif;
  text-align: center;
  background-image: url("../images/buttons/sub_btn.png");
  color: #fff;
  display: inline-block;
  border: none;
}

.slider .carousel-inner .silde-info .button_no_back {
  padding-top: 9px;
  padding-bottom: 9px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 700;
  min-width: 110px;
  margin-right: 5px;
  border-radius: 7px;
  font-family: 'Almarai', sans-serif;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
  margin-right: 5px;
  border-radius: 7px !important;
}

.slider .carousel-inner .one {
  background-image: url("../images/slides/slide1_ar.jpg") !important;
}

.slider .carousel-inner .carousel-item {
  left: 0px;
  height: 340px;
  position: relative !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: left;
  width: 61% !important;
}

.services {
  height: 242px;
  background: #f1c146;
  background: linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
  background: -moz-linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
  background: -webkit-linear-gradient(0deg, #f1c146 0%, #f17d4b 100%);
}

.services .services-content {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  flex-direction: column;
}

.services .btn-bottom {
  position: fixed;
  right: 85px;
  bottom: 20px;
  z-index: 100;
}

.services .btn-bottom .btn-fixed {
  border: none;
  display: block;
  background-image: linear-gradient(90deg, #f2a73f, #ef542f);
  color: #fff;
  font-size: 23px;
  border-radius: 78%;
  width: 55px;
  height: 47px;
  margin-bottom: 7px;
  outline: none;
  padding-top: 5px;
}

.services .imagesServ {
  width: 36%;
  height: 30%;
  margin-top: 17%;
  margin-left: 34%;
  display: flex;
}

.mobile-info {
  position: relative !important;
  height: 230px;
  background-image: url("../images//mobile_info/car_background_behind_the_mockup.png") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 100% !important;
  z-index: 2;
}

.mobile-info .googlplay {
  text-align: right;
  direction: rtl;
  position: absolute;
  margin-left: 3%;
  height: 107px;
  width: 11%;
  left: 49%;
  top: 57%;
}

.mobile-info .googlplay .googlplay-img {
  width: 11%;
}

.mobile-info .googlplay button {
  background-color: #000;
  color: #fff;
}

.mobile-info .googlplay .small1 {
  position: relative;
  right: -8%;
  font-size: 11px;
  font-weight: 700;
}

.mobile-info .googlplay .bigger {
  font-size: 16px;
  font-weight: 700;
}

.mobile-info .applStore {
  text-align: right;
  direction: rtl;
  width: 11%;
  position: relative;
  left: 65%;
  top: 56%;
  font-size: 11px;
  font-weight: 700;
}

.mobile-info .applStore .applStore-img {
  width: 16%;
}

.mobile-info .applStore button {
  color: #000;
  background-color: #fff;
}

.mobile-info .applStore .small1 {
  position: relative;
  right: -1%;
  font-size: 11px;
  font-weight: 700;
}

.mobile-info .applStore .bigger {
  font-size: 16px;
  font-weight: 700;
}

.mobile-info .desktop {
  background-color: #000;
  color: #fff;
  position: absolute;
  /* width: 13%; */
  left: 78%;
  top: 56%;
  border-radius: 5px;
}

.mobile-info .desktop button {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  direction: rtl;
  text-align: right;
  padding: 9px 25px 9px 25px;
}

.mobile-info .mobile {
  height: 315px;
  position: absolute;
  top: 7%;
  left: 12%;
  z-index: 3;
  background-image: url(../images//mobile_info/mobile_mockup.png) !important;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 29% !important;
  z-index: 3;
}

.mobile-info .text {
  position: absolute;
  color: #000000;
  font-size: 22px;
  font-weight: 450;
  width: 100%;
  padding-right: 24%;
  top: 17%;
  text-align: right;
  direction: rtl;
}

.mobile-info .text span {
  color: #ffffff;
}

.footer {
  margin-top: 100px;
  width: 100% !important;
}

.footer .row {
  margin: 0px !important;
  display: flex;
  flex-wrap: wrap;
}

.footer .left-side {
  padding-left: 0px;
  padding-top: 55%;
}

.footer .left-side h6 {
  font-size: 18px;
  font-weight: 600;
}

.footer .left-side p {
  font-size: 14px;
}

.footer .left-side .left-side-bottom {
  margin-top: -10px;
}

.footer .left-side .socail-icon {
  padding: 1%;
  width: 18%;
}

.footer .left-side .logo {
  width: 25%;
}

.footer .left-side .set {
  margin-left: 0% !important;
}

.footer .rigth-side-parent {
  box-shadow: 5px 0 16px 3px #BCDEDD;
  padding-bottom: 15%;
  background-color: white;
  position: relative;
  left: 5%;
  padding-right: 3%;
}

.footer .rigth-side-parent .rigth-side-parent-top {
  position: absolute;
  background-color: #ffff;
  height: 45px;
  width: 105%;
  top: -5%;
  left: -2%;
}

.footer .rigth-side-parent .rigth-side-parent-right {
  position: absolute;
  background-color: #ffff;
  height: 90%;
  width: 17%;
  left: -24px;
}

.footer .rigth-side-parent .rigth-side {
  padding-top: 15%;
}

.footer .rigth-side-parent .rigth-side span {
  font-size: 25px;
  color: #6b6b6b;
}

.footer .rigth-side-parent .rigth-side h2 {
  font-size: 30px;
  font-weight: 700;
  color: #575757;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .rigth-side-parent .rigth-side .subscribe {
  height: 43px;
  background-image: url(../images/footer/btn_back.jpg) !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  /* Center the image */
  width: 21%;
  margin-top: 3%;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
}

.footer .rigth-side-parent .rigth-side .form-group {
  width: 60%;
}

.footer .rigth-side-parent .rigth-side input {
  border: none;
  border-bottom: 2px solid #c6a3a7;
  border-radius: 0px;
  font-size: 11px;
}

.footer .rigth-side-parent .rigth-side ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: oblique;
}

.footer .rigth-side-parent .rigth-side ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: oblique;
}

.footer .rigth-side-parent .rigth-side :-ms-input-placeholder {
  /* IE 10+ */
  font-style: oblique;
}

.footer .rigth-side-parent .rigth-side :-moz-placeholder {
  /* Firefox 18- */
  font-style: oblique;
}

.footer .container {
  position: relative;
  margin-top: 13%;
}

.footer .bottom-side {
  font-size: 14px;
  width: 100%;
  color: #fff;
  position: absolute;
  top: -6%;
}

.footer .bottom-side .social-item-parent {
  padding-right: 0px !important;
}

.footer .bottom-side .footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  direction: rtl;
  text-align: right;
}

.footer .bottom-side .footer-ul li {
  display: inline;
  float: right;
  padding: 3px;
}

.footer .bottom-side .footer-ul li span {
  padding-right: 5px;
  padding-left: 5px;
}

.footer .bottom-side hr {
  height: 1px;
  color: #fff;
  background: #fff;
  width: 100%;
}

.footer .bottom-side .copy {
  color: #fff;
  direction: rtl;
  text-align: center;
  font-size: 12px;
}

.footer .bottom-side .text-right {
  text-align: left !important;
}

.footer .svg-mobile {
  position: relative;
  margin-top: -9%;
  opacity: 0.8;
}

.footer .svg-mobile .svg-bottom {
  height: 315px;
  overflow: hidden;
}

.features .flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 7%;
  margin-right: 8%;
}

.features .flex-container > div {
  background-color: #e1e1e1;
  width: 100%;
  height: 200px;
  margin: 2%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.container {
  direction: rtl !important;
  text-align: right !important;
}

.socials {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
}

.social-item {
  color: white;
  border-radius: 50%;
  min-width: 35px;
  height: 35px;
  display: inline-block;
}

.imagFeture {
  width: 270px;
  height: 275px;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  margin: 0;
  padding: 0;
}

.imagesFeture {
  width: 1200px !important;
}

.appleStore {
  width: 11%;
  height: 57%;
  position: relative;
  left: 63%;
  top: 25%;
  background-color: #fff;
}

.googlePlay {
  width: 11%;
  height: 57%;
  position: relative;
  left: 49%;
  top: 125%;
  background-color: #000;
  color: #fff;
}

.googlePlay:hover {
  color: #fff;
}

.hexagon {
  width: 10%;
  float: left;
  height: 95px;
  background: white;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  margin-right: 2%;
}

.fontServ {
  display: inline-block;
  width: 100px;
  font-size: 9px;
  color: #888;
}

.eat {
  max-width: 118%;
  position: relative;
  top: 13%;
}
