@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
.row {
    direction: rtl !important;

    > * {
        direction: rtl !important;
        text-align: right !important;
    }
}
body{
    font-size: 16px!important;
}
.container {
    direction: rtl !important;
}

.wrapper {
    direction: rtl !important;
    text-align: right !important;
    .sidebar{
        right: 0px!important;
        left: auto!important;
    }
    .ps__rail-x{
        display: none!important;
    }
    .ps__rail-y{
        display: none!important;

    }
}

.main-panel{
    float: left;
}
#navigation{
    .input-group{
        display: flex;
        flex-direction: row-reverse;
    }
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem -1rem;
    .close {
        float: left;
           }
}

.dropdown-menu-right {
    right: auto!important;
    left: 0!important;
    .dropdown-item{
        text-align: right !important;
    }
}
.sidebar{
    ul{
        li{
            a{
                p{
                    font-size: 22px;
                }
                i{
                    margin-left: 12px!important;
                    float: right!important;
                }
                //display: flex!important;
                //justify-content: space-around!important;
            }
        }
    }
}
.navbar {
    .navbar-brand {
        font-size: 24px;
    }
    }

.alert{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 991px){
    #bodyClick {

        transform: translateX(-522px);

    }
    .container {
        direction: rtl !important;
    }
    //#bodyClick{
    //    pointer-events: none;
    //}
    .wrapper {
        direction: rtl !important;
        text-align: right !important;
        .sidebar{
           //display: none!important;
            transform: translateX(500px);

        }
    }

    .main-panel{
        float: left;
    }
}

//.card-user .avatar {
//    width: 200px!important;
//    height: 200px!important;
//
//}

